.dangerRow {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 120px;
	margin-top: 5px;
}

.confirmInput {
	background: var(--color-primary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	box-sizing: border-box;
	color: var(--color-gray-500);
	font-size: 14px;
	height: 40px;
	line-height: 20px;
	padding: 9px 11px;
	width: 100%;
}

.confirmInput::placeholder {
	color: var(--color-gray-400);
}

.confirmInput:focus {
	border-color: var(--color-purple);
	box-shadow: 0 0 0 1px var(--color-purple);
	outline: none;
}

.deleteButton {
	background-color: var(--color-red-400);
	margin-left: 15px;
	padding-left: 30px;
	padding-right: 30px;
	width: max-content;
}

.dangerSubTitle {
	margin-bottom: 10px;
	margin-top: 10px;
}
