.dropdownName {
	font-size: 15px;
	font-weight: 400;
}

.dropdownEmail {
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 10px;
}

.selectedOrgItem {
	border-bottom: 1px solid var(--color-gray-300);
	color: var(--color-purple);
	cursor: pointer;
	font-size: 16px;
	padding: 10px;
	padding-left: 15px;
}

.orgItem {
	align-items: center;
	border-bottom: 1px solid var(--color-gray-300);
	cursor: pointer;
	display: flex;
	font-size: 16px;
	padding: 10px 10px 10px 6px;
	width: 100%;
}

.workspaceIcon {
	align-items: center;
	border-radius: 5px;
	color: var(--color-white);
	display: flex;
	font-family: var(--header-font-family);
	font-size: 14px;
	font-weight: 500;
	height: 26px;
	justify-content: center;
	line-height: initial;
	min-height: 26px;
	min-width: 26px;
	width: 26px;
}

.workspaceIconMiniWrapper {
	cursor: pointer;
}

.orgItem:hover {
	background-color: var(--color-gray-200);
}

.orgText {
	color: var(--text-primary);
	font-family: var(--header-font-family);
	margin-left: 10px;
	margin-right: 20px;
}

.newOrgDiv {
	align-items: center;
	color: var(--color-purple);
	cursor: pointer;
	display: flex;
	font-size: 16px;
	padding: 10px;
	padding-left: 15px;
	width: 100%;
}

.newOrgDiv:hover {
	background-color: var(--color-gray-200);
}

.dropdownInner {
	background-color: var(--color-primary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: 5px;
	color: var(--text-primary);
	margin-top: 9px;
	min-width: 220px;
}

.dropdownLogout {
	align-items: center;
	border-top: 1px solid var(--color-gray-300);
	color: var(--color-red-400);
	cursor: pointer;
	display: flex;
	padding-top: 10px;
	width: 100%;
}

.dropdownLogoutText {
	margin-left: 10px;
}

.dropdownMenu {
	box-shadow: none;
	min-width: 200px;
}

.icon {
	color: var(--color-gray-700);
	height: 16px;
	margin-left: auto;
	margin-right: 5px;
	transition: 0.4s;
	width: 16px;
}

.plusIcon {
	color: var(--color-purple);
	fill: var(--color-purple);
	height: 15px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: 5px;
	width: 15px;
}

.orgNameText {
	align-items: center;
	color: var(--text-primary);
	display: flex;
	font-weight: 400 !important;
	margin-left: 10px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.orgNameWrapper {
	display: flex;
	width: 100%;
}

.dropdownHandler {
	align-items: center;
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	color: var(--text-primary);
	cursor: pointer;
	display: flex;
	font-size: 16px;
	height: 40px;
	justify-content: center;
	padding-bottom: var(--size-xSmall);
	padding-left: var(--size-small);
	padding-right: var(--size-small);
	padding-top: var(--size-xSmall);
	width: 100%;
}
