.attachmentList {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.attachmentLink {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.issueTitle {
	align-items: center;
	color: var(--color-gray-500);
	display: flex;
	gap: var(--size-xSmall);

	> :global(img) {
		border-radius: var(--size-xxSmall);
		width: calc(var(--size-medium) + 2px);
	}
}

.issueOpenIcon {
	align-items: center;
	color: var(--color-gray-500);
	display: flex;
	justify-content: flex-end;
}
