.headerActions {
    align-items: center;
    border: 1px solid var(--color-gray-300);
    border-radius: var(--border-radius);
    display: flex;
    height: fit-content;
    justify-content: center;

    > * {
        border-right: 1px solid var(--color-gray-300);
        padding: 0 var(--size-xxSmall);
    }

    > *:last-child {
        border-right: 0;
    }
}
