@import 'src/static/shared.scss';

.metricsDistributionContainer {
	min-height: 240px;
	margin-left: 40px;
	border: 0.6px solid #6b48c7;
}

.iconContainer {
	margin-right: var(--size-xSmall);
	padding-top: 4px;
}

.titleContainer {
	align-items: center;
	display: flex;
}

.environmentCard {
	background-color: #f9f8f9;
	border-radius: 8px;
	margin-top: 16px;
	padding: 8px;

	.infoIconContainer {
		align-items: flex-start;
		background: #eeedef;
		border-radius: 5px;
		display: flex;
		height: fit-content;
		padding: var(--size-xxSmall);
	}

	.bodyTitle {
		margin-bottom: var(--size-xxSmall);
		padding-top: 6px;
	}

	.bodyText {
		line-height: 20px;
	}
}
