.tooltip {
	background-color: var(--color-primary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	color: var(--text-primary) !important;
	padding: var(--size-small) 0 !important;

	> * {
		padding-left: var(--size-medium) !important;
		padding-right: var(--size-medium) !important;
	}

	> h4 {
		border-bottom: 1px solid var(--color-gray-300);
		font-family: var(--header-font-family);
		font-size: 13px !important;
		margin-bottom: var(--size-small) !important;
		padding-bottom: var(--size-xSmall);
	}

	> p {
		color: var(--color-gray-500) !important;
		font-size: 14px !important;
		margin: 0 !important;
	}
}

/* Removes blue border around tooltip in Chrome */
:global(.recharts-tooltip-wrapper:focus-visible) {
	outline: none;
}
