.labelItem {
    align-items: center;
    border-bottom: 1px solid var(--color-gray-300);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    padding: 10px 10px 10px 6px;
    width: 100%;
}

.labelItem:hover {
    background-color: var(--color-gray-200);
}

.labelText {
    color: var(--text-primary);
    margin-left: 6px;
    margin-right: 12px;
}

.dropdownInner {
    background-color: var(--color-primary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    color: var(--text-primary);
    margin-top: 9px;
}

.dropdownMenu {
    box-shadow: none;
}

.icon {
    color: var(--color-purple);
    height: 16px;
    margin-left: 4px;
    transition: 0.4s;
    width: 16px;
}

.labelNameText {
    align-items: center;
    display: flex;
    margin-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.dropdownHandler {
    align-items: center;
    background: var(--color-primary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    color: var(--text-primary);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    padding: 10px 10px 10px 6px;
}

.overlay {
    z-index: 9999999999 !important;
}
