.label {
	align-items: center;
	color: var(--color-gray-500);
	column-gap: var(--size-xSmall);
	display: flex;
	line-height: normal;
	transition: color 0.2s ease-in;

	&.checked {
		color: var(--text-primary);

		&.red {
			color: var(--color-red);
		}
	}

	&.spaceBetween {
		display: flex;
		justify-content: space-between;
	}

	&.noMarginAroundSwitch {
		margin: 0;
	}

	&.setMarginForAnimation {
		/* The animation for toggling the switch takes up extra space */
		margin: 6px;
	}
}

.switchStyles {
	-webkit-appearance: none;
	appearance: none;
	background: var(--color-gray-400);
	border: none;
	border-radius: 12px;
	cursor: pointer;
	height: 22px;
	position: relative;
	transition: background 0.2s ease-in;
	width: 44px;

	&::before {
		background: white;
		border-radius: 50%;
		content: '';
		height: 18px;
		left: 2px;
		position: absolute;
		top: 2px;
		transition: transform 0.2s ease-in;
		width: 18px;
	}

	&.checked {
		background: #744ed4;

		&::before {
			transform: translateX(22px);
		}

		&.red {
			background: var(--color-red);
		}
	}

	&.small {
		height: 18px;
		width: 36px;

		&::before {
			height: 14px;
			width: 14px;
		}

		&.checked::before {
			transform: translateX(18px);
		}
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
