.label {
    align-items: center;
    color: var(--color-gray-500);
    column-gap: var(--size-xSmall);
    display: flex;
    line-height: normal;
    transition: color 0.2s ease-in;

    &.checked {
        color: var(--text-primary);
    }

    &.spaceBetween {
        display: flex;
        justify-content: space-between;
    }

    &.noMarginAroundSwitch {
        margin: 0;
    }
}
