.sliderWrapper {
    width: 100%;
    height: 4px;
    margin-bottom: 9px;
    cursor: pointer;
}

.sliderRail {
    width: 100%;
    height: 4px;
    background-color: blue;
}

.indicator {
    height: 15px;
    width: 15px;
    margin-top: -9px;
    border-radius: 20px;
    background-color: blue;
}
