.subTitle {
    font-size: 18px;
}

.billingPlanCardWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-large);
    margin-top: 30px;
}

.detailsCard {
    max-width: 450px;

    b {
        color: var(--color-purple);
        font-weight: 500;
    }
}
