.title {
    font-size: 28px;
    font-weight: 400;
}

.subTitle {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 300;
}

.box {
    margin-top: 20px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 30px;
}

.billingPage {
    margin: 40px 80px 80px 80px;
    width: 580px;
}

.blankSidebar {
    height: 100%;
    width: 280px;
}

.boxTitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.billingPageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.memberCard {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 12px 0 12px 0;
}

.userDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.name {
    color: #5629c6;
    font-weight: 400;
}

.email {
    font-size: 13px;
}

.buttonRow {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 120px;
}

.inviteButton {
    margin-left: 15px;
    width: max-content;
    padding: 0 30px 0 30px;
    background-color: #5629c6;
}

.boxSubTitle {
    margin: 10px 0 10px 0;
}

