.subTitle {
    font-size: 18px;
}

.billingPlanCardWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-large);
    margin-top: 30px;
}

.detailsCard {
    max-width: 450px;

    b {
        color: var(--color-purple);
        font-weight: 500;
    }

    .detailsCardTitle {
        align-items: center;
        column-gap: var(--size-xSmall);
        display: flex;

        svg {
            color: var(--color-red-400);
            height: var(--size-large);
            width: var(--size-large);
        }
    }
}

.portalButton {
    display: inline-flex;
    justify-content: space-evenly;
    width: 200px;
}

.titleContainer {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    max-width: 1172px;
}
