.subTitle {
	font-size: 18px;
}

.billingPlanCardWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--size-large);
	padding-bottom: var(--size-xLarge);
}

.detailsCard {
	max-width: 450px;

	b {
		color: var(--color-purple);
		font-weight: 500;
	}

	.detailsCardTitle {
		align-items: center;
		column-gap: var(--size-xSmall);
		display: flex;

		svg {
			color: var(--color-red-400);
			height: var(--size-large);
			width: var(--size-large);
		}
	}
}

.portalButton {
	display: flex;
	justify-content: space-evenly;
	width: 200px;
}

.portalButtonContainer {
	display: flex;
	flex-direction: column;
	row-gap: var(--size-xSmall);
}

.portalButtonIcon {
	flex-shrink: 0;
}

.invoiceFailedCard {
	background-color: rgba(242, 106, 76, 0.37);
	font-size: 16px;
	max-width: 700px;
	padding: var(--size-large);
}

.invoiceFailedBell {
	color: rgb(131, 38, 17);
	padding-top: 4px;
}

.invoiceFailedHeader {
	font-size: 20px;
	font-weight: 500;
}

.invoiceFailedContainer {
	display: grid;
	grid-template-columns: 48px 1fr;
}

.invoiceFailedUpdatePayment {
	--color-failed-button: rgb(156, 80, 64);
	background-color: var(--color-failed-button) !important;
	border: var(--color-failed-button) !important;
	color: var(--color-white) !important;
	margin: 16px 0 0;

	&:focus &:hover {
		background-color: var(--color-failed-button) !important;
		border: var(--color-failed-button) !important;
	}
}

.unlimitedMembersCard {
	background-color: var(--color-blue-200);
	font-size: 16px;
	margin-bottom: var(--size-large);
	margin-top: var(--size-large);
	max-width: 700px;
	padding: var(--size-large);
}

.unlimitedMembersIcon {
	color: var(--color-blue-700);
	padding-top: 4px;
}

.unlimitedMembersHeader {
	font-size: 20px;
	font-weight: 500;
}

.unlimitedMembersContainer {
	display: grid;
	grid-template-columns: 48px 1fr;
}

.unlimitedMembersButton {
	margin-top: var(--size-medium);
}

.titleContainer {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--size-medium);
	margin-top: var(--size-xxLarge);
	max-width: 700px;
}

.infoTooltip {
	height: var(--size-medium);
	vertical-align: bottom;
	width: var(--size-medium);
}

.overageToggle {
	margin-top: var(--size-small);
}

.toggleControls {
	display: flex;
	gap: var(--size-large);
}

.retentionPeriodBox {
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	margin-bottom: var(--size-large);
	margin-top: var(--size-large);
	max-width: 500px;
	padding: 30px;
}

.annualToggleBox {
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	margin-bottom: var(--size-large);
	margin-top: var(--size-large);
	max-width: 350px;
	padding: 30px;
}

.annualToggleText {
	color: var(--text-primary);
	font-size: 18px;
	font-weight: 500;
}

.annualToggleAltText {
	color: var(--color-gray-500);
}

.subtotal {
	color: var(--color-purple-600);
	font-size: 16px;
	font-weight: 500;
}

.billingIssues {
	font-size: 18px;
}

.workspaceTabs {
	> :global(.ant-tabs-nav)::before {
		border-bottom: 0 !important;
	}

	:global(.ant-tabs-tab):first-of-type {
		margin-left: 0 !important;
	}
}

.header {
	margin-bottom: 20px !important;
}

.contact {
	display: inline;
}
