.radioGroupWrapper {
    display: flex;
    margin: 20px 0;
}

.headingWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.platformOption {
    align-items: center;
    border: 1px solid var(--color-gray-300);
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    transition: 0.2s;
    width: 85px;
}

.stepsContainer {
    display: flex;
    flex-direction: column;
    row-gap: var(--size-large);
}

.sectionTitleWithIcon {
    align-items: center;
    column-gap: var(--size-xSmall);
    display: flex;
}

.subTitle {
    font-size: 18px;
}

.title {
    margin-bottom: 0 !important;
    margin-right: var(--size-xSmall) !important;
}

.codeBlockInlined {
    line-height: var(--size-xLarge) !important;
}

.codeBlockBasic {
    background-color: var(--color-secondary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: 4px;
    font-family: 'Lucida Console', Monaco, Consolas, 'Courier New', Courier,
        'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !important;
    font-size: 12px;
    height: 100%;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
    max-width: 100%;
    min-width: 100%;
    padding: 5px;
    position: relative;
    resize: none;
    white-space: pre;
    width: 100%;
}

.integrationContainer {
    padding: var(--size-medium) 0;
    padding-bottom: 0;
}
