.setupWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.snippetCard {
  width: 40vw;
  border: 1px solid #eaeaea;
  min-width: 650px;
  padding: 20px 40px 20px 40px;
  border-radius: 8px;
}

.snippetHeading {
  font-size: 30px;
  font-weight: 300;
}

.snippetSubHeading {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 200;
}

.codeBlockBasic {
  font-family: "Lucida Console", Monaco, Consolas, "Courier New", Courier,
    "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
  border: 1px solid #e4e8eb;
  background-color: #f9f9f9;
  white-space: pre;
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 100%;
  resize: none;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  height: 100%;
}

.codeBlockWrapper {
  overflow: auto;
  font-family: "Lucida Console", Monaco, Consolas, "Courier New", Courier,
    "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
  border: 1px solid #e4e8eb;
  background-color: #f9f9f9;
  white-space: pre;
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 100%;
  resize: none;
  border-radius: 8px;
  padding: 10px;
  height: 100%;
}

.copyButton {
  top: 5px;
  right: 5px;
  position: absolute;
  z-index: 10;
  margin: 5px;
  cursor: pointer;
}

.copyDiv {
  font-size: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
