.icon {
    color: var(--color-purple);
    cursor: pointer;
    float: right;
    height: 16px;
    margin-left: auto;
    margin-right: -4px;
    margin-top: 6px;
    transition: 0.4s;
    width: 16px;
}

.radioGroupWrapper {
    display: flex;
    margin: 20px 0;
}

.headingWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.platformOption {
    align-items: center;
    border: 1px solid var(--color-gray-300);
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    transition: 0.2s;
    width: 85px;
}

.callout {
    background-color: var(--color-gray-200);
    border-radius: 4px;
    display: flex;
    line-height: 2;
}

.section {
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 650px;
    padding: 20px 30px;
    transition: 0.4s;
}

.triggerWrapper {
    display: flex;
    flex-direction: row;
}

.subTitle {
    font-size: 18px;
}

.title {
    margin-bottom: 0 !important;
    margin-right: var(--size-xSmall) !important;
}

.calloutEmoji {
    font-size: 20px;
    height: 100%;
    padding: 8px;
}

.snippetHeadingTwo {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 400;
}

.codeBlockInlined {
    line-height: var(--size-xLarge) !important;
}

.codeBlockBasic {
    background-color: var(--color-secondary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: 4px;
    font-family: 'Lucida Console', Monaco, Consolas, 'Courier New', Courier,
        'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !important;
    font-size: 12px;
    height: 100%;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
    max-width: 100%;
    min-width: 100%;
    padding: 5px;
    position: relative;
    resize: none;
    white-space: pre;
    width: 100%;
}
