.radioGroupWrapper {
	display: flex;
	margin: 20px 0;
}

.headingWrapper {
	display: grid;
	grid-template-columns: 1fr;
}

.platformOption {
	align-items: center;
	border: 1px solid var(--color-gray-300);
	cursor: pointer;
	display: flex;
	height: 30px;
	justify-content: center;
	transition: 0.2s;
	width: 85px;
}

.stepsContainer {
	display: flex;
	flex-direction: column;
	row-gap: var(--size-large);
}

.sectionTitleWithIcon {
	align-items: center;
	column-gap: var(--size-xSmall);
	display: flex;
}

.subTitle {
	font-size: 18px;
}

.title {
	margin-bottom: 0 !important;
	margin-right: var(--size-xSmall) !important;
}

.codeBlockInlined {
	line-height: var(--size-xLarge) !important;
}

.codeBlockBasic {
	background-color: var(--color-secondary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: 4px;
	font-family: 'Lucida Console', Monaco, Consolas, 'Courier New', Courier,
		'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !important;
	font-size: 12px;
	height: 100%;
	margin-bottom: 20px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 20px;
	max-width: 100%;
	min-width: 100%;
	padding: 5px;
	position: relative;
	resize: none;
	white-space: pre;
	width: 100%;
}

.integrationContainer {
	display: flex;
	justify-content: space-between;
	padding: var(--size-medium) 0;
	padding-bottom: 0;
}

.fieldsBox {
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	width: 100%;

	h3 {
		border-bottom: 1px solid var(--color-gray-300);
		font-size: 18px;
		padding: var(--size-small) var(--size-large);
	}
}

.flexLayout {
	display: flex;
}

.leftColumn {
	flex: 0 0 300px;
	height: 50vh;
	padding-right: var(--size-xLarge);
	position: sticky;
}

.checkWrapper {
	align-items: center;
	border-radius: 50%;
	display: flex;
	height: 20px;
	justify-content: center;
	padding: 3px;
	width: 20px;

	&.checkWrapperIncomplete {
		background-color: var(--color-gray-400);
	}

	&.checkWrapperCompleted {
		background-color: var(--color-green-400);
	}
}

:global(.ant-spin),
:global(svg),
.loadingIcon {
	height: var(--size);
	width: var(--size);
}

.loadingIcon {
	color: var(--color-gray-600);
}

.checkIcon {
	color: var(--text-primary-inverted);
	fill: var(--text-primary-inverted);
	height: 10px;
	width: 10px;
}

.setupStepsContainer {
	color: var(--text-primary);
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: var(--size-xSmall) var(--size-large);
	row-gap: var(--size-small);

	li {
		align-items: center;
		color: var(--text-primary);
		column-gap: var(--size-xSmall);
		cursor: pointer;
		display: flex;
		height: var(--size-large);
		padding-bottom: var(--size-xSmall);
		padding-left: 0;
		padding-right: 0;
		padding-top: var(--size-xSmall);
		width: 100%;
	}

	.selected {
		font-weight: 500;
	}
}
