.actionsContainer {
    display: flex;
    gap: var(--size-xSmall);
    justify-content: flex-end;
}

.errorDescriptionContainer {
    margin-bottom: 30px;
}

.errorTitleContainer {
    align-items: center;
    display: flex;
}
