.actionsContainer {
	display: flex;
	gap: var(--size-xSmall);
	justify-content: flex-end;
}

.errorBodyContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 30px;
}

.container {
	height: 100%;
	overflow-wrap: anywhere;
	word-break: break-word;
}

.alertContainer {
	margin-bottom: var(--size-large);
}

.titleContainer {
	margin-bottom: var(--size-large);
}

.loadingBarContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.stackTraceLoadingWrapper {
	> span {
		margin-bottom: 20px;
	}
}
