@import 'src/static/shared.scss';

.billingPlanCard {
    @include rounded-border;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 275px;
    height: 325px;
}

.billingPlanTitle {
    color: $highlight-purple;
}

.billingFrequency {
    color: var(--color-gray-500);
    margin-bottom: 5px;
}

.billingPlanPrice {
    margin-bottom: 0 !important;
}

.advertisedFeaturesWrapper {
    margin: 5px 0 10px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: var(--size-xxSmall);
}

.advertisedFeature {
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: var(--size-xSmall);

    svg {
        color: var(--color-green);
    }
}

.button {
    margin-top: auto;
    justify-content: center;
}

.button {
    justify-content: center;
}
