@import 'src/static/shared.scss';

.billingPlanCard {
    @include rounded-border;
    display: flex;
    flex-direction: column;
    height: 360px;
    padding: 24px;
    width: 275px;
}

.billingPlanTitle {
    color: var(--color-purple) !important;
}

.extraMembers {
    align-items: baseline;
    color: var(--color-green-600);
    display: inline-flex;
    gap: var(--size-xxSmall);
    height: 30px;
}

.extraMembersCost {
    font-size: 14px;
}

.extraMembersBreakdown {
    font-size: 14px;
}

.billingFrequency {
    color: var(--color-gray-500);
    margin-bottom: 5px;
}

.billingPlanPrice {
    margin-bottom: 0 !important;
    margin-top: var(--size-xSmall) !important;
}

.advertisedFeaturesWrapper {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 5px 0 10px;
    padding: 0;
    row-gap: var(--size-xxSmall);
}

.advertisedFeature {
    align-items: center;
    column-gap: var(--size-xSmall);
    display: flex;
    margin: 0;
}

.featureCheckIcon {
    color: var(--color-green-400);
}

.button {
    justify-content: center;
    margin-top: auto;
    padding: var(--size-xSmall) var(--size-medium);
}

.currentPlan {
    border-color: var(--color-purple);
    box-shadow: 0 5px 8px rgba(86, 41, 198, 0.2);
}

.glowingPlan {
    animation: pulse 2s ease-out infinite;
    border-color: var(--color-green-400);
    box-shadow: 0 8px 32px rgba(52, 211, 153, 0.2);
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

.enterpriseRow {
    align-items: center;
    column-gap: 8px;
    display: flex;
    height: 44px;
}
