.subTitle {
    font-size: 18px;
}

.box {
    margin-top: 20px;
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    padding: 30px;
}

.teamPage {
    margin: 120px 80px 80px 80px;
    width: 580px;
}

.teamPageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.memberCard {
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 12px 0 12px 0;
}

.userDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.name {
    color: var(--text-primary);
    font-weight: 400;
}

.email {
    color: var(--color-gray-500);
    font-size: 13px;
}

.buttonRow {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 120px;
}

.inviteButton {
    margin-left: 15px;
    width: 100%;
}

.boxSubTitle {
    margin: 10px 0 10px 0;
}
