.container {
    height: 36px;
    display: flex;
    align-items: center;
    padding: 10px var(--size-small);
    column-gap: var(--size-small);
    font-size: 12px;
    color: var(--color-gray-500);
}
