.container {
	align-items: center;
	color: var(--color-gray-500);
	column-gap: var(--size-small);
	display: flex;
	font-size: 12px;
	height: 36px;
	padding: 10px var(--size-small);
	transform: translateY(calc(-1 * var(--size-xxSmall)));
}
