.container {
    background: var(--color-primary-background);
    border: 1px solid var(--color-gray-300);
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: var(--size-xSmall);
    padding: 10px var(--size-small);
    column-gap: var(--size-small);
    font-size: 12px;
    color: var(--color-gray-500);
}
