.playButtonStyle {
	height: 25px;
	width: 30px;
}

.appBody {
	height: 100vh;
	width: 100%;
}

.windowOptions {
	height: 35%;
	padding: 10px 0 10px 12px;
	width: auto;
}

.urlText {
	align-self: end;
	margin-bottom: 3;
}

.urlAddressBarWrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	padding-left: 20px;
	width: 100%;
}

.urlAddressBar {
	background-color: var(--color-primary-background);
	border-radius: 10px;
	display: grid;
	font-size: 14px;
	height: 55%;
	margin-right: auto;
	padding-left: 20px;
	width: 80%;
}

.playerPageBody {
	display: flex;
	height: 100%;
	width: 100%;
}

.loadingWrapper {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.rrwebPlayerWrapper {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.browserHeader {
	align-items: center;
	background-color: var(--text-primary);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	display: flex;
	height: 40px;
	width: 100%;
}

.rrwebPlayerDiv {
	position: relative;
}

.progressBar {
	border-top: 7px solid var(--text-primary);
}

.undoSection {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 100%;
	justify-content: center;
	margin-left: 25px;
}

.timeSection {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin-left: 25px;
}

.undoButtonStyle {
	height: 25px;
	width: 30px;
}

.signinWrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}
