.select {
	border-radius: var(--border-radius) !important;
	height: 40px;
	width: 100%;


	:global(.ant-select-selection-search) {
		align-items: center !important;
		display: flex !important;
	}
	:global(.ant-select-selector) {
		border: 1px solid var(--color-gray-300) !important;
		border-radius: var(--border-radius) !important;
		font-family: var(--body-font-family) !important;
		font-size: 16px !important;
		height: 40px !important;
		padding: var(--size-xSmall) var(--size-medium) !important;
	}
	:global(.ant-select-selection-placeholder) {
		left: 14px !important;
	}
	:global(.ant-select-selection-item) {
		display: none !important;
	}
	:global(.ant-select-selector) {
		border: 1px solid var(--color-gray-300) !important;
		border-radius: var(--border-radius) !important;
		font-family: var(--body-font-family) !important;
		font-size: 16px !important;
		height: 40px !important;
		padding: var(--size-xSmall) var(--size-medium) !important;
		background-color: var(--color-gray-200) !important;
	}
	:global(.ant-select-arrow) {
		align-items: center !important;
		display: flex !important;
		flex-direction: column !important;
		height: 18px !important;
		width: 100% !important;
	}
	:global(.ant-select-arrow >svg) {
		color: var(--text-primary) !important;
		height: 100% !important;
		position: relative !important;
		right: -10px !important;
		top: -3px !important;
		width: 100% !important;
	}
	:global(.ant-select-selector:hover),
	:global(.ant-select-open) {
		background: var(--color-gray-300) !important;

		& .ant-select-selector {
			background-color: var(--color-gray-300) !important;
			border-radius: var(--border-radius) !important;
		}
	}
}
