.identifierContainer {
	align-items: center;
	display: flex;
	gap: var(--size-xxSmall);
	width: 100%;
}

.identifier {
	font-weight: 500;
	max-width: calc(100% - 1.2em - 2 * var(--size-xxSmall));
	overflow: hidden;
	text-overflow: ellipsis;
}

.identifierActionButton {
	height: 1.2em !important;
	width: 1.2em !important;
	svg {
		color: var(--color-gray-500);
		height: 1em !important;
	}
}
