.commentButton {
	--comment-indicator-height: 32px;
	--comment-indicator-width: 32px;
	background: transparent;

	border: 0;
	cursor: crosshair;
	outline: none;
	padding: 0;
	position: absolute;
	user-select: text;
	z-index: 1;
}

.commentIndicator {
	animation: grow 0.2s forwards;
	height: var(--comment-indicator-height);
	position: absolute;
	transform: scale(0);
	width: var(--comment-indicator-width);
}

@keyframes grow {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
