.metadataPanel {
	display: flex;
	flex-direction: column;
	padding-bottom: var(--size-large);
	padding-left: var(--size-large);
	padding-right: var(--size-large);
	padding-top: 0;
	row-gap: var(--size-medium);
}
