.metadataPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 var(--size-large);
    row-gap: var(--size-medium);

    .userDetailsSection {
        padding-bottom: var(--size-medium);
    }

    .sentenceCase {
        text-transform: capitalize;
    }

    .infoTooltip {
        height: var(--size-medium);
        width: var(--size-medium);
    }

    .centerAlign {
        align-items: center;
        display: inline-flex;
    }
}

.noMetadataContainer {
    grid-column-end: -1;
    grid-column-start: 1;
    p {
        color: var(--color-gray-500);
        font-size: 12px;
        margin: 0;
    }
}

.key {
    color: var(--color-gray-500) !important;
    display: block;
    font-size: 12px !important;
    font-style: normal;
    line-height: initial;
    margin-bottom: var(--size-xxSmall);
    overflow-wrap: anywhere;
    text-transform: capitalize;
}

.table {
    column-gap: var(--size-small);
    display: grid;
    font-family: var(--header-font-family);
    grid-template-columns: 80px 1fr;
    padding: var(--size-small);
    row-gap: var(--size-xSmall);

    p {
        margin: 0 !important;
    }
}

.sectionContainer {
    padding: var(--size-small);
}

.value {
    color: var(--text-primary) !important;
    font-size: 12px !important;
    font-style: normal;
    line-height: initial;
    overflow-wrap: anywhere;
}
