.metadataPanel {
    height: 100%;
    padding: 0 var(--size-small);

    .header {
        color: var(--text-primary);
        font-size: 12px;
        margin: 0;
        margin-bottom: var(--size-xSmall) !important;
    }

    .section {
        margin-bottom: var(--size-xLarge);

        p {
            color: var(--color-gray-500);
            font-size: 12px;
            margin: 0;
        }
    }

    .tagDiv {
        display: flex;
        padding-right: 20px;
        width: 100%;
    }

    .tagWrapper {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        height: 24px;
        overflow: hidden;
    }
}

.noMetadataContainer {
    p {
        color: var(--color-gray-500);
        font-size: 12px;
        margin: 0;
    }
}
