.metadataPanel {
    height: 100%;

    .header {
        font-size: 12px;
        color: var(--color-black);
        font-weight: 400;
        margin: 0;
        margin-bottom: var(--size-xSmall);
    }

    .section {
        margin-bottom: var(--size-xLarge);

        p {
            margin: 0;
            font-size: 12px;
            color: var(--color-gray-500);
        }
    }

    .tagDiv {
        display: flex;
        width: 100%;
        padding-right: 20px;
    }

    .tagWrapper {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        overflow: hidden;
        height: 24px;
    }
}
