.metadataPanel {
    height: 100%;
    padding: 0 var(--size-large);

    h2 {
        color: var(--text-primary);
        font-size: 12px;
        margin: 0;
        margin-bottom: var(--size-xSmall) !important;
    }

    section {
        margin-bottom: var(--size-xLarge);

        p,
        a {
            font-size: 12px;
            margin-top: 0 !important;
        }

        p {
            color: var(--color-gray-500);
        }
    }

    .tagDiv {
        display: flex;
        padding-right: 20px;
        width: 100%;
    }

    .tagWrapper {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        height: 24px;
        overflow: hidden;
    }

    .userDetailsSection {
        padding-bottom: var(--size-medium);
    }

    .sentenceCase {
        text-transform: capitalize;
    }

    .infoTooltip {
        height: var(--size-medium);
        width: var(--size-medium);
    }

    .centerAlign {
        align-items: center;
        display: inline-flex;
    }
}

.noMetadataContainer {
    p {
        color: var(--color-gray-500);
        font-size: 12px;
        margin: 0;
    }
}
