.commentStream {
    color: var(--color-gray-500);
    font-size: 12px;
    height: 100%;

    & > div::-webkit-scrollbar {
        display: none;
    }
}

.comment {
    &:first-of-type {
        padding-top: 0;
    }

    margin: var(--size-xxSmall) var(--size-small);
    margin-bottom: var(--size-medium);
}

.noCommentsContainer {
    text-align: center;
    padding-top: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;

    h2 {
        margin: 0;
        margin-bottom: var(--size-xSmall);
        color: var(--color-black);
        font-weight: 400;
        font-size: 14px;
    }
    p {
        margin: 0;
        font-size: 12px;
        color: var(--color-gray-500);
    }
}
