.networkTopBar {
    color: #808080;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    height: 35px;
    display: grid;
    grid-template-columns: 130px 200px 80px 1fr;
    font-size: 13px;
}

.networkTableWrapper {
    height: calc(100% - 45px);
}

.networkStreamWrapper {
    background-color: white;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 40px);
}

.networkTimingColumn {
    font-size: 12px;
    color: #808080;
    font-weight: 400;
    z-index: 10;
}

.networkTimingHeader {
    transform: rotate(30deg);
}

.networkColumn {
    font-size: 12px;
    color: black;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 5px;
}
