$columns: 50px 50px 50% 1fr 2fr;
$right-padding: 12px;

.networkRow {
    color: var(--color-gray-500);
    cursor: pointer;
    display: grid;
    font-size: 13px;
    grid-template-columns: $columns;
    padding-bottom: var(--size-xSmall);
    padding-left: 25px;
    padding-right: $right-padding;
    padding-top: var(--size-xSmall);
    position: relative;
    width: 100%;

    &.current {
        p,
        div,
        span {
            color: var(--text-primary) !important;
            font-weight: 500;
        }
    }

    .currentIndicator {
        background-color: var(--color-blue-500);
        border-radius: 50%;
        height: 6px;
        left: 10px;
        position: absolute;
        top: 47%;
        transform: translate(0, -50%);
        width: 6px;
    }

    &.failedResource {
        p,
        div,
        span {
            color: var(--color-red-400) !important;
        }
    }

    &.showingDetails {
        background: var(--color-gray-300);
    }

    &:hover {
        background: var(--color-gray-100);
    }
}

.networkTopBar {
    border-bottom: 1px solid var(--color-gray-300);
    color: var(--color-gray-500) !important;
    display: grid;
    font-size: 13px;
    grid-template-columns: $columns;
    padding-bottom: var(--size-xSmall);
    padding-left: 25px;
    padding-right: $right-padding;
    padding-top: var(--size-xSmall);
    width: 100%;
}

.networkTableWrapper {
    height: calc(100% - var(--player-toolbar-height));
    margin-left: 1px;
    overflow-y: hidden;
    position: relative;
}

// calc(total width - padding left - padding right - TYPE - NAME )
$canvas-width: calc(100% - 5px - 50px - 50px - 50%);

.canvasNetworkWrapper {
    background-attachment: fixed;
    height: 100%;
    margin-left: calc(5px + 50px + 50% + 50px);
    position: absolute;
    width: $canvas-width;
    z-index: 99;
}

.networkStreamWrapper {
    background-color: var(--color-primary-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    word-wrap: break-word;
    z-index: 0;
}

.networkTimingColumn {
    color: var(--color-gray-500);
    font-size: 12px;
    font-weight: 400;
    z-index: 10;
}

.networkTimingHeader {
    transform: rotate(30deg);
}

.networkColumn {
    align-items: center;
    color: var(--color-gray-500);
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;

    &.justifyEnd {
        justify-self: flex-end;
    }

    &.waterfall {
        padding-left: 0;
    }
}

.nameSection {
    cursor: pointer;

    > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.typeSection,
.nameSection {
    align-items: center;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.timingBarWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.timingBarEmptySection {
    background-color: var(--color-primary-background);
}

.timingBar {
    background-color: var(--color-purple);
    border-radius: 4px;
    height: 60%;
}

.networkTimestampGrid {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    width: 100%;
}

@media only screen and (max-width: 1150px) {
    .networkTimestampGrid {
        display: none;
    }
}

.resourcePageWrapper {
    height: 100%;
}

.filterContainer {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
    padding-left: var(--size-large);
}

.rightAlign {
    justify-content: flex-end;
    padding-right: var(--size-xxSmall);
}

.noDataContainer {
    align-self: center;
    margin-bottom: auto !important;
    margin-top: auto !important;
    max-width: 450px;
    text-align: center;

    h3 {
        color: var(--text-primary);
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        margin-bottom: var(--size-xSmall);
    }

    p {
        color: var(--color-gray-500);
        font-size: 12px;
        margin: 0;
    }
}

.optionsWrapper {
    display: flex;
    font-family: var(--header-font-family) !important;
    height: 100%;
    padding: 0 var(--size-large);

    .optionsContainer {
        display: flex;
        flex-shrink: 1;
        overflow-x: auto;
        position: absolute;
        width: calc(100% - 250px);
    }
}

.virtuoso {
    overflow-x: hidden;
}
