.speedText {
	color: var(--color-gray-500);
	font-size: 12px;

	&:active {
		color: var(--color-gray-500);
	}
}

.speedButton {
	align-items: center;
	background: var(--color-purple-200);
	border: 0;
	border-radius: 2px;
	display: flex;
	height: 18px;
	justify-content: center;
	padding: 0;
	width: 18px;

	svg {
		color: var(--color-purple) !important;
	}

	&:hover {
		svg {
			color: var(--text-primary-inverted) !important;
		}
	}

	&:focus {
		background: var(--color-purple-200);
	}

	&:disabled {
		background: var(--color-gray-400);
		color: var(--color-gray-300) !important;

		svg {
			color: var(--color-gray-300) !important;
		}
	}
}

.speedControlContainer {
	align-items: center;
	column-gap: var(--size-xxSmall);
	display: flex !important;
}

.shortcutButton {
	border: 1px solid var(--color-gray-300);
	height: var(--size-large);
}

.icon {
	height: var(--size-medium);
	width: var(--size-medium);
}

.popover {
	:global(.ant-popover-arrow) {
		display: none;
	}
}

.popoverTitle {
	font-size: 18px;
}

.popoverContent {
	width: 300px;
}

.downIndicator {
	font-size: 24px;
	padding-bottom: var(--size-xxSmall);
	text-align: center;
}
