<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grpc.Net.Client" version="2.62.0" targetFramework="net48" />
  <package id="Grpc.Net.Common" version="2.62.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.1" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.26.1" targetFramework="net48" />
  <package id="Grpc" version="2.44.0" targetFramework="net48" />
  <package id="Grpc.Core" version="2.44.0" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.62.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net48" />
  <package id="OpenTelemetry" version="1.9.0" targetFramework="net48" />
  <package id="OpenTelemetry.Api" version="1.9.0" targetFramework="net48" />
  <package id="OpenTelemetry.Api.ProviderBuilderExtensions" version="1.9.0" targetFramework="net48" />
  <package id="OpenTelemetry.Exporter.Console" version="1.9.0" targetFramework="net48" />
  <package id="OpenTelemetry.Exporter.OpenTelemetryProtocol" version="1.9.0" targetFramework="net48" />
  <package id="OpenTelemetry.Exporter.Zipkin" version="1.9.0" targetFramework="net48" />
  <package id="OpenTelemetry.Extensions.Propagators" version="1.9.0" targetFramework="net48" />
  <package id="OpenTelemetry.Instrumentation.AspNet" version="1.9.0-beta.1" targetFramework="net48" />
  <package id="OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule" version="1.9.0-beta.1" targetFramework="net48" />
  <package id="OpenTelemetry.Instrumentation.GrpcNetClient" version="1.9.0-beta.1" targetFramework="net48" />
  <package id="OpenTelemetry.Instrumentation.Http" version="1.9.0" targetFramework="net48" />
  <package id="OpenTelemetry.Instrumentation.Process" version="0.5.0-beta.6" targetFramework="net48" />
  <package id="OpenTelemetry.Instrumentation.Quartz" version="1.0.0-beta.3" targetFramework="net48" />
  <package id="OpenTelemetry.Instrumentation.Runtime" version="1.9.0" targetFramework="net48" />
  <package id="OpenTelemetry.Instrumentation.SqlClient" version="1.9.0-beta.1" targetFramework="net48" />
  <package id="OpenTelemetry.Instrumentation.Wcf" version="1.0.0-rc.17" targetFramework="net48" />
  <package id="OpenTelemetry.Resources.Azure" version="1.0.0-beta.8" targetFramework="net48" />
  <package id="OpenTelemetry.Resources.Host" version="0.1.0-beta.2" targetFramework="net48" />
  <package id="OpenTelemetry.Resources.Process" version="0.1.0-beta.2" targetFramework="net48" />
  <package id="OpenTelemetry.Resources.ProcessRuntime" version="0.1.0-beta.2" targetFramework="net48" />
  <package id="OpenTelemetry.Shims.OpenTracing" version="1.9.0-beta.1" targetFramework="net48" />
  <package id="OpenTracing" version="0.12.1" targetFramework="net48" />
  <package id="Serilog" version="4.0.1" targetFramework="net48" />
  <package id="Serilog.Sinks.OpenTelemetry" version="4.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.Http.WinHttpHandler" version="7.0.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>