.buttonBody {
    column-gap: 30px;
    display: grid;
    gap: 0 0;
    grid-template-areas: '. Left-Panel Center-Panel Right-Panel .';
    grid-template-columns: 100px 300px minmax(200px, 700px) 200px 100px auto;
    height: 100%;
    padding-left: 100px;
    padding-top: 100px;
    width: 100%;
}

.hitTargets {
    column-gap: 30px;
    height: 100%;
    padding-left: 100px;
    padding-top: 200px;
    width: 100%;

    section {
        margin-bottom: var(--size-xxLarge);
    }
}
