.fieldRow {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: var(--size-large);

    &:last-of-type {
        margin-bottom: 0;
    }
}

.fieldKey {
    align-items: center;
    display: flex;
    height: 100%;
}

.saveButton {
    width: max-content;
}

.tooltip {
    margin-left: var(--size-xxSmall);
}
