@import 'src/components/Button/GoToButton/index.module.scss';

.consoleButton {
    align-items: center;
    background-color: var(--color-purple);
    border-radius: 8px;
    color: var(--color-primary-background);
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-left: auto;
    padding: 10px;
    width: max-content;
}

.consolePageWrapper {
    background-color: var(--color-primary-background);
    height: 100%;
    width: 100%;
}

.messageText {
    line-height: normal;
    padding-right: 25px;
    white-space: pre-line;
}

.consoleStreamWrapper {
    background-color: var(--color-primary-background);
    display: flex;
    flex-direction: column;
    font-family: var(--monospace-font-family);
    font-weight: 400;
    height: calc(100% - var(--player-toolbar-height));
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

.consoleMessage {
    border-bottom: 1px solid var(--color-gray-300);
    border-left: var(--size-xxSmall) solid transparent;
    display: grid;
    font-size: 12px;
    font-weight: 400;
    grid-template-columns: 25px 1fr $go-to-button-width;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-top: 8px;
    word-break: break-all;

    &:hover .goToButton {
        visibility: visible;
    }
}

.consoleMessageWarn {
    border-left-color: var(--color-yellow-300);
}

.consoleMessageAssert {
    border-left-color: var(--color-red-400);
}

.directionIcon {
    fill: var(--color-primary-background);
    height: 16px;
    margin-left: 8px;
    width: 16px;
}

.consoleButtonWrapper {
    align-items: center;
    display: flex;
    font-size: 11px;
    font-weight: 400;
    height: 100%;
    padding: 10px;
    width: 100%;
}

.currentIndicator {
    background-color: var(--color-blue-500);
    border-radius: 50%;
    height: 6px;
    width: 6px;
}

.currentIndicatorWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.closeIcon {
    fill: var(--color-gray-500);
    height: 15px;
    width: 15px;
}

.closeIconWrapper {
    cursor: pointer;
    height: 100%;
    margin: 14px;
    margin-left: auto;
}

.goToButton {
    color: var(--text-primary);
    visibility: hidden;
}

.filterContainer {
    align-items: center;
    display: flex;
    margin-left: auto;
    padding-right: var(--size-large);
}
