.keyPerformanceIndicator {
    .value {
        font-size: 36px !important;
    }

    .label {
        margin: 0 !important;
    }

    .tooltip {
        position: absolute;
        right: calc(var(--size-small) * -1);
        top: calc(var(--size-xxSmall) * -1);
        color: var(--text-primary);
    }

    .labelContainer {
        display: flex;
        position: relative;
        width: fit-content;
    }
}
