.emptyCardPlaceholder {
    cursor: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graphicContainer {
    margin-bottom: var(--size-xLarge);
    margin-top: var(--size-xLarge);
}
