.detectorWrapper {
	background-color: var(--color-primary-background);
	border-radius: 8px;
	color: var(--color-primary-background);
	cursor: pointer;
	display: flex;
	padding: 0 10px 0 0;
	transition: 0.3s;
	width: max-content;
}

.detector {
	align-items: center;
	display: flex;
}

.loaderWrapper {
	align-items: center;
	animation-duration: 5s !important;
	display: flex;
	height: 100%;
	justify-content: center;
}

.textWrapper {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 100%;
	justify-content: center;
	margin-left: 5px;
	padding: 3px;
}

.checkIcon {
	color: var(--color-green-400);
	fill: var(--color-green-400);
	height: 15px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px;
	width: 15px;
}

.verificationText {
	color: var(--color-purple);
	font-weight: 500;
	margin-bottom: 0 !important;
}
