.link {
    background: var(--color-purple);
    border-radius: var(--button-border-radius);
    color: var(--text-primary-inverted);
    display: block;
    font-family: var(--header-font-family);
    padding: var(--size-xSmall) var(--size-medium);
    text-align: center;
    width: max-content;

    &:hover {
        color: var(--text-primary-inverted);
    }

    &.withIcon {
        align-items: center;
        column-gap: var(--size-medium);
        display: flex;
    }

    &.fullWidth {
        justify-content: center;
        width: 100%;
    }
}
