.channelSelect {
    margin-bottom: var(--size-medium);
    width: 100%;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.saveButton {
    justify-content: center;
    width: 125px;
}

.alertConfigurationCard {
    h2 {
        font-size: 22px !important;
        margin-bottom: 0 !important;
    }

    h3 {
        font-size: 16px !important;
        margin-bottom: var(--size-xSmall) !important;
    }

    p {
        color: var(--color-gray-500);
        margin-bottom: var(--size-medium) !important;
        margin-top: 0 !important;
    }

    section {
        padding-bottom: var(--size-xLarge);

        &:last-of-type {
            padding-bottom: var(--size-xxLarge);
        }
    }
}
