.selectMessage {
	color: var(--color-gray-500);
}

.notFoundMessage {
	padding: var(--size-small) 0;
}

.syncButton {
	color: var(--color-link) !important;
	display: inline-flex;
	font-weight: 400;
	padding: 0;
}

.small {
	display: flex;
	padding: 0;
}
