.sectionBody {
    align-items: center;
    border: 1px solid var(--color-gray-300);
    border-radius: var(--border-radius);
    display: flex;
    height: var(--size-xLarge);
    margin: 0 var(--size-large);
    padding: var(--size-xSmall);
}

.infoTooltip {
    align-self: flex-end;
    height: var(--size-medium);
    width: var(--size-medium);
}
