.elevatedCard {
    --width: 400px;

    height: calc(100% - (2 * var(--size-medium)));
    opacity: 1;
    overflow-y: auto;
    padding: var(--size-small) var(--size-large);
    position: fixed;
    right: var(--size-medium);
    top: var(--size-medium);
    transform: translateX(0);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    width: var(--width);
    z-index: 1000;

    &.hidden {
        opacity: 0;
        transform: translateX(var(--width));
    }
}

.backdrop {
    background: rgba(0, 0, 0, 0.25);
    inset: 0;
    opacity: 1;
    position: fixed;
    transition: opacity 0.2s ease-in-out;
    z-index: 999;

    &.hidden {
        opacity: 0;
        z-index: -1;
    }
}

.searchIcon {
    color: var(--color-gray-500);
}

.container {
    padding-top: var(--size-large);

    section {
        padding-top: var(--size-large);
    }

    table {
        width: 100%;
    }

    tr {
        width: 100%;
        &:not(:last-of-type) {
            td {
                padding-bottom: var(--size-small);
            }
        }
    }

    p {
        font-size: 13px !important;
    }

    h3 {
        font-size: 16px !important;
        margin-bottom: var(--size-small) !important;
    }
}

.kbdContainer {
    column-gap: var(--size-xxSmall);
    display: flex;
}

.kbd {
    align-items: center;
    background: var(--color-gray-200);
    border-radius: var(--size-xxSmall);
    display: flex;
    font-family: var(--monospace-font-family);
    font-size: 11px;
    justify-content: center;
    min-width: 20px;
    padding: var(--size-xxSmall);
    text-transform: capitalize;

    &.symbol {
        font-size: 16px;
        line-height: 0px;
    }
}

.description {
    color: var(--color-gray-800);
    font-size: 13px;
    padding-right: var(--size-medium);
}

.shortcutContainer {
    display: flex;
    justify-content: flex-end;
}

.emptyTitle {
    text-transform: capitalize;
}

.emptyDescription {
    margin-top: 0 !important;
    text-align: center;
}

.disabled {
    cursor: not-allowed;
    filter: opacity(0.3);
}

.titleContainer {
    align-items: center;
    display: flex;
}

.suggestionButton {
    align-items: center;
    background: var(--color-gray-300);
    color: var(--text-primary);
    column-gap: var(--size-small);
    display: flex;
    font-size: 12px;
    margin-left: auto;
    padding: var(--size-xSmall) var(--size-small);

    &:hover {
        color: var(--text-primary);
    }

    &.cta {
        background: var(--color-purple);
        color: var(--text-primary-inverted);
        font-weight: 500;
        margin: 0 auto;
        margin-top: var(--size-large);
    }
}
