.segmentPickerMenu {
	box-shadow: none;
	font-family: var(--header-font-family);
	margin-bottom: 12px;
	min-width: 200px;
	width: 100%;
}

.segmentPickerInner {
	background-color: var(--color-primary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	color: var(--text-primary);
	min-width: 220px;

	.segmentItemWrapper:last-child .segmentItem {
		border-bottom: 0;
	}
}

.downIcon {
	color: var(--color-purple);
	height: 14px;
	margin-left: auto;
	margin-right: 5px;
	transition: 0.4s;
	width: 14px;
}

.checkIcon {
	color: var(--color-purple);
	fill: var(--color-purple);
	height: 15px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: 5px;
	width: 15px;
}

.trashIcon {
	color: var(--color-gray-500);
	fill: var(--color-gray-500);
	margin-bottom: 2px;
}

.segmentAction {
	align-items: center;
	background-color: var(--color-gray-200);
	border: 0;
	border-radius: 5px;
	bottom: 0;
	display: none;
	height: 30px;
	margin: auto;
	padding: 0 6px;
	position: absolute;
	right: 5px;
	top: 0;
	width: 30px;

	&:hover {
		background-color: var(--color-gray-300);
		cursor: pointer;

		.trashIcon {
			color: var(--text-primary);
			fill: var(--text-primary);
		}
	}
}

.dropdownHandler {
	align-items: center;
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	color: var(--text-primary);
	cursor: pointer;
	display: flex;
	font-size: 16px;
	height: 40px;
	justify-content: center;
	margin-top: 13px;
	padding: 10px;
	padding-left: 14px;
	width: 100%;
}

.plusIcon {
	color: var(--color-purple);
	fill: var(--color-purple);
	height: 15px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: 5px;
	width: 15px;
}

.newSearchDiv {
	align-items: center;
	color: var(--color-purple);
	cursor: pointer;
	display: flex;
	font-size: 14px;
	padding: 10px;
	padding-left: 15px;
	width: 100%;
}

.newSearchDiv:hover {
	background-color: var(--color-gray-200);
}

.noSegmentsText {
	color: var(--color-gray-500);
	margin-top: 10px;
}

.segmentItemWrapper {
	position: relative;

	&:hover {
		background-color: var(--color-gray-200);

		.segmentAction {
			display: flex;
		}
	}
}

.segmentItem {
	align-items: center;
	border-bottom: 1px solid var(--color-gray-300);
	cursor: pointer;
	display: flex;
	font-size: 16px;
	padding: 10px;
	padding-left: 15px;
	width: 100%;
}

.segmentText {
	color: var(--text-primary);
	font-size: 14px;
	margin-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.segmentUnselected {
	color: var(--color-gray-500);
}

.segmentNameText {
	display: block;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.modalWrapper {
	width: 60vh;
}

.modalSubTitle {
	color: var(--color-gray-500) !important;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 0 !important;
}

.actionsContainer {
	column-gap: var(--size-medium);
	display: flex;
	padding-top: var(--size-medium);

	> button {
		flex-grow: 1;
		justify-content: center;
	}
}
