:root {
	--timeline-margin: 32px;
	--progress-bar-height: 3px;
}
.timelineIndicatorsContainer {
	align-items: center;
	background-color: var(--color-primary-background);
	border: 1px solid var(--color-neutral-100);
	border-bottom: 0;
	border-radius: 2px 2px 8px 8px;
	display: flex;
	flex-direction: column;
	z-index: 5;
}

.progressMonitor {
	border-bottom: 1px var(--color-neutral-100) solid;
	border-top: 1px var(--color-neutral-100) solid;
	height: 38px;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 2;
}

.progressBarContainer {
	background-color: var(--color-new-purple-100);
	border-radius: 1px 1px 0 0;
	height: var(--progress-bar-height);
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
}

.progressBar {
	background-color: var(--color-new-purple-500);
	height: var(--progress-bar-height);
	left: 0;
	position: absolute;
	top: 0;
	z-index: 3;
}

.liveProgressBar {
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: liveShimmer;
	animation-timing-function: linear;
	background: linear-gradient(
		to right,
		var(--color-red-300) 8%,
		var(--color-red) 38%,
		var(--color-red-300) 68%
	);
	background-size: 800px 5px;
	display: flex;
	height: var(--progress-bar-height);
	position: absolute;
	transition: all 0.2s ease-in-out;
	width: 100%;
}

.inactivityPeriod {
	background-color: var(--color-white);
	height: var(--progress-bar-height);
	position: absolute;
	top: 0;
	z-index: 2;
}

.timelineContainer {
	height: 118px;
	overflow-x: scroll;
	overflow-y: hidden;
	overscroll-behavior: none;
	position: relative;
	width: 100% !important;
}
.zoomArea {
	background-color: var(--color-gray-500);
	bottom: 0;
	height: 40px;
	opacity: 0.1;
	position: absolute;
	z-index: 2;
}

.eventHistogram {
	display: flex;
	flex-direction: row;
	height: 78px;
	margin-left: var(--timeline-margin);
	margin-right: var(--timeline-margin);
	position: relative;
}

.eventTrack {
	position: relative;
	width: 100%;
}

.timeAxis {
	height: 24px;
	margin-left: var(--timeline-margin);
	margin-right: var(--timeline-margin);
	pointer-events: none;
	position: relative;
}

.separator {
	border-bottom: 1px var(--color-neutral-100) solid;
}

.bucketMark {
	border-left: 1px var(--color-neutral-200) solid;
	bottom: 0;
	position: absolute;
}

.timeTickMark {
	bottom: 10px;
	color: var(--color-neutral-300);
	font-family: var(--header-font-family);
	font-size: 10px;
	letter-spacing: -0.1em;
	line-height: 12px;
	position: absolute;
	text-align: center;
	user-select: none;
}

.timeTick {
	border-left: 1px solid var(--color-neutral-200);
	bottom: 0;
	position: absolute;
}

.timeTickMajor {
	height: 8px;
}

.timeTickMid {
	height: 4px;
}

.timeTickMinor {
	height: 2px;
}
