.container {
    animation: enter 0.2s forwards;
    background: var(--color-primary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--border-radius);
    display: flex;
    height: 62px;
    margin: 0 auto;
    margin-bottom: var(--size-medium);
    padding: var(--size-xSmall) 0;
    position: relative;
    width: 100%;

    .graphContainer {
        width: calc(100% - var(--size-medium));
        position: relative;
        margin: 0 auto;

        .sessionInterval {
            height: var(--size-xxLarge);
            position: absolute;
        }
    }
}

@keyframes enter {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}
