.eventTitle {
    margin-top: var(--size-small);
}

.eventContent {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.histogramContainer {
    margin-bottom: 26px;
    z-index: 300;
}
