.timestamp {
	color: var(--color-gray-500);
	margin: 0 !important;
	margin-left: auto !important;
}

.footer {
	align-items: center;
	display: flex;
}

.email {
	max-width: 229px;
	overflow: hidden;
	text-overflow: ellipsis;
}
