.content {
	font-size: 14px;
}

.popover {
	background-color: var(--color-primary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding-bottom: 0 !important;
	padding-left: 0;
	padding-top: 0;
	z-index: 9999999999999999 !important;

	:global(.ant-popover-inner) {
		background-color: transparent;
		border-radius: 0;
		box-shadow: none;
	}
}

.contentContainer {
	padding-bottom: var(--size-xxSmall);

	&.large {
		padding: var(--size-small);
		padding-bottom: var(--size-xSmall);
	}
}
