node_modules
tmp
**/.DS_Store
dist
esm
out
build


apollo.config.js
.yalc
yalc.lock

**/.idea
**/*.pem
**/*.test
**/.swp
**/build
**/coverage.out
**/output.txt

backend/backend

backend/localhostssl/server.crt
backend/localhostssl/server.key

