node_modules
tmp
**/.DS_Store
dist
esm
out
build
**/.next

apollo.config.js
.yalc
yalc.lock

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/*.test
**/.swp
**/build
**/coverage.out
**/output.txt
**/.nvmrc

backend/backend
backend/__debug_bin
backend/dump.rdb
backend/.config

docker/.telemetry
docker/enterprise-private.pem

# Editor Artifacts
**/.idea
.vscode/*.log

dump.rdb

# Cypress artifacts
cypress/screenshots/
cypress/videos/

*.tsbuildinfo
**/.turbo

__pycache__

.turbo
.vercel
temp
.env
.rollup.cache

scripts/emails.csv
scripts/invoices.csv
scripts/images
sdk/highlightinc-highlight-datasource/grafana/

google-chrome*
