[submodule "backend/highlight-go"]
	path = backend/highlight-go
	url = https://github.com/highlight-run/highlight-go.git
[submodule "rrweb"]
	path = rrweb
	url = https://github.com/highlight-run/rrweb.git
