[submodule "backend/highlight-go"]
	path = backend/highlight-go
	url = git@github.com:highlight-run/highlight-go.git
[submodule "rrweb"]
	path = rrweb
	url = git@github.com:highlight-run/rrweb.git
[submodule "docs"]
	path = docs
	url = git@github.com:highlight-run/docs.git
