node_modules
tmp
**/.DS_Store
dist
esm
out
build


apollo.config.js
.yalc
yalc.lock

**/*.pem
**/*.test
**/.swp
**/build
**/coverage.out
**/output.txt
**/.nvmrc

backend/backend
backend/__debug_bin
backend/dump.rdb

# Editor Artifacts
**/.idea
.vscode/*.log

dump.rdb

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
