[submodule "rrweb"]
	path = rrweb
	url = https://github.com/highlight/rrweb.git
[submodule "opentelemetry-sdk-workers"]
	path = opentelemetry-sdk-workers
	url = https://github.com/highlight/opentelemetry-sdk-workers.git
[submodule "sdk/highlight-php"]
	path = sdk/highlight-php
	url = https://github.com/highlight/highlight-php.git
