backend/private-graph/graph/schema.resolvers.go linguist-generated=false
backend/public-graph/graph/schema.resolvers.go linguist-generated=false
frontend/src/graph/generated/* linguist-generated=true
frontend/src/__generated/* linguist-generated=true
client/src/graph/generated/* linguist-generated=true
packages/ui/src/__generated/* linguist-generated=true
go.sum linguist-generated=true
go.mod linguist-generated=true
backend/parser/antlr/* linguist-generated=true
frontend/src/components/Search/Parser/antlr/* linguist-generated=true
/.yarn/releases/** binary
/.yarn/plugins/** binary
__generated/* linguist-generated=true
