*.md
.yarn
backend/stacktraces/test-files
build
data
dist
node_modules
rrweb
rrweb/packages/rrweb-snapshot/test
rrweb/packages/rrweb/test
scripts/venv
**/.next
**/.vercel
**/*.css
**/settings.json
**/tsconfig.json
**/launch.json
**/.eslintrc.json
.yarnrc.yml
__generated
.reflame.config.jsonc
highlight.io/out
opentelemetry-sdk-workers
sdk/highlightinc-highlight-datasource/grafana/data
sdk/highlight-php
