{
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"arrowParens": "always",
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "preserve",
	"overrides": [
		{
			"files": [".reflame.config.jsonc"],
			"options": {
				"parser": "json5",
				"quoteProps": "preserve",
				"singleQuote": false,
				"trailingComma": "all"
			}
		}
	]
}
