.box {
    border-radius: 8px;
    padding: 30px;
    border: 1px solid var(--color-gray-300);
    width: 350px;
    background-color: var(--color-primary-background);
}

.title {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px;
}

.subTitle {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
