.keyPerformanceIndicatorsContainer {
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-xxLarge);
	height: 100%;
	margin-bottom: var(--size-xxLarge);
	padding: var(--size-large);
	width: 100%;
}

.loading {
	filter: blur(2px);
}
