.collapsible {
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: border-color 0.1s ease-in-out;
	width: 100%;

	&:hover {
		border-color: var(--color-purple);
		box-shadow: 0 5px 8px rgba(86, 41, 198, 0.2);
	}

	.header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: var(--size-large);
		padding-bottom: 0;
		padding-left: var(--size-large);
		padding-right: var(--size-large);
		padding-top: var(--size-large);

		&.collapsed {
			margin-bottom: 0;
			padding-bottom: var(--size-large);
			padding-left: var(--size-large);
			padding-right: var(--size-large);
			padding-top: var(--size-large);
		}

		> svg {
			color: var(--text-primary);
			height: var(--size-icon);
			transition: transform 0.2s ease-in-out;
			width: var(--size-icon);

			&.expanded {
				transform: rotate(180deg);
			}
		}

		h2 {
			font-size: 22px !important;
			margin-bottom: 0 !important;
		}

		h3 {
			font-size: 16px !important;
			margin-bottom: var(--size-xSmall) !important;
		}
	}

	.content {
		cursor: auto;
		padding-bottom: var(--size-large);
		padding-left: var(--size-large);
		padding-right: var(--size-large);
		padding-top: var(--size-xxSmall);

		p:first-of-type {
			margin-top: 0 !important;
		}
	}
}

.collapsibleStacked {
	border: 1px solid var(--color-gray-300);
	border-radius: 0;
	cursor: pointer;
	transition: border-color 0.1s ease-in-out;
	width: 100%;

	&:hover {
		border-color: var(--color-gray-300);
		box-shadow: none;
	}

	.header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: var(--size-large);
		padding-bottom: 0;
		padding-left: var(--size-large);
		padding-right: var(--size-large);
		padding-top: var(--size-large);

		&.collapsed {
			margin-bottom: 0;
			padding-bottom: var(--size-large);
			padding-left: var(--size-large);
			padding-right: var(--size-large);
			padding-top: var(--size-large);
		}

		> svg {
			color: var(--text-primary);
			height: var(--size-icon);
			transition: transform 0.2s ease-in-out;
			width: var(--size-icon);

			&.expanded {
				transform: rotate(180deg);
			}
		}

		h2 {
			font-size: 22px !important;
			margin-bottom: 0 !important;
		}

		h3 {
			font-size: 16px !important;
			margin-bottom: var(--size-xSmall) !important;
		}
	}

	.content {
		cursor: auto;
		padding-bottom: var(--size-large);
		padding-left: var(--size-large);
		padding-right: var(--size-large);
		padding-top: var(--size-xxSmall);

		p:first-of-type {
			margin-top: 0 !important;
		}
	}
}

.section {
	background: var(--color-primary-background);
	display: flex;
	margin-bottom: -1px;
	transition: 0.4s;
	width: 100%;
}

.section:first-child,
.section:first-child .collapsibleStacked {
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.section:last-child,
.section:last-child .collapsibleStacked {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}
