.button {
	align-items: center;
	border: 1px solid var(--color-neutral-100);
	border-radius: 6px;
	display: flex;
	height: 30px;
	justify-content: center;
	padding: 6px;
	width: 30px;

	&>svg {
		height: 16px;
		width: 16px;

		& path {
			fill: var(--color-neutral-800);
		}
	}

	&:disabled {
		background: var(--color-white) !important;
		border: 0;
		cursor: not-allowed;

		&>svg {
			& path {
				fill: var(--color-neutral-300);
			}
		}
	}

	/* disable click animations from antd */
	&::after {
		display: none !important;
	}
}

.button:hover,
.button:focus {
	background-color: var(--color-neutral-50);
	border: 1px solid var(--color-neutral-100);
}

.button:focus {
	border: 1px solid var(--color-neutral-300);
}

.popoverCmdShortcut {
	background-color: var(--color-neutral-100);
	border-radius: 3px;
	color: var(--color-neutral-500);
	font-size: 11px;
	padding: 1px 4px;
}

.moveRight {
	margin-left: auto;
}

.smallButton {
	background: var(--color-neutral-50);
	border: 0;
	border-radius: 10px;
	height: 20px;
	padding: 2px 10px;
	width: fit-content;

	&>span {
		color: var(--color-neutral-700);
		font-size: 12px;
		line-height: 16px;
	}
}

.smallButton:hover,
.smallButton:focus {
	background: var(--color-neutral-50);
	border: 0;
}

.minorButton {
	background: var(--color-neutral-100);
	border: 0;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.minorButton:hover,
.minorButton:focus {
	background: var(--color-neutral-200);
	border: 0;
	box-shadow: none;
}

.minorButton:focus {
	border: 1px solid var(--color-neutral-300);
}

.activeButton,
.activeButton:hover,
.activeButton:focus {
	background: var(--color-new-purple-500);

	&>svg {
		& path {
			fill: var(--color-white);
		}
	}

	&>span {
		color: var(--color-white);
	}
}

.currentTime {
	color: var(--color-neutral-500);
	font-size: 13px;
}

.settingsPopoverOverlay {
	/*1 more than the value from Header.tsx buttons*/
	z-index: 20001;

	:global(.ant-popover-inner-content) {
		padding: 0 !important;

		&>div {
			padding: 0 !important;
		}
	}

	:global(.ant-popover-inner) {
		border: 1px solid var(--color-neutral-200);
		overflow: hidden;
	}
}

.settingsContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 224px;

	&>.section:first-child {
		border-bottom: 1px solid var(--color-neutral-200);
	}
}

.section {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	width: 100%;
}

.settingsButton {
	align-items: center;
	background-color: inherit;
	border: 0;
	display: flex;
	font-size: 13px;
	gap: 4px;
	height: 28px;
	padding: 4px 8px;
	user-select: none;
	width: 100%;

	&:hover {
		background: var(--color-neutral-50);
		cursor: pointer;
	}

	&>svg {
		height: 16px;
		width: 16px;

		& path {
			fill: var(--color-neutral-300);
		}
	}
}

.settingsOptionShortcut {
	align-items: center;
	border: 1px solid var(--color-neutral-200);
	border-radius: 3px;
	display: flex;
	font-size: 12px;
	font-weight: 400;
	height: 16px;
	line-height: 16px;
	padding: 0 4px;
}

.leftSelection {
	align-items: center;
	display: flex;
	flex-direction: row;
	width: 100%;

	&:hover {
		&>.leftClickActionName {
			visibility: visible;
		}
	}
}

.leftClickActionName {
	color: var(--color-neutral-500);
	font-size: 11px;
	visibility: hidden;
}

.liveUserStatus {
	user-select: none;
}

.downloadButton {
	border-top: 1px solid var(--color-neutral-200);
	padding: 10px 8px;
	height: 36px;
}

.toast {
	height: 26px;
}
