@import 'src/static/shared.scss';

.primaryButton {
    border: none;
    background-color: $highlight-purple;
    color: $text-primary-inverted;
    padding: $size-xSmall $size-xLarge;
    font-size: 14px;
    border-radius: $button-border-radius;
    outline: none;
    cursor: pointer;
    line-height: initial;

    &:hover,
    &:focus {
        background-color: $button-primary-hover;
    }

    &:active {
        background-color: $button-primary-active;
    }
}
