.card {
    max-width: 500px;
}

.section {
    display: flex;
    flex-direction: column;
    padding-bottom: 0 !important;
    padding-top: var(--size-small);
    row-gap: var(--size-medium);

    &:first-of-type {
        padding-top: 0;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
}

.roleContainer {
    column-gap: var(--size-large);
    display: flex;
}

.name {
    display: grid;
    grid-gap: var(--size-medium);
    grid-template-columns: 1fr 1fr;
}
