@import 'src/static/shared.scss';

.actionButtons {
    display: flex;
    gap: var(--size-xSmall);
    justify-content: flex-end;
}

.actionButtonsContainer {
    margin-bottom: 0;
}

.commentAlignDiv {
    align-items: flex-start;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 30px 1fr;
    padding-top: 10px;
}

.commentInputContainer {
    padding: var(--size-xxSmall) var(--size-xSmall);
}

.intercomLink {
    cursor: pointer;
    text-decoration: underline;
}

.commentInputDiv {
    @include rounded-border;
    align-items: center;
    background-color: var(--color-gray-100);
    display: flex;
}

.createButton {
    border-radius: 16px;
    height: 24px;
    margin-right: 8px;
    padding: 6px;
    width: 24px;

    &:disabled {
        background-color: var(--color-gray-400);
        border: var(--color-gray-400);
    }
}
