.select {
    width: 100%;

    > div {
        background-color: var(--color-primary-background);
    }
}

.searchIcon {
    color: var(--color-gray-400);
    height: var(--size-medium);
    margin-left: var(--size-small);
    width: var(--size-medium);
}

.typeIcon {
    align-self: center;
    color: var(--color-gray-600);
    flex-shrink: 0;
    height: var(--size-medium);
    margin-right: 6px;
    width: var(--size-medium);
}

.optionLabelContainer {
    align-items: center;
    display: flex;
}

.optionLabelType {
    background: var(--color-gray-300);
    border-radius: 3px;
    margin-right: 6px;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
    width: fit-content;
}

.optionLabelName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hideSearchIcon {
    opacity: 0;
}
