.select {
    width: 100%;

    &.menuIsOpen {
        z-index: 9999999;
    }

    > div {
        background-color: var(--color-primary-background);
    }
}

.searchIcon {
    color: var(--color-gray-400);
    height: var(--size-medium);
    margin-left: var(--size-small);
    width: var(--size-medium);
}

.loadingIcon {
    color: var(--color-gray-400);
}

.loadingIconContainer {
    height: 20px;
    margin-left: var(--size-xSmall);
    width: 20px;
}

.typeIcon {
    align-self: center;
    color: var(--color-gray-600);
    flex-shrink: 0;
    height: var(--size-medium);
    margin-right: 6px;
    width: var(--size-medium);
}

.optionLabelContainer {
    align-items: center;
    display: flex;
    overflow: hidden;
}

.quickSearchSelect {
    margin-bottom: var(--size-medium);
    width: 100%;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.groupHeading {
    align-items: center;
    column-gap: var(--size-xxSmall);
    display: flex;
}

.optionLabelType {
    background: var(--color-gray-300);
    border-radius: 3px;
    margin-right: 6px;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
    width: fit-content;
}

.optionLabelName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hideSearchIcon {
    opacity: 0;
}

.backdrop {
    //     background: var(--color-background-overlay);
    background: rgba(0, 0, 0, 0.5);
    left: calc(-1 * var(--sidebar-width));
    min-height: 100vh;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: calc(-1 * var(--banner-height));
    transition: opacity 0.1s ease-in;
    width: 100vw;
    z-index: 9999;

    &.visible {
        opacity: 1;
    }
}
