.select {
	width: 100%;

	&.menuIsOpen {
		z-index: 9999999;
	}

	> div:first-of-type {
		background-color: var(--color-gray-200);
	}
}

.typeIcon {
	align-self: center;
	color: var(--color-gray-600);
	flex-shrink: 0;
	height: var(--size-medium);
	margin-right: 6px;
	width: var(--size-medium);
}

.optionLabelContainer {
	align-items: center;
	display: flex;
	overflow: hidden;
}

.quickSearchSelect {
	margin-bottom: var(--size-medium);
	width: 100%;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.groupHeading {
	align-items: center;
	column-gap: var(--size-xxSmall);
	display: flex;
}

.optionLabelType {
	background: var(--color-gray-300);
	border-radius: 3px;
	margin-right: 6px;
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
	width: fit-content;
}

.optionLabelName {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hideSearchIcon {
	opacity: 0;
}

.backdrop {
	background: rgba(0, 0, 0, 0.5);
	left: 0;
	min-height: 200vh;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: calc(-1 * var(--banner-height));
	transition: opacity 0.2s ease-in;
	width: 150vw;
	z-index: 9999;

	&.visible {
		opacity: 1;
	}
}

.container {
	display: inline-block;
	max-width: 240px;
	position: relative;
	transition: all 0.1s ease-in-out;
	width: 100%;

	&:focus-within {
		max-width: 550px;
	}
}

.dropdownPlaceholder {
	height: 20px;
	width: 20px;
}
