.checkboxOption {
	align-items: center;
	cursor: pointer;
	display: flex;

	&:hover {
		.actionLabel {
			opacity: 1;
		}
	}

	.checkboxContainer {
		border-radius: var(--size-xxSmall);
		padding: var(--size-xxSmall);

		&:hover,
		&:focus-within {
			background: var(--color-gray-100);
		}
	}

	.actionLabel {
		color: var(--color-gray-500) !important;
		font-size: 0.8em !important;
		margin: 0 !important;
		margin-left: auto !important;
		opacity: 0;
		text-align: right;
		transition: opacity 0.1s ease-in-out;
		width: 6ch;
	}

	.button {
		align-items: center;
		background: transparent;
		border: 0;
		border-radius: var(--size-xxSmall);
		column-gap: var(--size-xSmall);
		cursor: pointer;
		display: flex;
		padding: var(--size-xxSmall);
		user-select: none !important;
		width: 100%;

		&:hover {
			background: var(--color-gray-100);
		}
	}
}
