.box {
    border-radius: 8px;
    padding: 30px;
    border: 1px solid var(--color-gray-300);
    width: 380px;
    background-color: var(--color-primary-background);
}

.title {
    font-size: 23px;
    margin-bottom: 10px !important;
}

.subTitle {
    font-size: 14px;
    margin-bottom: 10px !important;
    line-height: 20px !important;
}
