.objectKey {
	color: var(--color-gray-500);
	display: block;
	font-size: 12px !important;
	font-style: normal;
	line-height: initial;
	margin-bottom: var(--size-xxSmall);
	text-transform: capitalize;
}

.objectList {
	column-gap: var(--size-small);
	display: grid;
	font-family: var(--header-font-family);
	grid-template-columns: auto 1fr;
	padding: 0;
	row-gap: var(--size-xSmall);
}

.objectValue {
	color: var(--text-primary);
	font-size: 12px !important;
	font-style: normal;
	line-height: initial;
	width: 154px;

	> * {
		display: block;
		overflow-wrap: break-word;
		width: 154px;
	}
}

.payload {
	margin: 0 !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.anchor {
	vertical-align: middle;
	word-wrap: break-word;
}
