.hostContainer {
    align-items: center;
    column-gap: var(--size-xxSmall);
    display: flex;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.loading {
    filter: blur(2px);
}
