@import 'src/static/shared.scss';

.container {
	--header-height: 45px;

	display: flex;
	width: 100%;
}

.detailsContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;

	.errorDetails {
		display: flex;
		height: 100%;
		margin-left: 0;
		padding: var(--size-large) var(--size-xxLarge);
		width: 100%;
	}

	.errorMetrics {
		display: flex;
		gap: var(--size-medium);
		margin-top: var(--size-medium);
	}
}

.moveDetailsRight {
	margin-left: 340px;
}

.sessionSwitchButton {
	border: 0 !important;
	border-radius: 0;
}

.emptyState {
	height: calc(100% - var(--header-height) - var(--banner-height));
}
