@import 'src/static/shared.scss';

.container {
	--header-height: 80px;
	--top-padding: 80px;

	display: flex;
	padding-top: var(--header-height);
	width: 100%;

	&.withErrorState {
		padding-top: var(--header-height);
	}
}

.detailsContainer {
	align-items: space-around;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;

	.errorDetails {
		margin-left: 0;
		padding: var(--size-large) var(--size-xxLarge);
		width: 100%;
	}

	.errorMetrics {
		display: flex;
		gap: var(--size-medium);
		margin-top: var(--size-medium);
	}
}

.moveDetailsRight {
	margin-left: 324px;
}
