@import 'src/static/shared.scss';

.container {
	--header-height: 80px;
	--left-panel-width: 475px;
	--top-padding: 80px;

	display: flex;
	padding-top: var(--header-height);
	width: 100%;

	&.withErrorState {
		padding-top: var(--header-height);
	}
}

.searchContainer {
	height: 100%;
	margin-top: calc((-1 * var(--top-padding)) + var(--header-height));
	width: var(--left-panel-width);

	&.hidden {
		position: absolute;
	}
}

.detailsContainer {
	display: flex;
	flex-grow: 1;
	height: 100%;
	justify-content: space-around;

	.errorDetails {
		padding: var(--size-medium) var(--size-large);
		width: 100%;
	}

	.errorMetrics {
		display: flex;
		gap: var(--size-medium);
		margin-top: var(--size-medium);
	}
}
