@import 'src/static/shared.scss';

.container {
	--header-height: 45px;
	--left-panel-width: 475px;

	display: flex;
	width: 100%;

	&.withErrorState {
		padding-top: var(--header-height);
	}
}

.detailsContainer {
	align-items: space-around;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;

	.errorDetails {
		padding: var(--size-large) var(--size-xxLarge);
		width: 100%;
	}

	.errorMetrics {
		display: flex;
		gap: var(--size-medium);
		margin-top: var(--size-medium);
	}
}
