.select {
	border-radius: var(--border-radius);
	color: var(--text-primary) !important;
	transition: all 0.2s ease-in-out;

	&:hover {
		:global(.ant-select-selector) {
			border-color: var(--color-purple) !important;
		}
	}

	&:global(.ant-select-open) {
		box-shadow: 0 0 0 4px rgba(var(--color-purple-rgb), 0.2) !important;

		:global(.ant-select-selector) {
			border-color: var(--color-purple) !important;
			box-shadow: none !important;
		}
	}

	:global(.ant-select-selector) {
		background: var(--color-primary-background) !important;
		border: 1px solid var(--color-gray-300) !important;
		border-radius: var(--border-radius) !important;
		font-family: var(--body-font-family);
		height: fit-content !important;
		padding: var(--size-xSmall) var(--size-small) !important;
		transition: all 0.2s ease-in-out;
	}

	:global(.ant-select-selection-placeholder) {
		color: var(--color-gray-500) !important;
		left: var(--size-small);
	}

	:global(.ant-select-selection-search) {
		margin-left: 0 !important;
	}

	:global(.ant-select-arrow) {
		align-items: center;
		color: var(--color-gray-400) !important;
		display: flex;
		flex-direction: column;
		height: 18px;
		width: 18px;

		> svg {
			height: 100%;
			position: relative;
			right: -2px;
			top: -4px;
			width: 100%;
		}
	}

	:global(.ant-select-clear) {
		background: var(--color-primary-background);
		color: var(--color-gray-400);
	}

	&:global(.ant-select-disabled .ant-select-selector) {
		background: var(--color-gray-300) !important;
	}

	&:global(.ant-select-multiple) {
		:global(.ant-select-selection-item) {
			background: var(--color-gray-200) !important;
			border-color: var(--color-gray-200) !important;
		}
	}

	:global(.ant-select-selection-item-remove) {
		color: var(--color-gray-700) !important;
	}

	&:global(.ant-select-borderless) {
		:global(.ant-select-selector) {
			background: transparent !important;
			border-color: transparent !important;
			color: var(--text-primary) !important;

			&:active,
			&:focus,
			&:focus-within,
			&:focus-visible {
				box-shadow: none !important;
				outline-color: transparent !important;
			}
		}

		&:global(.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
				.ant-select-selector) {
			border-color: transparent !important;
			box-shadow: none !important;
		}
	}
}

.dropdownIcon {
	display: inline;
	.icon {
		display: none;
	}
}

:global(.ant-select-dropdown) {
	z-index: 99999999999999999 !important;
}

.dropdown {
	background-color: var(--color-primary-background) !important;
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	z-index: 99999999999999999 !important;

	:global(.ant-select-item) {
		color: var(--text-primary) !important;
		padding-bottom: var(--size-small);
		padding-left: var(--size-xSmall);
		padding-right: var(--size-xSmall);
		padding-top: var(--size-small);
	}

	:global(.ant-select-item-option-selected) {
		color: var(--color-white) !important;
	}

	.dropdownIcon {
		align-items: center;
		display: flex;
		.icon {
			display: contents;
			width: 100%;
		}
	}
}

.suffixIconActive {
	color: var(--text-primary);
}

.selectHasValue {
	:global(.ant-select-selector) {
		background: var(--color-purple-200) !important;
		border: 1px solid var(--color-purple) !important;
	}

	:global(.ant-select-clear) {
		background: var(--color-purple-200) !important;
	}
}
