.playerRightPanelContainer {
	box-sizing: content-box;
	flex-shrink: 0;
	position: relative;
	top: 0;
	right: 0;
	transition: transform 0.2s ease-in-out;
	width: var(--right-panel-width);

	&.hidden {
		position: fixed;
		transform: translateX(
			calc(var(--right-panel-width) + var(--size-medium))
		);
	}
}

.playerRightPanelCollapsible {
	box-sizing: border-box;
	display: grid;
	grid-template-rows: auto 1fr;
	height: calc(
		100vh - var(--header-height) - var(--size-medium) - var(--size-medium)
	);
	overflow-x: hidden;
	overflow-y: auto;
	row-gap: var(--size-medium);

	&.bannerShown {
		height: calc(
			100vh - var(--header-height) - var(--size-medium) -
				var(--size-medium) - var(--banner-height)
		);
	}
}

.tabContentContainer {
	height: 100%;
	padding: 0;
}

.tabs {
	background: var(--color-primary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
}

.toggleButtonHidden {
	opacity: 0;
}
