.createNewProjectOption {
	align-items: center;
	color: var(--color-link);
	display: flex !important;

	svg {
		margin: 6px;
	}

	span {
		margin-left: 8px;
	}
}

.selected {
	color: var(--text-primary-inverted);
}

.existingProjectOption {
	align-items: center;
	display: flex;

	span {
		margin-left: 8px;
	}
}

.subTitle {
	color: var(--color-gray-500);
}

.headerContainer {
	display: flex;
	flex-direction: column;

	h2 {
		color: var(--text-primary) !important;
		font-size: 18px;
		font-weight: 500;
		margin-right: var(--size-xSmall) !important;
	}
}

.applicationPicker {
	align-items: center;
	column-gap: var(--size-medium);
	display: flex;
}

.workspaceIcon {
	--size: calc(var(--size-medium) + var(--size-xxSmall));

	border-radius: var(--size-xxSmall);
	font-size: 10px;
	height: var(--size);
	min-height: var(--size);
	min-width: var(--size);
	width: var(--size);
}

.backToProjectButton {
	border-radius: 18px !important;
	padding: 0 6px !important;
	width: 100% !important;
	span {
		margin-left: 8px;
	}
}
