.createNewApplicationOption {
    align-items: center;
    color: var(--color-purple);
    display: flex;
    justify-content: space-between;
}

.existingProjectOption {
    align-items: center;
    display: flex;
}

.projectIcon {
    margin: 8px 0;
}
