.createNewProjectOption {
    align-items: center;
    color: var(--color-purple);
    display: flex;
    justify-content: space-between;
}

.createNewProjectOptionSelected {
    color: var(--text-primary-inverted);
}

.existingProjectOption {
    align-items: center;
    display: flex;

    span {
        margin-left: 8px;
    }
}

.subTitle {
    color: var(--color-gray-500);
}
