.commentStream {
    color: var(--color-gray-500);
    font-size: 12px;
    height: 100%;

    > div::-webkit-scrollbar {
        display: none;
    }
}

.comment {
    margin: var(--size-xxSmall) var(--size-large);
    margin-bottom: var(--size-medium);
    margin-top: 0;

    &:first-of-type {
        padding-top: 0;
    }
}

.noCommentsContainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;

    h2 {
        color: var(--text-primary);
        font-size: 14px !important;
        font-weight: 400 !important;
        margin: 0;
        margin-bottom: var(--size-xSmall);
    }

    p {
        color: var(--color-gray-500);
        font-size: 12px !important;
        margin: 0;
    }
}

.timestamp {
    color: var(--color-gray-500);
    margin: 0 !important;
}
