.noCommentsContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: inherit;
	justify-content: center;
	margin: var(--size-xxLarge);
}

.noCommentsTextContainer {
	text-align: center;
	top: 35%;
	width: 200px;

	h2 {
		color: var(--text-primary);
		font-size: 14px !important;
		font-weight: 400 !important;
		margin: 0;
		margin-bottom: var(--size-xSmall);
	}

	p {
		color: var(--color-gray-500);
		font-size: 12px !important;
		margin: 0;
	}
}

.timestamp {
	color: var(--color-gray-500);
	margin: 0 !important;
}

.skeleton {
	border-radius: var(--size-xSmall) !important;
	display: block !important;
	height: 90px;
	margin: var(--size-xxSmall) var(--size-large);
	margin-bottom: var(--size-medium);
	margin-top: var(--size-xSmall);
	width: auto !important;
}
