@import 'src/static/shared.scss';

.legendValue {
	color: var(--color-gray-500) !important;
	overflow: hidden;
	text-overflow: ellipsis;

	&.notShowing {
		text-decoration: line-through;
	}
}

.legendIcon {
	border-radius: 2px;
	flex-shrink: 0;
	height: var(--size-small);
	margin-bottom: auto;
	margin-top: auto;
	width: var(--size-small);

	&.notShowing {
		filter: grayscale(0.5);
	}
}

.referenceLineValue {
	color: var(--color-gray-500);
}

.tooltipGrid {
	display: grid;
	grid-column-gap: var(--size-xSmall);
	grid-template-columns: 1fr 10px 64px 10px;
	width: 100%;
}

.scoreIcon {
	--size: var(--size-small);
	align-items: center;
	color: var(--color-gray-500);
	display: flex;
	flex-shrink: 0;
	height: var(--size);
	width: var(--size);
}

.tooltipValue {
	color: var(--text-primary);
	font-size: 12px;
	line-height: initial;
}

.text {
	@include hide-scrollbar;
}
