.container {
    background: var(--color-primary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--size-xSmall);
    padding: var(--size-xSmall) calc(var(--size-xSmall) + 11px);
    width: 350px;
    position: relative;
    z-index: 9999;
    text-align: left;
    margin-top: calc(var(--size-small) * -1);
    box-shadow: var(--box-shadow);
    overflow: hidden;

    & > p {
        font-size: 14px;
        font-weight: 200;
    }
}

.deepLinkedComment {
    &:before {
        content: '';
        height: 100%;
        width: 5px;
        background-color: var(--color-purple);
        position: absolute;
        top: 0;
        left: 0;
    }
}
