.alert {
	&:global(.ant-alert-info) {
		background-color: var(--color-blue-100) !important;
		border: 0 !important;
		border-radius: var(--border-radius) !important;
		color: var(--color-blue-800) !important;

		:global(.ant-alert-message) {
			color: var(--color-blue-800) !important;
		}

		:global(.ant-alert-close-text) {
			color: var(--color-blue-800) !important;
		}

		:global(.ant-alert-icon) {
			color: var(--color-blue-600) !important;
		}
	}

	&:global(.ant-alert-success) {
		background-color: var(--color-green-100) !important;
		border: 0 !important;
		border-radius: var(--border-radius) !important;
		color: var(--color-green-800) !important;

		:global(.ant-alert-message) {
			color: var(--color-green-800) !important;
		}

		:global(.ant-alert-close-text) {
			color: var(--color-green-800) !important;
		}

		:global(.ant-alert-icon) {
			color: var(--color-green-600) !important;
		}
	}

	&:global(.ant-alert-warning) {
		background-color: var(--color-yellow-100) !important;
		border: 0 !important;
		border-radius: var(--border-radius) !important;
		color: var(--color-yellow-800) !important;

		:global(.ant-alert-message) {
			color: var(--color-yellow-800) !important;
		}

		:global(.ant-alert-close-text) {
			color: var(--color-yellow-800) !important;
		}

		:global(.ant-alert-icon) {
			color: var(--color-yellow-600) !important;
		}
	}

	:global(.ant-alert-description) {
		font-size: 12px !important;
		line-height: 1.6em !important;
	}

	&:global(.ant-alert-error) {
		background-color: var(--color-orange-300) !important;
		border: 0 !important;
		border-radius: var(--border-radius) !important;
		color: var(--text-primary) !important;

		:global(.ant-alert-message) {
			color: var(--text-primary) !important;
		}

		:global(.ant-alert-close-text) {
			color: var(--text-primary) !important;
		}

		:global(.ant-alert-icon) {
			color: var(--color-red-600) !important;
		}
	}

	:global(.ant-alert-icon) {
		margin-right: var(--size-small) !important;
	}

	&:global(.ant-alert) {
		padding-bottom: var(--size-medium) !important;
		padding-left: var(--size-medium) !important;
		padding-right: var(--size-medium) !important;
		padding-top: var(--size-medium) !important;
	}

	:global(.ant-alert-message) {
		font-weight: 500;
		margin-bottom: var(--size-small) !important;
	}
}
