.button {
	background: none;
	border: 1px solid var(--color-gray-400);
	border-radius: var(--border-radius);
	cursor: pointer;
	padding: var(--size-small);
	position: relative;
	text-align: left;
	transition: border-color 0.1s ease-in-out, box-shadow 0.2s ease-in-out;

	&:hover {
		border-color: var(--color-purple);
		box-shadow: 0 5px 8px rgba(86, 41, 198, 0.2);
	}

	p {
		font-size: 12px !important;
		margin: 0 !important;
		margin-top: var(--size-xSmall) !important;
	}

	h4 {
		font-weight: 500 !important;
	}

	.icon {
		--size: var(--size-medium);
		align-items: center;
		background: var(--color-purple);
		border-radius: 50%;
		color: var(--color-white);
		display: flex;
		height: var(--size);
		justify-content: center;
		position: absolute;
		right: var(--size-small);
		top: var(--size-small);
		width: var(--size);

		svg {
			--size: var(--size-small);
			height: var(--size);
			width: var(--size);
		}
	}
}
