.modalBtn {
	padding-bottom: 4px !important;
	padding-top: 4px !important;
}

.modalBtnIcon {
	margin-right: 0.5rem;
}

.modalSubTitle {
	color: var(--color-gray-500) !important;
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 0 !important;
}

.modalBtnText {
	align-items: center;
	display: inline-flex !important;
	height: 100%;
}

.select {
	:global(.ant-select-selection-item-content) {
		max-width: 150px;
	}
}

.projectInput {
	font-size: 14px !important;
}
