.select {
    border-radius: var(--border-radius);

    :global(.ant-select-selector) {
        border: 1px solid var(--color-gray-300) !important;
        border-radius: var(--border-radius) !important;
        font-family: var(--body-font-family);
        height: fit-content !important;
        padding: var(--size-xSmall) var(--size-xSmall) !important;
    }
}
