.select {
    border-radius: var(--border-radius);

    :global(.ant-select-selector) {
        border: 1px solid var(--color-gray-300) !important;
        border-radius: var(--border-radius) !important;
        font-family: var(--body-font-family);
        height: fit-content !important;
        padding: var(--size-xSmall) var(--size-medium) !important;
    }

    :global(.ant-select-selection-placeholder) {
        left: 12px;
    }

    :global(.ant-select-selection-overflow) {
        margin-left: -12px;
    }

    :global(.ant-select-arrow) {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 18px;
        width: 18px;

        > svg {
            height: 100%;
            position: relative;
            right: -2px;
            top: -4px;
            width: 100%;
        }
    }

    &:global(.ant-select-disabled .ant-select-selector) {
        background: var(--color-gray-300) !important;
    }
}

.dropdown {
    border: 1px solid var(--color-gray-300);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding-bottom: 0 !important;
    padding-top: 0 !important;

    :global(.ant-select-item) {
        padding-bottom: var(--size-small);
        padding-left: var(--size-xSmall);
        padding-right: var(--size-xSmall);
        padding-top: var(--size-small);
    }
}

.suffixIconActive {
    color: var(--text-primary);
}

.selectHasValue {
    :global(.ant-select-selector) {
        background: var(--color-purple-200) !important;
        border: 1px solid var(--color-purple) !important;
    }

    :global(.ant-select-clear) {
        background: var(--color-purple-200) !important;
    }
}
