.splitButton {
	:global(.ant-dropdown-trigger) {
		align-items: center !important;
		border-left-color: var(--primary-background-color) !important;
		display: flex !important;
		justify-content: center !important;
	}

	:global(.ant-btn-primary:first-child:not(:last-child)) {
		border-right-color: var(--primary-background-color) !important;
	}
}
