.integrationsContainer {
	display: grid;
	gap: var(--size-xLarge);
	grid-template-columns: 1fr;
	align-items: stretch;
}

@media (min-width: 768px) {
	.integrationsContainer {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 1200px) {
	.integrationsContainer {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 1600px) {
	.integrationsContainer {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
.modalBtn {
	padding-bottom: 4px !important;
	padding-top: 4px !important;
}
