.list {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: calc(var(--size-medium) * -1);
	margin-bottom: 0;
	max-height: 350px;
	overflow: auto;
	overscroll-behavior: contain;
	padding: 0;

	&::-webkit-scrollbar {
		display: none;
	}

	img {
		width: 100%;
	}

	.item {
		display: block;

		> * {
			color: var(--text-primary) !important;
			display: block;
			padding: var(--size-medium);
		}

		&.small {
			> * {
				padding: var(--size-xSmall) var(--size-medium);
			}
		}

		&:hover {
			--color-primary-background: var(--color-gray-200);
			background: var(--color-primary-background);

			&.noHoverChange {
				--color-primary-background: transparent;
			}
		}

		p,
		h3 {
			margin: 0;
		}

		h3 {
			color: var(--text-primary);
			font-size: 13px;
			font-weight: 300;
			line-height: normal;
		}
	}

	.item:not(:last-of-type),
	.virtual {
		border-bottom: 1px solid var(--color-gray-300);
	}
}
