.content {
    font-size: 14px;
    font-weight: 200;
}

.popover {
    border: 1px solid var(--color-gray-300);
    padding-left: 0;
    border-radius: 5px;
    padding-top: 0px;
}

.content {
    padding-bottom: var(--size-xxSmall);
}
