.list {
    overflow: auto;
    max-height: 350px;
    padding: 0;
    margin: calc(var(--size-medium) * -1);
    margin-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &::-webkit-scrollbar {
        display: none;
    }

    img {
        width: 100%;
    }

    .item {
        display: block;

        & > * {
            display: block;
            padding: var(--size-medium);
        }

        &:hover {
            background: var(--color-gray-200);
            --color-primary-background: var(--color-gray-200);
        }

        p,
        h3 {
            margin: 0;
        }

        h3 {
            font-size: 13px;
            font-weight: 300;
            color: var(--color-black);
            line-height: normal;
        }
    }

    .item:not(:last-of-type) {
        border-bottom: 1px solid var(--color-gray-300);
    }
}
