.popover {
    border: none;

    :global(.ant-popover-inner) {
        background-color: transparent;
        background-clip: initial;
        border-radius: initial;
        box-shadow: none;
    }

    :global(.ant-popover-inner-content) {
        padding: 0;
    }
}
