.modalBtn {
	background: var(--color-purple);
	border-radius: 8px;
	padding: 8px 12px !important;
}

.modalBtnIcon {
	margin-right: 0.5rem;
}

.modalSubTitle {
	color: var(--color-gray-500) !important;
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 0 !important;
}

.modalBtnText {
	align-items: center;
	color: var(--color-white) !important;
	display: inline-flex !important;
	height: 100%;
}
