.select {
	border-radius: var(--border-radius) !important;

	:global(.ant-select-selector) {
		border: 1px solid var(--color-gray-300) !important;
		border-radius: var(--border-radius) !important;
		font-family: var(--body-font-family);
		height: var(--size-large) !important;
		padding: var(--size-xSmall) var(--size-medium) !important;
	}

	:global(.ant-select-selector:hover),
	&:global(.ant-select-open) {
		background: var(--color-gray-300) !important;

		:global(.ant-select-selector) {
			background-color: transparent !important;
			border-radius: var(--border-radius) !important;
		}
	}

	:global(.ant-select-selection-placeholder) {
		left: 14px;
	}

	:global(.ant-select-selector) {
		border: 0 !important;
		border-color: transparent !important;
		box-shadow: none !important;
	}

	:global(.ant-select-selection-item) {
		display: none;
	}

	:global(.ant-select-arrow) {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 18px;
		width: 100%;

		> svg {
			color: var(--text-primary);
			height: 100%;
			position: relative;
			right: -10px;
			top: -3px;
			width: 100%;
		}
	}

	:global(.ant-select-selector) {
		background-color: var(--color-primary-background) !important;
	}
}

.dropdown {
	background: var(--color-primary-background) !important;
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow) !important;
	left: 0 !important;
	margin-left: calc(var(--size-medium));
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	width: 300px !important;

	:global(.ant-select-item) {
		color: var(--text-primary) !important;
	}

	:global(.ant-select-item-option-selected) {
		color: var(--text-primary-inverted) !important;
	}
}

.suffixIconActive {
	color: var(--text-primary);
}

.displayValue {
	color: var(--text-primary) !important;
	font-size: 18px;
	font-weight: 500;
	margin-right: var(--size-xSmall) !important;
}

.textSelectContainer {
	align-items: center;
	display: flex;
}
