.searchBar {
    align-items: center;
    background-color: var(--color-primary-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: right 0.3s;
    transition: 0.3s;
    width: 100%;
}

.sideTab {
    align-items: center;
    background-color: var(--color-primary-background);
    border-color: var(--color-gray-300) var(--color-primary-background)
        var(--color-gray-300) var(--color-gray-300);
    border-radius: 8px 0 0 8px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 180px;
    width: 50px;
    z-index: 100;
}

.toggleSection {
    display: flex;
    padding: 0 5px var(--size-medium);
    row-gap: var(--size-medium);
}

.titleSection {
    border: 1px solid var(--color-gray-300);
    border-color: var(--color-gray-300) var(--color-gray-300)
        var(--color-primary-background) var(--color-gray-300);
    border-radius: 8px 8px 0 0;
    padding: 20px 20px 0;
}

.sideTabVisible {
    visibility: visible;
}

.sideTabHidden {
    visibility: hidden;
}

.hideButton {
    margin-left: auto;
}

.hamburgerSide {
    height: 20px;
    width: 20px;
}

.sideContentWrapper {
    height: 100%;
    overflow-y: auto;
    position: relative;
    width: 100%;
}

.title {
    color: var(--text-primary);
    font-size: 20px;
    margin-bottom: 10px;
}

.subTitle {
    color: var(--text-primary);
    font-size: 11px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.emptyDiv {
    height: 80px;
}

.searchBarOpen {
    right: 0;
}

.searchBarClosed {
    right: -320px;
}

.hideIcon {
    color: var(--color-gray-500);
    cursor: pointer;
    fill: var(--color-gray-500);
    float: right;
    height: 12px;
    margin-bottom: 2px;
    margin-left: -5px;
    margin-left: 5px;
    transform: rotate(-90deg);
    width: 12px;
}

.icon {
    cursor: pointer;
    height: 14px;
    margin-left: auto;
    transition: 0.4s;
    width: 14px;
}

.inputContainer {
    padding-bottom: var(--size-small);
}

.topPadding {
    padding-top: var(--size-xSmall);
}
