.actionButtons {
	display: flex;
	gap: var(--size-xSmall);
	justify-content: flex-end;
}

.integrationIcon {
	border-radius: var(--size-xxSmall);
	margin-bottom: 4px;
	margin-right: var(--size-small);
	width: calc(var(--size-large) + 2px);
}

.textBoxStyles {
	font-size: inherit !important;
}
