@import 'src/static/shared.scss';

.commentUpdatedTime {
    color: $text-label;
    font-weight: 200;
    flex-shrink: 0;
}

.commentHeader {
    display: flex;
    align-items: center;
    gap: var(--size-xSmall);
    margin-bottom: var(--size-xSmall);
}

.commentAuthor {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsisButton {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: var(--button-border-radius);
    height: 100%;

    &:hover {
        background: var(--color-gray-300);
    }

    &:active {
        background: var(--color-gray-400);
    }
}

.endActions {
    margin-left: auto;
}
