// colors
$highlight-purple: #5629c6;
$highlight-purple-light: #eee7ff;
$text-primary: #000000;
$text-light: rgba(0, 0, 0, 0.85);
$text-primary-inverted: #ffffff;
$text-label: #959595;
$gray: #b2b2b2;

// borders
$button-border-radius: 5px;
$border-light-gray: #eaeaea;

// backgrounds
$primary-background-color: #ffffff;

// sizes
$size-xxLarge: 48px;
$size-xLarge: 32px;
$size-large: 24px;
$size-medium: 16px;
$size-small: 12px;
$size-xSmall: 8px;
$size-xxSmall: 4px;

// buttons
$disabled-button: #bfbfbf;
$button-primary-hover: #5327be;
$button-primary-active: #401f94;

// mixins
@mixin rounded-border {
    border: 1px solid $border-light-gray;
    border-radius: 8px;
}
