:root {
    --color-purple-200: #f2eefb;
    --color-purple-300: #bea8f1;
    --color-purple-light: #bb6bd9;
    --color-purple: #5629c6;
    --color-blue-light: #56ccf2;
    --color-blue: #2d9cdb;
    --color-blue-dark: #2f80ed;
    --color-green-light: #6fcf97;
    --color-green: #27ae60;
    --color-green-dark: #219653;
    --color-yellow: #f2c94c;
    --color-orange: #f2994a;
    --color-red: #eb5757;
    --color-gray-200: #f2f2f2;
    --color-gray-300: #e0e0e0;
    --color-gray-400: #bdbdbd;
    --color-gray-500: #828282;
    --color-gray-600: #4f4f4f;

    --color-primary-background: #ffffff;
}

// colors
$highlight-purple: var(--color-purple);
$highlight-purple-light: #eee7ff;
$text-primary: #000000;
$text-light: rgba(0, 0, 0, 0.85);
$text-primary-inverted: #ffffff;
$text-label: #959595;
$gray: var(--color-gray-400);

// Alert
$alert-200: #ffe0e0;
$alert-300: #f2b4b4;
$alert-400: #ff0000;

// borders
$button-border-radius: 5px;
$border-light-gray: #eaeaea;

// backgrounds
$primary-background-color: #ffffff;

// sizes
$size-xxLarge: 48px;
$size-xLarge: 32px;
$size-large: 24px;
$size-medium: 16px;
$size-small: 12px;
$size-xSmall: 8px;
$size-xxSmall: 4px;

// buttons
$disabled-button: #bfbfbf;
$button-primary-hover: #5327be;
$button-primary-active: #401f94;
$button-primary-disabled: #2f2549;

$button-transparent-resting: transparent;
$button-transparent-hover: rgba(239, 239, 239, 0.49);
$button-transparent-active: var(--color-gray-300);

// mixins
@mixin rounded-border {
    border: 1px solid $border-light-gray;
    border-radius: 8px;
}
