// colors
$highlight-purple: #5629c6;
$highlight-purple-light: #eee7ff;
$border-light-gray: #eaeaea;
$text-primary: #000000;
$text-label: #959595;

// borders
$button-border-radius: 5px;

// mixins
@mixin rounded-border {
    border: 1px solid $border-light-gray;
    border-radius: 8px;
}
