.container {
    align-items: center;
    background-color: var(--color-gray-100);
    border-radius: var(--border-radius);
    display: flex;
    padding: var(--size-xxSmall) var(--size-small);

    .icon {
        color: var(--color-gray-500);
        margin-left: auto;
    }

    .link {
        max-width: calc(100% - 50px);
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
