.container {
    align-items: center;
    background-color: var(--color-gray-100);
    border-radius: var(--border-radius);
    display: flex;
    .copyButton {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: auto;
    }

    .link {
        margin-left: var(--size-small);
        margin-right: var(--size-small);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
