.logoText {
	font-family: var(--header-font-family);
	font-size: 22px;
	font-weight: 500;
	user-select: none;
}

.logo {
	fill: var(--color-primary-background);
	height: 28px;
	margin: var(--size-xSmall);
	width: 28px;
}
