.logoText {
    font-family: var(--header-font-family);
    font-size: 22px;
    font-weight: 500;
    user-select: none;
}

.logo {
    fill: var(--color-primary-background);
    height: var(--size-xLarge);
    margin: var(--size-xSmall);
    width: var(--size-xLarge);
}
