.logoText {
    font-family: var(--header-font-family);
    font-size: 22px;
    font-weight: 500;
    user-select: none;
}

.logo {
    margin: 8px;
    fill: var(--color-primary-background);
    height: 22px;
    width: 22px;
}
