.percentContainer {
	align-items: center;
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	column-gap: var(--size-xSmall);
	display: flex;
	justify-content: space-between;
	padding: var(--size-xxSmall) var(--size-xSmall);
	width: fit-content;
}

.barGraph {
	background: var(--color-gray-300);
	border-radius: var(--size-xxSmall);
	flex-shrink: 0;
	height: 1rem;
	overflow: hidden;
	position: relative;
	width: var(--size-large);

	&::after {
		background: var(--text-primary);
		border-bottom-right-radius: var(--size-xxSmall);
		border-top-right-radius: var(--size-xxSmall);
		content: '';
		height: 100%;
		position: absolute;
		width: var(--percentage);
	}
}

.pill {
	align-items: center;
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	column-gap: var(--size-xxSmall);
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	min-width: 68px;
	padding: var(--size-xxSmall) var(--size-xSmall);
	white-space: nowrap;
	width: fit-content;
}

.rowGroup {
	column-gap: var(--size-small);
	display: flex;
	width: 100%;

	&.endingAlignment {
		justify-content: flex-end;
	}
}
