.mention {
    position: relative;
    font-weight: 400 !important;
    z-index: 1;
    color: var(--color-purple-400);
    pointer-events: none;
    background-color: var(--color-primary-background);
    top: -1px;
    left: -1px;
}

.suggestionContainer {
    display: flex;
    align-items: center;
    column-gap: var(--size-xSmall);

    .adminText {
        display: flex;
        flex-direction: column;

        .email {
            color: var(--color-gray-500);
        }

        .longValue {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 225px;
            white-space: nowrap;
        }
    }
}
