.mentions {
  font-size: 14px !important;
  line-height: initial;
}

.mentions--singleLine .mentions__control {
  display: inline-block;
  width: 130px;
}
.mentions--singleLine .mentions__highlighter {
  padding: 1px;
  border: 2px inset transparent;
}
.mentions--singleLine .mentions__input {
  padding: 1px;
  border: 2px inset;
}

.mentions--multiLine .mentions__control {
  font-size: 14px !important;
}

.mentions--multiLine .mentions__highlighter {
  border: 1px solid transparent;
  padding: 0px;
  font-weight: 300;
}

.mentions--multiLine .mentions__input {
  border: 1px solid transparent;
  padding: 0px;
  outline: 0;
  font-weight: 300;
  cursor: inherit;
}

.mentions__suggestions__list {
  width: 300px;
  background: var(--color-gray-200);
  padding: 5px 12px;
  background: var(--color-primary-background);
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}

.mentions__suggestions__item {
  padding: var(--size-xSmall) 12px;
}

.mentions__suggestions__item--focused {
  background: var(--color-gray-200);
}

.mentions__mention {
  position: relative;
  font-weight: 400 !important;
  z-index: 1;
  color: var(--color-purple-400);
  pointer-events: none;
  background-color: var(--color-primary-background);
}
