.copyButton {
	background: var(--color-gray-300);
	border-radius: var(--size-xSmall);
	cursor: pointer;
	opacity: 0;
	padding: var(--size-xxSmall);
	position: absolute;
	right: 5px;
	top: 5px;
	transition: opacity 0.2s ease-in-out;
	z-index: 10;
}

.copyDiv {
	align-items: center;
	display: flex;
	font-size: 8px;
	justify-content: center;
	padding: 10px;
}

.codeBlock {
	position: relative;

	& pre {
		margin: 0 !important;
	}

	&:hover {
		& .copyButton {
			opacity: 1;
		}
	}
}

.codeBlockInner {
	display: flex;
}

.highlightedLine {
	background-color: var(--color-gray-300);
}

.lineNumberSticky {
	color: rgb(125, 139, 153);
	display: block;
	min-width: 2.25em;
	padding-left: 16px;
	padding-right: 16px;
	text-align: right;
	user-select: none;
}