.histogramTooltip {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.histogramSeriesTooltip {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.histogramSeriesIcon {
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
