.channelSelect {
	margin-bottom: var(--size-medium);
	width: 100%;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.saveButton {
	justify-content: center;
	width: 125px;
}

.alertConfigurationCard {
	.subTitle {
		margin-top: var(--size-small) !important;
	}
	h2 {
		font-size: 22px !important;
		margin-bottom: 0 !important;
	}

	h3 {
		font-size: 16px !important;
		margin-bottom: var(--size-xSmall) !important;
	}

	p,
	section > span {
		color: var(--color-gray-500);
		display: block;
		margin-bottom: var(--size-medium) !important;
		margin-top: 0 !important;
	}

	section {
		padding-bottom: var(--size-xxLarge);

		&:last-of-type {
			padding-bottom: var(--size-xLarge);
		}
	}

	:global(.ant-form-item:last-of-type) {
		margin-bottom: 0;
	}
}

.addContainer {
	color: var(--color-gray-500);
	padding: 0 var(--size-small);
}

.notFoundMessage {
	padding: var(--size-small) 0;
}

.frequencyContainer {
	column-gap: var(--size-large);
	display: flex;
}

.lookbackPeriodSelect {
	width: 150px !important;
}

.actionsContainer {
	column-gap: var(--size-large);
	display: flex;
	margin-left: auto;
}

.footer {
	display: flex;
}

.notFoundContentEmail {
	color: var(--color-gray-500);
	padding: var(--size-medium) 0;
}
