@import 'src/static/shared.scss';

.devToolsWrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    border-top: 1px solid $border-light-gray;
    display: flex;
    flex-direction: column;
}

.emptySection {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    color: grey;
}

.optionsWrapper {
    display: flex;
    height: 100%;
    padding-left: var(--size-large);
    overflow: hidden;
}

.emptyWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 80px;
    justify-content: center;
}

.skeletonWrapper {
    padding: 25px;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

.toggleWrapper {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.devToolsType {
    transition: 0.2s;
    height: 30px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5629c6;
    font-size: 11px;
    cursor: pointer;
}

.devToolsSelectWrapper {
    padding-left: var(--size-large);
    padding-right: var(--size-large);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid var(--color-gray-300);
}

.option {
    padding-top: var(--size-small);
    padding-bottom: var(--size-xSmall);
    color: #5629c6;
    transition: 0.2s;
    margin: 0px 15px 0px 15px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.topBar {
    background-color: white;
    height: 45px;
    border-bottom: 1px solid #eaeaea;
    overflow-y: auto;
}

.resizeContainer {
    max-height: 50vh;
    height: 34vh;
    min-height: 45px;
}

.resizeHandle {
    display: none;
}

.resizeBorder {
    background: $border-light-gray;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
    opacity: 0;
    transition: opacity ease-in-out 0.2s;
    transform: translateY(2.5px);
    // Fitts' Law, we're making the hit target larger than what it looks visually to make it easier to hit.
    background-clip: content-box;
    padding: 3px 0;

    &:hover {
        opacity: 1;
    }
}
