.devToolsWrapper {
    background-color: white;
    width: 100%;
    height: 34vh;
}

.emptySection {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.optionsWrapper {
    display: flex;
    height: 100%;
    padding: 10px;
}

.devToolsStreamWrapper {
    background-color: white;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 90px);
}

.devToolsNav {
    margin-top: 15px;
    margin-right: 15px;
    width: max-content;
    float: right;
    clear: both;
    background-color: white;
}

.toggleWrapper {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.devToolsType {
    transition: 0.2s;
    height: 30px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5629c6;
    font-size: 11px;
    cursor: pointer;
}

.option {
    color: #5629c6;
    transition: 0.2s;
    background-color: #f2eefb;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    font-size: 11px;
    font-weight: 300;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
}

.topBar {
    background-color: white;
    height: 60px;
}
