.devToolsWrapper {
    background-color: var(--color-primary-background);
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--color-gray-300);
    display: flex;
    flex-direction: column;
}

.emptySection {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    color: grey;
}

.optionsWrapper {
    display: flex;
    height: 100%;
    padding-left: var(--size-large);
    overflow: hidden;
    font-family: var(--header-font-family) !important;
}

.emptyWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 80px;
    justify-content: center;
}

.skeletonWrapper {
    padding: 25px;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

.toggleWrapper {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.devToolsType {
    transition: 0.2s;
    height: 30px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-purple);
    font-size: 11px;
    cursor: pointer;
}

.option {
    padding-top: var(--size-small);
    padding-bottom: var(--size-xSmall);
    color: var(--color-gray-500);
    transition: 0.2s;
    margin: 0px 15px 0px 15px;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;

    &::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        bottom: -3px;
        background: var(--color-gray-400);
        opacity: 0;

        transition: opacity 0.2s ease-in-out;
        border-radius: 5px;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &.selected {
        color: var(--text-primary);
        font-weight: 400;
        border-bottom: 3px solid var(--text-primary);

        &:hover {
            &::after {
                opacity: 1;
                background: var(--text-primary);
            }
        }
    }
}

.topBar {
    background-color: var(--color-primary-background);
    height: 45px;
    border-bottom: 1px solid var(--color-gray-300);
    overflow-y: auto;
}

.resizeContainer {
    max-height: 80vh;
    height: 34vh;
    min-height: 45px;
    overflow: hidden;
}

.resizeHandle {
    display: none;
}

.resizeBorder {
    background: var(--color-gray-300);
    width: 100%;
    height: 10px;
    cursor: ns-resize;
    opacity: 0;
    transition: opacity ease-in-out 0.2s;
    transform: translateY(2.5px);
    // Fitts' Law, we're making the hit target larger than what it looks visually to make it easier to hit.
    background-clip: content-box;
    padding: 3px 0;

    &:hover {
        opacity: 1;
    }
}

.closeStyle {
    height: 14px;
    width: 14px;
    cursor: pointer;
    fill: var(--color-gray-500);
}
