.legendContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: var(--size-xSmall);
}

.legendItem {
    align-items: center;
    color: var(--color-gray-500) !important;
    column-gap: var(--size-xxSmall);
    display: flex;
    font-size: 12px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.legendValue {
    color: var(--color-gray-500) !important;

    &.notShowing {
        text-decoration: line-through;
    }
}

.legendIcon {
    border-radius: 2px;
    flex-shrink: 0;
    height: var(--size-small);
    width: var(--size-small);

    &.notShowing {
        filter: grayscale(0.5);
    }
}

.tooltipEntry {
    align-items: center;
    column-gap: var(--size-xxSmall);
    display: flex;
    margin-bottom: 0 !important;
}

.referenceLineValue {
    color: var(--color-gray-500);
}

.tooltipRow {
    align-items: center;
    column-gap: var(--size-xSmall);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.scoreIcon {
    --size: var(--size-small);
    align-items: center;
    color: var(--color-gray-500);
    display: flex;
    flex-shrink: 0;
    height: var(--size);
    width: var(--size);
}

.tooltipValue {
    color: var(--text-primary);
    font-size: 12px;
    line-height: initial;
}

.horizontalSlider {
    height: 16px;
    left: 31px;
    margin-right: 45px;
    position: absolute;
    top: 38px;
}

.sliderThumb {
    background-color: var(--color-primary-background);
    border: 3px solid var(--color-gray-300);
    border-radius: var(--border-radius);
    color: var(--color-purple-500);
    font-size: 8px;
    left: 50px;
    padding: 2px;
    position: absolute;
}

.sliderTrack {
    width: 500px;
}
