.groupContainer {
    column-gap: var(--size-medium);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: var(--size-medium);
    row-gap: var(--size-small);

    &:last-of-type {
        padding-bottom: 0;
    }

    :global(.ant-checkbox-wrapper + .ant-checkbox-wrapper) {
        margin-left: 0;
    }
}

.inputContainer {
    label {
        color: var(--text-primary);

        > span {
            font-size: 10px;
        }

        > div {
            margin-top: var(--size-xxSmall);
        }
    }
}

.contentContainer {
    padding: 0;
    padding-bottom: var(--size-small) !important;
}

.hasFilters {
    background: var(--color-purple-200);
    border: 1px solid var(--color-purple);
    color: var(--text-primary);
}

.popover {
    max-width: 800px;
    min-width: 200px;
}
