.sideBar {
    align-items: center;
    background-color: var(--color-primary-inverted-background);
    box-shadow: var(--box-shadow-3);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -280px;
    padding: var(--size-large) var(--size-medium);
    position: fixed;
    row-gap: 16px;
    top: 0;
    transition: margin-left 0.3s ease-in-out;
    width: 280px;
    z-index: 999;
}

.staticSidebarWrapper {
    box-shadow: none;
    margin-left: 0;
    width: var(--sidebar-width);
}

.settingsDivider {
    background-color: var(--color-gray-800);
    flex-shrink: 0;
    height: 2px;
    width: 90%;
}

.changelogButton {
    margin-right: calc(var(--size-medium) * -1);

    > button {
        margin-bottom: 0;
    }
}

.miniRow {
    align-items: center;
    color: var(--text-primary) !important;
    display: flex;
    justify-content: center;
    width: 100%;
}

.miniSidebarIconWrapper {
    align-items: center;
    border-radius: 8px;
    color: var(--color-gray-700) !important;
    display: flex;
    fill: var(--color-gray-700) !important;
    justify-content: center;
    padding: 8px;
    transition: 0.3s;
}

.miniSidebarIconWrapper:hover {
    background-color: var(--color-gray-800);
    color: var(--text-primary-inverted) !important;
}

.icon {
    height: 18px;
    width: 18px;
}

.selected {
    background-color: var(--color-gray-800) !important;
    color: var(--text-primary-inverted) !important;

    h3 {
        color: var(--text-primary) !important;
    }
}

.changelogContainer {
    margin-top: auto;
}
