.sideBar {
    --top-offset: 80px;
    position: fixed;
    height: calc(100% - 80px);
    background-color: var(--color-primary-background);
    z-index: 40;
    width: 280px;
    top: 80px;
    border-right: 1px solid var(--color-gray-300);
    transition: margin-left 0.3s ease-in-out;
    margin-left: -280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: var(--box-shadow-2);
    padding: var(--size-large) var(--size-medium);
    row-gap: 16px;
}

.staticSidebarWrapper {
    width: 64px;
    box-shadow: none;
    margin-left: 0;
}

.open {
    margin-left: 0px;
}

.settingsDivider {
    width: 90%;
    height: 2px;
    background-color: var(--color-gray-300);
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.bottomSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottomLinkContainer {
    display: flex;
    flex-direction: column;
}

.bottomWrapper {
    flex-grow: 1;
    height: 100%;
    position: relative;
    width: 100%;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
}

.changelogButton {
    margin-right: calc(var(--size-medium) * -1);

    & > button {
        margin-bottom: 0;
    }
}

.bottomLink {
    color: var(--color-gray-500);
    text-decoration: underline;
    font-size: 12px;
    margin-top: 8px;
}

.link:hover {
    text-decoration: none;
    color: inherit;
}

.miniRow {
    color: var(--text-primary) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.row {
    color: var(--text-primary) !important;
    align-items: center;
    width: 100%;
    font-size: 16px;
    transition: 0.1s;
    cursor: pointer;
}

.miniSidebarIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s;
    fill: var(--color-gray-500);
    color: var(--color-gray-500);
}

.miniSidebarIconWrapper:hover {
    background-color: var(--color-gray-200);
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icon {
    height: 18px;
    width: 18px;
}

.selected {
    background-color: var(--color-gray-200) !important;
    color: var(--text-primary) !important;
    fill: var(--text-primary) !important;

    h3 {
        color: var(--text-primary) !important;
    }
}

.rotated {
    transform: rotate(30deg);
}

.innerButton {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 10px 10px 10px;
    padding: var(--size-xSmall) var(--size-small);
    border-radius: 6px;
    transition: 0.3s background-color;
    color: var(--color-gray-500);
    fill: var(--color-gray-500);
}

.innerButton:hover {
    background-color: var(--color-gray-200);
}

.selectedDiv {
    height: 80%;
    position: absolute;
}

.rowText {
    font-size: 15px;
    display: flex;
    margin-left: 15px !important;
    color: var(--color-gray-500);
    line-height: 1;
    font-weight: 400;
    align-items: center;
}

.changelogContainer {
    margin-top: auto;
}
