@import 'src/static/shared.scss';

.sideBar {
    position: fixed;
    height: 100%;
    background-color: white;
    z-index: 40;
    width: 280px;
    border-right: 1px solid #eaeaea;
    transition: margin-left 0.3s;
    margin-left: -280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}

.open {
    margin-left: 0px;
}

.settingsDivider {
    width: 90%;
    height: 2px;
    background-color: #eaeaea;
    margin-top: 15px;
    margin-bottom: 20px;
}

.settingsTitle {
    color: #666666;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 5px;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.bottomSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottomWrapper {
    flex-grow: 1;
    height: 100%;
    position: relative;
    width: 100%;
    padding: 20px;
}

.bottomLink {
    color: #666666;
    text-decoration: underline;
    margin-top: 8px;
}

.link:hover {
    text-decoration: none;
    color: inherit;
}

.miniRow {
    color: black !important;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.row {
    color: black !important;
    display: flex;
    padding-left: 20px;
    align-items: center;
    width: 100%;
    padding: 4px 10px 4px 10px;
    font-size: 16px;
    transition: 0.1s;
    cursor: pointer;
    border-left: 3px solid white;
}

.miniSidebarIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s;
    fill: #808080;
}

.miniSidebarIconWrapper:hover {
    background-color: #fafafa;
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icon {
    height: 18px;
    width: 18px;
}

.staticSidebarWrapper {
    position: fixed;
    top: 80px;
    width: 64px;
    height: calc(100vh - 80px);
    border-right: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    z-index: 30;
    background-color: white;
    align-items: center;
}

.selected {
    background-color: #f4f4f4 !important;
    color: black !important;
    fill: black !important;
}

.rotated {
    transform: rotate(30deg);
}

.innerButton {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    transition: 0.3s background-color;
    color: #808080;
    fill: #808080;
}

.innerButton:hover {
    background-color: #fafafa;
}

.selectedDiv {
    height: 80%;
    position: absolute;
}

.rowText {
    font-size: 15px;
    display: flex;
    margin-left: 15px;
    line-height: 1;
    align-items: center;
}
