.sideBar {
    --top-offset: 80px;
    align-items: center;
    background-color: var(--color-primary-background);
    border-right: 1px solid var(--color-gray-300);
    box-shadow: var(--box-shadow-3);
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    margin-left: -280px;
    padding: var(--size-large) var(--size-medium);
    position: fixed;
    row-gap: 16px;
    top: 80px;
    transition: margin-left 0.3s ease-in-out;
    width: 280px;
    z-index: 999;
}

.staticSidebarWrapper {
    box-shadow: none;
    margin-left: 0;
    width: 64px;
}

.settingsDivider {
    background-color: var(--color-gray-300);
    flex-shrink: 0;
    height: 2px;
    width: 90%;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.bottomSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.bottomLinkContainer {
    display: flex;
    flex-direction: column;
}

.bottomWrapper {
    flex-grow: 1;
    height: 100%;
    position: relative;
    width: 100%;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
}

.changelogButton {
    margin-right: calc(var(--size-medium) * -1);

    > button {
        margin-bottom: 0;
    }
}

.bottomLink {
    color: var(--color-gray-500);
    font-size: 12px;
    margin-top: 8px;
    text-decoration: underline;
}

.link:hover {
    color: inherit;
    text-decoration: none;
}

.miniRow {
    align-items: center;
    color: var(--text-primary) !important;
    display: flex;
    justify-content: center;
    width: 100%;
}

.row {
    align-items: center;
    color: var(--text-primary) !important;
    cursor: pointer;
    font-size: 16px;
    transition: 0.1s;
    width: 100%;
}

.miniSidebarIconWrapper {
    align-items: center;
    border-radius: 8px;
    color: var(--color-gray-500) !important;
    display: flex;
    fill: var(--color-gray-500) !important;
    justify-content: center;
    padding: 8px;
    transition: 0.3s;
}

.miniSidebarIconWrapper:hover {
    background-color: var(--color-gray-200);
}

.iconWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    > svg {
        transition: fill 0.2s ease-in-out;
    }
}

.icon {
    height: 18px;
    width: 18px;
}

.selected {
    background-color: var(--color-gray-200) !important;
    color: var(--text-primary) !important;
    fill: var(--text-primary) !important;

    h3 {
        color: var(--text-primary) !important;
    }
}

.innerButton {
    align-items: center;
    border-radius: 6px;
    color: var(--color-gray-500);
    display: flex;
    padding: 10px;
    padding: var(--size-xSmall) var(--size-small);
    transition: 0.3s background-color;
    width: 100%;
}

.innerButton:hover {
    background-color: var(--color-gray-200);

    svg {
        color: var(--text-primary);
    }
}

.selectedDiv {
    height: 80%;
    position: absolute;
}

.rowText {
    align-items: center;
    color: var(--color-gray-500) !important;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    margin: 0 !important;
    margin-left: 15px !important;
}

.changelogContainer {
    margin-top: auto;
}
