.objectKey {
    color: var(--color-gray-500);
    display: block;
    font-size: 10px;
    font-style: normal;
    line-height: initial;
    margin-bottom: var(--size-xxSmall);
}

.objectList {
    list-style: none;
    margin: 6px 0;
    padding: 0;
}

.objectValue {
    color: var(--text-primary);
    font-size: 12px;
    font-style: normal;
    line-height: initial;
}

.payload {
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.objectRecord {
    &:not(:last-of-type) {
        margin-bottom: 6px;
    }
}

.anchor {
    vertical-align: middle;
}
