@import 'src/static/shared.scss';

.eventWrapper {
    display: flex;
    align-items: center;
    font-size: 15px;
    height: max-content;
}

.streamElement {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr min-content;
    padding: 5px 10px 5px 10px;
    align-items: center;
    color: #959595;
    background-color: inherit;
    fill: #959595;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}

.selectedStreamElement {
    border: 1px solid #d4d4d4;
    padding-top: 10px;
}

.currentStreamElement {
    border: 1px solid #5629c6;
    background-color: #5629c6;
    color: white;
    fill: white;

    .goToButton {
        color: white;
        fill: white;
    }
}

.eventTime {
    height: 100%;
    text-align: left;
    min-width: 40px;
    padding: 5px;
    margin-left: 10px;
}

.iconWrapper {
    padding: 5px;
    width: max-content;
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.playIcon {
    width: 20px;
    height: 20px;
}

.directionIcon {
    width: 14px;
    height: 14px;
    fill: inherit;
    transition: 0.3s;
}

.defaultIcon {
    width: 20px;
    height: 20px;
}

.tiltedIcon {
    transform: rotate(-20deg);
    width: 20px;
    height: 20px;
}

.eventContent {
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
}

.eventContentVerbose {
    margin: 5px;
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
    flex-direction: column;
}

.eventText {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    margin-left: 10px;
}

.selectedEventText {
    color: $text-primary;
}

.currentEventText {
    color: white;
}

.codeBlockWrapper {
    font-family: 'Lucida Console', Monaco, Consolas, 'Courier New', Courier,
        'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !important;
    border: 1px solid #e4e8eb;
    background-color: #f9f9f9;
    border-radius: 8px;
    height: 30px;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 30px;
    font-size: 12px;
    color: grey;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    text-overflow: ellipsis;
}

.codeBlockWrapperVerbose {
    border: 1px solid #e4e8eb;
    background-color: #f9f9f9;
    border-radius: 8px;
    min-height: 30px;
    padding: 3px 8px 3px 8px;
    line-height: 20px;
    color: grey;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 8px;
    word-wrap: break-word;
    width: 100%;
    align-items: center;
    grid-column: 1 / 5;
}

.codeBlock {
    font-family: 'Lucida Console', Monaco, Consolas, 'Courier New', Courier,
        'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !important;
}

.goToButton {
    grid-column-start: 1;

    &:hover {
        color: $text-primary;
        fill: $text-primary;
    }
}

.relativeTimeExpanded {
    grid-column-start: -1;
}

.selectedIcon {
    fill: $text-primary;
    transform: rotate(180deg);
}

.currentIcon {
    fill: white;
}

.headerRow {
    display: flex;
    align-items: center;
}
