@import 'src/static/shared.scss';

.eventWrapper {
    display: flex;
    align-items: center;
    font-size: 12px;
    height: max-content;
}

.streamElement {
    font-family: var(--body-font-family);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    color: var(--text-primary);
    display: grid;
    grid-template-columns: 100px 1fr min-content;
    padding: 5px 10px 5px 10px;
    align-items: center;
    color: var(--color-gray-500);
    background-color: inherit;
    fill: var(--color-gray-500);
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}

.selectedStreamElement {
    border: 1px solid #d4d4d4;
    padding-top: 10px;
}

.currentStreamElement {
    border: 1px solid #5629c6;
    background-color: #5629c6;
    color: white;
    fill: white;

    .goToButton {
        color: white;

        svg {
            fill: white;
        }
    }
}

.eventTime {
    height: 100%;
    padding: 5px;
    padding-right: 0;
    margin-left: 10px;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.iconWrapper {
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.playIcon {
    width: 20px;
    height: 20px;
}

.directionIcon {
    width: 14px;
    height: 14px;
    fill: inherit;
    transition: transform 0.3s;
}

.defaultIcon {
    fill: var(--color-gray-500);
    width: var(--size-medium);
    height: var(--size-medium);
}

.tiltedIcon {
    transform: rotate(-20deg);
    width: var(--size--medium);
    height: var(--size--medium);
}

.eventContent {
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
}

.eventContentVerbose {
    margin: 5px;
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
    flex-direction: column;
}

.eventText {
    height: 100%;
    align-items: center;
    display: flex;
    margin-left: 10px;
    color: var(--color-gray-500);
}

.selectedEventText {
    color: $text-primary;
}

.currentEventText {
    color: white;
}

.codeBlockWrapper {
    font-family: 'Lucida Console', Monaco, Consolas, 'Courier New', Courier,
        'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !important;
    border: 1px solid #e4e8eb;
    background-color: var(--color-secondary-background);
    border-radius: var(--size-xxSmall);
    height: 20px;
    padding: 0 var(--size-xxSmall);
    color: var(--color-gray-500);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    text-overflow: ellipsis;
}

.codeBlockWrapperVerbose {
    border: 1px solid #e4e8eb;
    background-color: var(--color-secondary-background);
    border-radius: 8px;
    min-height: 30px;
    padding: 3px 8px 3px 8px;
    line-height: 20px;
    color: grey;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 8px;
    word-wrap: break-word;
    width: 100%;
    align-items: center;
    grid-column: 1 / 5;
}

.codeBlock {
    font-size: 10px;
    font-family: 'Lucida Console', Monaco, Consolas, 'Courier New', Courier,
        'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !important;
}

.goToButton {
    color: var(--color-gray-500);
    grid-column-start: 1;

    &:hover {
        color: $text-primary;
        fill: $text-primary;

        svg {
            fill: $text-primary;
        }
    }
}

.relativeTimeExpanded {
    grid-column-start: -1;
}

.selectedIcon {
    fill: $text-primary;
    transform: rotate(180deg);
}

.currentIcon {
    fill: white;
}

.headerRow {
    display: flex;
    align-items: center;
}
