.eventWrapper {
    align-items: center;
    display: flex;
    font-size: 12px;
    height: max-content;
}

.streamElement {
    align-items: center;
    background-color: inherit;
    border-radius: 6px;
    color: var(--text-primary);
    color: var(--color-gray-500);
    cursor: pointer;
    display: grid;
    fill: var(--color-gray-500);
    font-family: var(--body-font-family);
    grid-template-columns: 100px 1fr min-content;
    height: 100%;
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 5px 10px;
    width: 100%;
}

.selectedStreamElement {
    border: 1px solid var(--color-gray-300);
    padding-top: 10px;
}

.currentStreamElement {
    background-color: var(--color-purple);
    border: 1px solid var(--color-purple);
    color: var(--color-primary-background);
    fill: var(--color-primary-background);

    .goToButton {
        color: var(--color-primary-background);

        svg {
            fill: var(--color-primary-background);
        }
    }
}

.eventTime {
    align-items: center;
    display: flex;
    font-size: 10px;
    height: 100%;
    margin-left: 10px;
    padding: 5px;
    padding-right: 0;
}

.iconWrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
}

.playIcon {
    height: 20px;
    width: 20px;
}

.directionIcon {
    fill: inherit;
    height: 14px;
    transition: transform 0.3s;
    width: 14px;
}

.defaultIcon {
    fill: var(--color-gray-500);
    height: var(--size-medium);
    width: var(--size-medium);
}

.tiltedIcon {
    height: var(--size--medium);
    transform: rotate(-20deg);
    width: var(--size--medium);
}

.eventContent {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    min-width: 100%;
}

.eventContentVerbose {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    min-width: 100%;
}

.eventText {
    align-items: center;
    color: var(--color-gray-500);
    display: flex;
    height: 100%;
    margin-left: 10px;
}

.selectedEventText {
    color: var(--text-primary);
}

.currentEventText {
    color: var(--color-primary-background);
}

.codeBlockWrapper {
    align-items: center;
    background-color: var(--color-secondary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--size-xxSmall);
    color: var(--color-gray-500);
    font-family: 'Lucida Console', Monaco, Consolas, 'Courier New', Courier,
        'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !important;
    height: 20px;
    overflow: hidden;
    padding: 0 var(--size-xxSmall);
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.codeBlockWrapperVerbose {
    align-items: center;
    background-color: var(--color-secondary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    color: var(--color-gray-500);
    font-size: 12px;
    grid-column: 1 / 5;
    line-height: 20px;
    margin-bottom: 8px;
    margin-top: 10px;
    min-height: 30px;
    padding: 3px 8px;
    width: 100%;
    word-wrap: break-word;
}

.codeBlock {
    font-family: 'Lucida Console', Monaco, Consolas, 'Courier New', Courier,
        'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !important;
    font-size: 10px;
}

.goToButton {
    color: var(--color-gray-500);
    grid-column-start: 1;

    &:hover {
        color: var(--text-primary);
        fill: var(--text-primary);

        svg {
            fill: var(--text-primary);
        }
    }
}

.relativeTimeExpanded {
    grid-column-start: -1;
}

.selectedIcon {
    fill: var(--text-primary);
    transform: rotate(180deg);
}

.currentIcon {
    fill: var(--color-primary-background);
}

.headerRow {
    align-items: center;
    display: flex;
}
