a.connectHighlightWithSlackButton {
	align-items: center;
	border: 0;
	border-radius: var(--size-xSmall);
	column-gap: var(--size-xSmall);
	display: flex;
	height: 32px;
	padding-bottom: var(--size-xxSmall) !important;
	padding-top: var(--size-xxSmall) !important;
	width: fit-content;

	&:hover,
	&:active,
	&:focus {
		border: 0;
	}
}
