.paragraph {
	color: var(--copy-on-dark);
	margin-top: 20px !important;
}

.heading {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.h1 {
	text-align: center;
	margin-bottom: 20px !important;
}
