.keyPerformanceIndicator {
	.value {
		font-size: 36px !important;
	}

	.label {
		margin: 0 !important;
	}

	.tooltip {
		color: var(--text-primary);
		position: absolute;
		right: calc(var(--size-small) * -1);
		top: calc(var(--size-xxSmall) * -1);
	}

	.labelContainer {
		display: flex;
		position: relative;
		width: fit-content;
	}
}
