@import 'src/static/shared.scss';

.sessionToken {
    font-size: 14px;
    display: flex;
    align-items: center;
    max-width: 378px;
    min-width: 0;
    gap: $size-xSmall;
    color: $text-primary;

    > p {
        margin: 0;
        white-space: nowrap;
    }

    a {
        color: $text-primary;
    }

    svg {
        flex-shrink: 0;
        fill: $text-primary;
        height: 14px;
        width: 14px;
    }
}

.iconContainer {
    display: flex;
}
