.sessionToken {
    font-size: 12px;
    display: flex;
    align-items: center;
    max-width: 378px;
    min-width: 0;
    gap: var(--size-xSmall);
    color: var(--color-gray-500);
    flex-shrink: 0;

    > p {
        margin: 0;
        white-space: nowrap;
        line-height: normal;
    }

    a {
        color: var(--text-primary);
    }

    svg {
        flex-shrink: 0;
        fill: var(--color-gray-500);
        height: 16px;
        width: 16px;
    }
}

.iconContainer {
    display: flex;
}
