.dropdownName {
    font-weight: 400;
    font-size: 15px;
}

.dropdownEmail {
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 10px;
}

.dropdownInner {
    background-color: white;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    margin-right: 30px;
    margin-top: -12px;
    box-shadow: 2px 2px 8px #e4e4e4;
    color: black;
}

.dropdownLogout {
    border-top: 1px solid #eaeaea;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: red;
}

.dropdownLogoutText {
    margin-left: 10px;
}

.dropdownMenu {
    box-shadow: none;
    min-width: 200px;
}

.dropdownHandler {
    cursor: pointer;
    min-width: 200px;
    margin-right: 30px;
    height: 40px;
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
}
