.dropdownName {
    font-weight: 400;
    font-size: 15px;
}

.dropdownEmail {
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 10px;
}

.selectedOrgItem {
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
    font-size: 16px;
    padding-left: 15px;
    cursor: pointer;
    color: var(--color-purple);
}

.orgItem {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 10px 10px 6px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
}

.workspaceIcon {
    height: 26px;
    width: 26px;
    min-width: 26px;
    min-height: 26px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-family: var(--header-font-family);
    font-size: 14px;
    color: var(--color-primary-background);
    line-height: initial;
}

.workspaceIconMiniWrapper {
    padding: 6px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    cursor: pointer;
}

.orgItem:hover {
    background-color: var(--color-gray-200);
}

.orgText {
    color: var(--text-primary);
    margin-right: 20px;
    margin-left: 10px;
}

.newOrgDiv {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    color: var(--color-purple);
    font-size: 16px;
    cursor: pointer;
}

.newOrgDiv:hover {
    background-color: var(--color-gray-200);
}

.dropdownInner {
    background-color: var(--color-primary-background);
    border-radius: 5px;
    border: 1px solid #eaeaea;
    min-width: 220px;
    margin-top: 9px;
    box-shadow: 2px 2px 8px #e4e4e4;
    color: var(--text-primary);
}

.dropdownLogout {
    border-top: 1px solid #eaeaea;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: var(--color-red);
}

.dropdownLogoutText {
    margin-left: 10px;
}

.dropdownMenu {
    box-shadow: none;
    min-width: 200px;
}

.icon {
    transition: 0.4s;
    margin-left: auto;
    margin-right: 5px;
    height: 16px;
    width: 16px;
    color: var(--color-purple);
}

.plusIcon {
    margin-right: 5px;
    margin-bottom: 2px;
    margin-left: auto;
    height: 15px;
    width: 15px;
    color: var(--color-purple);
    fill: var(--color-purple);
}

.orgNameText {
    width: 100%;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    margin-left: 10px !important;
}

.orgNameWrapper {
    display: flex;
    width: 100%;
}

.dropdownHandler {
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-xSmall) var(--size-small);
    border-radius: 8px;
    color: var(--text-primary);
    font-size: 16px;
}
