.errorsBody {
	column-gap: 30px;
	display: grid;
	grid-template-areas: '. Left-Panel Center-Panel Right-Panel .';
	grid-template-columns: auto 300px minmax(200px, 700px) 300px auto;
	height: 100%;
	padding-top: 100px;
	width: 100%;
}

.leftPanel {
	grid-area: Left-Panel;
	overflow-y: auto;
}

.centerPanel {
	grid-area: Center-Panel;
}

.rightPanel {
	grid-area: Right-Panel;
	overflow-y: auto;
}

.advancedText {
	margin-right: 8px;
}

.errorText {
	font-size: medium;
}

.errorsSection {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}
