.errorsBody {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: auto 300px minmax(200px, 700px) 300px auto;
    gap: 0px 0px;
    grid-template-areas: '. Left-Panel Center-Panel Right-Panel .';
    column-gap: 30px;
}

.leftPanel {
    grid-area: Left-Panel;
    overflow-y: auto;
}
.centerPanel {
    grid-area: Center-Panel;
}
.rightPanel {
    grid-area: Right-Panel;
    overflow-y: auto;
}

.advancedText {
    margin-right: 8px;
}

.errorText {
    font-size: medium;
}
