@import 'src/static/shared.scss';

.secondaryButton {
    border: 1px solid var(--color-gray-300);
    background-color: var(--color-primary-background);
    color: $text-primary;
    padding: $size-xSmall $size-xLarge;
    font-size: 14px;
    border-radius: $button-border-radius;
    outline: none;
    font-weight: 300;
    cursor: pointer;
    line-height: initial;

    &:hover {
        background-color: var(--color-purple-200);
    }

    &:active {
        background-color: var(--color-purple-300);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--color-gray-300);
    }
}
