.loadingWrapper {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.loginTitle {
	font-size: 23px;
}

.loginSubTitle {
	color: var(--color-gray-500) !important;
	font-size: 14px;
	margin-bottom: 20px !important;
}

.loginForm {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loginTitleWrapper {
	width: 100%;
}

.otherSigninText {
	align-items: center;
	color: var(--color-gray-500);
	display: flex;
	justify-content: center;
	margin: 10px;
}

.loginStateSwitcher {
	color: var(--color-purple);
	cursor: pointer;
}

.googleLogoStyle {
	height: 14px;
	width: 14px;
}

.googleText {
	margin-left: 10px;
}

.signinButton {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 12px;
	width: 100%;
}

.googleButton {
	align-items: center;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	margin-top: 6px;
	width: 100%;
}

.inputContainer {
	border-bottom: 1px solid #dcdbdd;
	display: flex;
	flex-direction: column;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
	row-gap: var(--size-medium);
	width: 100%;
}

.resetPasswordText {
	align-self: flex-start;
	font-size: 13px;
	padding: 0;
	text-align: left;
}
