.loadingWrapper {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.loginTitle {
	font-size: 23px;
}

.loginSubTitle {
	color: var(--color-gray-500) !important;
	font-size: 14px;
	margin-bottom: 20px !important;
}

.loginForm {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loginTitleWrapper {
	width: 100%;
}

.otherSigninText {
	align-items: center;
	color: var(--color-gray-500);
	display: flex;
	justify-content: center;
	margin: 10px;
}

.loginStateSwitcher {
	color: var(--color-purple);
	cursor: pointer;
}

.googleLogoStyle {
	height: 20px;
	width: 20px;
}

.googleText {
	margin-left: 10px;
}

.googleButton {
	align-items: center;
	color: var(--color-text-primary);
	display: flex;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--size-xSmall);
	row-gap: var(--size-medium);
	width: 100%;
}

.resetPasswordText {
	align-self: flex-start;
	margin: 0.5em 0;
	padding: 0;
	text-align: left;
}
