receivers:
    otlp:
        protocols:
            grpc:
                endpoint: '0.0.0.0:4317'
            http:
                endpoint: '0.0.0.0:4318'
    fluentforward:
        endpoint: '0.0.0.0:24224'
    tcplog:
        listen_address: '0.0.0.0:34302'
exporters:
    logging:
        sampling_initial: 60
        sampling_thereafter: 1000
    otlphttp:
        endpoint: 'https://host.docker.internal:8082/otel'
        tls:
            insecure_skip_verify: true
        timeout: 30s
        read_buffer_size: 32768
        write_buffer_size: 32768
        max_conns_per_host: 1000
        sending_queue:
            num_consumers: 100
            queue_size: 10000
        retry_on_failure:
            enabled: true
            initial_interval: 1s
            max_interval: 30s
            max_elapsed_time: 300s
processors:
    batch:
        timeout: 1s
        send_batch_size: 1000
        send_batch_max_size: 10000
service:
    telemetry:
        logs:
            level: 'debug'
        metrics:
            address: '0.0.0.0:8888'
            level: detailed
    extensions: [health_check]
    pipelines:
        traces:
            receivers: [otlp]
            processors: [batch]
            exporters: [otlphttp, logging]
        metrics:
            receivers: [otlp]
            processors: [batch]
            exporters: [otlphttp, logging]
        logs:
            receivers: [otlp, fluentforward, tcplog]
            processors: [batch]
            exporters: [otlphttp, logging]
extensions:
    health_check:
        endpoint: '0.0.0.0:4319'
        path: '/health/status'
