x-backend-env: &backend-env
    environment:
        - ADMIN_PASSWORD
        - CLEARBIT_API_KEY
        - CLICKHOUSE_ADDRESS
        - CLICKHOUSE_DATABASE
        - CLICKHOUSE_PASSWORD
        - CLICKHOUSE_USERNAME
        - CLICKUP_CLIENT_ID
        - CLICKUP_CLIENT_SECRET
        - DEMO_PROJECT_ID
        - DISCORD_BOT_SECRET
        - DISCORD_CLIENT_ID
        - DISCORD_CLIENT_SECRET
        - DOPPLER_CONFIG
        - ENABLE_OBJECT_STORAGE
        - ENVIRONMENT
        - FIREBASE_SECRET
        - FRONT_CLIENT_ID
        - FRONT_CLIENT_SECRET
        - GITHUB_APP_ID
        - GITHUB_CLIENT_ID
        - GITHUB_CLIENT_SECRET
        - GITHUB_PRIVATE_KEY
        - GITLAB_CLIENT_ID
        - GITLAB_CLIENT_SECRET
        - GOMEMLIMIT
        - HEIGHT_CLIENT_ID
        - HEIGHT_CLIENT_SECRET
        - IN_DOCKER
        - IN_DOCKER_GO
        - JIRA_CLIENT_ID
        - JIRA_CLIENT_SECRET
        - KAFKA_SERVERS
        - KAFKA_TOPIC
        - LICENSE_KEY
        - LINEAR_CLIENT_ID
        - LINEAR_CLIENT_SECRET
        - MICROSOFT_TEAMS_BOT_ID
        - MICROSOFT_TEAMS_BOT_PASSWORD
        - OBJECT_STORAGE_FS
        - ON_PREM
        - OTLP_ENDPOINT
        - OTLP_DOGFOOD_ENDPOINT
        - PSQL_DB
        - PSQL_DOCKER_HOST
        - PSQL_HOST
        - PSQL_PASSWORD
        - PSQL_PORT
        - PSQL_USER
        - REACT_APP_AUTH_MODE
        - REACT_APP_FRONTEND_URI
        - REACT_APP_PRIVATE_GRAPH_URI
        - REDIS_ADDRESS
        - REDIS_EVENTS_STAGING_ENDPOINT
        - SESSION_FILE_PATH_PREFIX
        - SLACK_CLIENT_ID
        - SLACK_CLIENT_SECRET
        - SLACK_SIGNING_SECRET
        - SSL
        - TZ
        - VERCEL_CLIENT_ID
        - VERCEL_CLIENT_SECRET

# Highlight.io services for the hobby deployment.
services:
    backend:
        container_name: backend
        image: ghcr.io/highlight/highlight-backend:latest
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://localhost:8082/health']
            start_period: 60s
            interval: 5s
            timeout: 5s
            retries: 5
        restart: on-failure
        ports:
            - '0.0.0.0:8082:8082'
        volumes:
            - highlight-data:/highlight-data
            - ../backend/localhostssl/server.key:/build/localhostssl/server.key
            - ../backend/localhostssl/server.crt:/build/localhostssl/server.crt
        <<: *backend-env

    frontend:
        container_name: frontend
        image: ghcr.io/highlight/highlight-frontend:latest
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://localhost:3000/']
            start_period: 5s
            interval: 5s
            timeout: 5s
            retries: 5
        restart: on-failure
        volumes:
            - ../backend/localhostssl/server.key:/etc/ssl/private/ssl-cert.key
            - ../backend/localhostssl/server.pem:/etc/ssl/certs/ssl-cert.pem
        ports:
            - '0.0.0.0:3000:3000'
            - '0.0.0.0:6006:6006'
            - '0.0.0.0:8080:8080'
        environment:
            - REACT_APP_PRIVATE_GRAPH_URI
            - REACT_APP_PUBLIC_GRAPH_URI
            - REACT_APP_FRONTEND_URI
            - SSL

volumes:
    highlight-data:
