x-logging: &highlight-logging
    driver: fluentd
    options:
        fluentd-address: '127.0.0.1:24224'
        fluentd-async: 'true'
        fluentd-sub-second-precision: 'true'
        tag: 'highlight.project_id=1'

services:
    zookeeper:
        logging: *highlight-logging
        image: confluentinc/cp-zookeeper:7.3.0
        container_name: zookeeper
        volumes:
            - zoo-data:/var/lib/zookeeper/data
            - zoo-log:/var/lib/zookeeper/log
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000

    kafka:
        logging: *highlight-logging
        image: confluentinc/cp-kafka:7.3.0
        container_name: kafka
        volumes:
            - kafka-data:/var/lib/kafka/data
        ports:
            - 9092:9092
        depends_on:
            - zookeeper
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
            KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_CONSUMER_MAX_PARTITION_FETCH_BYTES: 536870912
            KAFKA_MESSAGE_MAX_BYTES: 536870912
            KAFKA_PRODUCER_MAX_REQUEST_SIZE: 536870912
            KAFKA_REPLICA_FETCH_MAX_BYTES: 536870912

    redis:
        logging: *highlight-logging
        container_name: redis
        image: redis
        ports:
            - 6379:6379
        volumes:
            - redis-data:/data
        command:
            - redis-server
            - --save 60 1
            - --loglevel warning

    postgres:
        logging: *highlight-logging
        container_name: postgres
        # a postgres image with pgvector installed
        image: ankane/pgvector
        ports:
            - 5432:5432
        environment:
            POSTGRES_HOST_AUTH_METHOD: trust
        volumes:
            - postgres-data:/var/lib/postgresql/data
            - ../scripts/migrations/init.sql:/root/init.sql
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres']
            interval: 5s
            timeout: 5s
            retries: 5

    clickhouse:
        logging: *highlight-logging
        container_name: clickhouse
        image: clickhouse/clickhouse-server:23.5.1.3174
        ports:
            - 8123:8123
            - 9000:9000
        volumes:
            - clickhouse-data:/var/lib/clickhouse
            - clickhouse-logs:/var/log/clickhouse-server

    influxdb:
        logging: *highlight-logging
        container_name: influxdb
        image: influxdb:latest
        ports:
            - 8086:8086
        volumes:
            - influxdb-data:/var/lib/influxdb
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://localhost:8086/ping']
            start_period: 180s
            interval: 5s
            timeout: 5s
            retries: 5

    collector:
        logging: *highlight-logging
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - 4317:4317
            - 4318:4318
            - 4319:4319
            - 8888:8888
            - 24224:24224
            - 34302:34302
        container_name: collector
        image: otel/opentelemetry-collector-contrib
        command:
            - '--config=/etc/otel-collector-config.yaml'
        volumes:
            - ./otel-collector.yaml:/etc/otel-collector-config.yaml

volumes:
    postgres-data:
    clickhouse-data:
    clickhouse-logs:
    redis-data:
    influxdb-data:
    kafka-data:
    zoo-log:
    zoo-data:
