receivers:
    otlp:
        protocols:
            grpc:
                endpoint: '0.0.0.0:4317'
            http:
                endpoint: '0.0.0.0:4318'
    fluentforward:
        endpoint: '0.0.0.0:24224'
    tcplog:
        listen_address: '0.0.0.0:34302'
exporters:
    logging:
        sampling_initial: 10
        sampling_thereafter: 1000
    otlphttp:
        endpoint: 'https://host.docker.internal:8082/otel'
        compression: gzip
        tls:
            insecure_skip_verify: true
        timeout: 30s
        sending_queue:
            num_consumers: 64
            queue_size: 8192
        retry_on_failure:
            initial_interval: 0.1s
            max_interval: 1s
            max_elapsed_time: 300s
processors:
    memory_limiter:
        check_interval: 1s
        limit_percentage: 75
        spike_limit_percentage: 15
    batch:
        send_batch_size: 128
        send_batch_max_size: 128
        timeout: 1s
service:
    telemetry:
        logs:
            level: 'debug'
        metrics:
            address: '0.0.0.0:8888'
            level: detailed
    extensions: [health_check, memory_ballast]
    pipelines:
        traces:
            receivers: [otlp]
            processors: [memory_limiter, batch]
            exporters: [otlphttp, logging]
        metrics:
            receivers: [otlp]
            processors: [memory_limiter, batch]
            exporters: [otlphttp, logging]
        logs:
            receivers: [otlp, fluentforward, tcplog]
            processors: [memory_limiter, batch]
            exporters: [otlphttp, logging]
extensions:
    health_check:
        endpoint: '0.0.0.0:4319'
        path: '/health/status'
    memory_ballast:
        size_in_percentage: 10
