.key {
	color: var(--color-gray-500) !important;
	display: block;
	font-size: 12px !important;
	font-style: normal;
	line-height: initial;
	margin-bottom: var(--size-xxSmall);
	overflow-wrap: anywhere;
	text-transform: capitalize;
}

.table {
	column-gap: var(--size-small);
	display: grid;
	font-family: var(--header-font-family);
	grid-template-columns: 80px minmax(0, 1fr);
	row-gap: var(--size-xSmall);

	p {
		margin: 0 !important;
	}
}

.value {
	align-items: center;
	color: var(--text-primary) !important;
	display: inline-block;
	font-size: 12px !important;
	font-style: normal;
	line-height: initial;
	overflow-wrap: anywhere;
	word-break: break-word;
}

.infoTooltip {
	height: var(--size-medium);
	vertical-align: bottom;
	width: var(--size-medium);
}
