.sessionLengthInput {
	height: 100%;
	padding: 12px;
	width: 300px;
}

.sessionLengthInputLabel {
	color: var(--text-primary);
	font-size: 12px;
}

.slider {
	:global(.ant-slider-mark-text) {
		font-size: 12px !important;
	}
}

.headerContainer {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: var(--size-xxSmall);

	button {
		color: var(--color-purple);
		font-size: 12px;
		height: 13px !important;
		padding: 0;
	}
}

.advancedLengthInput {
	display: flex;
	justify-content: space-between;
	margin-top: var(--size-xSmall);

	.group {
		display: flex;
		height: 43px;

		input {
			border: 1px solid var(--color-gray-300);
			width: 100px;
		}
	}
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
}

.setLengthButton {
	font-size: 12px;
	height: fit-content;
	width: fit-content;
}
