.consoleButton {
	height: 35px;
	width: max-content;
	padding: 10px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #5629c6;
	border-radius: 8px;
	color: white;
	cursor: pointer;
}

.logStreamWrapper {
	background-color: white;
	word-wrap: break-word;
	padding: 14px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 200px;
}

.consolePageWrapper {
	background-color: #f5f5f5;
	width: 100%;
}

.consoleMessage {
	display: inline-block;
}

.directionIcon {
	width: 16px;
	height: 16px;
	margin-left: 5px;
	fill: white;
}

.consoleTopBar {
	padding: 10px;
}
