.bar {
	align-items: center;
	border-radius: 0.2em;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	overflow: hidden;
	position: absolute;
}

.rectangleContainer {
	border-radius: 0.2em;
	overflow: hidden;
	width: 100%;
}

.barRectangle {
	cursor: pointer;
}
