.sourcemapInfo {
	border-bottom: 1px solid var(--color-gray-300);
	margin-bottom: var(--size-xLarge);
	padding-bottom: var(--size-xLarge);
}

.list {
	margin-top: var(--size-xxSmall);

	:global(.ant-table-cell) {
		cursor: default;
	}
}

.listHeader {
	margin-bottom: var(--size-medium);

	& h3 {
		margin-bottom: 0 !important;
	}

	& .versionSelect {
		margin-bottom: var(--size-medium);
		width: 100%;
	}
}

.searchField {
	width: 150px;
}

.searchInput {
	padding-right: var(--size-xl);
	width: 100%;
}

.clearSearchButton {
	position: absolute;
	right: var(--size-xxSmall);
	top: 50%;
	transform: translateY(-50%);
}

.listRow {
	display: block;
	width: 100%;
}

.select {
	margin-bottom: var(--size-medium);
	width: 100%;
}
