.sourcemapInfo {
	border-bottom: 1px solid var(--color-gray-300);
	margin-bottom: var(--size-xLarge);
	padding-bottom: var(--size-xLarge);
}

.list {
	margin-top: var(--size-xxSmall);

	:global(.ant-table-cell) {
		cursor: default;
	}
}

.listHeader {
	display: flex;
	flex-direction: column;
	gap: var(--size-small);
	margin-bottom: var(--size-medium);

	& h3 {
		margin-bottom: 0 !important;
	}

	& .versionSelect {
		width: 100%;
	}
}

.searchInput {
	background: var(--color-primary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	color: var(--color-gray-700);
	font-size: 13px;
	height: 32px;
	padding: 0 var(--size-small);
	width: 100%;
}

.searchInput:focus {
	border-color: var(--color-purple-400);
	outline: none;
}

.searchInput:disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.listRow {
	display: block;
	width: 100%;
}

.select {
	margin-bottom: var(--size-medium);
	width: 100%;
}
