.sourcemapInfo {
	border-bottom: 1px solid var(--color-gray-300);
	margin-bottom: var(--size-xLarge);
	padding-bottom: var(--size-xLarge);
}

.list {
	margin-top: var(--size-xxSmall);

	:global(.ant-table-cell) {
		cursor: default;
	}
}

.listHeader {
	margin-bottom: var(--size-medium);

	h3 {
		margin-bottom: 0 !important;
	}

	:global(.ant-input-affix-wrapper) {
		width: 150px;
	}

	.versionSelect {
		margin-bottom: var(--size-medium);
		width: 100%;
	}
}

.listRow {
	display: block;
	width: 100%;
}

.select {
	margin-bottom: var(--size-medium);
	width: 100%;
}
