.h2 {
    display: inline;
}

.icon {
    height: var(--size-large);
    width: var(--size-large);
    padding-top: var(--size-xxSmall);
}

.breadcrumb {
    align-items: center;
    display: flex;

    :global(.ant-breadcrumb-separator) {
        color: var(--color-gray-400);
        margin-left: var(--size-xxSmall) !important;
        margin-right: var(--size-xxSmall) !important;
    }

    > span {
        align-items: center;
        display: flex;
    }
}

.disabled {
    pointer-events: none;
}
