.activityIcon {
	animation: pulse-black 2s infinite;
	background: var(--color-gray-400);
	border-radius: 50%;
	box-shadow: 0 0 0 0 var(--color-purple);
	height: 7px;
	transform: scale(1);
	width: 7px;
}

.active {
	background: var(--color-purple);
}

@keyframes pulse-black {
	0% {
		box-shadow: 0 0 0 0 rgba(86, 41, 198, 0.7);
		transform: scale(0.95);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(86, 41, 198, 0);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(86, 41, 198, 0);
		transform: scale(0.95);
	}
}
