.optionCheckbox {
	margin-right: 12px;
}

.highlighterStyles {
	background-color: transparent;
	font-weight: 600 !important;
	padding: 0;
}

.shadowParent {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.shadowContainer {
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99999999999999999 !important;
}

.shadowRight {
	background-attachment: scroll;
	background-image: linear-gradient(to left,
			rgba(255, 255, 255, 0.6),
			rgba(255, 255, 255, 0));
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 20px 100%;
	transition: background-image 0.2s ease-in-out;
}

.shadowLeft {
	background-attachment: scroll;
	background-image: linear-gradient(to right,
			rgba(255, 255, 255, 0.6),
			rgba(255, 255, 255, 0));
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 20px 100%;
	transition: background-image 0.2s ease-in-out;
}

.shadowBoth {
	background-attachment: scroll, scroll;
	background-image: linear-gradient(to right,
			rgba(255, 255, 255, 0.6),
			rgba(255, 255, 255, 0)),
		linear-gradient(to left,
			rgba(255, 255, 255, 0.6),
			rgba(255, 255, 255, 0));
	background-position: left center, right center;
	background-repeat: no-repeat;
	background-size: 20px 100%, 20px 100%;
	transition: background-image 0.2s ease-in-out;
}

.optionLabelName {
	overflow-x: scroll;
	scrollbar-width: none;
	font-weight: 500;

	&::-webkit-scrollbar {
		display: none;
	}
}

.nameLabel {
	color: var(--text-primary) !important;
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.optionTooltip {
	color: var(--text-primary) !important;
	margin-left: 4px;
}

.builderContainer {
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	width: 100%;
}

.builderContainer>div {
	border-bottom: 1px solid var(--color-gray-300);
	gap: var(--size-xSmall);
	line-height: 0;
	padding: var(--size-xSmall);
}

.builderContainer>div:last-child {
	border-bottom: 0;
}

.rulesContainer {
	align-items: center;
	column-gap: var(--size-xxSmall);
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	row-gap: var(--size-xSmall);
}

.separator {
	border: 0;
	font-size: 12px;
	justify-content: center;
	padding: 3px;
	width: 32px;

	&[disabled] {
		background: none;
		color: var(--color-gray-800) !important;
	}

	&:hover {
		background: none !important;

		&:not([disabled]) {
			background-color: var(--color-purple-100) !important;
		}
	}
}

span:first-child {
	& .ruleItem {
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
	}
}

span:last-child {
	& .ruleItem {
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
	}
}

.invalid:not([aria-expanded=true]) {
	background-color: var(--color-red-400) !important;

	&:hover {
		background-color: var(--color-red-600) !important;
	}
}

.timeRangeContainer .ruleItem span {
	max-width: 100%;
}

.removeRule {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.syncButton,
.syncButton[disabled],
.syncButton:active,
.syncButton:focus,
.syncButton:hover {
	background-color: var(--color-green-600) !important;
	border-radius: 3px;
	color: var(--color-white) !important;
	padding: 6px;
}

.syncButton:hover {
	opacity: 0.6;
}

.syncButton[disabled] {
	opacity: 0.2;
}

.addFilter {
	border: 1px dashed var(--color-purple-500);
	border-radius: 3px;
	color: var(--color-purple-500) !important;
	font-size: 12px;
	height: 100%;
	margin-top: var(--size-xSmall);
	padding: 0 4px;
}

.menuListContainer {
	overflow-y: auto;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.popoverContainer {
	width: fit-content;

	:global(.ant-popover-inner-content) {
		padding: 0;
	}
}

.contentContainer {
	display: flex;
	flex-direction: column;
	max-width: 50vw;
	min-width: 150px;
	padding-bottom: 0;
	row-gap: var(--size-medium);

	& .label {
		display: flex;
		flex-direction: column;
		font-size: 10px;
		row-gap: var(--size-xxSmall);
	}
}

.controlBar {
	flex-shrink: 0;
	height: 44px;
}

.menuList {
	overflow: hidden;
	padding-top: 0;
	z-index: 5;
}