.steps {
    column-gap: var(--size-large);
    padding-top: 0;

    :global(.ant-steps-item-icon) {
        margin-right: 0 !important;
        position: relative;
        top: 1px;
        width: 3ch !important;
    }

    :global(.ant-steps-item-container) {
        margin-left: 0 !important;
        padding-bottom: 0 !important;
        width: 100%;
    }

    :global(.ant-steps-item::after) {
        margin-left: 0 !important;
        opacity: 0 !important;
    }

    :global(.ant-steps-item::before) {
        border-radius: var(--size-xxLarge);
        bottom: -4px;
        height: var(--size-xxSmall) !important;
        left: 0 !important;
        z-index: 9;
    }

    :global(.ant-steps-item) {
        font-weight: 500 !important;
        padding-left: 0 !important;

        :global(.ant-steps-item-title),
        :global(.ant-steps-item-icon),
        :global(.ant-steps-icon) {
            color: var(--color-gray-400) !important;
            font-size: 12px !important;
        }

        :global(.ant-steps-item-icon) {
            background: transparent !important;
            border: 0 !important;
        }
    }

    :global(.ant-steps-item-wait) {
        :global(.ant-steps-icon),
        :global(.ant-steps-item-title) {
            color: var(--color-gray-400) !important;
        }

        &:global(.ant-steps-item-wait::before) {
            background-color: var(--color-gray-400) !important;
        }
    }

    :global(.ant-steps-item-finish) {
        :global(.ant-steps-icon),
        :global(.ant-steps-item-title) {
            color: var(--color-green-500) !important;
        }

        &:global(.ant-steps-item-finish::before),
        :global(.ant-steps-item-container::before) {
            background-color: var(--color-green-500) !important;
        }
    }

    :global(.ant-steps-item-active) {
        :global(.ant-steps-icon),
        :global(.ant-steps-item-title) {
            color: var(--color-purple) !important;
        }
    }
    :global(.ant-steps-item-container::before) {
        background: var(--color-gray-400);
        border-radius: var(--size-xxLarge);
        bottom: -4px;
        content: '';
        display: inline-block;
        height: var(--size-xxSmall) !important;
        left: 0 !important;
        position: absolute;
        transition: width 0.3s, left 0.3s;
        width: 100%;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: var(--size-large);

    > button {
        margin: 0 !important;
        padding-bottom: var(--size-xxSmall);
        padding-top: var(--size-xxSmall);
    }

    .nextButton {
        margin-left: auto !important;
    }
}

.main {
    padding-top: var(--size-large);
}
