.radioGroupWrapper {
    margin: 0;
    display: flex;
    font-family: var(--header-font-family);
}

.platformOption {
    height: 30px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e4e8eb;
    cursor: pointer;
    transition: 0.2s;
}

.platformOption:hover {
    background-color: var(--color-gray-200);
}

.platformOption:not(:last-child) {
    border-right: none;
}

.platformOption:first-child {
    border-radius: 8px 0 0 8px;
}

.platformOption:last-child {
    border-radius: 0 8px 8px 0;
}
