.tagSelect {
	:global(.ant-select-selection-overflow) {
		row-gap: var(--size-xSmall);
	}
}

.customTag {
	align-items: center;
	background: var(--color-gray-300);
	border-radius: var(--size-large);
	column-gap: var(--size-xxSmall);
	display: flex;
	font-size: 12px;
	margin-right: var(--size-xSmall);
	padding: var(--size-xxSmall) var(--size-small);
}
