.stepDescription {
	color: var(--color-gray-500) !important;
	margin-bottom: 2em !important;
}

.fullBleedAlertSetupStep {
	min-width: fit-content;
	padding: 3%;
}

.alertStepsHeader {
	display: flex;
	flex-direction: row;
}

.cardGrid {
	display: grid;
	gap: var(--size-xLarge);
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	max-height: 55vh;
	overflow-y: auto;
}

.cardContent {
	display: block;
	position: relative;

	.icon {
		align-items: center;
		border-radius: 50%;
		color: var(--text-primary-inverted);
		display: flex;
		flex-shrink: 0;
		height: 1.5em;
		justify-content: center;
		width: 1.5em;

		svg {
			height: 0.8em;
			width: 0.8em;
		}
	}
}

.cardContainer {
	height: 100%;
	&:hover {
		border-color: var(--color-purple-400);
		box-shadow: 0 5px 8px rgba(86, 41, 198, 0.2);
		cursor: pointer;
	}
}

.cardContainerSelected {
	border-color: var(--color-purple);
}

#title {
	align-items: center;
	column-gap: var(--size-small);
	display: flex;
	margin-bottom: var(--size-xxSmall) !important;
}

.description {
	margin-bottom: 0 !important;
	margin-left: calc(1.5em + calc(2 * var(--size-small))) !important;
}

.channelSelect {
	margin-bottom: var(--size-medium);
	width: 100%;

	&:last-of-type {
		margin-bottom: 0;
	}
}
.selectMessage {
	color: var(--color-gray-500);
}

.notFoundMessage {
	padding: var(--size-small) 0;

	&.withSlackButton {
		padding-bottom: 0;
		padding-top: 0;
	}
}

.addContainer {
	color: var(--color-gray-500);
	padding: 0 var(--size-small);
	padding-bottom: var(--size-xxSmall);
}

.integrationAlert {
	.integrationButton {
		margin-top: var(--size-large);
	}
}

.selected {
	font-weight: bolder;
}

.saveButton {
	justify-content: center;
	width: 125px;
}

.actionsContainer {
	column-gap: var(--size-large);
	display: flex;
}

.alertTypeSelected {
	border-color: var(--color-purple) !important;
}

.stepsTitle {
	float: left;
}

.stepsTitleX {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.checkIconContainer {
	--background-size: var(--size-medium);
	--icon-size: var(--size-xSmall);

	align-items: center;
	background: var(--color-purple);
	border-radius: 50%;
	display: flex;
	fill: var(--color-white);
	height: var(--background-size);
	justify-content: center;
	position: absolute;
	right: var(--size-small);
	top: var(--size-small);
	width: var(--background-size);

	svg {
		height: var(--icon-size);
		width: var(--icon-size);
	}
}
