.demoWorkspaceButton {
    border: 0;
    border-radius: var(--border-radius);
    color: var(--color-primary-background);

    &:hover,
    &:active,
    &:focus {
        border: 0;
        color: var(--color-primary-background);
    }
}
