.demoWorkspaceButton {
    background-color: var(--color-green-extra-dark);
    border: 0;
    border-radius: var(--border-radius);

    &:hover,
    &:active,
    &:focus {
        background-color: var(--color-green-dark);
        border: 0;
    }
}
