.playButton {
	fill: var(--text-primary-inverted);
}

.card {
	p,
	h3 {
		margin: 0 !important;
	}

	.avatarContainer {
		position: relative;
		width: 60px;

		.avatar {
			height: var(--size-xLarge);
			position: absolute;
			width: var(--size-xLarge);
		}
	}

	.metadata {
		column-gap: var(--size-medium);
		display: flex;
		margin-bottom: var(--size-medium);

		.textContainer {
			display: flex;
			flex-direction: column;
			row-gap: var(--size-xxSmall);
		}
	}

	.actionsContainer {
		column-gap: var(--size-medium);
		display: flex;
		flex-direction: row;
	}

	.button {
		border-radius: var(--size-xSmall);
		height: 48px;
	}
}
