@import 'src/static/shared.scss';

.sessionLevelBarContainer {
    background: $primary-background-color;
    padding: 6px $size-xLarge;
    border: 1px solid $border-light-gray;
    display: flex;
    gap: $size-xSmall;
    align-items: center;
    justify-content: space-between;
    border-radius: $button-border-radius;
    flex-grow: 1;
    height: 42px;
    max-height: 42px;
    overflow-x: auto;
}

.skeletonContainer {
    width: 100%;
}
