.sessionLevelBarContainer {
    color: var(--color-gray-500);
    margin: 0;
    background: var(--color-primary-background);
    border-bottom: 1px solid var(--color-gray-300);
    display: flex;
    align-items: center;
    height: 36px;
    overflow: hidden;

    & > * {
        padding: var(--size-xSmall) var(--size-medium);
        border-right: 1px solid var(--color-gray-300);
    }

    & > span {
        height: 100%;
        display: flex;
        column-gap: var(--size-medium);
        align-items: center;
    }

    & > *:last-child {
        border-right: none;
    }
}

.skeletonContainer {
    width: 100%;
}

.shareButton {
    font-size: 12px;
    padding: 0 var(--size-large);
    height: var(--size-large);
    border-radius: var(--size-xxSmall);
}
