.sessionLevelBarContainer {
    align-items: center;
    background: var(--color-primary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--border-radius);
    color: var(--color-gray-500);
    display: flex;
    flex-grow: 1;
    height: 36px;
    margin: 0;
    overflow: hidden;

    > * {
        border-right: 1px solid var(--color-gray-300);
        padding: var(--size-xSmall) var(--size-medium);
    }

    > span {
        align-items: center;
        column-gap: var(--size-xSmall);
        display: flex;
        height: 100%;
    }

    > *:last-child {
        border-right: 0;
    }
}

.endContainer {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.skeletonContainer {
    width: 100%;
}

.shareButton {
    border-radius: var(--size-xxSmall);
    font-size: 12px;
    height: 34px;
    padding: 0 var(--size-large);
}

.container {
    column-gap: var(--size-medium);
    display: flex;
}
