@import 'src/static/shared.scss';

.sessionLevelBarContainer {
    background: $primary-background-color;
    padding: $size-xSmall $size-xLarge;
    border-bottom: 1px solid $border-light-gray;
    display: flex;
    flex-wrap: wrap;
    gap: $size-xSmall;
    align-items: center;
    justify-content: space-between;
    border-radius: $button-border-radius;
    flex-grow: 1;
    min-height: 35px;
}

.skeletonContainer {
    width: 100%;
}
