@import 'src/static/shared.scss';

.sessionLevelBarContainer {
    background: $primary-background-color;
    padding: var(--size-xSmall) var(--size-small);
    border: 1px solid $border-light-gray;
    display: flex;
    gap: $size-xSmall;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--size-xSmall);
    flex-grow: 1;
    overflow-x: auto;
    height: 36px;
    overflow-y: hidden;
}

.skeletonContainer {
    width: 100%;
}
