.metric {
    align-items: center;
    border-bottom: 1px solid var(--color-gray-300);
    border-left: var(--size-xxSmall) solid transparent;
    display: grid;
    grid-template-columns: 3fr auto;
    padding: var(--size-medium) var(--size-medium) var(--size-small);

    .name {
        font-size: 14px !important;
        font-weight: 500 !important;
        margin-bottom: 0 !important;
    }

    .value {
        font-weight: 500 !important;
        margin: 0 !important;
    }

    .units {
        color: var(--color-gray-500) !important;
        font-weight: normal !important;
        margin: 0 !important;
    }

    &.goodScore {
        border-left-color: var(--color-green-400);
    }
    &.needsImprovementScore {
        border-left-color: var(--color-yellow-400);
    }
    &.poorScore {
        border-left-color: var(--color-red-400);
    }
}
