@import 'src/static/shared.scss';

.button {
    border: none;
    background: none;
    cursor: pointer;
    width: 145px;
    padding: var(--size-xSmall) var(--size-medium);
}

.eventTypesContainer {
    position: relative;
    height: 14px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.eventType {
    height: 14px;
    width: 14px;
    margin-left: calc(var(--size-xSmall) * -1);
    border: 0.5px solid var(--color-gray-300);
    border-radius: 50%;
    animation: grow 0.5s forwards;
}

.label {
    margin-left: var(--size-xxSmall);
    color: var(--color-gray-500);
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.checkboxGroup {
    width: 100%;
}

.checkboxesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-xSmall);
}

.circle {
    height: var(--size-small);
    width: var(--size-small);
    border-radius: 50%;
    border: 0.5px solid var(--color-gray-300);
}

.checkBoxLabel {
    display: inline-flex;
    align-items: center;
    gap: var(--size-xSmall);
    width: 90px;
    justify-content: space-between;
}

.contentWrapper {
    max-width: 300px;
}
