.button {
	background: none;
	border: 0;
	cursor: pointer;
	font-size: 12px;
	height: 22px;
	padding: var(--size-xSmall) var(--size-medium);
	width: 100px;
}

.eventTypesContainer {
	align-items: center;
	display: flex;
	height: 14px;
	margin: 0 auto;
	position: relative;
	width: fit-content;
}

.eventType {
	animation: grow 0.5s forwards;
	border: 0.5px solid var(--color-gray-300);
	border-radius: 50%;
	height: 14px;
	margin-left: calc(var(--size-xSmall) * -1);
	width: 14px;
}

.label {
	color: var(--color-gray-500);
	margin-left: var(--size-xxSmall);
}

@keyframes grow {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

.checkboxGroup {
	width: 100%;
}

.checkboxesContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.circle {
	border: 0.5px solid var(--color-gray-300);
	border-radius: 50%;
	height: var(--size-small);
	width: var(--size-small);
}

.checkBoxLabel {
	align-items: center;
	display: inline-flex;
	gap: var(--size-xSmall);
}

.contentWrapper {
	max-width: 355px;
	padding-bottom: var(--size-small);

	p {
		margin-top: 0 !important;
	}
}
