/* stylelint-disable */
.container {
    font-family: var(--header-font-family);
}

.input {
    background-color: #202634;
    border: 2px solid #181a1f;
    border-radius: 4px;
    box-sizing: border-box;
    caret-color: var(--color-purple);
    color: #d7dae0;
    font-size: 14px;
    margin: var(--size-small);
    outline: none;
    padding: 6px;
    width: stretch;
}

.input-focused {
    background-color: var(--text-primary);
    border-color: var(--color-red);
}

.suggestion {
    background-color: #2c313a;
    border-left: 3px solid transparent;

    color: #9da5b4;
    cursor: pointer;
    padding: 14px 12px;

    b {
        color: var(--color-purple-light);
    }
}

.suggestionsContainerOpen {
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
    max-height: 400px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.suggestionHighlighted {
    background: #3a3f4b;
    border-left: 3px solid var(--color-purple);
    color: var(--color-primary-background);
}

.modal {
    background: rgb(48, 51, 56);
    border: 0;
    border-radius: 4px;
    bottom: auto;
    box-shadow: var(--box-shadow);
    left: 50%;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: auto;
    top: 25%;
    // margin-right: -50%;
    transform: translate(-50%, 0);
    width: 605px;
}
