.container {
    font-family: var(--font-family);
}

.input {
    font-size: 14px;
    border-radius: 4px;
    border: 2px solid #181a1f;
    width: 590px;
    padding: 6px;
    outline: none;
    background-color: #202634;
    color: #d7dae0;
    caret-color: var(--color-purple);
}

.input-focused {
    border-color: red;
    background-color: black;
}

.suggestion {
    & b {
        color: var(--color-purple-light);
    }

    color: #9da5b4;
    border: 1px solid #181a1f;
    border-top: 0;
    background-color: #2c313a;
    padding: 14px 12px;
    cursor: pointer;
    border-left: 3px solid transparent;
}

.suggestionsContainerOpen {
    overflow-y: auto;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    max-height: 315px;
    margin-top: 10px;
}

.suggestionHighlighted {
    color: #fff;
    background: #3a3f4b;
    border-left: 3px solid var(--color-purple);
}
