receivers:
    fluentforward:
        endpoint: '0.0.0.0:24224'
    tcplog:
        listen_address: '0.0.0.0:34302'
    syslog:
        udp:
            listen_address: '0.0.0.0:6513'
        tcp:
            listen_address: '0.0.0.0:6514'
        protocol: 'rfc5424'
        enable_octet_counting: true
    otlp:
        protocols:
            grpc:
                endpoint: '0.0.0.0:4317'
                include_metadata: true
            http:
                endpoint: '0.0.0.0:4318'
                max_request_body_size: 0
                include_metadata: true
                cors:
                    allowed_origins:
                        # Can't use '*' with credentials because it fails CORS
                        # validation on the preflight request.
                        - 'https://*'
                        - 'http://*'
                    allowed_headers:
                        - 'X-Highlight-Request'
                        - 'Origin'
                        - 'Content-Type'
                        - 'Accept'
                        - 'Access-Control-Request-Headers'
                        - 'Access-Control-Request-Method'
                        - 'Access-Control-Allow-Origin'
                        - 'Referer'
                        - 'Traceparent'
                        - 'Tracestate'
                    max_age: 7200
exporters:
    otlphttp:
        endpoint: 'http://pub.prod.vpc.highlight.io:8082/otel'
        auth:
            authenticator: headers_setter
        timeout: 30s
        read_buffer_size: 32768
        write_buffer_size: 32768
        max_conns_per_host: 1000
        sending_queue:
            num_consumers: 100
            queue_size: 10000
        retry_on_failure:
            enabled: true
            initial_interval: 1s
            max_interval: 30s
            max_elapsed_time: 300s
processors:
    memory_limiter:
        limit_mib: 14336
        spike_limit_mib: 1024
        check_interval: 0.1s
    batch:
        metadata_keys:
            - x-highlight-project
        metadata_cardinality_limit: 1000
        timeout: 1s
        send_batch_size: 1000
        send_batch_max_size: 10000
service:
    telemetry:
        logs:
            level: 'info'
        metrics:
            address: '0.0.0.0:8888'
            level: detailed
    extensions: [headers_setter, health_check]
    pipelines:
        traces:
            receivers: [otlp]
            processors: [memory_limiter, batch]
            exporters: [otlphttp]
        metrics:
            receivers: [otlp]
            processors: [memory_limiter, batch]
            exporters: [otlphttp]
        logs:
            receivers: [otlp, fluentforward, tcplog, syslog]
            processors: [memory_limiter, batch]
            exporters: [otlphttp]
extensions:
    headers_setter:
        headers:
            - action: upsert
              key: x-highlight-project
              from_context: x-highlight-project
    health_check:
        endpoint: '0.0.0.0:4319'
        path: '/health/status'
