.card {
	align-self: center;
	height: fit-content;
	justify-self: center;
	margin-left: 100px;
	margin-right: 100px;
	position: absolute;
	z-index: 100;
}

.card p {
	margin-bottom: 30px !important;
}
