.arrowWrapper {
	color: var(--color-purple);
	font-family: var(--header-font-family);
	font-size: 16px;
	font-weight: 300;
	margin: 10px;
	transition: 0.3s margin;
}

.overlayWrapper {
	background-color: var(--color-primary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.arrowWrapper:hover {
	margin-left: 20px;
	margin-right: 0;
}

.arrow {
	height: 8px;
	margin-left: 5px;
	width: 20px;
}

.securityNav {
	height: 100%;
	padding: 20px;
	width: 100%;
}

.nav {
	align-items: center;
	display: flex;
	height: 100%;
	padding: 30px;
	width: 100%;
}

.highlightText {
	font-size: 22px;
	font-weight: 400;
	user-select: none;
}

.purpleText {
	color: var(--color-purple);
}

.header {
	display: flex;
	font-size: 35px;
	justify-content: center;
	margin-bottom: 10px !important;
	margin-top: 20px !important;
	max-width: 90vw;
	text-align: center;
}

.logoHeader {
	color: var(--color-gray-500);
	font-family: var(--header-font-family);
	font-weight: 200;
	margin-bottom: 20px !important;
	margin-top: 30px;
	max-width: 90vw;
}

.humans {
	height: 250px;
	margin-bottom: 10px;
	margin-top: 30px;
	max-width: 90vw;
}

.logos {
	height: 80px;
	max-width: 90vw;
}

.modalWrapper {
	background-color: var(--text-primary);
	border-radius: 8px;
	padding: 10px;
	width: 80vw;
}

.subHeader {
	display: flex;
	font-size: 20px;
	font-weight: 200;
	justify-content: center;
	max-width: 500px;
	text-align: center;
}

.navLink {
	color: var(--color-gray-500);
	font-family: var(--header-font-family);
	font-size: 16px;
	margin: 10px;
}

.securityWrapper {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	width: max-content;
}

.securityLink {
	color: var(--color-gray-500);
	font-size: 12px;
	margin: 0 10px 5px;
	text-decoration: underline;
}

.landing {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.landingWrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.contentWrapper {
	align-items: center;
	background-color: var(--color-purple);
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100%;
	overflow-y: auto;
	transform: translateY(0); // scroll optimization
}

.userDropdownContainer {
	position: fixed;
	right: 20px;
	top: 20px;
}
