.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 500px;

    p {
        margin-bottom: var(--size-large) !important;
        margin-top: 0 !important;
    }

    h2 {
        margin-bottom: var(--size-small) !important;
    }

    .dot {
        height: var(--size-small);
        width: var(--size-small);
    }

    .dotContainer {
        align-items: center;
        color: var(--color-gray-500);
        column-gap: var(--size-small);
        display: flex;
    }

    .actionsContainer {
        column-gap: var(--size-small);
        display: flex;
        padding-top: var(--size-large);
    }

    .animation {
        width: 60%;
    }
}
