.card {
	display: flex;
	flex-direction: column;
	max-width: 500px;

	p {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}

	h2 {
		align-items: center;
		column-gap: var(--size-small);
		display: flex;
		margin-bottom: var(--size-small) !important;
	}

	.dot {
		height: var(--size-small);
		width: var(--size-small);
	}

	.actionsContainer {
		column-gap: var(--size-small);
		display: flex;
		padding-top: var(--size-large);
	}

	.startButton {
		margin-top: var(--size-large);
	}
}
