.normalTableSizing {
	--padding-x: var(--size-large);
	--padding-y: var(--size-medium);
}

.smallTableSizing {
	--padding-x: var(--size-medium);
	--padding-y: var(--size-small);
}

.table {
	width: 100%;
}

.table tr {
	border-bottom: 1px solid var(--color-gray-300);
}

.table tr:last-child {
	border-bottom: 0;
}

.interactable tr:hover td {
	background: var(--color-gray-100);
	cursor: pointer;
}
