.modalWrapper {
    width: 60vh;
}

.modalTitle {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px;
}

.modalSubTitle {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
