.modalWrapper {
	width: 60vh;
}

.modalSubTitle {
	color: var(--color-gray-500) !important;
	font-size: 16px;
	line-height: 1.5 !important;
	margin-top: 0 !important;
}

.queryBuilderContainer {
	margin-bottom: var(--size-large) !important;
}
