.scrollContainer {
	max-height: 287px;
	overflow-y: auto;
}

.table {
	width: 100%;
	margin-bottom: -24px;
	max-width: initial !important;
	background: var(--color-primary-background) !important;
	color: var(--text-primary) !important;
	border-collapse: collapse;
}

.row {
	cursor: pointer;
}

.row:hover {
	background: var(--color-gray-300) !important;
}

.row:last-of-type .cell {
	border-bottom: 0 !important;
}

.cell {
	border-bottom: 1px solid var(--color-gray-300) !important;
	padding: 12px 0 !important;
}

.cell:first-of-type {
	padding-left: var(--size-large) !important;
}

.cell:last-of-type {
	padding-right: var(--size-large) !important;
}

.loadingContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--size-xxLarge);
}

.emptyContainer {
	margin-top: var(--size-xxLarge);
}
