.tableFrame {
	margin-bottom: -24px;
	margin-left: -24px;
	margin-right: -24px;
	max-height: 287px;
	overflow-y: auto;
}

.table {
	background: var(--color-primary-background);
	border-collapse: collapse;
	color: var(--text-primary);
	max-width: initial;
	width: 100%;
}

.table tr:hover td,
.table tr:focus td {
	background: var(--color-gray-300);
	cursor: pointer;
	outline: none;
}

.table td {
	border-bottom: 1px solid var(--color-gray-300);
	padding: 12px 0;
}

.table td:first-of-type {
	padding-left: var(--size-large);
}

.table td:last-of-type {
	padding-right: var(--size-large);
}

.table tr:last-of-type td {
	border-bottom: 0;
}

.emptyState {
	margin-top: var(--size-xxLarge);
	padding: 0 var(--size-large) var(--size-large);
}

.loadingState {
	color: var(--color-gray-500);
	padding: var(--size-xxLarge) var(--size-large);
	text-align: center;
}
