.commonInputWrapper {
    padding: 10px 0 10px 0;
}

.switchRow {
    display: flex;
}

.switchText {
    margin-left: 8px;
    color: #808080;
}

.switchTextSelected {
    color: black;
}

.datePicker {
    border-color: #eaeaea;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    font-weight: 300 !important;
    font-family: 'AvenirNext';
    font-size: 14px;
}

.iconWrapper {
    margin: 0 10px 0 0px;
    display: flex;
    fill: #808080 !important;
}