@import 'src/static/shared.scss';
.commonInputWrapper {
    padding: 10px 0 10px 0;
}

.searchInput {
    padding-top: 0;
}

.switchRow {
    margin-bottom: 15px;
    display: flex;
}

.switchText {
    margin-left: 8px;
    color: #808080;
}

.switchSpan {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.switchTextSelected {
    color: black;
}

.datePicker {
    border-color: #eaeaea;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    font-weight: 300 !important;
    font-family: 'AvenirNext';
    font-size: 14px;
}

.iconWrapper {
    margin: 0 10px 0 0px;
    display: flex;
    fill: #808080 !important;
}
