@import 'src/static/shared.scss';

.commonInputWrapper {
    padding: 10px 0;
}

.searchInput {
    padding-top: 0;
}

.switchSpan {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.datePicker {
    @include rounded-border;
    font-family: var(--header-font-family);
    font-size: 14px;
    font-weight: 300 !important;
    height: 45px;
    width: 100%;
}

.iconWrapper {
    display: flex;
    fill: var(--color-gray-500) !important;
    margin: 0 10px 0 0;
}

.subTitle {
    color: var(--text-primary);
    font-size: 11px;
    margin-bottom: 8px;
    margin-top: 10px;
}

.checkboxRow {
    margin-top: 8px;
}

.checkboxUnselected {
    color: var(--color-gray-500);
}
