.container {
	--button-width: 160px;

	animation: enter-viewport 1s forwards;
	bottom: var(--size-xLarge);
	box-shadow: 0 0 0 0 rgba(86, 41, 198, 0.7);
	position: fixed;
	right: 24px;
	z-index: 999999;

	.stepsCount {
		--bubble-height: 27px;
		align-items: center;
		background: var(--color-red-400);
		border: 1px solid var(--color-red-400);
		border-radius: 50%;
		display: flex;
		font-size: 18px;
		height: var(--bubble-height);
		justify-content: center;
		line-height: normal;

		position: absolute;
		right: calc(var(--size-xSmall) * -1);
		top: calc(var(--bubble-height) / 2 * -1);
		width: var(--bubble-height);
	}
}

.popover {
	padding-bottom: 0 !important;
	z-index: 999999999;
}

@keyframes enter-viewport {
	0% {
		transform: translateY(100px);
	}

	100% {
		transform: translateY(0);
	}
}

.onboardingBubblePopoverHeader {
	border-bottom: 1px solid var(--color-gray-300);
	margin-left: calc(var(--size-medium) * -1);
	margin-right: calc(var(--size-medium) * -1);
	padding-bottom: var(--size-xSmall);
	padding-left: var(--size-medium);
	padding-right: var(--size-medium);
	position: relative;
	width: 270px;

	.closeButton {
		fill: var(--color-gray-500);
		position: absolute;
		right: var(--size-xSmall);
		top: calc(var(--size-xxSmall) * -1);
	}

	h2 {
		font-size: 14px;
		margin: 0;
		margin-bottom: var(--size-xxSmall) !important;
	}

	p {
		color: var(--color-gray-500);
		font-size: 12px;
		margin: 0 !important;
		margin-bottom: var(--size-xxSmall) !important;
	}
}

.stepsContainer {
	color: var(--text-primary);
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-bottom: var(--size-small);
	margin-top: var(--size-medium);
	padding: 0;
	row-gap: var(--size-medium);

	li {
		button {
			align-items: center;
			color: var(--color-gray-500);
			column-gap: var(--size-xSmall);
			cursor: pointer;
			display: flex;
			font-size: 12px;
			height: var(--size-large);
			padding-bottom: var(--size-xSmall);
			padding-left: 0;
			padding-right: 0;
			padding-top: var(--size-xSmall);
			width: 100%;
		}
	}

	.stepIncomplete {
		color: var(--text-primary);
	}

	.stepCompleted {
		text-decoration: line-through;

		&:hover {
			text-decoration: line-through;
		}
	}

	.checkIcon {
		color: var(--text-primary-inverted);
		fill: var(--text-primary-inverted);
		height: 10px;
		width: 10px;
	}
}

.checkWrapper {
	align-items: center;
	background-color: var(--color-gray-400);
	border-radius: 50%;
	display: flex;
	height: 20px;
	justify-content: center;
	padding: 3px;
	width: 20px;

	&.checkWrapperCompleted {
		background-color: var(--color-green-400);
	}
}

.button {
	box-shadow: var(--box-shadow);
}

.tooltip {
	font-size: 16px;
	margin-left: auto;
}
