.editor {
    background: var(--color-editor-background);
    color: var(--color-editor-foreground-text);
    font-family: var(--monospace-font-family);

    .lineNumber {
        color: var(--color-editor-secondary-text);
        display: inline-block;
        margin-right: var(--size-medium);
        text-align: right;
        width: calc(1ch * var(--longest-character-length));
    }
}

.skeleton {
    border-radius: 8px;
    height: 109px;
    margin-bottom: 20px;
}

.alert {
    margin-bottom: var(--size-large);

    a {
        margin-top: var(--size-medium);
    }
}
