@import 'src/static/shared.scss';

.errorPageWrapper {
    width: 100%;
}

.errorPageLeft {
    flex: 1;
    min-width: 700px;
}

.errorPageRight {
    padding-left: 40px;
    width: 320px;
    min-width: 320px;
}

.errorPageRightContent {
    position: sticky;
    top: 120px;
}

.title {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.errorPage {
    margin: 120px 80px 80px 80px;
    word-break: break-word;
    display: flex;
    justify-content: space-between;
}

.eventText {
    color: #808080;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 200;
}

.titleWrapper {
    display: flex;
    align-items: center;
}

.subTitle {
    font-size: 20px;
    color: black;
    margin-bottom: 16px;
    font-weight: 300;
}

.fieldWrapper {
    margin-bottom: 30px;
}

.subSection {
    border-top: 1px solid #e4e8eb;
    font-weight: 200;
    width: 100%;
    display: flex;
    padding: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.expandButton {
    color: $highlight-purple !important;
    cursor: pointer;
}

.section {
    border: 1px solid #e4e8eb;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: 0.4s;
    display: flex;
    width: 100%;
}

.snippetHeadingTwo {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.triggerWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 12px 15px 12px;
}

.iconWrapper {
    margin-left: auto;
    cursor: pointer;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.collapsible {
    width: 100%;
}

.icon {
    transition: 0.4s;
    height: 14px;
    width: 14px;
    color: #5629c6;
    float: right;
    cursor: pointer;
}

.stackTraceErrorTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.graphSection {
    flex-direction: column;
    padding: 30px 15px 20px 15px;
}

.graphLabels {
    margin-top: -20px;
    padding: 0px 10px 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #808080;
}

.errorLogDivider {
    border-bottom: 1px solid #e4e8eb;
}

.errorLogCell {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.errorLogOverflow {
    direction: rtl;
}

.errorLogsTitle {
    font-weight: 400;
    width: 100%;
    display: grid;
    grid-template-columns: 80px 80px 2fr 1fr 1fr 2fr;

    span {
        padding: 0px 4px;
    }
}

.errorLogWrapper {
    max-height: 400px;
    overflow: auto;
}

.errorLogItem {
    width: 100%;
    display: grid;
    grid-template-columns: 80px 80px 2fr 1fr 1fr 2fr;
    color: $text-light;
    border-bottom: 1px solid #e4e8eb;
    font-weight: 200;
    padding: 10px;

    &:hover {
        background-color: #f2eefb;
    }

    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0px 6px;
    }
}

.errorLogButton {
    max-width: 240px;
    margin: 10px auto;
    display: block;
}

.actionButtons {
    display: flex;
    gap: $size-xSmall;
    justify-content: flex-end;
}

.actionButtonsContainer {
    margin-bottom: 0;
}

.commentInputContainer {
    padding: 0 var(--size-xSmall);
}

.intercomLink {
    text-decoration: underline;
    cursor: pointer;
}

.commentInputDiv {
    display: flex;
    padding: var(--size-xSmall);
    align-items: center;
    @include rounded-border;
}

.ellipsisButton {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: var(--button-border-radius);
    height: 100%;

    &:hover {
        background: var(--color-gray-300);
    }

    &:active {
        background: var(--color-gray-400);
    }
}

.endActions {
    margin-left: auto;
}

.commentUpdatedTime {
    color: $text-label;
    font-weight: 200;
    flex-shrink: 0;
}

.commentHeader {
    display: flex;
    gap: var(--size-xSmall);
    margin-bottom: var(--size-xSmall);
}

.commentAuthor {
    overflow: hidden;
    text-overflow: ellipsis;
}

.commentDiv {
    margin-bottom: var(--size-large);
    font-size: var(--size-small);
}

.commentsContainer {
    max-height: 300px;
    overflow: auto;
}
