@import 'src/static/shared.scss';

.blankSidebar {
    height: 100%;
    width: 280px;
}

.errorPageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 400;
}

.errorPage {
    margin: 120px 80px 80px 80px;
    width: calc(100vw - 275px);
    word-break: break-word;
}

.eventText {
    color: #808080;
    font-size: 16px;
    margin-bottom: 15px;
}

.subTitle {
    font-size: 20px;
    color: black;
    margin-bottom: 16px;
}

.fieldWrapper {
    margin-bottom: 20px;
}

.expandButton {
    color: $highlight-purple !important;
    cursor: pointer;
}
