@import 'src/static/shared.scss';

.errorPageWrapper {
    width: 100%;
}

.errorPageLeft {
    flex: 1;
    min-width: 700px;
}

.errorPageRight {
    min-width: 360px;
    padding-left: 40px;
    width: 360px;
}

.errorPageRightContent {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);
    position: sticky;
    top: 120px;
}

.title {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.errorPage {
    display: flex;
    justify-content: space-between;
    margin: 120px 80px 80px;
    word-break: break-word;
}

.eventText {
    color: var(--color-gray-500);
    margin-bottom: 30px;
}

.titleWrapper {
    align-items: center;
    display: flex;
}

.fieldWrapper {
    margin-bottom: 30px;
}

.subSection {
    align-items: center;
    border-top: 1px solid var(--color-gray-300);
    display: flex;
    font-weight: 200;
    padding: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.expandButton {
    color: var(--color-purple) !important;
    cursor: pointer;
}

.section {
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    display: flex;
    margin-bottom: 20px;
    transition: 0.4s;
    width: 100%;
}

.snippetHeadingTwo {
    align-items: center;
    display: flex;
    font-weight: 400;
}

.triggerWrapper {
    display: flex;
    flex-direction: row;
    padding: 15px 12px;
    width: 100%;
}

.iconWrapper {
    align-items: center;
    color: var(--color-blue-500);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 5px;
}

.collapsible {
    width: 100%;
}

.icon {
    color: var(--color-purple);
    cursor: pointer;
    float: right;
    height: 14px;
    transition: 0.4s;
    width: 14px;
}

.stackTraceErrorTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.graphSection {
    flex-direction: column;
    padding: 30px 15px 20px;
}

.graphLabels {
    color: var(--color-gray-500);
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    padding: 0 10px;
    width: 100%;
}

.errorLogDivider {
    border-bottom: 1px solid var(--color-gray-300);
}

.errorLogCell {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.errorLogOverflow {
    direction: rtl;
}

.errorLogsTitle {
    --columns: 80px 80px 2fr 1fr 1fr 2fr 1fr;

    display: grid;
    font-weight: 400;
    grid-template-columns: var(--columns);
    width: 100%;

    span {
        padding: 0 4px;
    }
}

.errorLogWrapper {
    max-height: 400px;
    overflow: auto;
}

.errorLogItem {
    --columns: 80px 80px 2fr 1fr 1fr 2fr 1fr;

    border-bottom: 1px solid var(--color-gray-300);
    color: var(--text-primary);
    display: grid;
    font-weight: 200;
    grid-template-columns: var(--columns);
    padding: 10px;
    width: 100%;

    &:hover {
        background-color: var(--color-gray-200);
    }

    span {
        overflow: hidden;
        padding: 0 6px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.errorLogButton {
    display: block;
    margin: 10px auto;
    max-width: 240px;
}

.actionButtons {
    display: flex;
    gap: var(--size-xSmall);
    justify-content: flex-end;
}

.actionButtonsContainer {
    margin-bottom: 0;
}

.commentInputContainer {
    padding: 0 var(--size-xSmall);
}

.intercomLink {
    cursor: pointer;
    text-decoration: underline;
}

.commentInputDiv {
    @include rounded-border;
    align-items: center;
    display: flex;
    margin-top: var(--size-small);
    padding: var(--size-xSmall);
}

.commentDiv {
    @include rounded-border;
    margin-bottom: var(--size-small);
    padding: var(--size-small);
}

.commentsContainer {
    max-height: 300px;
    overflow: auto;
}

.commentSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.titleWithAction {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.tooltipList {
    margin: 0;
    padding-left: var(--size-large);

    li {
        color: var(--text-primary-inverted) !important;
    }
}

.tooltipTitle {
    align-items: center;
    column-gap: var(--size-xxSmall);
    display: flex;
}
