.eventStreamContainer {
	box-sizing: border-box;
	color: var(--color-primary-background);
	height: 100%;
	overflow-y: hidden;
	padding: 0;
	position: relative;
	width: 100%;

	> div::-webkit-scrollbar {
		display: none;
	}
}

.container {
	display: flex;
	flex-direction: column;
	height: inherit;
}

.virtualList {
	flex-grow: 1;
}

.header {
	border-bottom: 1px solid transparent;
	column-gap: var(--size-small);
	display: flex;
	flex-direction: column;
	margin-bottom: calc(-1 * var(--size-medium));
	padding-bottom: var(--size-small);
	padding-left: var(--size-large);
	padding-right: var(--size-large);
	padding-top: var(--size-medium);
	row-gap: var(--size-medium);
	transition: border 0.2s ease-in-out;
	z-index: 9;

	.searchContainer {
		column-gap: var(--size-small);
		display: flex;
		flex-grow: 1;

		.search {
			padding-bottom: var(--size-xxSmall) !important;
			padding-top: var(--size-xxSmall) !important;
		}
		.searchIcon {
			color: var(--color-gray-500);
		}
	}

	.secondRow {
		color: var(--color-gray-500);
		display: flex;
	}

	&.withBottomBorder {
		border-bottom-color: var(--color-gray-300);
	}
}

.detailsSwitch {
	margin-left: auto;
}

.emptyMessageContainer {
	align-items: center;
	color: var(--text-primary);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	overflow-wrap: anywhere;
	padding: 0 var(--size-medium);
	text-align: center;
}
