.card {
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);

	transition: box-shadow 0.1s ease-in;

	p,
	a {
		font-size: 12px;
		margin-top: 0 !important;
	}

	p {
		color: var(--color-gray-500);
	}

	h2 {
		color: var(--text-primary);
		font-size: 12px !important;
		margin: 0;
	}

	&:hover {
		border: 1px solid var(--color-purple);
		box-shadow: 0 0 9px rgba(86, 41, 198, 0.25);
	}

	.titleContainer {
		align-items: center;
		border-bottom: 1px solid var(--color-gray-300);
		display: flex;
		height: 48px;
		justify-content: space-between;
		margin-bottom: var(--size-xxSmall);
		padding: 0 var(--size-small);
		width: 100%;
	}

	.content {
		padding-bottom: var(--size-small);
		padding-left: var(--size-small);
		padding-right: var(--size-small);
		padding-top: var(--size-small);
	}
}

.fullWidth {
	width: 100%;
}
