.card {
    border: 1px solid var(--color-gray-300);
    border-radius: var(--border-radius);

    transition: box-shadow 0.1s ease-in;

    p,
    a {
        font-size: 12px;
        margin-top: 0 !important;
    }

    p {
        color: var(--color-gray-500);
    }

    h2 {
        border-bottom: 1px solid var(--color-gray-300);
        color: var(--text-primary);
        font-size: 12px !important;
        margin: 0;
        margin-bottom: var(--size-xxSmall) !important;
        padding-bottom: var(--size-small);
        padding-left: var(--size-small);
        padding-right: var(--size-small);
        padding-top: var(--size-small);
    }

    &:hover {
        border: 1px solid var(--color-purple);
        box-shadow: 0 0 9px rgba(86, 41, 198, 0.25);
    }

    .content {
        padding-bottom: var(--size-small);
        padding-left: var(--size-small);
        padding-right: var(--size-small);
        padding-top: var(--size-small);
    }
}

.fullWidth {
    width: 100%;
}
