.metric {
    --good-color: var(--color-green-500) !important;
    --needs-improvement-color: var(--color-yellow-500) !important;
    --poor-color: var(--color-red-500) !important;

    .name,
    .value {
        column-gap: 0.5ch;
        display: flex;
        font-size: 12px !important;
        font-weight: 500 !important;
        margin-bottom: 0 !important;
    }

    .units {
        color: var(--color-gray-500) !important;
        font-weight: 400 !important;
    }

    &.goodScore {
        color: var(--good-color);
    }
    &.needsImprovementScore {
        color: var(--needs-improvement-color);
    }
    &.poorScore {
        color: var(--poor-color);
    }
}

.simpleMetric {
    align-items: center;
    column-gap: var(--size-xSmall);
    display: grid;
    grid-template-columns: 3fr auto;
}

.detailedMetric {
    align-items: center;
    column-gap: var(--size-xSmall);
    display: flex;

    .name {
        width: 4ch;
    }

    .value {
        margin-left: auto;
    }
}

.infoTooltip {
    color: var(--color-gray-500) !important;
}

.scoreVisualization {
    column-gap: 2px;
    display: flex;
    height: 1ch;
    width: 125px;

    > div {
        border-radius: var(--size-xxSmall);
        flex-grow: 1;
        height: 100%;
    }

    .poor {
        background-color: var(--poor-color);
    }

    .needsImprovement {
        background-color: var(--needs-improvement-color);
    }

    .good {
        background-color: var(--good-color);
    }
}
