@import 'src/static/shared.scss';

.container {
    --button-width: 160px;
    position: fixed;
    bottom: var(--size-xLarge);
    right: 24px;
    bottom: 24px;
    z-index: 999999;
    opacity: 0;

    animation: enter-viewport 1s forwards;
    box-shadow: 0 0 0 0 rgba(86, 41, 198, 0.7);

    .stepsCount {
        --bubble-height: 27px;

        position: absolute;
        font-size: 18px;
        line-height: normal;
        right: calc(var(--size-xSmall) * -1);
        top: calc(var(--bubble-height) / 2 * -1);
        background: var(--color-red-300);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--bubble-height);
        width: var(--bubble-height);
        border: 1px solid var(--color-red);
    }
}
.popover {
    padding-bottom: 0px !important;
}

@keyframes enter-viewport {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.onboardingBubblePopover {
    width: 270px;
    padding-left: var(--size-medium);
    padding-right: var(--size-medium);
    padding-bottom: var(--size-xSmall);
    margin-left: calc(var(--size-medium) * -1);
    margin-right: calc(var(--size-medium) * -1);

    h2 {
        font-size: 14px;
        margin: 0;
        margin-bottom: var(--size-xxSmall);
        font-weight: 400;
    }

    p {
        font-size: 12px;
        color: var(--color-gray-500);
        margin: 0;
        margin-bottom: var(--size-xxSmall);
    }

    border-bottom: 1px solid var(--color-gray-300);
}

.stepsContainer {
    list-style: none;
    margin-top: var(--size-medium);
    margin-bottom: var(--size-small);
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: var(--size-medium);

    li {
        button {
            padding: var(--size-xSmall) 0;
            width: 100%;
            color: var(--color-gray-500);
            font-size: 12px;
            font-weight: 200;
            cursor: pointer;
            height: var(--size-large);
            display: flex;
            align-items: center;
            column-gap: var(--size-xSmall);
        }
    }

    .stepCompleted {
        text-decoration: line-through;

        &:hover {
            text-decoration: line-through;
        }
    }

    .checkIcon {
        height: 10px;
        width: 10px;
        color: white;
        fill: white;
    }
}

.checkWrapper {
    padding: 3px;
    background-color: var(--color-gray-400);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.checkWrapperCompleted {
        background-color: var(--color-green);
    }
}

.button {
    box-shadow: var(--box-shadow);
}
