#topBar {
	grid-template-columns: 1fr;
}

.errorList {
	flex-grow: 1;
	height: 100%;
	margin-left: 1px;
}

.skeleton {
	margin: var(--size-small) var(--size-xSmall);
}

.filterContainer {
	align-items: center;
	display: flex;
	margin-left: auto;
	padding-right: var(--size-large);
}

.errorsPageWrapper {
	background-color: var(--color-primary-background);
	height: calc(100% - var(--player-toolbar-height));
	width: 100%;
}
