@import 'src/static/shared.scss';

.sliderWrapper {
    width: 100%;
    z-index: 20;
    height: 4px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    position: absolute;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover .indicator {
        transform: scale(1);
        transition: all 0.3s ease-in-out;
    }
}

.sliderMargin {
    margin-left: 0px;
}

.sliderSegment {
    display: inline-flex;
    height: 4px;
    background: none;
    padding: 0 0 0 1px;
    outline: none;
    align-items: center;
}

.segmentHover {
    transform: scale(1, 2);
    transition: all 0.2s ease-in-out;
}

.sliderRail {
    width: 100%;
    height: 4px;
    transition: all 0.2s ease-in-out;
}

.sliderPopover {
    position: absolute;
    z-index: 1000;
    bottom: 16px;
    text-align: center;
    width: 80px;
    color: white;
    // text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    background: black;
    padding: 6px 10px;
    border-radius: 8px;
}

.sliderPopoverTime {
    font-size: 10px;
}

.indicator {
    height: 15px;
    width: 15px;
    margin-top: -9px;
    transform: scale(0);
    border-radius: 20px;
    background-color: #5629c6;
    transition: all 0.3s ease-in-out;
}

.indicatorParent {
    height: 15px;
    width: 15px;
    background-color: none;
}

.playerRail {
    position: relative;
}

.dropdownMenu {
    box-shadow: none;
    min-width: 250px;
}

.dropdownInner {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    min-width: 180px;
    margin-top: 9px;
    box-shadow: 2px 2px 8px #e4e4e4;
    color: black;
    padding: 10px 0 10px 0;
}
.dropdownSection {
    height: 35px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 15px;
}

.toolbarLeftSection {
    display: flex;
    flex-direction: row;
}

.toolbarRightSection {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.toolbarSection {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.playSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 29px;
    cursor: pointer;
}

.undoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 23px;
    cursor: pointer;
}

.redoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 17px;
    cursor: pointer;
}

.playButtonStyle {
    height: 25px;
    width: 30px;
}

.verticalDivider {
    height: 80%;
    width: 1px;
    background-color: #dedede;
    margin: 5px;
}

.inactiveIcon {
    height: 16px;
    width: 16px;
}

.inactiveText {
    margin-top: 1px;
    margin-right: 10px;
    text-transform: uppercase;
    color: #5629c6;
    line-height: 1;
}

.skipInactivity {
    font-weight: 300;
    font-size: 12px;
    margin: 5px;
    margin-right: 15px;
    background-color: #f2eefb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    height: 30px;
    padding: 0px 15px 0px 15px;
    border-radius: 8px;
    transition: 0.3s;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.skipInactivity:hover {
    background-color: #f2eefb;
}

.speedWrapper {
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 200;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    background-color: #5629c6;
    margin: 10px;
}

.timeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 22px;
}

.skipButtonStyle {
    height: 25px;
    width: 30px;
}

.button {
    background: none;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    color: $text-primary;
    fill: $text-primary;

    &:disabled {
        color: $disabled-button;
        fill: $disabled-button;
        cursor: not-allowed;
    }
}

.icon {
    height: 18px;
    width: 18px;
}

.annotationsContainer {
    position: absolute;
    height: 10px;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    padding: 8px 0;
    width: 100%;
    top: -$size-large;

    --annotation-scale: 0.1;

    .annotation {
        position: absolute;
        z-index: 21;
        height: calc(1px * (1 / var(--annotation-scale)));
        width: calc(1px * (1 / var(--annotation-scale)));
        background-color: var(--color-red);
        opacity: 0.5;
        border: 1px solid white;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        border-radius: 50%;
        box-sizing: content-box;
        padding: 0;
        outline: none;
        flex-shrink: 0;
        flex-grow: 0;
        animation: grow 0.5s normal;

        &:hover,
        &:focus {
            opacity: 1;
            transform: scale(2, 2);
            z-index: 25;
        }
    }
}

.tooltipContent {
    width: 100%;
    overflow-wrap: anywhere;
}

.tooltipHeader {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.popoverContent {
    width: 100%;
    overflow: hidden;
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

.commentUpdatedTime {
    color: $text-label;
    font-weight: 200;
}

.commentHeader {
    display: flex;
    gap: $size-xSmall;
}
