.container {
	align-items: flex-start;
	row-gap: var(--size-xxSmall);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: fit-content;
	min-height: var(--size-xxLarge);
}

.checkbox {
	accent-color: var(--color-purple-500);
	cursor: pointer;
	height: 16px;
	width: 16px;
}
