.container {
	align-items: flex-start;
	row-gap: var(--size-xxSmall);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: fit-content;
	min-height: var(--size-xxLarge);
}

.switchClass {
	flex-shrink: 0;
}

.select {
	width: 100%;

	&:global(.ant-select-disabled .ant-select-selector) {
		background-color: var(--color-primary-background) !important;
	}
}
