/* stylelint-disable */
.container {
	margin-top: auto;

	:global(.Canny_BadgeContainer .Canny_Badge) {
		display: none;
	}
}

.indicator {
	align-items: center;
	background: none;
	border: 0;
	cursor: pointer;
	display: flex;
	height: 40px;
	justify-content: center;
	width: 40px;

	&:hover .indicatorIcon {
		color: #fff;
	}

	&:active .indicatorIcon {
		color: #fff;
	}

	.indicatorIcon {
		color: #8a8f98;

		height: 18px;
		transition: color 0.2s ease-in-out;
		width: 18px;

		&.active {
			animation: pulse 2s infinite;
			background: var(--color-purple);
		}
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(86, 41, 198, 0.7);
		transform: scale(0.95);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(86, 41, 198, 0);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(86, 41, 198, 0);
		transform: scale(0.95);
	}
}
