.container {
    margin-top: auto;
}

.changelogContainer {
    width: 310px;

    .date {
        color: var(--color-gray-500);
        font-size: 12px;
        font-weight: 400;
        margin-bottom: var(--size-xxSmall) !important;
        margin-top: 0 !important;
    }

    .body {
        margin-bottom: 0 !important;
    }
}

.indicator {
    align-items: center;
    background: none;
    border: 0;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;

    &:hover .indicatorIcon {
        background-color: var(--color-purple);
    }

    &:active .indicatorIcon {
        background-color: var(--color-purple);
    }

    .indicatorIcon {
        background-color: var(--color-gray-700);
        border-radius: 50%;
        height: 14px;
        transition: background-color 0.2s ease-in-out;
        width: 14px;

        &.active {
            animation: pulse 2s infinite;
            background: var(--color-purple);
        }
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(86, 41, 198, 0.7);
        transform: scale(0.95);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(86, 41, 198, 0);
        transform: scale(1);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(86, 41, 198, 0);
        transform: scale(0.95);
    }
}

.popoverHeader {
    align-items: baseline;
    border-bottom: 1px solid var(--color-gray-300);
    column-gap: var(--size-xSmall);
    display: flex;
    justify-content: space-between;
    margin: 0 calc(var(--size-medium) * -1);
    margin-bottom: var(--size-medium);
    padding: 0 var(--size-medium);

    h3,
    span,
    a {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: var(--size-xSmall);
    }
}
