@import 'src/static/shared.scss';

.avatarWrapper {
    width: 120px;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 20px;
}

.readMarkerContainer {
    display: flex;
    align-items: center;
    width: 8px;
    margin-left: 6px;
}

.readMarker {
    border-radius: 10px;
    width: 8px;
    height: 8px;
    background-color: var(--color-red-500);
}

.topText {
    color: var(--color-gray-500);
    font-size: 12px;
    margin: 4px 0 4px 0 !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.middleText {
    color: var(--text-primary);
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 4px 0 8px 0 !important;
}

.bottomText {
    color: var(--text-primary);
    font-size: 12px;
    margin: 4px 0 4px 0 !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.errorTextSection {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tagWrapper {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    height: 28px;
}

.errorTextWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hoverBorderRight {
    height: 60px;
    width: 5px;
    position: absolute;
    border-radius: 5px;
    transition: 0.3s;
    right: -3px;
    transition: 0.3s;
    background-color: transparent;
}

.hoverBorderLeft {
    height: 60px;
    width: 5px;
    position: absolute;
    border-radius: 5px;
    transition: 0.3s;
    left: -3px;
    transition: 0.3s;
    background-color: transparent;
}

.hoverBorderOn {
    background-color: var(--color-purple);
}

.feedWrapper {
    display: flex;
    width: 100%;
}

.feedContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    height: 200px;
    margin-top: -24px;
    padding-top: 16px;
}

.fixedContent {
    position: relative;
    z-index: 999;
}

.userInputWrapper {
    width: 100%;
    margin-top: -10px;
}

.mainUserInput {
    position: relative;
    width: 100%;
    background-color: var(--color-primary-background);
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultCount {
    font-family: var(--header-font-family);
    margin: 0px -3px;
    padding: 8px 5px 16px 5px;
    color: var(--color-gray-500);
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 30%
    );
    width: 100%;
    z-index: 10;
}

.errorCardWrapper {
    position: relative;

    &:hover {
        .errorCardAction {
            display: flex;
        }
    }
}

.errorCardAction {
    background-color: var(--color-primary-background);
    border: 0;
    display: none;
    position: absolute;
    padding: 0px 6px;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #eaeaea;

        .actionIcon {
            color: var(--text-primary);
            fill: black;
            stroke: black;
        }
    }
}

.actionIcon {
    stroke: var(--color-gray-500);
    color: var(--color-gray-500);
    fill: var(--color-gray-500);
}

.errorCard {
    position: relative;
    font-weight: 400;
    @include rounded-border;
    display: flex;
    margin-bottom: 14px;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    cursor: pointer;

    &:not(:first-of-type) {
        margin-top: 14px;
    }
}

.errorCardContentWrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
}

.errorTextSectionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
}

.errorBarDiv {
    width: 20px;
    padding: 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.errorBarBase {
    border-radius: 2px;
    background-color: var(--color-gray-200);
    width: 100%;
    margin-top: 2px;
    height: 2px;
}

.errorBar {
    border-radius: 2px;
    width: 100%;
    height: 0px;
    background-color: var(--color-purple);
}
