.searchBar {
    position: fixed;
    height: 100%;
    background-color: white;
    z-index: 100;
    width: 320px;
    border-left: 1px solid #eaeaea;
    transition: right 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

.contentOuterOpen {
    overflow: visible !important;
}

.contentOuterClosed {
    overflow: hidden;
}

.header {
    font-size: 14px;
    color: black;
}

.headerWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.searchSection {
    margin-top: 4px;
    margin-bottom: 14px;
}

.searchSectionWrapper {
    margin-bottom: 14px;
}

.sideTab {
    position: fixed;
    background-color: white;
    right: 0;
    top: 180px;
    height: 50px;
    cursor: pointer;
    width: 50px;
    border-radius: 8px 0 0 8px;
    border-width: 1px;
    border-color: #eaeaea white #eaeaea #eaeaea;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hideRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #808080;
}

.hideWrapper {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    float: right;
}

.hideText {
    float: right;
    cursor: pointer;
}

.sideTabVisible {
    visibility: visible;
}

.sideTabHidden {
    visibility: hidden;
}

.hideButton {
    margin-left: auto;
}

.hamburgerSide {
    height: 20px;
    width: 20px;
}

.sideContentWrapper {
    flex-grow: 1;
    height: 100%;
    position: relative;
    width: 100%;
    padding: 20px 30px 20px 30px;
}


.title {
    font-size: 20px;
    margin-bottom: 10px;
}

.emptyDiv {
    height: 80px;
}

.searchBarOpen {
    right: 0;
}

.searchBarClosed {
    right: -320px;
}

.hideIcon {
    transform: rotate(-90deg);
    height: 12px;
    width: 12px;
    margin-left: -5px;
    float: right;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 2px;
    color: #808080;
    fill: #808080;
}

.icon {
    transition: 0.4s;
    height: 14px;
    width: 14px;
    margin-left: -5px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
}
