.select {
    width: 100%;
}

.searchIcon {
    color: var(--color-gray-400);
    height: var(--size-medium);
    margin-right: var(--size-small);
    width: var(--size-medium);
}

.valueLabel {
    font-size: 12px;
    padding: var(--size-xxSmall) var(--size-xxSmall);
    padding-left: var(--size-xSmall);
}

.keyLabel {
    color: var(--color-gray-500);
    flex-shrink: 0;
    font-size: 12px;
    margin-left: auto;
}

.optionLabelContainer {
    display: flex;
}

.highlightedFuzzyMatch {
    background-color: transparent;
    font-weight: bold;
    padding: 0;
}

.nameLabel {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
