.container {
	--brand-color: #5629c6;
	--color-text-primary: #111111;
	--color-text-primary-inverted: #fff;
	--color-text-link: var(--brand-color);
	--size-xxLarge: 48px;
	--size-xLarge: 32px;
	--size-large: 24px;
	--size-medium: 16px;
	--size-small: 12px;
	--size-xSmall: 8px;
	--size-xxSmall: 4px;
	--color-gray-100: hsla(0, 0%, 93.7%, 0.49019607843137253);
	--color-gray-200: #f2f2f2;
	--color-gray-300: #eaeaea;
	--color-gray-400: #bdbdbd;
	--color-gray-500: #828282;
	--color-gray-600: #7e7e7e;
	--color-gray-700: #8a8f98;
	--color-gray-800: #2d2f36;

	background: #20104D;
	font-family: 'Steradian', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999999;
	backdrop-filter: blur(1px);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 750px) {
	.card {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: var(--size-xxLarge);
		padding-bottom: var(--size-medium);
		padding-left: var(--size-small);
		padding-right: var(--size-small);
	}

	.ad {
		display: none;
	}
}

.card {
	border-radius: var(--size-xSmall);
	padding: var(--size-xLarge);
	max-width: 650px;
	background: white;
}

.cardContents {
	height: 0;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s linear;
	visibility: hidden;
}

.cardContentsVisible {
	height: auto;
	opacity: 1;
	visibility: visible;
}

.title {
	font-size: var(--size-large);
	color: var(--color-text-primary);
}

.subtitle {
	font-size: 14px;
	margin-top: var(--size-medium) !important;
	font-weight: 400;
	color: var(--color-text-primary);
}

.form {
	padding-top: var(--size-large);
	display: flex;
	flex-direction: column;
	row-gap: var(--size-large);
}

.form label {
	display: flex;
	flex-direction: column;
	font-size: 14px !important;
}

.form input {
	height: 40px;
}

.form input,
.form textarea {
	background-color: var(--color-gray-200);
	border: 0;
	border-radius: 8px;
	font-size: 15px;
	margin: 8px 0;
	outline: none;
	padding: 15px;
	width: 100%;
}

.button {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 40px;
	height: auto;
	color: var(--color-text-primary-inverted);
	background: var(--brand-color);
	text-shadow: none;
	box-shadow: none;
	padding: 4px 16px;
	font-size: 14px;
	border-radius: 8px;
	border: 0;
	cursor: pointer;
}

.closeButton {
	background: transparent !important;
	color: var(--color-text-primary) !important;
	border: 1px solid var(--color-gray-400) !important;
}

.confirmationButton {
	margin-top: var(--size-xxLarge);
}

.loadingButton {
	background-color: #7e7e7e !important;
	border: #7e7e7e solid 1px !important;
}

.formFooter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.formActionsContainer {
	display: flex;
	column-gap: var(--size-small);
}

.ad {
	flex-shrink: 0;
	font-size: 12px;
}

.logoContainer {
	display: flex;
	flex-direction: column;
	height: 40px;
	margin: 0 !important;
}

.logo {
	height: 25px;
	padding-top: 4px;
	box-sizing: content-box;
}

.buggyButton {
	align-items: center;
	background: #5629c6;
	border-radius: 8px;
	border: 1px solid #bdbdbd;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-family: 'Steradian', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 14px;
	height: auto;
	justify-content: center;
	min-height: 40px;
	padding: 4px 16px;
	text-shadow: none;
}
