.scrubberBackground {
    align-items: center;
    background-color: var(--color-primary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--border-radius);
    display: flex;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.innerBounds {
    width: 90%;
}

.zoomArea {
    background: var(--color-gray-800);
    border-radius: 5px;
    height: 12px;
    position: relative;
    top: 10px;
    width: 100%;
    z-index: 2;
}

.zoomAreaCanReset {
    cursor: pointer;
}

.handleContainer {
    position: absolute;
}

.scrubHandle {
    align-items: center;
    background: var(--color-red-500);
    border-radius: var(--border-radius);
    cursor: move;
    display: flex;
    height: fit-content;
    justify-content: center;
    padding: 0 var(--size-xSmall);
    position: absolute;
    transform: translateX(-28px);
    user-select: none;
    width: 56px;
    z-index: 200;
}

.timeMarker {
    background: var(--color-red-500);
    height: 46px;
    position: absolute;
    top: 20px;
    width: 2px;
    z-index: 200;
}

.timeText {
    color: var(--color-text-primary);
}

.clickChangeTime {
    cursor: pointer;
    height: 22px;
    position: absolute;
    top: -2px;
    width: 100%;
}

.zoomAreaHandle {
    cursor: move;
}

.handleLeft {
    background: var(--color-red-200);
    height: 12px;
    position: absolute;
    width: 12px;
    z-index: 200;
}

.handleRight {
    background: var(--color-red-200);
    height: 12px;
    position: absolute;
    width: 12px;
    z-index: 200;
}
