.streamElement {
    height: 40px;
    width: 100%;
    border-radius: 6px;
    color: var(--text-primary);
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    align-items: center;
}

.playButtonStyle {
    height: 25px;
    width: 30px;
}

.appBody {
    height: 100vh;
    width: 100%;
}

.windowOptions {
    padding: 10px 0px 10px 12px;
    height: 35%;
    width: auto;
}

.urlText {
    margin-bottom: 3;
    align-self: end;
}

.urlAddressBarWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.urlAddressBar {
    border-radius: 10px;
    background-color: var(--color-primary-background);
    width: 80%;
    height: 55%;
    margin-right: auto;
    padding-left: 20px;
    font-size: 14px;
    display: grid;
}

.playerPageBody {
    display: flex;
    height: 100%;
    width: 100%;
}

.loadingWrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.rrwebPlayerSection {
    width: 100%;
    height: 100%;
    flex: 2;
    background-color: var(--color-gray-200);
}

.rrwebPlayerWrapper {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.browserHeader {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: var(--text-primary);
}

.rrwebPlayerDiv {
    position: relative;
}

.progressBar {
    border-top: 7px solid black;
}

.playSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 25px;
    cursor: pointer;
}

.undoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 25px;
    cursor: pointer;
}

.timeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 25px;
}

.undoButtonStyle {
    height: 25px;
    width: 30px;
}

.signinWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
