.rightPanel {
    flex-grow: 1;

    .tabContainer {
        height: 100%;
        padding: var(--size-medium) var(--size-large);
    }

    .commentsTabContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;

        .createCommentContainer {
            margin-top: auto;
            padding: 0 var(--size-large);
            padding-top: var(--size-xLarge);
        }
    }
}
