.replayer-wrapper {
	position: relative;
}
.replayer-mouse {
	position: absolute;
	width: 20px;
	height: 20px;
	transition: left 0.05s linear, top 0.05s linear;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iNyA1IDE4IDE4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyOCAyOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgaGVpZ2h0PSIzMDBweCIgd2lkdGg9IjMwMHB4Ij4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iOC4yLDIwLjkgOC4yLDQuOSAxOS44LDE2LjUgMTMsMTYuNSAxMi42LDE2LjYgIi8+DQo8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjE3LjMsMjEuNiAxMy43LDIzLjEgOSwxMiAxMi43LDEwLjUgIi8+DQo8cmVjdCB4PSIxMi41IiB5PSIxMy42IiB0cmFuc2Zvcm09Im1hdHJpeCgwLjkyMjEgLTAuMzg3MSAwLjM4NzEgMC45MjIxIC01Ljc2MDUgNi41OTA5KSIgd2lkdGg9IjIiIGhlaWdodD0iOCIvPg0KPHBvbHlnb24gcG9pbnRzPSI5LjIsNy4zIDkuMiwxOC41IDEyLjIsMTUuNiAxMi42LDE1LjUgMTcuNCwxNS41ICIvPg0KPC9zdmc+DQo=');
	border-color: transparent; /* otherwise we transition from black when .touch-device class is added */
}

.replayer-mouse::after {
	background: transparent;
}

.replayer-mouse.active::after {
	animation: click 0.2s ease-in-out 1;
}
.replayer-mouse.touch-device {
	background-image: none; /* there's no passive cursor on touch-only screens */
	width: 70px;
	height: 70px;
	border-width: 4px;
	border-style: solid;
	border-radius: 100%;
	margin-left: -37px;
	margin-top: -37px;
	border-color: rgba(73, 80, 246, 0);
	transition: left 0s linear, top 0s linear, border-color 0.2s ease-in-out;
}
.replayer-mouse.touch-device.touch-active {
	border-color: rgba(73, 80, 246, 1);
	transition: left 0.25s linear, top 0.25s linear,
		border-color 0.2s ease-in-out;
}
.replayer-mouse.touch-device::after {
	opacity: 0; /* there's no passive cursor on touch-only screens */
}
.replayer-mouse.touch-device.active::after {
	animation: touch-click 0.2s ease-in-out 1;
}
.replayer-mouse-tail {
	position: absolute;
	pointer-events: none;
}

@keyframes click {
	0% {
		opacity: 0.3;
		width: 20px;
		height: 20px;
		background: transparent;
	}
	75% {
		width: 24px;
		height: 24px;
		opacity: 0.8;
		background: #dc2626;
	}
	100% {
		background: transparent;
	}
}

@keyframes touch-click {
	0% {
		opacity: 0;
		width: 20px;
		height: 20px;
	}
	50% {
		opacity: 0.5;
		width: 10px;
		height: 10px;
	}
}

.rr-player {
	position: relative;
	background: white;
	float: left;
	border-radius: 5px;
	box-shadow: 0 24px 48px rgba(17, 16, 62, 0.12);
}

.rr-player__frame {
	overflow: hidden;
}
