.button {
	.iconContainer {
		align-items: center;
		display: flex;
		justify-content: center;
		position: relative;
	}

	.dotContainer {
		position: absolute;
		right: 0;
		top: -2px;
	}
}

.buttonV2 {
	display: block;
}

.iconContainerV2 {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: 10px;
	margin-top: -14px;
	position: absolute;
}

.popover {
	margin-top: var(--size-xxSmall);
	width: 320px;
}

.list {
	list-style: none;
	padding: 0;
}

.notification {
	color: var(--color-gray-500);
	column-gap: var(--size-small);
	display: flex !important;
	min-height: 97px;

	&:hover {
		color: var(--color-gray-500);
	}

	.notificationBody {
		display: flex;
		flex-direction: column;
		row-gap: var(--size-xxSmall);
	}

	.notificationStartColumn {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		> * {
			grid-column-start: 1;
			grid-row-start: 1;
		}

		.notificationIconContainer {
			align-items: center;
			background: var(--color-primary-background);
			border-radius: 50%;
			box-shadow: var(--box-shadow-2);
			display: flex;
			height: var(--size-medium);
			justify-content: center;
			margin-left: -4px;
			margin-top: -4px;
			width: var(--size-medium);
			z-index: 1;
		}

		svg {
			color: var(--text-primary);
			height: var(--size-xSmall);
			width: var(--size-xSmall);
		}
	}

	.dotContainer {
		margin-left: auto;
		margin-top: var(--size-xxSmall);
	}

	.timestamp {
		color: var(--color-gray-500);
		font-size: 12px !important;
		font-weight: 200 !important;
		margin-bottom: var(--size-xxSmall) !important;
		margin-top: 0 !important;
	}

	.title {
		font-weight: 400 !important;
		margin-bottom: 0 !important;
	}

	.titleSuffix {
		color: var(--color-gray-500);
		font-weight: 200;
	}
}

.popoverTitle {
	align-items: center;
	border-bottom: 1px solid var(--color-gray-300);
	column-gap: var(--size-xSmall);
	display: flex;
	justify-content: space-between;
	margin: 0 calc(var(--size-medium) * -1);
	margin-bottom: var(--size-medium);
	padding-bottom: var(--size-small);
	padding-left: var(--size-medium);
	padding-right: var(--size-medium);
	padding-top: 0;

	h3 {
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 0 !important;
	}
}

.emptyStateContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 320px;
	justify-content: center;
	margin: 0 auto;
	padding-bottom: var(--size-large);
	text-align: center;
	width: 80%;

	p {
		color: var(--color-gray-500) !important;
	}
}

.animation {
	width: 100%;
}

.personalNotificationAlert {
	margin-bottom: var(--size-large);
}

.tabs {
	:global(.ant-tabs-nav-wrap) {
		padding-left: 0 !important;
	}

	&:global(.ant-tabs) {
		margin-bottom: calc(-1 * var(--size-small));
		margin-left: calc(-1 * var(--size-medium));
		margin-right: calc(-1 * var(--size-medium));
		margin-top: calc(-1 * var(--size-medium));
		overflow: visible !important;
	}

	.tabBarExtraContent {
		padding-right: var(--size-xSmall);
	}
}

.searchContainer {
	align-items: center;
	border-bottom: 1px solid var(--color-gray-300);
	column-gap: var(--size-small);
	display: flex;
	margin-bottom: var(--size-medium);
	margin-left: calc(-1 * var(--size-medium));
	margin-right: calc(-1 * var(--size-medium));
	padding-bottom: var(--size-small);
	padding-left: var(--size-small);
	padding-right: var(--size-small);
}

.search {
	padding-bottom: var(--size-xxSmall) !important;
	padding-top: var(--size-xxSmall) !important;
}
.searchIcon {
	color: var(--color-gray-500);
}

.noResultsMessage {
	p {
		color: var(--color-gray-500) !important;
		margin-bottom: var(--size-xxLarge) !important;
		margin-top: var(--size-xxLarge) !important;
		text-align: center;
	}
}

.tagsSelect {
	width: 100%;
}

.filtersContainer {
	display: flex;
	flex-direction: column;
	padding-bottom: var(--size-medium);
	row-gap: var(--size-medium);
	width: 250px;

	.section {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.filtersButton {
	flex-shrink: 0;
}
