.button {
    border-radius: 50%;
    height: var(--size-xLarge);
    width: var(--size-xLarge);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);

    &:hover {
        background: var(--color-purple-200);
    }

    .iconContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .dotContainer {
        position: absolute;
        right: 4px;
        top: 2px;
    }

    svg {
        height: calc(var(--size-icon) + var(--size-xSmall));
        width: calc(var(--size-icon) + var(--size-xSmall));
    }
}

.popover {
    max-width: 320px;
    min-width: 300px;
    margin-top: var(--size-xxSmall);
}

.list {
    padding: 0;
    list-style: none;
}

.notification {
    display: flex !important;
    column-gap: var(--size-small);
    color: var(--color-gray-500);

    &:hover {
        color: var(--color-gray-500);
    }

    .notificationBody {
        display: flex;
        flex-direction: column;
        row-gap: var(--size-xxSmall);
    }

    .notificationStartColumn {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        & > * {
            grid-row-start: 1;
            grid-column-start: 1;
        }

        .notificationIconContainer {
            background: var(--color-primary-background);
            box-shadow: var(--box-shadow-2);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: var(--size-medium);
            width: var(--size-medium);
            z-index: 1;
            margin-top: -4px;
            margin-left: -4px;
        }

        & svg {
            height: var(--size-xSmall);
            width: var(--size-xSmall);
            color: var(--text-primary);
        }
    }

    .dotContainer {
        margin-top: var(--size-xxSmall);
        margin-left: auto;
    }

    .timestamp {
        font-size: 12px !important;
        margin-top: 0 !important;
        margin-bottom: var(--size-xxSmall) !important;
    }

    .title {
        font-weight: 400;
    }

    .titleSuffix {
        font-weight: 200;
        color: var(--color-gray-500);
    }
}

.popoverTitle {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    column-gap: var(--size-xSmall);
    margin: 0 calc(var(--size-medium) * -1);
    margin-bottom: var(--size-medium);
    padding: 0 var(--size-medium);
    padding-bottom: var(--size-small);
    border-bottom: 1px solid var(--color-gray-300);

    h3,
    span,
    a {
        margin-bottom: var(--size-xSmall);
        font-size: 13px;
        font-weight: 400;
    }
}

.emptyStateContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.animation {
    height: 100px;
    margin-bottom: var(--size-large);
}
