.searchBar {
    align-items: center;
    background-color: var(--color-primary-background);
    display: flex;
    flex-direction: column;
    transition: right 0.3s;
    transition: 0.3s;
    width: 100%;
}
