.searchBar {
    background-color: var(--color-primary-background);
    width: 100%;
    transition: right 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}
