.header {
    display: flex;
    flex-direction: column;
    row-gap: var(--size-xSmall);
    width: 100%;

    > .topRow {
        align-items: center;
        column-gap: var(--size-medium);
        display: flex;
        justify-content: space-between;

        h3 {
            margin-bottom: 0 !important;
            overflow-wrap: anywhere;
        }

        h2,
        h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    > button {
        margin-left: auto;
    }

    > .secondRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.createIssueContainer {
    align-items: right;
    display: flex;
}
