.header {
    display: flex;
    flex-direction: column;
    row-gap: var(--size-xSmall);
    width: 100%;

    > .topRow {
        align-items: center;
        column-gap: var(--size-medium);
        display: flex;
        justify-content: space-between;
    }

    > button {
        margin-left: auto;
    }
}
