.fieldsBox {
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	margin-bottom: 30px;
	margin-right: var(--size-xxLarge);
	padding: 30px;
	width: 700px;
}

.sectionContents {
	width: 85%;
}

.cardTitle {
	font-size: 18px;
	margin-bottom: var(--size-large) !important;
}

.cardSubtitleContainer {
	display: inline-flex;
	font-size: 16px;
	font-weight: 500;
	justify-content: space-between;
	width: 100%;
}

.subtotal {
	color: var(--color-purple-600);
	font-size: 16px;
	font-weight: 500;
}

.cardTotalContainer {
	display: inline-flex;
	gap: 40px;
	justify-content: flex-end;
	margin-left: auto;
}

.cardTotalRow {
	display: inline-flex;
	font-size: 16px;
	font-weight: 500;
	justify-content: space-between;
	width: 100%;
}

.subText {
	color: var(--color-gray-500);
	font-size: 14px;
}

.planText {
	color: var(--color-purple);
	font-weight: 500;
}

.progressContainer {
	:global(.ant-progress-inner) {
		height: var(--size-medium);
	}

	:global(.ant-progress-bg) {
		height: var(--size-medium) !important;
	}
}
