.codeBlock {
	border: 0 !important;
	border-radius: 0 !important;
	flex: 1 1 auto;
	margin: 0 !important;
	margin-bottom: 0;
	width: fit-content;

	:global(.token):not(.underline) {
		background: initial !important;
	}
}

.codeBlockWrapper {
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.underline {
	--underline-color: var(--color-red-600);

	background-image: linear-gradient(
			45deg,
			transparent 65%,
			var(--underline-color) 80%,
			transparent 90%
		),
		linear-gradient(
			135deg,
			transparent 5%,
			var(--underline-color) 15%,
			transparent 25%
		),
		linear-gradient(
			135deg,
			transparent 45%,
			var(--underline-color) 55%,
			transparent 65%
		),
		linear-gradient(
			45deg,
			transparent 25%,
			var(--underline-color) 35%,
			transparent 50%
		) !important;
	background-position: 0 100% !important;
	background-repeat: repeat-x !important;
	background-size: 8px 2px !important;
}
