.locationBox {
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
    height: 150px;
    display: grid;
    grid-template-columns: 120px 230px;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    max-width: 350px;
}

.userAvatarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.avatarWrapper {
    height: 100%;
    display: flex;
    margin-right: 10px;
    justify-content: center;
}

.headerWrapper {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 5px;
}

.userText {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.userIdSubHeader {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    color: #5629c6;
    font-weight: 300;
    font-size: 14px;
    padding-right: 25px;
}

.userInfoWrapper {
    color: #808080;
    font-size: 13px;
    width: 100%;
    padding-right: 25px;
}

.userProfile {
    height: 60px;
    width: 60px;
    background-color: #f2eefb;
    border-radius: 50%;
}
