.locationBox {
    box-sizing: border-box;
    display: flex;
    padding: var(--size-medium) 22px;
    padding-bottom: var(--size-medium);
    column-gap: var(--size-small);
    background-color: var(--color-primary-background);
    max-width: 350px;
    position: relative;
}

.userAvatarWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.skeletonWrapper {
    width: 350px;
    display: flex;
    flex-direction: row;
    padding: 10px 30px 0 30px;
}

.avatarWrapper {
    height: 100%;
    display: flex;
    margin-right: 10px;
    justify-content: center;
}

.headerWrapper {
    font-weight: 400;
    width: 100%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    row-gap: var(--size-xxSmall);
}

.userText {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.userIdHeader {
    margin: 0;
    font-size: 14px;
    color: var(--color-black);
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    // Spacing for the star icon.
    width: calc(100% - 50px);
}

.userIdSubHeader {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    line-height: 17px;
    font-size: 12px;
    color: var(--color-gray-500);
    margin: 0 !important;
}

.userInfoWrapper {
    color: var(--color-gray-500);
    font-size: 13px;
    width: 100%;
    padding-right: 25px;
}

.userProfile {
    height: 60px;
    width: 60px;
    background-color: var(--color-gray-200);
    border-radius: 50%;
}

.tagEllipsis {
    display: block;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expandArrow {
    flex: 0 0 16px;
    cursor: pointer;
    opacity: 0.7;
    margin-top: 4px;
    transition: 0.2s;
}

.starIconWrapper {
    position: absolute;
    right: 22px;
    top: var(--size-medium);
    margin: auto;
    width: var(--size-medium);

    &:hover {
        cursor: pointer;
    }
}

.starredIcon {
    stroke: var(--color-yellow-200);
    color: var(--color-yellow-200);
    fill: var(--color-yellow-200);
}

.unstarredIcon {
    stroke: var(--color-gray-500);
    color: var(--color-gray-500);
    fill: var(--color-gray-500);
}

.deviceDetails {
    display: flex;
    align-items: center;
    column-gap: 6px;
}
