.input {
    border: 1px solid var(--color-gray-300) !important;
    border-radius: var(--border-radius) !important;

    &:global(.ant-input-lg) {
        padding: var(--size-xSmall) var(--size-medium) !important;
    }

    &:global(.ant-input-affix-wrapper),
    :global(.ant-input) {
        background: var(--color-primary-background) !important;
        color: var(--text-primary) !important;
    }

    :global(.ant-input-clear-icon) {
        color: var(--color-gray-500) !important;
    }
}
