.inputWrapper {
	align-items: center;
	background: var(--color-gray-200);
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	display: flex;
	overflow: hidden;
	padding: 0;
	transition: all 0.3s;

	&:focus-within {
		background: var(--color-primary-background);
		border-color: var(--color-purple);
		box-shadow: 0 0 0 4px rgba(var(--color-purple-rgb), 0.2);
	}

	&:hover:not(:focus-within) {
		border-color: var(--color-purple);
	}

	&.small {
		padding: 0 var(--size-xxSmall);
	}

	&.large {
		padding: var(--size-xSmall) var(--size-small);
	}
}

.input {
	background: transparent;
	border: none;
	color: var(--text-primary);
	flex: 1;
	font-size: 16px;
	line-height: initial;
	outline: none;
	padding: var(--size-xSmall) var(--size-small);
	width: 100%;

	&::placeholder {
		color: var(--color-gray-500);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.addon {
	background: transparent;
	color: var(--text-primary);
}

.affix {
	color: var(--color-gray-500);
	display: inline-flex;
	padding: 0 var(--size-xxSmall);
}

.clearButton {
	background: none;
	border: none;
	color: var(--color-gray-500);
	cursor: pointer;
	font-size: 16px;
	padding: 0 var(--size-xxSmall);
}
