.devToolsButton {
	align-items: center;
	display: flex;
}

.devToolsIcon {
	color: var(--color-gray-500);
	width: 20px;

	&.devToolsActive {
		color: var(--color-purple);
	}
}

.menuItemContainer {
	display: flex !important;
	justify-content: space-between;
	padding-left: var(--size-xSmall) !important;

	> div {
		align-items: center;
		flex-grow: 1;
	}
}

// We call this `switchElement` instead of `switch` because `switch` is a reserved word in Javascript.
.switchElement {
	flex-grow: 1;
}

.pinButton {
	margin-right: var(--size-small) !important;
}

.toolbarItem {
	animation: grow 0.1s forwards;
}

@keyframes grow {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
