.dashboardWrapper {
	width: 100%;
}

.dashboard {
	padding: 0;
}

.subTitle {
	font-size: 18px;
}

.chartHeaderWrapper {
	align-items: center;
	display: flex;
	height: 15px;
	justify-content: space-between;
	margin-bottom: var(--size-medium);

	#h3 {
		margin-bottom: 0 !important;
	}

	:global(.ant-input-affix-wrapper) {
		width: 150px;
	}

	&.smallMargin {
		margin-bottom: var(--size-medium);
	}
}

.dashboardBody {
	display: grid;
	gap: var(--size-xxLarge);
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	position: relative;
	width: 100%;
}

.filtersContainer {
	display: flex;
	justify-content: flex-end;
	padding-bottom: var(--size-medium);
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--size-xLarge);
}

.noDataContainer {
	align-items: center;
	backdrop-filter: blur(2px);
	border-radius: var(--border-radius);
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	transition: backdrop-filter 0.2s ease-in-out;
	width: 100%;
}

.composedChart {
	cursor: pointer !important;
}

.demoWorkspaceButton {
	display: flex;
	justify-content: center;
	margin-top: var(--size-medium);
}
