.dashboardWrapper {
    width: 100%;
}

.dashboard {
    padding: 120px 80px 80px;
}

.subTitle {
    font-size: 18px;
}

.chartHeaderWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--size-medium);

    h3 {
        margin-bottom: 0 !important;
    }

    :global(.ant-input-affix-wrapper) {
        width: 150px;
    }
}

.graphSection {
    flex-direction: column;
    padding: var(--size-large);
}

.section {
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    display: flex;
    transition: 0.4s;
    width: 100%;
}

.dashboardBody {
    display: grid;
    gap: var(--size-xxLarge);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    position: relative;
    width: 100%;
}

.filtersContainer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: var(--size-medium);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--size-xLarge);
}

.noDataContainer {
    align-items: center;
    backdrop-filter: blur(2px);
    border-radius: var(--border-radius);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: backdrop-filter 0.2s ease-in-out;
    width: 100%;
}

.composedChart {
    cursor: pointer !important;
}
