.dashboardWrapper {
    width: 100%;
}

.dashboard {
    margin: 120px 80px 80px;
}

.subTitle {
    font-size: 18px;
}

.chartHeaderWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.graphSection {
    flex-direction: column;
    padding: 20px 15px;
}

.section {
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    display: flex;
    transition: 0.4s;
    width: 100%;
}

.dashboardBody {
    display: grid;
    gap: var(--size-xxLarge);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
}

.tooltip {
    background-color: var(--color-primary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--text-primary) !important;
    padding: var(--size-small) 0 !important;

    > * {
        padding-left: var(--size-medium) !important;
        padding-right: var(--size-medium) !important;
    }

    > h4 {
        border-bottom: 1px solid var(--color-gray-300);
        font-family: var(--header-font-family);
        font-size: 13px !important;
        margin-bottom: var(--size-small) !important;
        padding-bottom: var(--size-xSmall);
    }

    > p {
        color: var(--color-gray-500) !important;
        font-size: 14px !important;
        margin: 0 !important;
    }
}

.filtersContainer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: var(--size-medium);
}
