@import 'src/static/shared.scss';

.homePageWrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
}

.arrowWrapper {
    color: $highlight-purple;
    font-size: 16px;
    margin: 10px;
    font-weight: 300;
    transition: 0.3s margin;
}

.overlayWrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 10px;
}

.arrowWrapper:hover {
    margin-left: 20px;
    margin-right: 0px;
}

.arrow {
    margin-left: 5px;
    height: 8px;
    width: 20px;
}

@media only screen and (max-width: 1000px) {
    .homePageWrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        flex-direction: column;
        height: 100%;
    }
}

.securityNav {
    width: 100%;
    padding: 20px;
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 100%;
}

.highlightText {
    font-size: 22px;
    font-weight: 400;
    user-select: none;
}

.purpleText {
    color: $highlight-purple;
}

.header {
    font-size: 35px;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 90vw;
}

.logoHeader {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px;
    color: #888888;
    max-width: 90vw;
}

.humans {
    margin-bottom: 10px;
    height: 250px;
    max-width: 90vw;
}

.logos {
    height: 80px;
    max-width: 90vw;
}

.subHeader {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin-bottom: 30px;
}

.navLink {
    color: #888888;
    margin: 10px;
    font-size: 16px;
}

.modalButton {
    color: #888888;
    margin: 10px;
    font-size: 16px;
}

.securityWrapper {
    margin-left: auto;
    width: max-content;
    flex-direction: column;
    display: flex;
}

.securityLink {
    color: #888888;
    margin: 0 10px 5px 10px;
    font-size: 12px;
    text-decoration: underline;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.stylingWrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    align-items: center;
    flex-direction: column;
}

.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: $highlight-purple;
}
