.dashboardWrapper {
    width: 100%;
}

.dashboard {
    margin: 120px 80px 80px;
}


.subTitle {
    font-size: 18px;
    margin-bottom: 30px !important;
    margin-top: 12px;
}

.chartHeaderWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 30px;
}


.graphSection {
    flex-direction: column;
    padding: 20px 15px;
}

.section {
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    display: flex;
    margin-bottom: 20px;
    transition: 0.4s;
    width: 100%;
}

.dashboardBody {
    column-gap: 30px;
    display: grid;
    grid-template-areas: 'Left-Panel Right-Panel';
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
    width: 100%;
}
