.minMaxRow {
	display: grid;
	grid-gap: var(--size-medium);
	grid-template-columns: 80px 1fr 150px 80px 1fr 150px;
}

.formLabel {
	margin-bottom: 0;
	margin-top: 4px;
}

.submitRow {
	column-gap: var(--size-medium);
	display: flex;
	justify-content: flex-end;
	margin-top: var(--size-large);
	width: 100%;
}

.section {
	display: flex;
	flex-direction: column;
	padding-bottom: 0 !important;
	padding-top: var(--size-medium);
	row-gap: var(--size-medium);

	&:first-of-type {
		padding-top: 0;
	}

	& h3 {
		font-size: 16px;
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
}

.typesContainer {
	display: grid;
	grid-gap: var(--size-medium);
	grid-template-columns: 1fr 1fr;
}

.metricViewDetails {
	display: grid;
	grid-gap: var(--size-medium);
	grid-template-columns: 1fr 1fr;
}

.metricViewDetail {
	display: flex;
	flex-direction: column;
	row-gap: var(--size-medium);
}

.typeSubheader {
	color: var(--color-gray-500);
}

.tagFilterGroup {
	display: flex;
	flex-direction: column;
	row-gap: var(--size-xxSmall);
}

.filtersRow {
	display: grid;
	grid-gap: var(--size-medium);
	grid-template-columns: 11fr 5fr 14fr 50px;
	width: 100%;
}

.groupsRow {
	display: grid;
	grid-gap: var(--size-medium);
	grid-template-columns: 1fr 50px;
	width: 100%;
}

.removeTagFilterButton {
	background-color: var(--color-red-700);
	border: var(--color-red-900);
	color: var(--color-white) !important;
	height: 40px;
	padding: 0 16px;

	&[disabled] {
		background-color: var(--color-red-300) !important;
		border: var(--color-red-400);

		&:hover {
			background-color: var(--color-red-300) !important;
		}
	}

	&:hover {
		background-color: var(--color-red-600) !important;
	}
}
