/* vanilla-extract-css-ns:src/components/Button/style.css.ts.vanilla.css?source=QGtleWZyYW1lcyBfMXdkaDNzajAgewogIDAlIHsKICAgIHRyYW5zZm9ybTogcm90YXRlKDBkZWcpOwogIH0KICAxMDAlIHsKICAgIHRyYW5zZm9ybTogcm90YXRlKDM2MGRlZyk7CiAgfQp9Ci5fMXdkaDNzajEgewogIGFuaW1hdGlvbi1uYW1lOiBfMXdkaDNzajA7CiAgYW5pbWF0aW9uLWR1cmF0aW9uOiAxczsKICBhbmltYXRpb24taXRlcmF0aW9uLWNvdW50OiBpbmZpbml0ZTsKICBhbmltYXRpb24tdGltaW5nLWZ1bmN0aW9uOiBsaW5lYXI7Cn0= */
@keyframes _1wdh3sj0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
._1wdh3sj1 {
  animation-name: _1wdh3sj0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
._2hsj210 {
  margin-bottom: 6px;
}
._2hsj211 {
  width: 100%;
}
._17v45he0 {
  border-radius: 6px;
  border: var(--_11tb6c51o) solid 1px;
  cursor: pointer;
  display: block;
  padding: 4px 6px;
  font-size: 13px;
  color: var(--_11tb6c5c);
  outline: 0;
  width: 100%;
  appearance: none;
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" fill="none" viewBox="0 0 20 20" focusable="false" > <path fill="grey" fillRule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414Z" clipRule="evenodd" /> </svg>');
  background-repeat: no-repeat;
  background-position: right 6px center;
}
._17v45he0::placeholder {
  color: var(--_11tb6c5x);
}
._17v45he0:disabled {
  background: #e9e8ea;
}
._17v45he0:focus {
  border: var(--_11tb6c51q) solid 1px;
}
._17v45he1 {
  border-top: 0;
}
._17v45he1:focus,
._17v45he1:hover {
  border-top: 0 !important;
}
._1ta0zd10 {
  width: 280px;
}
.u25ybo0 {
  width: 100%;
}
.ti67jy0 {
  padding: 2px 4px;
  background: #eeedef;
  box-shadow: inset 0 -1px #0000001a;
  border: none;
  border-radius: 5px;
}
.ti67jy1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ti67jy2 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ti67jy3 {
  display: inline-flex;
  height: 20px;
}
.ti67jy4 {
  padding: 2px 4px;
  border: none;
  border-radius: 5px;
}
.ti67jy5 {
  word-break: normal;
  white-space: nowrap;
}
.ti67jy6 {
  flex-shrink: 0;
}
.ti67jy7 {
  max-width: 50%;
}
.ti67jy8 {
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0;
  color: #6f6e77;
  gap: 6px;
  font-weight: 500;
}
.ti67jy9 {
  background-color: #ffffff;
  border: var(--_11tb6c51o) solid 1px;
  border-radius: 6px;
  min-width: 150px;
  z-index: 10;
  max-width: 50vw;
}
.ti67jya {
  height: 20px;
  pointer-events: none;
}
._1ek953u0 {
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
._1ek953u1 {
  background-color: rgba(111, 110, 119, 0.48);
  z-index: 99999;
}
._1ek953u2 {
  width: 580px;
  top: 25vh;
}
._1ek953u3 {
  width: 100%;
}
._1ek953u4 {
  flex-shrink: 0;
}
._1ek953u5 {
  flex-shrink: 0;
}
._1ek953u6 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
._1ek953u7 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._1ek953u8 {
  flex: 1;
}
._1ek953u9:hover {
  cursor: pointer;
}
.bsyaa20 {
  text-decoration: none;
  color: var(--_11tb6c5y);
}
.bsyaa20:hover {
  color: var(--_11tb6c5y);
}
.bsyaa21 {
  margin-left: 4px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #e7defc;
  color: #6346af;
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  border-radius: 3px;
  align-self: center;
}
._1kpm5g60 {
  text-decoration: none;
}
._1kpm5g60:focus-visible {
  outline: revert !important;
}
._1vb6x0p0 {
  text-decoration: none;
  color: var(--_11tb6c5y);
}
._1vb6x0p0:hover {
  color: var(--_11tb6c5y);
}
._1ukfp2a0 {
  border-radius: 0;
  border: 0 !important;
}
._1ukfp2a0:focus,
._1ukfp2a0:active {
  background: inherit;
}
._1ukfp2a1 {
  border-right: var(--_11tb6c51o) solid 1px !important;
}
._1ukfp2a2 {
  background: var(--_11tb6c5t);
}
._1ukfp2a2:focus,
._1ukfp2a2:active {
  background: var(--_11tb6c5u);
}
._1hht64e0 {
  height: 20px;
}
._1hht64e1 {
  color: var(--_11tb6c5b) !important;
}
._1hht64e1:hover {
  background: var(--_11tb6c51x);
}
._1hht64e1 .ant-select-selector {
  padding: 0 6px !important;
  border-radius: 6px !important;
  border: var(--_11tb6c51o) solid 1px !important;
  box-shadow: none !important;
}
._1hht64e1 .ant-select-selector:hover {
  background: var(--_11tb6c51x) !important;
}
._1hht64e1 .ant-select-selection-item {
  display: flex;
  align-items: center;
}
._9wfl880 {
  font-size: 36px;
  font-weight: 700 !important;
  color: var(--_11tb6c5b);
}
._9wfl880:focus {
  outline: 0;
}
._9wfl880::placeholder {
  color: var(--_11tb6c5x);
}
._4ocsjw0 {
  height: 40px;
}
._4ocsjw1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
._4ocsjw3 {
  border: 0;
  background: transparent;
  color: var(--_11tb6c5b);
  display: flex;
  font-size: 13px;
  width: 100%;
}
._4ocsjw3:focus {
  outline: 0;
}
._4ocsjw3::placeholder {
  color: var(--_11tb6c5x);
}
._4ocsjw4 {
  height: 20px;
}
._4ocsjw5 {
  height: 20px;
}
._4ocsjw6 {
  color: var(--_11tb6c5b) !important;
}
._4ocsjw6:hover {
  background: var(--_11tb6c51x);
}
._4ocsjw6 .ant-select-selector {
  padding: 0 6px !important;
  border-radius: 6px !important;
  border: var(--_11tb6c51o) solid 1px !important;
  box-shadow: none !important;
}
._4ocsjw6 .ant-select-selector:hover {
  background: var(--_11tb6c51x) !important;
}
._4ocsjw6 .ant-select-selection-item {
  display: flex;
  align-items: center;
}
._1un2bsj0 {
  height: 40px;
}
._1un2bsj1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
._1un2bsj3 {
  border: 0;
  background: transparent;
  color: var(--_11tb6c5b);
  display: flex;
  font-size: 13px;
  width: 100%;
}
._1un2bsj3:focus {
  outline: 0;
}
._1un2bsj3::placeholder {
  color: var(--_11tb6c5x);
}
._1un2bsj4 {
  height: 20px;
}
._1un2bsj5 {
  height: 20px;
}
._1un2bsj6 {
  color: var(--_11tb6c5b) !important;
}
._1un2bsj6:hover {
  background: var(--_11tb6c51x);
}
._1un2bsj6 .ant-select-selector {
  padding: 0 6px !important;
  border-radius: 6px !important;
  border: var(--_11tb6c51o) solid 1px !important;
  box-shadow: none !important;
}
._1un2bsj6 .ant-select-selector:hover {
  background: var(--_11tb6c51x) !important;
}
._1un2bsj6 .ant-select-selection-item {
  display: flex;
  align-items: center;
}
._155k3sw0 {
  height: 4.16rem;
}
._155k3sw1 {
  height: 120px;
}
._155k3sw2 {
  height: 98px;
}
._155k3sw3 {
  cursor: pointer;
}
._155k3sw3:hover {
  background-color: var(--_11tb6c51x);
}
._155k3sw4 {
  background-color: var(--_11tb6c51);
  z-index: 10 !important;
  border: var(--_11tb6c5j) solid 1px;
  box-shadow: 0 6px 12px -2px rgba(59, 59, 59, 0.12);
  border-radius: 6px;
  width: 224px;
}
._155k3sw5 {
  height: 28px;
}
._155k3sw6 {
  background-color: #dcdbdd;
  opacity: 0.5;
}
._155k3sw7 {
  opacity: 0.2;
  left: 0;
  width: calc(100% - 4px);
  pointer-events: none;
}
._155k3sw8 {
  animation: _10z0fa10;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
._14ud0dc0::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
:hover._14ud0dc0::-webkit-scrollbar-thumb {
  background-color: var(--_11tb6c51p);
}
:hover._14ud0dc0::-webkit-scrollbar {
  border-top: var(--_11tb6c5k) solid 1px;
}
._14ud0dc0::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--_11tb6c51o);
  border: 1px solid transparent;
  border-radius: 30px;
  border-top-width: 2px;
}
._14ud0dc1::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
:hover._14ud0dc1::-webkit-scrollbar-thumb {
  background-color: var(--_11tb6c51p);
}
:hover._14ud0dc1::-webkit-scrollbar {
  border-left: var(--_11tb6c5k) solid 1px;
}
._14ud0dc1::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--_11tb6c51o);
  border: 1px solid transparent;
  border-radius: 30px;
  border-left-width: 2px;
}
._10xh0c20 {
  position: absolute;
  top: 13px;
  left: 14px;
}
._10xh0c21 {
  font-family:
    IBM Plex Mono,
    Menlo,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier,
    monospace;
  font-size: 13px;
  line-height: 20px;
  background: transparent;
  border: 0;
  caret-color: var(--_11tb6c5b);
  display: flex;
  pointer-events: auto;
  width: 100%;
}
._10xh0c21::before {
  content: "";
  margin-bottom: -0.4462em;
  display: table;
}
._10xh0c21::after {
  content: "";
  margin-top: -0.3942em;
  display: table;
}
._10xh0c21:focus {
  outline: 0;
}
._10xh0c21::placeholder {
  color: var(--_11tb6c5x);
}
._10xh0c22 {
  font-family:
    IBM Plex Mono,
    Menlo,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier,
    monospace;
  font-size: 13px;
  line-height: 20px;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  max-width: calc(100% - 26px);
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}
._10xh0c22::before {
  content: "";
  margin-bottom: -0.4462em;
  display: table;
}
._10xh0c22::after {
  content: "";
  margin-top: -0.3942em;
  display: table;
}
._10xh0c23 {
  color: transparent;
  display: inline-flex;
  font-feature-settings: normal;
  position: relative;
  text-overflow: ellipsis;
}
._10xh0c24 {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 20px;
  letter-spacing: normal;
  position: absolute;
  top: 7px;
  left: -2px;
  bottom: 0;
  right: -2px;
  width: calc(100% + 4px);
}
._10xh0c25 {
  color: var(--_11tb6c5b);
  cursor: pointer;
  position: absolute;
  pointer-events: auto;
  opacity: 0;
  right: -8px;
  top: 1px;
  z-index: 1;
}
._10xh0c25:hover {
  opacity: 1;
}
._10xh0c26 {
  background: var(--_11tb6c51);
  border: var(--_11tb6c5k) solid 1px;
  border-radius: 8px;
  box-shadow: 0 2px 8px -2px rgba(59, 59, 59, 0.08);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 600px;
  max-height: min(var(--popover-available-height,300px), 300px);
  z-index: 1;
}
._10xh0c27 {
  cursor: pointer;
  padding: 12px 10px;
}
._10xh0c27:hover {
  background-color: var(--_11tb6c5t);
}
._10xh0c27[data-active-item] {
  background-color: var(--_11tb6c5u);
}
._10xh0c28 + ._10xh0c28 {
  border-top: var(--_11tb6c51o) solid 1px;
}
._1tecd1u0 {
  height: 40px;
}
._1tecd1u1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
._1tecd1u3 {
  height: 20px;
}
._1tecd1u4 {
  height: 20px;
}
._1tecd1u5 {
  color: var(--_11tb6c5b) !important;
}
._1tecd1u5:hover {
  background: var(--_11tb6c51x);
}
._1tecd1u5 .ant-select-selector {
  padding: 0 6px !important;
  border-radius: 6px !important;
  border: var(--_11tb6c51o) solid 1px !important;
  box-shadow: none !important;
}
._1tecd1u5 .ant-select-selector:hover {
  background: var(--_11tb6c51x) !important;
}
._1tecd1u5 .ant-select-selection-item {
  display: flex;
  align-items: center;
}
.xaifbz0 {
  border-right: var(--_11tb6c5j) solid 1px;
  height: 16px;
  width: 1px;
}
._10haslo0 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}
._10haslo1 {
  background-color: #908e96;
  border-radius: 4px;
  height: 0;
  width: 100%;
}
._10haslo2 {
  background-color: #744ed4;
}
._10haslo3 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}
.ah2zbm0 {
  background-color: var(--_11tb6c50);
  border: 1px solid var(--_11tb6c5k);
  border-radius: 5px;
  padding: 6px 4px;
}
.ah2zbm1 {
  border: 1px solid var(--_11tb6c5k);
  border-radius: 6px;
  width: 100%;
}
.ofc9fn0 {
  border-right: var(--_11tb6c51o) solid 1px;
  border-bottom: var(--_11tb6c51o) solid 1px;
  border-left: var(--_11tb6c51o) solid 1px;
  margin: 0;
}
.ofc9fn1 {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.ofc9fn3 {
  display: inline-block;
  text-align: center;
  width: 46px;
}
.ofc9fn4 {
  height: 14px;
  transition: transform 0.25s;
}
.ofc9fn5 {
  transform: rotate(-180deg);
}
.ofc9fn7 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 2px;
  height: 16px;
  max-width: 120px;
}
.ofc9fn8 {
  max-width: 560px;
}
.ofc9fn9 {
  max-width: 300px;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-top: 6px;
}
._1g045pm0 {
  color: var(--_11tb6c5b) !important;
}
._1g045pm0:hover {
  background: var(--_11tb6c51x);
}
._1g045pm0 .ant-select-selector {
  padding: 0 6px !important;
  border-radius: 6px !important;
  border: var(--_11tb6c51o) solid 1px !important;
  box-shadow: none !important;
}
._1g045pm0 .ant-select-selector:hover {
  background: var(--_11tb6c51x) !important;
}
._1g045pm0 .ant-select-selection-item {
  display: flex;
  align-items: center;
}
._124ax690 {
  background: var(--_11tb6c52);
  border-radius: 6px;
  padding: 8px;
}
._124ax691 {
  padding: 8px;
}
@keyframes _1068vpp5 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
._1068vpp0 {
  width: 100%;
}
._1068vpp1 {
  background: #e9e8ea;
  border: var(--_11tb6c51o) solid 1px;
  border-radius: 6px;
  color: var(--_11tb6c5c);
  padding: 6px;
}
._1068vpp2 {
  color: var(--_11tb6c5c);
}
._1068vpp3 {
  opacity: 0.5;
}
._1068vpp4 {
  position: absolute;
}
._1068vpp6 {
  animation: 1s _1068vpp5 linear infinite;
}
._2tuxi80 {
  background: linear-gradient(45deg, rgba(162, 138, 220, 0.08) 0%, rgba(216, 165, 216, 0.08) 50%, rgba(233, 192, 186, 0.08) 100%);
}
._2tuxi81 {
  position: relative;
  z-index: 1;
}
._2tuxi81:after {
  content: "";
  background: linear-gradient(45deg, rgba(162, 138, 220) 0%, rgba(216, 165, 216) 50%, rgba(233, 192, 186) 100%);
  border: 1px solid transparent;
  border-radius: 8px;
  inset: 0;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  position: absolute;
  z-index: -1;
}
._2tuxi81 p {
  margin: 0 0 1rem 0 !important;
}
._2tuxi81 pre {
  background: var(--_11tb6c52);
  border-color: var(--_11tb6c5k);
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  padding: 10px;
}
._2tuxi81 code:not([class]) {
  background-color: transparent;
  border: 0;
}
._2tuxi81 p:last-child,
._2tuxi81 ol:last-child {
  margin: 0 !important;
}
._2tuxi81 ol {
  padding: 0 0 0 1.5rem !important;
  margin: 0 0 1rem 0 !important;
}
._6soxly0 {
  position: absolute;
  top: 7px;
  left: 7px;
}
.ccrj1p0 {
  width: 100%;
  border: var(--_11tb6c51o) solid 1px;
}
.ccrj1p2 {
  border: 0;
  border-radius: 0;
}
._3dlaof0 {
  height: 20px;
}
._3dlaof1 {
  max-width: 100%;
}
._3dlaof2:hover {
  background: var(--_11tb6c51x);
}
._3dlaof3 {
  background: var(--_11tb6c520);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
}
._3dlaof3:hover {
  background-color: var(--_11tb6c521);
}
._3dlaof4 {
  max-width: 110px;
}
._1f2v8en0 {
  transition: transform 0.2s ease-in-out;
  width: 340px;
  position: fixed;
  height: calc(100vh - var(--header-height));
}
._1f2v8en1 {
  height: calc(100vh - var(--header-height) - var(--banner-height));
}
._1f2v8en2 {
  position: fixed;
  transform: translateX(-340px);
}
._1f2v8en3 {
  position: absolute;
  right: calc((-1 * var(--size-xLarge) / 2));
  top: 16px;
  transform: translateY(calc(112px + var(--size-medium) + 30px));
  z-index: 20;
}
._1f2v8en4 {
  right: calc(-1 * (var(--sidebar-width) - var(--size-xLarge)));
}
._1f2v8en5 {
  height: 100%;
}
._1f2v8en6 {
  height: 44px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 10;
}
._1tn5c580 {
  color: var(--_11tb6c5y);
}
._1tn5c581 {
  max-width: 108px;
}
._1w5sij40 {
  padding: 0;
}
.gadbsf0 {
  border: var(--_11tb6c51o) solid 1px;
  padding: 4px 6px;
  font-size: 13px;
  width: 100%;
}
.gadbsf0:hover {
  border: var(--_11tb6c51p) solid 1px;
}
.gadbsf0 .ant-picker-input input {
  font-size: 13px;
}
.gadbsf0.ant-picker-focused {
  border: var(--_11tb6c51q) solid 1px;
  box-shadow: none;
}
.gadbsf1 {
  z-index: 1;
}
._75g8nf0 {
  display: flex;
  width: 100%;
}
._75g8nf1 {
  position: relative;
  z-index: 98;
}
._75g8nf2 {
  background-color: #f9f8f9;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding: 8px;
}
._75g8nf3 {
  background: white;
  border-radius: 4px;
  display: flex;
  height: 100%;
  margin-left: 0;
  overflow-y: scroll;
  width: 100%;
}
._75g8nf4 {
  display: flex;
  gap: var(--size-medium);
  margin-top: var(--size-medium);
}
._75g8nf5 {
  margin-left: 340px;
}
._75g8nf6 {
  border: 0 !important;
  border-radius: 0;
}
._1f99hkr0 {
  display: flex;
}
.g2tqod0 {
  background-color: var(--_11tb6c56);
  border-radius: 4px;
  color: inherit !important;
  display: inline-block;
  padding: 0 4px;
}
.szxd8q0 .szxd8q0 {
  padding-left: 22px;
}
.szxd8q2 {
  align-items: center;
  display: flex;
  visibility: hidden;
  flex-direction: row;
  gap: 4px;
  opacity: 0.5;
}
.szxd8q2:hover {
  opacity: 1;
}
.szxd8q1:hover .szxd8q2 {
  visibility: visible;
}
.szxd8q3 {
  opacity: 0.6;
}
.szxd8q3:hover {
  opacity: 1;
}
.szxd8q4 {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  color: var(--_11tb6c5y);
}
.szxd8q4:hover {
  color: var(--_11tb6c5w);
}
.szxd8q4:active {
  color: var(--_11tb6c5w);
}
._1hjkzyj0 {
  padding: 4px;
  gap: 2px;
  border: 1px solid var(--_11tb6c5k);
  border-radius: 5px;
}
._1hjkzyj1 {
  white-space: pre;
}
._1ubqgtn0 {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-gap: 8px;
  cursor: pointer;
  align-items: flex-start;
}
._1ubqgtn2 {
  display: block;
}
._1ubqgtn3 {
  padding: 6px;
}
._1ecj17q0 {
  height: 28px;
  width: 28px;
}
._1ecj17q1 {
  color: var(--_11tb6c5b);
}
._1ecj17q2 {
  color: var(--_11tb6c5y);
}
._1ecj17q3 {
  align-items: center;
  column-gap: 14px;
  display: grid;
  grid-template-columns: fit-content(20px) auto;
  padding: 8px;
  position: relative;
}
._1ecj17q4 {
  align-items: center;
  color: var(--color-gray-500) !important;
  column-gap: 6px;
  display: flex;
}
._13m092k0 {
  align-items: center;
  background-color: var(--_11tb6c51o);
  border-radius: 40px;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: space-between;
  opacity: 0.8;
  position: absolute;
  z-index: 2;
}
._13m092k1 {
  cursor: grab;
}
._13m092k2 {
  background-color: var(--_11tb6c5i);
  border-radius: 40px;
  cursor: ew-resize;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 2px;
  user-select: none;
}
._13m092k3 {
  background-color: #ffffff;
  border-radius: 3px;
  height: 50%;
  user-select: none;
  width: 3px;
}
._13m092k4 {
  height: 100%;
  width: 100%;
}
._13m092k5 {
  transition: width 0.17s linear;
}
._2maxeq0 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: relative;
}
._2maxeq1 {
  border-bottom: 1px var(--color-neutral-100) solid;
  height: 7px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2;
}
._2maxeq2 {
  border: 0 !important;
  height: 0 !important;
  overflow-x: hidden;
  visibility: hidden;
}
._2maxeq3 {
  overflow: hidden !important;
}
._2maxeq4 {
  pointer-events: none;
}
._2maxeq5 {
  background-color: var(--color-neutral-300);
  border-bottom: 1px solid var(--color-neutral-100);
  border-radius: 1px 1px 0 0;
  height: 3px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
._2maxeq6 {
  will-change: transform;
  background-color: var(--color-neutral-700);
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transform-origin: left;
}
._2maxeq7 {
  background-color: var(--color-white);
  height: 3px;
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
}
._2maxeq8 {
  will-change: transform;
  background-color: var(--color-neutral-500);
  z-index: 4;
  width: 100%;
  transform-origin: left;
}
._2maxeq9 {
  height: min-content;
  overflow-x: clip;
  overflow-y: hidden;
  overscroll-behavior: none;
  position: relative;
  width: 100% !important;
}
._2maxeqa {
  display: flex;
  flex-direction: column;
  height: 58px;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  justify-content: flex-end;
}
._2maxeqb {
  position: relative;
  width: 100%;
  height: 58px;
}
._2maxeqc {
  height: 24px;
  margin-left: 8px;
  margin-right: 8px;
  pointer-events: none;
  position: relative;
}
._2maxeqd {
  border-bottom: 1px var(--color-neutral-100) solid;
}
._2maxeqe {
  border-left: 1px var(--color-neutral-200) solid;
  bottom: 0;
  position: absolute;
}
._2maxeqf {
  bottom: 10px;
  color: var(--color-neutral-300);
  font-family: var(--header-font-family);
  font-size: 10px;
  letter-spacing: -0.1em;
  line-height: 12px;
  position: absolute;
  text-align: center;
  user-select: none;
}
._2maxeqg {
  border-left: 1px solid var(--color-neutral-200);
  bottom: 0;
  position: absolute;
}
._2maxeqh {
  height: 8px;
}
._2maxeqi {
  height: 4px;
}
._2maxeqj {
  height: 2px;
}
._2maxeqk {
  background-color: var(--color-neutral-50);
  bottom: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
}
._2maxeql {
  transition: transform 0.27s linear;
}
._2maxeqm {
  position: absolute;
  left: 8px;
  height: 100%;
  bottom: 0;
}
._2maxeqn {
  will-change: transform;
  position: relative;
  height: 100%;
  width: 10px;
  overflow: hidden;
  z-index: 1;
}
._2maxeqo {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10px;
  position: relative;
  z-index: 2;
}
._2maxeqp {
  transition: transform 0.17s linear;
}
._2maxeqq {
  width: 4px;
  background-color: var(--_11tb6c5b);
  border: 1px solid #ffffff;
  border-top: none;
  cursor: ew-resize;
  height: 59px;
  position: absolute;
  top: 24px;
}
._2maxeqr {
  height: 0;
  visibility: hidden;
}
._2maxeqs {
  background-color: var(--_11tb6c5b);
  border: 1px solid #ffffff;
  border-radius: 1px 1px 12px 12px;
  cursor: grab;
  height: 10px;
  position: sticky;
  top: 15px;
  width: 8px;
}
._2maxeqt {
  z-index: 2;
  height: 20px;
  left: 0;
  transform-origin: left;
}
.v8kz6z0 {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  width: 100%;
}
.v8kz6z0:hover {
  background-color: var(--_11tb6c51x);
}
.v8kz6z2 {
  background-color: var(--_11tb6c51y);
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
._9ttgrc0 {
  height: 100%;
  width: 100%;
}
._1mjemv0 {
  margin: 0;
}
._1gzpu1z0 {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: auto;
  position: relative;
}
._1gzpu1z1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
}
._1bsjoph0 {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  width: 100%;
}
._1bsjoph0:hover {
  background-color: var(--_11tb6c51x);
}
._1bsjoph1 {
  max-height: calc(100vh - 160px - 32px - 42px - 32px - var(--header-height));
}
._1bsjoph2 {
  max-height: calc(100vh - 160px - 32px - 42px - 32px - var(--header-height) - var(--banner-height));
}
.ltrwrc0 {
  height: calc(100vh - 108px);
}
.ltrwrc1 {
  position: fixed;
  left: 100%;
  transform: translateX(300px);
}
.ltrwrc2 {
  height: 100%;
  padding: 0;
}
.ltrwrc3 {
  border-radius: 8px;
}
._1l6nlco0 {
  padding: 0;
}
._1m26oyu0 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
}
._1m26oyu1 {
  transform: rotate(180deg);
  height: 14px;
  color: #6f6e77;
}
._1m26oyu2 {
  height: 14px;
  padding-right: 8px;
  color: #6f6e77;
}
._1m26oyu3 {
  border-left: 1px solid #e4e2e4;
  height: 16px;
}
._1m26oyu4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  display: inline-block;
}
._1m26oyu5 {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  gap: 8px;
}
._1m26oyu6 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  min-width: 400px;
}
._1m26oyu7 {
  flex-shrink: 0;
}
._1m26oyu8:focus:enabled,
._1m26oyu8:active:enabled {
  background: #e9e8ea;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
._1m26oyu9:focus:enabled,
._1m26oyu9:active:enabled {
  background: transparent;
  color: #6f6e77;
}
.hgp31e0 .ant-modal-content {
  background-color: var(--_11tb6c52);
  border-radius: 8px !important;
  border: var(--_11tb6c5j) solid 1px;
  box-shadow: 0 6px 12px -2px rgba(59, 59, 59, 0.12);
}
.hgp31e0 .ant-modal-body {
  padding: 0;
}
.tzvxpp0 {
  width: 340px;
  position: fixed;
  height: calc(100vh - var(--header-height));
}
.tzvxpp1 {
  height: calc(100vh - var(--header-height) - var(--banner-height));
}
.tzvxpp2 {
  position: fixed;
  transform: translateX(-340px);
}
._1gfijho0 {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: space-between;
}
._1gfijho1 {
  max-width: 100%;
}
._1gfijho2 {
  color: #6f6e77;
}
._1gfijho3 {
  cursor: pointer;
  padding-top: 2px;
  width: 80px;
}
._1gfijho4:hover {
  background: var(--_11tb6c51x);
}
._1gfijho5 {
  background: var(--_11tb6c520);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
}
._1gfijho5:hover {
  background-color: var(--_11tb6c521);
}
.riaubm0 {
  background: #fdfcfd;
  width: 100%;
  height: 100%;
}
.riaubm1 {
  width: 100%;
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}
.riaubm2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 24px;
}
.riaubm3 {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}
.riaubm4 {
  background-color: #e4e2e4;
}
.riaubm5 {
  background-color: #6b48c7;
  border-radius: 4px;
  height: 60%;
}
.riaubm6 {
  display: grid;
  grid-template-columns: 80px 80px 1fr 100px 80px 80px 20px;
  grid-gap: 6px;
  border-bottom: 1px solid #e4e2e4;
  padding: 12px 14px 10px;
}
.riaubm7 {
  display: grid;
  grid-template-columns: 80px 80px 1fr 100px 80px 80px 20px;
  grid-gap: 6px;
  padding: 6px;
  color: var(--_11tb6c5w);
  width: 100%;
  height: 36px;
  align-items: center;
}
.riaubm7:hover {
  background-color: var(--_11tb6c51x);
}
.riaubm8 {
  border-bottom: 2px solid var(--_11tb6c5l);
}
.riaubma {
  color: var(--_11tb6c515);
}
.riaubmc {
  font-weight: 500;
}
._3y9dcy0 {
  background: #fdfcfd;
  width: 100%;
  height: 100%;
}
._3y9dcy1 {
  width: 100%;
  height: calc(100% - 22px);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}
._3y9dcy2 {
  display: grid;
  grid-template-columns: 20px 1fr 80px 120px;
  grid-gap: 0;
  border-bottom: 1px solid #e4e2e4;
  padding-right: 4px;
  height: 22px;
}
._3y9dcy3 {
  display: grid;
  grid-template-columns: 20px 1fr 80px 120px;
  grid-gap: 0;
  color: var(--_11tb6c5w);
  width: 100%;
  height: 24px;
  align-items: center;
}
.essfm40 {
  max-height: 400px;
}
.essfm40::-webkit-scrollbar-corner {
  background-color: transparent;
}
._1h7r9xv0 {
  height: 100%;
  overflow-y: hidden;
}
.izessr0 {
  padding-left: 8px;
  height: 100%;
}
.izessr1:focus,
.izessr1:active,
.izessr1:hover {
  background-color: #e9e8ea;
}
.izessr3 {
  background-color: #eeedef;
}
._1p577ua0 {
  font-size: 13px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
._1p577ua1 {
  border-radius: 6px;
  color: #6f6e77;
  cursor: pointer;
  display: grid;
  grid-template-columns: 3fr 1fr auto 100px 20px;
  gap: 8px;
  padding: 8px;
}
._1p577ua1:hover {
  background-color: var(--_11tb6c51x);
}
._1p577ua4 {
  background-color: var(--_11tb6c51y);
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
._1p577ua6 {
  color: var(--_11tb6c5w);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
._1eq64x70 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: relative;
}
._1eq64x71 {
  transform: rotate(90deg);
}
._1eq64x72 {
  height: 20px;
}
._1gpgayi0 {
  border-top: solid 1px #e4e2e4;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
._1gpgayi1 {
  display: flex;
  flex-direction: column;
  position: relative;
}
._1gpgayi2 {
  background-color: #f9f8f9;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding: 8px;
}
._1gpgayi3 {
  background: #fdfcfd;
  border: 1px solid #e4e2e4;
  border-radius: 6px;
  box-shadow: 0 2px 8px -2px rgba(59, 59, 59, 0.08);
  overflow: clip;
  display: flex;
  flex: 2;
  height: 100%;
  width: 100%;
}
._1gpgayi4 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  width: 100%;
}
._1gpgayi5 iframe {
  border-radius: 4px;
  border: var(--_11tb6c5k) solid 1px;
  box-shadow: 0 6px 12px -2px rgba(59, 59, 59, 0.12);
}
._1gpgayi6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  min-width: 428px;
  z-index: 0;
}
._1gpgayi7 {
  position: relative;
  z-index: 98;
}
._1gpgayi8 {
  position: fixed;
  transform: translateX(-340px);
}
._1gpgayi9 {
  align-items: center;
  color: #000000;
  cursor: move;
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 32px;
  top: -700px;
  z-index: 200;
}
._1gpgayia {
  align-self: center !important;
  height: fit-content;
  justify-self: center !important;
}
._1gpgayib {
  cursor: pointer;
  text-decoration: underline;
}
._1gpgayic {
  display: grid;
  grid-template-columns: 1fr;
}
._1gpgayid {
  grid-template-columns: 340px 1fr;
}
._1gpgayie {
  grid-template-columns: 1fr 300px;
}
._1gpgayif {
  filter: blur(4px);
}
._1t72qig0 {
  position: absolute;
  right: 0;
  top: -6px;
}
._1t72qig1 {
  background-color: var(--_11tb6c52);
  border: var(--_11tb6c5k) solid 1px;
  border-radius: 6px;
  display: block;
  padding: 0;
  position: relative;
}
._1t72qig1 code {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}
@keyframes bva4e60 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bva4e61 {
  animation: 1s bva4e60 linear infinite;
}
.bva4e62 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bva4e63 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.u1xyjd0 {
  border-radius: 4px;
  color: var(--_11tb6c5y);
  cursor: pointer;
  padding: 12px 8px;
  width: 325px;
}
.u1xyjd0:hover {
  background-color: var(--_11tb6c51x);
  color: var(--_11tb6c5w);
}
.u1xyjd1 {
  background-color: var(--_11tb6c51y);
  color: var(--_11tb6c5w);
}
.u1xyjd2 {
  background-color: var(--_11tb6c51z);
  color: var(--_11tb6c5x);
  cursor: not-allowed;
}
.u1xyjd2:hover {
  background-color: var(--_11tb6c51z);
  color: var(--_11tb6c5x);
}
.u1xyjd3 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 8px;
}
.u1xyjd4 {
  align-items: center;
  border: var(--_11tb6c5k) solid 1px;
  border-radius: 6px;
  display: flex;
  height: 36px;
  margin-bottom: 6px;
  justify-content: space-between;
  padding: 0 8px;
  width: 325px;
}
.u1xyjd5 {
  width: 240px;
  color: var(--_11tb6c5b) !important;
}
.u1xyjd5:hover {
  background: var(--_11tb6c51x);
}
._1kp6do40 {
  width: 100%;
}
._1kp6do41 {
  background: #e9e8ea;
  border: var(--_11tb6c51o) solid 1px;
  border-radius: 6px;
  color: var(--_11tb6c5c);
  padding: 6px;
}
._1kp6do42 {
  color: var(--_11tb6c5c);
}
._13nf89o0 {
  padding: 0;
}
._4qdycv0 {
  height: 12px;
}
._4qdycv1 {
  border-radius: 4px;
  color: var(--_11tb6c5y);
  cursor: pointer;
  padding: 8px 8px;
  width: 325px;
  height: 28px;
  display: flex;
}
._4qdycv1:hover {
  background-color: var(--_11tb6c51x);
  color: var(--_11tb6c5w);
}
._4qdycv2 {
  background-color: var(--_11tb6c51y);
  color: var(--_11tb6c5w);
}
._4qdycv3 {
  background-color: var(--_11tb6c51z);
  color: var(--_11tb6c5x);
  cursor: not-allowed;
}
._4qdycv3:hover {
  background-color: var(--_11tb6c51z);
  color: var(--_11tb6c5x);
}
._4qdycv4 + ._4qdycv4 {
  border-top: var(--_11tb6c51o) solid 1px;
}
._1xxy0on0 {
  width: 560px;
  margin-top: 64px;
  margin-bottom: 12px;
}
._1xxy0on1 {
  height: 40px;
  top: 0;
  background-color: #ffffff;
}
._1xxy0on2 {
  height: 4px;
  border-radius: 2px;
  background-color: #e9e8ea;
  overflow: hidden;
}
._1xxy0on3 {
  background-color: #6f6e77;
}
._1xxy0on4 {
  background-color: #ad5700;
}
._1xxy0on5 {
  width: 344px;
}
._1xxy0on6 {
  width: 216px;
}
._1xxy0on7 {
  background-color: #f9f8f9;
}
._1xxy0on8 {
  height: 16px;
}
._1xxy0on9 {
  padding-top: 8px;
}
._1xxy0ona {
  height: 28px;
}
._1q3ayoh0 {
  width: 560px;
  margin-top: 36px;
  margin-bottom: 12px;
}
._1q3ayoh1 {
  height: 4px;
  border-radius: 2px;
  background-color: #e9e8ea;
  overflow: hidden;
}
._1q3ayoh2 {
  background-color: #6f6e77;
}
._1q3ayoh3 {
  background-color: #ad5700;
}
._1q3ayoh4 {
  height: 14px;
}
._1q3ayoh5 {
  height: 20px;
}
._1q3ayoh6 {
  height: 20px;
}
._1r8lbz42 {
  background-color: var(--_11tb6c51k);
  border: 1px solid transparent;
  color: var(--_11tb6c5h);
  cursor: default;
}
._1r8lbz41._1r8lbz42 {
  background-color: var(--_11tb6c51l);
}
._1r8lbz43 {
  border: 1px solid var(--_11tb6c5g);
  border-left: 4px solid var(--_11tb6c5g);
}
._1r8lbz44 {
  background-color: var(--_11tb6c5l);
  color: white;
}
._1r8lbz42._1r8lbz41._1r8lbz44 {
  background-color: var(--_11tb6c5n);
}
._1r8lbz45 {
  height: 100%;
  overflow-y: hidden;
}
._12wekn70 {
  width: 45%;
  min-width: 400px;
  right: 8px;
  top: 8px;
  bottom: 8px;
  z-index: 8;
  position: absolute;
}
._1yp8bvx0 {
  border-radius: 50%;
  flex-shrink: 0;
  height: 6px;
  margin-bottom: auto;
  margin-top: auto;
  width: 6px;
}
._1yp8bvx1 {
  filter: grayscale(0.5);
}
._14l2j9r1 {
  font-size: 12px;
}
._14l2j9r2 {
  position: fixed;
}
