.suggestion {
	align-items: center;
	background: var(--header-font-family);
	column-gap: var(--size-small);
	display: flex;
	font-size: 14px;
}

.category {
	align-items: center;
	display: flex;

	> svg {
		height: 12px;
		width: 12px;
	}
}
