.toggleButtonBase {
	align-items: center;
	border-color: var(--color-gray-300);
	color: var(--color-gray-500);
	column-gap: var(--size-xSmall);
	display: flex;
	font-size: 12px;
	height: 32px;
	padding-bottom: 8px;
	padding-top: 8px;

	&:hover {
		background-color: var(--color-primary-background);
		border-color: var(--color-purple);
	}

	&.toggled {
		background: var(--color-purple-200) !important;
		color: var(--color-purple);
	}

	&.iconButton {
		border-color: transparent;
		padding: var(--size-xxSmall) var(--size-xSmall) !important;

		&:hover {
			border-color: transparent !important;
		}
	}
}
