.toggleButtonBase {
    align-items: center;
    border-color: var(--color-gray-300);
    color: var(--color-gray-500);
    column-gap: var(--size-xSmall);
    display: flex;
    display: flex;
    font-size: 12px;
    height: 32px !important;

    &:hover {
        background-color: var(--color-gray-200) !important;
        border-color: var(--color-gray-300) !important;
    }

    &.toggled {
        background: var(--color-purple-200) !important;
        border: 1px solid var(--color-purple) !important;
        color: var(--text-primary);
    }

    svg {
        height: var(--size-medium);
        width: var(--size-medium);
    }

    &.iconButton {
        border-color: transparent;
        padding: var(--size-xxSmall) var(--size-xSmall) !important;

        &:hover {
            border-color: transparent !important;
        }
    }
}
