@import 'src/static/shared.scss';

.readMarkerContainer {
	align-items: center;
	display: flex;
	position: absolute;
	right: 12px;
	top: 60px;
	width: 8px;
}

.readMarker {
	border-radius: 10px;
	height: 8px;
	width: 8px;

	&.resolved {
		background-color: var(--color-error-resolved);
	}

	&.ignored {
		background-color: var(--color-error-ignored);
	}

	&.open {
		background-color: var(--color-error-open);
	}
}

.topText {
	color: var(--color-gray-500);
	font-size: 12px;
	margin: 4px 0 !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.middleText {
	color: var(--text-primary);
	font-size: 14px;
	margin: 4px 0 8px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.bottomText {
	color: var(--text-primary);
	font-size: 12px;
	margin: 4px 0 !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.errorTextSection {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 180px;
}

.errorTextWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.feedWrapper {
	display: flex;
	width: 100%;
}

.feedContent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: calc(-1 * var(--size-xLarge));
	margin-right: calc(-1 * var(--size-xLarge));
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: var(--size-xLarge);
	padding-right: var(--size-xLarge);
	transition: border 0.2s ease-in-out;
}

.feedItems {
	border-bottom: 1px solid transparent;
	border-bottom-color: var(--color-gray-300);
	border-top: 1px solid transparent;
	height: 100%;
	overflow: auto;

	&.hasScrolled {
		border-top-color: var(--color-gray-300);
	}
}

.feedLine {
	box-shadow: initial;

	&.hasScrolled {
		box-shadow: 0 0 32px 8px var(--color-gray-300);
	}
}

.fixedContent {
	align-items: center;
	display: flex;
	flex-shrink: 1;
	margin-top: var(--size-medium);
	padding-bottom: var(--size-xSmall);
	position: relative;
}

.resultCount {
	align-items: center;
	color: var(--color-gray-500);
	font-family: var(--header-font-family);
	justify-content: space-between;
	width: 100%;
}

.errorCardWrapper {
	position: relative;

	&:hover {
		.errorCardAction {
			display: flex;
		}
	}
}

.errorCardAction {
	align-items: center;
	background-color: var(--color-primary-background);
	border: 0;
	border-radius: 5px;
	bottom: 0;
	display: none;
	height: 30px;
	margin: auto;
	padding: 0 6px;
	position: absolute;
	right: 8px;
	top: 0;
	width: 30px;

	&:hover {
		background-color: var(--color-gray-300);
		cursor: pointer;

		.actionIcon {
			color: var(--text-primary);
			fill: var(--text-primary);
			stroke: var(--text-primary);
		}
	}
}

.actionIcon {
	color: var(--color-gray-500);
	fill: var(--color-gray-500);
	stroke: var(--color-gray-500);
}

.errorCard {
	align-items: center;

	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	cursor: pointer;
	display: flex;
	font-weight: 400;
	justify-content: space-between;
	margin-bottom: 14px;
	padding: 18px;
	position: relative;

	transition: box-shadow 0.1s ease-in;

	&::before {
		background-color: var(--color-purple);
		border-bottom-left-radius: var(--size-xSmall);
		border-top-left-radius: var(--size-xSmall);
		content: '';
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: opacity 0.1s ease-in;
		width: 6px;
	}

	&.selected {
		&::before {
			opacity: 1;
		}
	}

	&:hover {
		border: 1px solid var(--color-purple);
		box-shadow: 0 0 9px rgba(86, 41, 198, 0.25);
	}

	&:not(:first-of-type) {
		margin-top: 14px;
	}
}

.errorTextSectionWrapper {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 20px;

	@media screen and (max-width: 1200px) {
		flex-direction: column;
	}
}

.filtersContainer {
	align-items: center;
	column-gap: var(--size-small);
	display: flex;
	flex-shrink: 1;
	flex-wrap: wrap;
	row-gap: var(--size-small);
}
