.modal {
	max-width: 60vw;
	pointer-events: unset;

	:global(.ant-modal-content) {
		border-radius: var(--border-radius) !important;
	}
}

.modalContent {
	overflow: visible;
}

.title {
	margin-bottom: var(--size-medium) !important;
}

.modalWrap {
	z-index: 999999999;
}
