.actionButtons {
    display: flex;
    gap: var(--size-xSmall);
    justify-content: flex-end;
}

.formItemSpacer {
    display: flex;
    flex-direction: column;
    gap: var(--size-xSmall);
    justify-content: space-between;
    row-gap: var(--size-medium);
}

.actionButtonsContainer {
    margin-bottom: 0;
}

.commentInputContainer {
    background: var(--color-gray-200);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    box-shadow: none !important;
    height: 100px;
    padding-bottom: var(--size-xSmall) !important;
    padding-left: var(--size-small) !important;
    padding-right: var(--size-small) !important;
    padding-top: var(--size-xSmall) !important;
    transition: all 0.2s ease-in-out;

    div {
        height: 100%;
    }

    textarea {
        color: var(--text-primary) !important;
        height: 100%;
    }

    &:hover,
    &:active,
    &:focus-within {
        background: var(--color-primary-background);
        border-color: var(--color-purple);
        box-shadow: 0 0 0 4px rgba(var(--color-purple-rgb), 0.2) !important;
    }
}

.intercomLink {
    cursor: pointer;
    text-decoration: underline;
}

.form {
    :global(.ant-form-item) {
        margin-bottom: 0 !important;
    }
}

.btnIconRight {
    margin-left: var(--size-small);
}

.btnIconLeft {
    margin-right: var(--size-small);
}

.hide {
    visibility: hidden !important;

    animation-fill-mode: forwards;
    opacity: 0;
}

.slides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: calc(200% + (var(--size-medium) / 2));
    row-gap: var(--size-medium);

    & > div {
        width: 100%;
        transition: opacity 0.25s, visibility 0.15s linear;
        visibility: visible;
    }
}

.slidesContainer {
    overflow-x: hidden;
    margin-left: calc(-1 * var(--size-large));
    margin-right: calc(-1 * var(--size-large));
    padding-left: var(--size-large);
    padding-right: var(--size-large);
    padding-top: var(--size-xSmall);
    padding-bottom: var(--size-xSmall);
}
