.box {
	background-color: var(--color-primary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	max-width: 500px;
	padding: 30px;
}

.title {
	font-size: 24px;
	margin-bottom: 10px;
}

.subTitle {
	color: var(--color-gray-500) !important;
	font-size: 16px !important;
	line-height: 1.5 !important;
	margin-bottom: var(--size-large) !important;
}

.fullWidth {
	width: 100%;
}

.intercomButton {
	color: var(--color-purple);
	cursor: pointer;
	display: inline-block;
	line-height: 1;
}

.button {
	display: flex;
	margin-bottom: 0;
	margin-top: var(--size-large);
}
