.fieldRow {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 120px 1fr;
}

.fieldKey {
    display: flex;
    height: 100%;
    align-items: center;
}

.saveButton {
    width: max-content;
}
