.fieldRow {
    display: grid;
    grid-template-columns: 120px 1fr;
    margin-top: 5px;
}

.fieldKey {
    align-items: center;
    display: flex;
    height: 100%;
}

.saveButton {
    width: max-content;
}
