html,
body {
    padding: 0;
    margin: 0;
    font-family: AvenirNext !important;
}

a {
    color: black !important;
    text-decoration: none;
}

.bg-light {
    background-color: white !important;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-Heavy.woff2);
    font-weight: 600;
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-Bold.woff2);
    font-weight: 500;
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-DemiBold.woff2);
    font-weight: 400;
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-Medium.woff2);
    font-weight: 300;
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-Regular.woff2);
    font-weight: 200;
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-UltraLight.woff2);
    font-weight: 100;
}
