.wrapper {
  width: 100%;
  min-height: 100%;
  padding-top: 60px;
  max-width: 100vw;
  display: flex;
  margin: 0px;
  flex-flow: column;
  align-items: center;
  font-family: AvenirNext;
  justify-content: center;
  flex-direction: column;
}

.contentWrap {
  flex-wrap: wrap;
  flex-grow: 1;
  display: flex;
}

.formWrapper {
  display: flex;
  min-height: 45px;
  justify-content: center;
  flex-wrap: wrap;
}

.requestInput {
  padding: 10px;
  padding-left: 15px;
  display: flex;
  width: 300px;
  background-color: #fcfcfc;
  border: 1px solid #949494;
  border-radius: 3px;
  font-family: AvenirNext;
  color: #949494;
  font-weight: 200;
}

.gifSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.formSection {
  margin-top: 30px;
  display: flex;
}

.gif {
  width: 400px;
  height: 300px;
}

.linkLink {
  color: black;
}

.copySection {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 550px;
}

.navbarLink {
  font-size: 18px;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.navbarContent {
  width: 96%;
  justify-content: space-between;
  display: flex;
  margin: 20px;
  margin-left: 2%;
  margin-right: 2%;
}

.navbarRight {
  height: 60px;
  display: flex;
  flex-direction: row;
}

.navbar {
  z-index: 10;
  width: 100%;
}

.copyHeader {
  font-size: 55px;
  font-weight: 400;
}

.actually {
  font-style: italic;
}

.accessText {
  margin-left: 10px;
}

.signInWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.signInButton {
  margin-left: 20px;
  width: 120px;
  border-radius: 3px;
  background-color: #5629c6;
  display: flex;
  height: 100%;
  color: white;
  height: 45px;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-weight: 300;
  font-family: AvenirNext;
}

.requestButton {
  margin-left: 20px;
  width: 170px;
  border-radius: 3px;
  background-color: #5629c6;
  display: flex;
  color: white;
  height: 45px;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-weight: 300;
  font-family: AvenirNext;
}

.copyBody {
  color: #666666;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 200;
}

.sideNote {
  margin-top: 20px;
  width: 100%;
  font-weight: 200;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-Heavy.ttf);
  font-weight: 600;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-DemiBold.ttf);
  font-weight: 400;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-Medium.ttf);
  font-weight: 300;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-Regular.ttf);
  font-weight: 200;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-UltraLight.ttf);
  font-weight: 100;
}

.pricingWrap {
  flex-wrap: wrap;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricingSubHeader {
  font-size: 20px;
  font-weight: 200;
  width: 600px;
  text-align: center;
  color: #9e9e9e;
  margin-bottom: 20px;
  margin-top: 10px;
}

.pricingHeader {
  font-size: 40px;
  font-weight: 400;
  width: 600px;
  text-align: center;
}

.pricingCards {
  display: flex;
}

.pricingCard {
  padding: 20px;
  margin: 20px;
  display: flex;
  width: 300px;
  border: 1px solid #c0c0c0;
  flex-direction: column;
  border-radius: 10px;
}

.pricingTag {
  display: flex;
  border: none;
  background-color: #5629c6;
  display: inline-block;
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
}

.price {
  margin-top: 14px;
  font-size: 38px;
}

.priceSubHeader {
  font-size: 22px;
  font-weight: 300;
  color: #c0c0c0;
}

.featuresText {
  margin-top: 14px;
  font-weight: 300;
  color: #9719d2;
  font-size: 24px;
}

.featureItem {
  margin-top: 7px;
  font-size: 15px;
  font-weight: 200;
}
