.wrapper {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    margin: 0px;
    padding-bottom: 20px;
    flex-flow: column;
    align-items: center;
    font-family: AvenirNext;
    justify-content: center;
    flex-direction: column;
}

.contentWrap {
    display: flex;
    padding-bottom: 50px;
}

.formWrapper {
    display: flex;
    min-height: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

.requestInput {
    height: 45px;
    padding: 10px;
    padding-left: 15px;
    display: flex;
    width: 300px;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: AvenirNext;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: 200;
}

.gifSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.formSection {
    margin-top: 30px;
    display: flex;
}

.gif {
    width: 400px;
    height: 300px;
}

.linkLink {
    color: black;
}

.copySection {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 550px;
}

.navbarLink {
    font-size: 18px;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.navbarContent {
    width: 96%;
    justify-content: space-between;
    display: flex;
    margin: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.navbarRight {
    height: 60px;
    display: flex;
    flex-direction: row;
}

.navbar {
    z-index: 10;
    width: 100%;
}

.copyHeader {
    font-size: 50px;
    font-weight: 400;
}

.actually {
    font-style: italic;
}

.signInWrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.signInButton {
    outline: none !important;
    box-shadow: none !important;
    margin-left: 20px;
    width: 120px;
    border-radius: 8px;
    background-color: #5629c6;
    display: flex;
    color: white;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 15px;
    font-weight: 300;
    font-family: AvenirNext;
}

.requestButton {
    margin-left: 20px;
    width: 170px;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 8px;
    background-color: #5629c6;
    display: flex;
    color: white;
    height: 45px;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 14px;
    font-weight: 300;
    font-family: AvenirNext;
}

.copyBody {
    color: black;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
}

.sideNote {
    margin-top: 20px;
    width: 100%;
    font-weight: 200;
}

.pricingWrap {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricingSubHeader {
    font-size: 20px;
    font-weight: 200;
    width: 600px;
    text-align: center;
    color: #9e9e9e;
    margin-bottom: 20px;
    margin-top: 10px;
}

.pricingHeader {
    font-size: 40px;
    font-weight: 400;
    width: 600px;
    text-align: center;
}

.pricingCards {
    display: flex;
}

.pricingCard {
    padding: 20px;
    margin: 20px;
    display: flex;
    width: 300px;
    border: 1px solid #eaeaea;
    flex-direction: column;
    border-radius: 10px;
}

.pricingTag {
    display: flex;
    border: none;
    background-color: #5629c6;
    display: inline-block;
    padding: 7px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
}

.price {
    margin-top: 14px;
    font-size: 38px;
}

.priceSubHeader {
    font-size: 22px;
    font-weight: 300;
    color: #c0c0c0;
}

.featuresText {
    margin-top: 14px;
    font-weight: 300;
    color: #9719d2;
    font-size: 24px;
}

.featureItem {
    margin-top: 7px;
    font-size: 15px;
    font-weight: 200;
}
