.timelinePopoverContent {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 224px;
	span:not(.selectedTypeName) {
		font-size: 13px;
		font-weight: 400;
		letter-spacing: -0.01em;
		line-height: 20px;
	}
	span.selectedTypeName {
		color: var(--color-neutral-800);
		font-size: 11px;
		font-weight: 500;
		line-height: 12px;
	}
}

.infoPanel {
	align-items: center;
	border-bottom: 1px solid var(--color-neutral-200);
	display: flex;
	height: 36px;
	justify-content: flex-start;
	padding: 4px 8px;
	user-select: none;
	width: 100%;
}

.timelinePopoverHeader:hover,
.eventTypeRow:hover {
	background-color: var(--color-neutral-50);
	cursor: pointer;
	.transitionIcon path {
		fill: var(--color-neutral-500);
	}
}

.actionButton {
	align-items: center;
	background: inherit;
	border: 0;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	padding: 0;
	user-select: none;
	width: 100%;
}

.leftActionIcon {
	margin-right: 4px;
}

.rightActionIcon {
	margin-left: 4px;
}

.eventTypeRow {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	padding: 4px 8px;
	width: 100%;
}

.transitionIcon {
	height: 16px;
	width: 16px;
	path {
		fill: var(--color-neutral-300);
	}
}

.rightCounter {
	align-items: center;
	color: var(--color-neutral-300);
	display: flex;
	margin-left: auto;
}

.infoPanelCounter {
	border: 1px solid var(--color-neutral-200);
	border-radius: 3px;
	color: var(--color-neutral-700);
	height: 16px;
	padding: 0 4px;
}

.isHidden {
	visibility: hidden;
}

.timelinePopoverDetails {
	display: flex;
	flex-direction: column;
	padding-top: 4px;
	width: 100%;
}

.eventTypeIcon {
	border-radius: 9999px;
	height: 8px;
	margin: 4px;
	width: 8px;
}

.eventIdentifier {
	max-width: 128px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
