$go-to-button-width: 63px;

.goToButton {
    align-items: center;
    align-self: flex-start;
    background: none;
    border: 0;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    display: flex;
    font-size: 12px;
    outline: none;
    padding: 5px 6px;
    width: fit-content;

    &:hover {
        background: var(--color-purple-200);
    }
}

.icon {
    color: var(--color-gray-500);
    fill: var(--color-gray-500);
    height: 10px;
    margin-left: var(--size-xSmall);
    width: auto;
}
