@import 'src/static/shared.scss';

.repliesList {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.record {
    margin-bottom: 10px;
    margin-top: 10px;
}

.scrollReplies {
    max-height: 200px;
    overflow-y: auto;
}
