.tooltip {
    z-index: 9999999999999 !important;
    a {
        color: var(--text-primary-inverted) !important;
        text-decoration: underline;
    }

    :global(.ant-tooltip-inner) {
        background: var(--color-primary-inverted-background) !important;
        border-radius: var(--border-radius) !important;
    }
}
