#topBar {
    grid-template-columns: 1fr;
}

.errorList {
    border-left: 1px solid var(--color-gray-300);
    flex-grow: 1;
    height: 100%;
    margin-left: 1px;
}

.skeleton {
    margin: var(--size-small) var(--size-xSmall);
}
