@import 'src/static/shared.scss';

#topBar {
    grid-template-columns: 1fr;
}

.errorList {
    flex-grow: 1;
    border-left: 1px solid #eaeaea;
    margin-left: 1px;
    height: 100%;
}

.skeleton {
    margin: $size-small $size-xSmall;
}
