.select {
	width: 100%;

	&:global(.ant-select-disabled .ant-select-selection-item) {
		color: var(--text-primary) !important;
	}

	&:global(.ant-select-disabled .ant-select-arrow) {
		svg {
			color: var(--text-primary) !important;
		}
	}

	&:global(.ant-select-single.ant-select-open .ant-select-selection-item) {
		color: var(--text-primary-inverted) !important;
	}

	&.resolved {
		:global(.ant-select-selector) {
			background-color: var(--color-error-resolved) !important;
			color: var(--text-primary-inverted) !important;
		}

		:global(.ant-select-arrow) {
			svg {
				color: var(--text-primary-inverted);
			}
		}
	}

	&.open {
		:global(.ant-select-selector) {
			background-color: var(--color-error-open) !important;
			color: var(--text-primary-inverted) !important;
		}

		:global(.ant-select-arrow) {
			svg {
				color: var(--text-primary-inverted);
			}
		}
	}

	&.ignored {
		:global(.ant-select-selector) {
			background-color: var(--color-error-ignored) !important;
			color: var(--text-primary-inverted) !important;
		}

		:global(.ant-select-arrow) {
			svg {
				color: var(--text-primary-inverted);
			}
		}
	}
}
