.shareButton {
    height: 36px;
    padding: 10px var(--size-small);
    font-size: 12px;
    font-weight: 400;
    background-color: var(--color-primary-background);
    color: var(--color-purple);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--size-xSmall);

    &:hover {
        background-color: var(--color-gray-200);
    }

    &:active {
        background-color: var(--color-gray-300);
    }
}
