.divider {
    border: 0;
    border-top: 1px solid var(--color-gray-300);
    margin: var(--size-large) 0;
}

.externalSharingToggle {
    margin-bottom: var(--size-xSmall);
    margin-top: var(--size-medium);
}

.button {
    column-gap: var(--size-small);
    display: flex;
    justify-content: center;
    width: 113px;
}
