.contentContainer {
	display: flex;
	flex-direction: column;
	padding: 24px;
	width: 600px;
}

.header {
	background-color: var(--color-neutral-50);
	border-bottom: var(--color-neutral-200) solid 1px;
	height: 45px;
	width: 100%;
}
