.barDiv {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 1px;
	width: 20px;
}

.barBase {
	background-color: var(--color-gray-200);
	border-radius: 2px;
	height: 2px;
	margin-top: 2px;
	width: 100%;
}

.bar {
	background-color: var(--color-purple);
	border-radius: 2px;
	height: 0;
	width: 100%;
}

.barChartWrapper {
	align-items: flex-end;
	display: flex;
	justify-content: flex-end;
}
