.fieldsBox {
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    margin-top: var(--size-large);
    padding: 30px;
    width: 100%;

    h3 {
        font-size: 18px;
        margin-bottom: var(--size-large) !important;
    }
}

.focus {
    border-color: var(--color-purple-400);
}
