@import 'src/static/shared.scss';

.userAvatarWrapper {
    border-radius: 50%;
    height: max-content;
}

.userAvatar {
    border-radius: 50%;
}

.userAvatarText {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    line-height: initial;
}
