@import 'src/static/shared.scss';

.userAvatarWrapper {
    border-radius: 50%;
    height: max-content;
}

.userAvatar {
    border-radius: 50%;
}

.userAvatarText {
    font-family: var(--header-font-family);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: initial;
}
