@import 'src/static/shared.scss';

.userAvatarWrapper {
    background-color: $highlight-purple-light;
    padding: 3px;
    border-radius: 50%;
    height: max-content;
}

.userAvatar {
    border-radius: 50%;
}

.userAvatarText {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
