.gridContainer {
	padding: 30px 80px;
	&.isEditing {
		:global(.react-resizable-handle) {
			opacity: 1;
		}
	}

	:global(.react-grid-item.react-grid-placeholder) {
		background-color: var(--color-gray-400);
		border-radius: var(--border-radius);
	}

	:global(.react-resizable-handle) {
		background: var(--color-gray-400);
		background-image: none;
		border-radius: var(--size-small);
		bottom: var(--size-small) !important;
		height: var(--size-small);
		opacity: 0;
		right: var(--size-small) !important;
		transform: unset !important;
		transition: opacity 0.2s ease-in-out;
		width: var(--size-small);

		&::after {
			content: none;
		}
	}
}

.customLeadAlignLayout {
	margin: 0;
}

.headerPanel {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.dashboardPageFixedHeader {
	background-color: var(--color-white);
	border-bottom: var(--color-gray-300) 1px solid;
	display: flex;
	flex-direction: column;
	padding: 40px 80px 30px;
	position: sticky;
	z-index: 1000;
}

.dateRangePicker {
	margin-left: auto;
	width: fit-content;
}

.rightControllerSection {
	display: flex;
	flex-direction: column;
}

.rightControllerText {
	align-self: flex-end;
}

.absoluteColored {
	color: var(--color-blue-900);
	font-weight: 500;
}

.liveColored {
	color: var(--color-green-900);
	font-weight: 500;
}

.liveIndicator {
	align-items: center;
	background-color: var(--color-green-300);
	border: var(--color-green-900) 1.5px solid;
	border-radius: 8px;
	color: var(--color-green-900);
	display: flex;
	justify-content: center;
	padding: 2px 12px;
	text-align: right;
}

.dateRangePickerContainer {
	display: flex;
	gap: 10px;
	height: 40px;
	right: 80px;
	top: 118px;
}

.metric {
	display: grid;
	grid-gap: var(--size-medium);
	grid-template-columns: 1fr 1fr 1fr 3fr;
}

.newMetric {
	display: flex;
	justify-content: space-between;
	margin-top: var(--size-large);
}

.container {
	flex-grow: 1;
	position: relative;
	width: 100%;
}

.dropdownPlaceholder {
	height: 20px;
	width: 20px;
}

.section {
	display: flex;
	flex-direction: row;
	padding-bottom: 0 !important;
	padding-top: var(--size-small);
	row-gap: var(--size-medium);
	width: 100%;

	&:first-of-type {
		padding-top: 0;
	}

	h3 {
		font-size: var(--size-medium);
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
}

.pillButton {
	align-items: center;
	background: 0;
	border: 0;
	border-radius: var(--size-xSmall);
	column-gap: var(--size-xxSmall);
	display: flex;
	font-size: 14px;
	height: 40px;
	justify-content: center;
	min-width: 86px;
	padding: var(--size-xxSmall) var(--size-small);
	transition: background 0.1s ease-in-out;

	&.pillButtonSmall {
		height: 30px;
	}
}

.pillLoading {
	background: var(--color-brand-pastel-dark);
	border: 1px solid var(--color-text-primary);
	color: var(--color-text-primary);
}

.pillLive {
	background: var(--color-green-100);
	border: 1px solid var(--color-green-600);
	color: var(--color-green-900);
}

.pillStatic {
	background: var(--color-blue-100);
	border: 1px solid var(--color-blue-600);
	color: var(--color-blue-900);
}

.pillButtonText {
	align-items: center;
	column-gap: var(--size-xxSmall);
	display: flex;
	justify-content: center;
	opacity: 0;
	position: absolute;
	transition: opacity 0.1s ease-in-out;
}

.pillButtonTextVisible {
	opacity: 1;
}

.settingsDropdownMenu :global(.ant-dropdown-menu-item) {
	padding: 0 !important;
}

.resize {
	border-bottom: 10px solid var(--color-gray-300);
	border-left: 10px solid transparent;
	border-radius: 8px;
	border-right: 10px solid transparent;
	bottom: 6px;
	position: absolute;
	right: 0;
	transform: rotate(135deg);
	transition: border-bottom ease-in-out 0.2s;

	&:hover {
		border-bottom: 10px solid var(--color-purple-400);
	}
}
