.gridContainer {
    padding-top: var(--size-large);
    &.isEditing {
        :global(.react-resizable-handle) {
            opacity: 1;
        }
    }

    :global(.react-grid-item.react-grid-placeholder) {
        background-color: var(--color-gray-400);
        border-radius: var(--border-radius);
    }

    :global(.react-resizable-handle) {
        background: var(--color-gray-400);
        background-image: none;
        border-radius: var(--size-small);
        height: var(--size-xLarge);
        opacity: 0;
        right: calc(var(--size-small)) !important;
        transform: unset !important;
        transition: opacity 0.2s ease-in-out;
        width: var(--size-xxSmall);

        &::after {
            content: none;
        }
    }
}

.dateRangePicker {
    width: fit-content;
}

.dateRangePickerContainer {
    column-gap: var(--size-small);
    display: flex;
    position: absolute;
    right: 80px;
    top: 118px;
}
