.gridContainer {
    padding-top: var(--size-large);
    &.isEditing {
        :global(.react-resizable-handle) {
            opacity: 1;
        }
    }

    :global(.react-grid-item.react-grid-placeholder) {
        background-color: var(--color-gray-400);
        border-radius: var(--border-radius);
    }

    :global(.react-resizable-handle) {
        background: var(--color-gray-400);
        background-image: none;
        border-radius: var(--size-small);
        bottom: calc(var(--size-medium)) !important;
        height: var(--size-small);
        opacity: 0;
        right: calc(var(--size-small)) !important;
        transform: unset !important;
        transition: opacity 0.2s ease-in-out;
        width: var(--size-small);

        &::after {
            content: none;
        }
    }
}

.dateRangePicker {
    width: fit-content;
}

.dateRangePickerContainer {
    column-gap: var(--size-small);
    display: flex;
    position: absolute;
    right: 80px;
    top: 118px;
}

.metric {
    display: grid;
    grid-gap: var(--size-medium);
    grid-template-columns: 2fr 1fr 1fr 2fr;
}

.newMetric {
    display: flex;
    justify-content: space-between;
    margin-top: var(--size-large);
}

.container {
    flex-grow: 1;
    position: relative;
    width: 100%;
}

.dropdownPlaceholder {
    height: 20px;
    width: 20px;
}

.section {
    display: flex;
    flex-direction: row;
    padding-bottom: 0 !important;
    padding-top: var(--size-small);
    row-gap: var(--size-medium);
    width: 100%;

    &:first-of-type {
        padding-top: 0;
    }

    h3 {
        font-size: var(--size-medium);
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
}
