.gridContainer {
    padding-top: var(--size-large);

    :global(.react-grid-item.react-grid-placeholder) {
        background-color: var(--color-gray-400);
        border-radius: var(--border-radius);
    }
}

.dateRangePicker {
    width: fit-content;
}

.dateRangePickerContainer {
    position: absolute;
    right: 80px;
    top: 118px;
}
