.loadingIcon {
	color: var(--color-gray-600);
}

.dropdownIndicator {
	left: 0;
	position: absolute;
	top: var(--size-xSmall);
	z-index: 999999999999;

	&.spinner {
		left: -2px;
		top: -2px;
	}

	&.search {
		left: 10px;
		top: 6px;
	}
}

.searchIcon {
	color: var(--color-gray-600);
	height: var(--size-medium);
	margin-left: var(--size-small);
	width: var(--size-medium);
}

.loadingIconContainer {
	--size: 14px;
	height: var(--size) !important;
	margin-left: var(--size-small);
	width: var(--size) !important;

	:global(.ant-spin),
	:global(svg),
	.loadingIcon {
		height: var(--size);
		width: var(--size);
	}
}
