.titleWithAction {
	align-items: center;
	display: flex;
	justify-content: space-between;

	h3 {
		margin-bottom: 0 !important;
	}
}

.titleWithMargin {
	margin-bottom: var(--size-small);
}

.section {
	background: var(--color-primary-background);
	border-radius: 8px;
	display: flex;
	margin-bottom: 20px;
	transition: 0.4s;
	width: 100%;
}

.graphSection {
	flex-direction: column;
	padding: 30px 15px 20px;
}

.graphLabels {
	color: var(--color-gray-500);
	display: flex;
	justify-content: flex-end;
	margin-top: -20px;
	padding: 0 10px;
	width: 100%;
}
