.filtersContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-xSmall);

}

.searchPanel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}
