.filtersButton {
	border-color: var(--color-gray-300) !important;
	color: var(--color-gray-500) !important;
	column-gap: var(--size-xxSmall);
	display: flex;
	font-size: 12px;
	height: var(--size-xLarge);
}

.popover {
	max-width: 500px;
	padding-bottom: var(--size-xSmall);

	p {
		margin-top: 0 !important;
	}

	.optionsContainer {
		column-gap: var(--size-xSmall);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	:global(.ant-checkbox-wrapper + .ant-checkbox-wrapper) {
		margin-left: 0;
	}
}

.checkboxLabelIndicator {
	border-radius: 50%;
	height: var(--size-xSmall);
	width: var(--size-xSmall);
}

.label {
	align-items: center;
	column-gap: var(--size-xxSmall);
	display: flex;
}
