.container {
    animation: enter 0.2s forwards;
    background: var(--color-primary-background);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--border-radius);
    display: flex;
    height: 28px;
    margin: 0 auto;
    margin-bottom: var(--size-medium);
    padding: var(--size-xSmall) 0;
    position: relative;
    width: 100%;

    &.withDevtoolsOpen {
        margin-bottom: var(--size-xxSmall);
    }
}

@keyframes enter {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

.sessionInterval {
    align-items: center;
    background: var(--color-gray-400);
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;

    &.active {
        background: transparent;
    }
}
