@import 'src/static/shared.scss';

.errorCard {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-light-gray;
    background-color: $primary-background-color;
    padding: $size-medium $size-medium $size-small $size-large;
    color: $text-primary;
    font-size: 12px;

    h4 {
        color: $alert-400;
        font-size: 14px;
        font-weight: 400;
    }

    h4,
    p {
        margin: 0;
    }

    &:hover .goToButton {
        visibility: visible;
    }

    &.inactive {
        h4,
        p {
            color: $gray;
        }
    }
}

.header {
    display: flex;
    gap: $size-small;
    margin-bottom: $size-xSmall;
    align-items: baseline;
}

.description {
    white-space: break-spaces;
}

.goToButton {
    visibility: hidden;
}
