.annotation {
	--annotation-scale: 0.1;
	--size: calc(1px * (1 / var(--annotation-scale)));
	border: 1px solid var(--color-primary-background);
	border-radius: 50%;
	box-sizing: content-box;
	cursor: pointer;
	flex-grow: 0;
	flex-shrink: 0;
	height: var(--size);
	opacity: 0.5;
	outline: none;
	padding: 0;

	position: absolute;
	width: var(--size);
	z-index: 21;

	&.selected {
		opacity: 1;
		transform: scale(2, 2);
		z-index: 25;
	}
}

.title {
	align-items: center;
	column-gap: var(--size-xSmall);
	display: flex;
	font-weight: 700;
	margin-bottom: var(--size-small);
}

.iconContainer {
	align-items: center;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	padding: var(--size-xxSmall);
}

.popover {
	:global(.ant-popover-arrow) {
		transform: translateX(-50%) translateY(120%) rotate(45deg) !important;
	}
}
