.suggestion {
    align-items: center;
    background: var(--header-font-family);
    color: var(--color-gray-300);
    column-gap: var(--size-small);
    display: flex;
    font-size: 14px;
}

.category {
    align-items: center;
    display: flex;

    > svg {
        fill: var(--text-primary-inverted);
        height: 12px;
        width: 12px;
    }
}
