.suggestion {
    background: var(--header-font-family);
    font-size: 14px;
    color: var(--color-gray-300);
    font-weight: 300;
    display: flex;
    align-items: center;
    column-gap: var(--size-small);
}

.category {
    display: flex;
    align-items: center;

    & > svg {
        fill: var(--text-primary-inverted);
        height: 12px;
        width: 12px;
    }
}
