.errorWrapper {
	align-items: center;
	background: var(--color-primary-500);
	display: flex;
	height: 100vh;
	justify-content: center;

	&.shownWithHeader {
		background: var(--color-primary-background);
		height: calc(100vh - var(--header-height));
	}
}

.errorBody {
	max-width: 800px;
	word-wrap: break-word;
}

.buttonGroup {
	display: flex;
	margin-top: 25px;
}

.expandButton {
	color: var(--color-primary-500);
	cursor: pointer;
}

.loggedInButtonGroup {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
