.errorWrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    position: absolute;
    background: var(--color-purple);
}

.errorBody {
    max-width: 800px;
    word-wrap: break-word;
}

.buttonGroup {
    display: flex;
    margin-top: 25px;
}

.expandButton {
    color: var(--color-purple);
    cursor: pointer;
}
