.errorWrapper {
	align-items: center;
	background: var(--color-primary-500);
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;

	&.shownWithHeader {
		background: var(--color-primary-background);
		height: calc(100vh - var(--header-height));
	}

	& > div {
		max-width: 360px;
	}
}

.errorBody {
	color: var(--color-black);
	max-width: 800px;
	word-wrap: break-word;
	margin: 0 !important;
}

.buttonGroup {
	display: flex;
}

.loggedInButtonGroup {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
