.errorWrapper {
    align-items: center;
    background: var(--color-purple);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100vw;

    &.shownWithHeader {
        height: calc(100vh - var(--header-height));
        background: var(--color-primary-background);
    }
}

.errorBody {
    max-width: 800px;
    word-wrap: break-word;
}

.buttonGroup {
    display: flex;
    margin-top: 25px;
}

.expandButton {
    color: var(--color-purple);
    cursor: pointer;
}
