.card {
    padding-top: var(--size-small);

    :global(.recharts-cartesian-axis-tick) {
        user-select: none;
    }
}

.noDataContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 300px;
    padding-top: var(--size-medium);
    text-align: center;
}

.draggable {
    align-items: center;
    color: var(--color-gray-500);
    cursor: move;
    display: flex;
    justify-content: center;
}

.button {
    justify-content: center;
}

.infoTooltip {
    margin-left: var(--size-xxSmall);
}

.actionsContainer {
    column-gap: var(--size-large);
    display: flex;
    margin-top: var(--size-xLarge);

    > * {
        width: 50%;
    }

    .button {
        justify-content: center;
    }
}

.description {
    color: var(--color-gray-500) !important;
    margin-top: 0 !important;
}

.chartButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: var(--size-xSmall);
    padding-top: var(--size-small);
    width: 300px;

    button {
        height: var(--size-xLarge);
        padding: var(--size-small);
    }

    ul li {
        height: var(--size-xLarge);
        padding: var(--size-small);
    }
}

.monitorItem {
    align-items: center;
    border: 1px solid var(--color-gray-400);
    border-radius: var(--border-radius);
    column-gap: var(--size-xxSmall) !important;
    display: flex;
    height: var(--size-xLarge);
    margin: 0 !important;
    width: 161px;
}

.monitorName {
    display: inline-block;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
}

.submitRow {
    display: flex;
    justify-content: flex-end;
    padding-top: var(--size-small);
    width: 100%;
}

.minMaxRow {
    display: grid;
    grid-gap: var(--size-medium);
    grid-template-columns: 80px 1fr 150px 80px 1fr 150px;
}

.filtersRow {
    display: grid;
    grid-gap: var(--size-medium);
    grid-template-columns: 80px 274px 300px 50px;
}

.formLabel {
    margin-bottom: 0;
    margin-top: 4px;
}

.removeTagFilterButton {
    height: 48px;
    padding: 0 16px;
}

.createNewAlertRow {
    align-items: center;
    display: flex;
    justify-content: center;
}

.cardHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;

    > button {
        margin-bottom: var(--size-medium);
    }
}

.headerContainer {
    padding-top: var(--size-medium);
    padding-right: var(--size-small);
    padding-bottom: var(--size-small);

    overflow: hidden;
}

.header {
    display: block;
    color: var(--color-text-primary);
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.headerActions {
    align-items: center;
    display: flex;
    height: 21px;
    justify-content: center;
    margin-bottom: var(--size-medium);
    padding-left: 86px;
}

.subheader {
    display: block;
    color: var(--color-gray-700);
    font-weight: 400;
    font-size: 12px;
}

.pillButton {
    align-items: center;
    justify-content: center;
    background: var(--color-gray-300);
    border-radius: var(--size-xSmall);
    border: none;
    column-gap: var(--size-xxSmall);
    display: flex;
    font-size: 12px;
    height: 30px !important;
    margin-right: var(--size-xSmall);
    min-width: 86px;
    padding: var(--size-xxSmall) var(--size-small);
    transition: background 0.1s ease-in-out;
}

.pillLoading {
    background: var(--color-brand-pastel-dark);
    border: 1px solid var(--color-text-primary);
    color: var(--color-text-primary);
}

.pillLive {
    background: var(--color-green-100);
    border: 1px solid var(--color-green-600);
    color: var(--color-green-900);
}

.pillStatic {
    background: var(--color-blue-100);
    border: 1px solid var(--color-blue-600);
    color: var(--color-blue-900);
}

.pillButtonText {
    opacity: 0;
    position: absolute;
    transition: opacity 0.1s ease-in-out;

    align-items: center;
    justify-content: center;
    column-gap: var(--size-xxSmall);
    display: flex;
}

.pillButtonTextVisible {
    opacity: 1;
}
