.noDataContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 300px;
    padding-top: var(--size-medium);
    text-align: center;
}

.headerActions {
    align-items: center;
    display: flex;
    height: 21px;
    justify-content: center;
    margin-bottom: var(--size-medium);
    margin-right: -8px;

    &.isEditing {
        margin-right: -4px;
    }
}

.draggable {
    align-items: center;
    color: var(--color-gray-500);
    cursor: move;
    display: flex;
    justify-content: center;
}

.cardHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;

    > button {
        margin-bottom: var(--size-medium);
    }
}

.button {
    justify-content: center;
}