.title {
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.errorCard {
	&:hover {
		background: var(--color-neutral-50);
	}
}

.errorCardSelected {
	background: var(--color-neutral-100);
	&:hover {
		background: var(--color-neutral-100);
	}
}

.icon {
	height: 12px;
	path {
		fill: var(--color-neutral-500);
	}
}

.badge {
	height: 16px;
}
