.gridContainer {
	display: grid;
	gap: 8px;
	margin-top: 12px;
}

.gridItem {
	position: relative;
	border: 1px solid var(--color-divider-on-dark);
	border-radius: 6px;
	background: var(--color-primary-500);
	overflow: hidden;

	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.gridTitle {
	text-align: center;
	font-family: Poppins;
	font-size: 42px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 42px */
	color: var(--color-copy-on-dark);
}

.chevronRight {
}

.gridItem:hover {
	.chevronRight {
		transform: translateX(4px);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}
}
