.spinnerStyle {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100px;
    z-index: 10;
}

.spinnerWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.loadingWrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
