.spinnerStyle {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100px;
    z-index: 10;
}

.spinnerWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.loadingWrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.logoContainer {
    --logo-size: 100px;
    height: var(--logo-size);
    width: var(--logo-size);
    display: grid;

    .logo {
        grid-row-start: 1;
        grid-column-start: 1;
        z-index: 2;
        height: var(--logo-size);
        width: var(--logo-size);

        svg {
            height: 100%;
            width: 100%;
        }
    }

    .logoBackground {
        background: linear-gradient(180deg, #5629c6 0%, #321873 100%);
        border-radius: 50%;
        height: var(--logo-size);
        width: var(--logo-size);
        grid-row-start: 1;
        grid-column-start: 1;
        transform-origin: center;
    }
}
