.subTitle {
    font-size: 18px;
}

.fieldsBox {
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    margin-top: 20px;
    max-width: 580px;
    padding: 30px;

    h3 {
        margin-bottom: var(--size-large) !important;
    }
}

.dangerTitle {
    color: var(--color-red-400);
}
