.settingsPageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.settingsPage {
    margin: 40px 80px 80px 80px;
    width: 580px;
}

.blankSidebar {
    height: 100%;
    width: 280px;
}

.title {
    font-size: 28px;
    font-weight: 400;
}

.subTitle {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 300;
}

.fieldsBox {
    margin-top: 20px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 30px;
}

.boxTitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.dangerTitle {
    color: red;
}
