$width: 200px;
$height: 40px;

.container {
    min-width: $width;
    position: relative;

    &.open {
        border-radius: var(--size-xSmall) 0;
    }
}

.labelContainer {
    border: 1px solid var(--color-gray-300);
    border-radius: var(--size-xSmall);
    cursor: pointer;
    display: flex;
    height: $height;
    justify-content: space-between;
    padding: var(--size-xSmall) var(--size-small);
    width: 100%;
}

.label {
    overflow: hidden;
    white-space: nowrap;
}

.hotkeyHelp {
    background: var(--color-gray-100);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--size-xSmall);
    padding: 0 var(--size-xSmall);

    pre {
        font-family: var(--monospace-font-family);
        font-size: 12px;
        margin: 0;
    }
}

.input {
    background: transparent;
    border: 0;
    outline: none;
}

.dateOptionsContainer {
    background: var(--color-white);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--size-xSmall);
    display: flex;
    position: absolute;
    right: 0;
    top: calc(100% + var(--size-xSmall));
}

.dateOptions {
    width: $width;
}

.dateOption {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: var(--size-xSmall) var(--size-small);
    text-align: left;
    width: 100%;

    & + & {
        border-top: 1px solid var(--color-gray-300);
    }

    &:hover,
    &:focus {
        background: var(--color-gray-100);
    }
}

.datepickerContainer {
    border-right: 1px solid var(--color-gray-300);
    flex-shrink: 0;
    // Subtract the 7px of padding that comes on the datepicker.
    padding: var(--size-large);
    width: 350px;
}

.datepicker {
    width: 100%;
}
