$width: 170px;
$height: 40px;

.container {
    min-width: $width;
    position: relative;

    &.open {
        border-radius: var(--size-xSmall) 0;
    }
}

.input {
    border: 1px solid var(--color-gray-300);
    border-radius: var(--size-xSmall);
    cursor: pointer;
    height: $height;
    padding: var(--size-xSmall) var(--size-small);
    width: 100%;
}

.dateOptionsContainer {
    background: var(--color-white);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--size-xSmall);
    display: flex;
    position: absolute;
    right: 0;
    top: calc(100% + var(--size-xSmall));
}

.dateOptions {
    width: $width;
}

.dateOption {
    cursor: pointer;
    padding: var(--size-xSmall) var(--size-small);

    & + & {
        border-top: 1px solid var(--color-gray-300);
    }

    &:hover {
        background: var(--color-gray-100);
    }
}

.datepickerContainer {
    border-right: 1px solid var(--color-gray-300);
    flex-shrink: 0;
    // Subtract the 7px of padding that comes on the datepicker.
    padding: var(--size-large);
    width: 350px;
}

.datepicker {
    width: 100%;
}
