$side: 8px;
$vert: 2px;

.keyValueWrapper {
    border-bottom-left-radius: var(--size-xxSmall);
    border-top-left-radius: var(--size-xxSmall);
    display: flex;
}

.key {
    align-items: center;
    background: var(--color-primary-background);
    border-bottom-left-radius: var(--size-xxSmall);
    border-top-left-radius: var(--size-xxSmall);
    display: flex;
    font-size: 12px;
    padding: 0 var(--size-xSmall);
}

.value {
    font-size: 12px;
    padding: $vert $side $vert $side;
}

.wrapper {
    border-radius: 4px;
    display: inline-block;
    font-weight: 300 !important;
}
