@import 'src/static/shared.scss';

$side: 8px;
$vert: 2px;

.keyValueWrapper {
    display: flex;
}

.key {
    padding: $vert $side $vert $side;
    font-size: 12px;
}

.value {
    padding: $vert $side $vert $side;
    font-size: 12px;
}

.wrapper {
    display: inline-block;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 300 !important;
    margin-right: 11px;
    margin-bottom: 10px;
    border-radius: 4px;
}
