.App {
    text-align: center;
}

.Collapsible__contentInner {
    margin: 1px;
}

.ant-picker-input input::placeholder {
    color: #808080;
    font-weight: 300;
    font-size: 14px;
}

.ant-picker-suffix {
    color: #808080;
}

.ant-picker-input > input {
    font-weight: 300;
}

input[name='option-input'] {
    outline: none !important;
    border: none !important;
    background-color: transparent !important;
    font-weight: 300;
}

.Collapsible {
    width: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.replayer-wrapper {
    position: absolute;
}

a:hover {
    color: #7451ca;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.rc-slider {
    padding: 0 !important;
    cursor: pointer;
}

.App-link {
    color: #61dafb;
}

iframe {
    background-color: white;
    border: none;
    z-index: -10;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
