.App {
    text-align: center;
}

.Collapsible__contentInner {
    margin: 1px;
}

.ant-picker-input input::placeholder {
    color: #808080;
    font-weight: 300;
    font-size: 14px;
}

.ant-picker-suffix {
    color: #808080;
}

.ant-picker-input > input {
    font-weight: 300;
}

.ant-dropdown {
    z-index: 999999 !important;
}

.ant-dropdown-menu-item {
    font-weight: 300 !important;
}

.ant-tabs {
    height: 100%;
}

.ant-tabs-nav-wrap {
    padding: 0 var(--size-large);
}

.ant-tabs-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.ant-tabs-tab-btn {
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    color: var(--color-gray-500);
    font-weight: 300;
    font-size: 14px;
    transition: all 0.3s;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: 400 !important;
}

.ant-tabs-tab {
    margin: 0 16px 0 16px !important;
}

.ant-tabs-ink-bar {
    height: 3px !important;
}

.ant-tabs-nav {
    margin-bottom: 0 !important;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-bottom: 1px solid var(--color-gray-300) !important;
}

.ant-popover-inner-content {
    padding-bottom: 0px !important;
}

input[name='option-input'] {
    outline: none !important;
    border: none !important;
    background-color: transparent !important;
    font-weight: 300;
}

.Collapsible {
    width: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.replayer-wrapper {
    position: absolute;
}

a:hover {
    color: #7451ca;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.rc-slider {
    padding: 0 !important;
    cursor: pointer;
}

.App-link {
    color: #61dafb;
}

iframe {
    background-color: white;
    border: none;
    z-index: -10;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ant-mentions {
    border: none !important;
    font-size: 14px;
    font-weight: 200;
}

.ant-mentions-focused {
    box-shadow: none !important;
}
