.header {
  width: 100%;
  height: 8vh;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
}

.streamElement {
  height: 40px;
  border-radius: 6px;
  color: black;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.eventStreamContainer {
  color: white;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
}

.emptyScrollDiv {
  height: 70px;
  flex-direction: column;
}

.innerLocationBox {
  padding: 20px;
}

.locationBox {
  border: 1px solid #eaeaea;
  position: absolute;
  box-sizing: border-box;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: white;
  z-index: 1;
}

.appBody {
  height: 92vh;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 130px;
}

.windowOptions {
  padding: 10px 0px 10px 12px;
  height: 35%;
  width: auto;
}

.logo {
  margin: 10px;
  fill: white;
  height: 25px;
  width: 90px;
}

.playerBody {
  display: flex;
  height: 100%;
}

.playerLeftSection {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.playerRightSection {
  border-left: 1px solid #eaeaea;
  width: 300px;
  height: "100%";
  display: "flex";
  box-sizing: border-box;
}

.loadingWrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.rrwebPlayerSection {
  width: 100%;
  height: 100%;
  flex: 2;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.rrwebPlayerWrapper {
  box-sizing: border-box;
  padding: 50px;
  height: 100%;
  width: 100%;
}

.browserHeader {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background-color: black;
}

.rrwebPlayerDiv {
  width: 100%;
  height: 100%;
}

.progressBar {
  border-top: 7px solid black;
}

.toolbarSection {
  width: 100%;
  height: 70px;
  background-color: white;
}

.playSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  cursor: pointer;
}
