.bodyWrapper {
	display: flex;
	height: calc(100% - var(--header-height));
	overflow-x: hidden;
	position: relative;
	width: 100%;

	&.bannerShown {
		animation: 0.5s forwards;
		height: calc(100% - var(--header-height) - var(--banner-height));
	}
}

.submitButton {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 8px 0;
	min-height: 40px;
	outline: none;
	width: 100%;
}

.errorMessage {
	color: var(--color-red-400);
	margin-left: 5px;
}

.secondaryButton {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 8px 0;
	width: 100%;
}

.title {
	font-size: 28px;
	font-weight: 400;
}
