.input {
    height: 40px;
    width: 100%;
    margin: 8px 0px 8px 0px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--color-gray-200);
    font-size: 15px;
    padding: 15px;
}

.bodyWrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.submitButton {
    width: 100%;
    display: flex;
    outline: none;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    margin: 8px 0px 8px 0px;
}

.errorMessage {
    margin-left: 5px;
    color: var(--color-red);
}

.secondaryButton {
    width: 100%;
    margin: 8px 0px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 28px;
    font-weight: 400;
}
