.input {
    height: 40px;
    width: 100%;
    margin: 8px 0px 8px 0px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #f4f4f4;
    font-weight: 300;
    font-size: 15px;
    padding: 15px;
}

.bodyWrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.submitButton {
    width: 100%;
    display: flex;
    outline: none;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    margin: 8px 0px 8px 0px;
}

.errorMessage {
    margin-left: 5px;
    color: red;
}

.secondaryButton {
    width: 100%;
    margin: 8px 0px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tertiaryButton {
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    height: 40px;
    color: #5629c6;
    margin: 8px 0px 8px 0px;
    background-color: white;
    border: 1px solid #5629c6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLink {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 400;
}

.title {
    font-size: 28px;
    font-weight: 400;
}
