body {
    margin: 0;
    font-weight: 400 !important;
    font-family: var(--body-font-family) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font-family) !important;
    line-height: initial !important;
    margin: 0 !important;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-weight: 400 !important;
}

p {
    line-height: initial !important;
    margin: var(--size-small) 0 !important;
}

h3 {
    margin-bottom: var(--size-xSmall) !important;

    &:last-of-type {
        margin-bottom: 0 !important;
    }
}

h4 {
    margin-bottom: var(--size-xxSmall) !important;

    &:last-of-type {
        margin-bottom: 0 !important;
    }
}

button {
    font-family: var(--header-font-family) !important;
    font-weight: 400 !important;
}

input {
    font-weight: 400 !important;
}

code {
    user-select: all;
    margin: 0;
}

.atom-overlay {
    color: blue;
    z-index: 1000;
}

a {
    color: #5629c6;
}

.blob {
    margin: 10px;
    height: 15px;
    width: 15px;
}

.css-foqpf7 {
    width: 100% !important;
}

.ant-slider-rail {
    background-color: lightgrey;
}

.ant-slider-track {
    background-color: #5629c6;
}

.ant-slider-track:hover {
    background-color: #5629c6;
}

.ant-slider:hover .ant-slider-track {
    background-color: #5629c6;
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #5629c6;
}

.ant-slider-dot {
    border-color: #5629c6;
}

.ant-slider-handle {
    border-color: #5629c6;
}

.ant-slider-handle:focus {
    border-color: #5629c6;
    box-shadow: 0 0 0 5px rgba(86, 41, 198, 0.12);
}

.ant-slider-handle:hover {
    border-color: #5629c6;
}

.ant-slider-handle-dragging.ant-slider-handle-dragging.ant-slider-handle-dragging {
    border-color: #5629c6;
    box-shadow: 0 0 0 5px rgba(86, 41, 198, 0.12);
}

.ant-switch-checked {
    background-color: #5629c6;
}

.ant-message-notice-content {
    background: #1f1f1f;
    color: white;
    border-radius: 8px;
}

.ant-tooltip {
    z-index: 99999 !important;
}

.ant-tooltip-inner {
    border-radius: 6px;
}

.ant-tooltip-arrow-content {
    background-color: transparent;
}

.ant-skeleton-content .ant-skeleton-title {
    border-radius: 5px;
}

.ant-skeleton-content .ant-skeleton-paragraph > li {
    border-radius: 5px;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-Heavy.woff2);
    font-weight: 600;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-Bold.woff2);
    font-weight: 500;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-DemiBold.woff2);
    font-weight: 400;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-Medium.woff2);
    font-weight: 300;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-Regular.woff2);
    font-weight: 200;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-UltraLight.woff2);
    font-weight: 100;
}

@font-face {
    font-family: 'Steradian';
    src: local('Steradian UltraLight'), local('SteradianUltraLight'),
        url('./font/SteradianUltraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steradian';
    src: local('Steradian Regular'), local('SteradianRegular'),
        url('./font/SteradianRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steradian';
    src: local('Steradian Thin'), local('SteradianThin'),
        url('./font/SteradianThin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steradian';
    src: local('Steradian Black'), local('SteradianBlack'),
        url('./font/SteradianBlack.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steradian';
    src: local('Steradian Bold'), local('SteradianBold'),
        url('./font/SteradianBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steradian';
    src: local('Steradian Medium'), local('SteradianMedium'),
        url('./font/SteradianMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steradian';
    src: local('Steradian ExtraLight'), local('SteradianExtraLight'),
        url('./font/SteradianExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steradian';
    src: local('Steradian Light'), local('SteradianLight'),
        url('./font/SteradianLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
