body {
    margin: 0;
    font-weight: 300;
    font-family: AvenirNext;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #5629c6;
}

.ant-modal-close-x {
    visibility: hidden;
}

.css-foqpf7 {
    width: 100% !important;
}

.ant-switch-checked {
    background-color: #5629c6;
}

.ant-modal-body {
    padding: 0px;
}

.ant-tooltip-inner {
    border-radius: 6px;
}

.ant-modal-content {
    border-radius: 8px;
    padding: 10px;
}

.ant-skeleton-content .ant-skeleton-title {
    border-radius: 5px;
}

.ant-skeleton-content .ant-skeleton-paragraph > li {
    border-radius: 5px;
}

.ripple-loader {
    position: relative;
    width: 64px;
    height: 64px;
}

.ripple-loader div {
    position: absolute;
    border: 4px solid #454ade;
    border-radius: 50%;
    animation: ripple-loader 1s ease-out infinite;
}

.ripple-loader div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes ripple-loader {
    0% {
        top: 32px;
        left: 32px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 64px;
        height: 64px;
        opacity: 0;
    }
}

.blob {
    background: #5629c6;
    border-radius: 50%;
    margin: 10px;
    height: 15px;
    width: 15px;

    box-shadow: 0 0 0 0 #5629c6;
    transform: scale(2);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(86, 41, 198, 0.2);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-Heavy.woff2);
    font-weight: 600;
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-Bold.woff2);
    font-weight: 500;
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-DemiBold.woff2);
    font-weight: 400;
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-Medium.woff2);
    font-weight: 300;
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-Regular.woff2);
    font-weight: 200;
}

@font-face {
    font-family: AvenirNext;
    src: url(/font/AvenirNext-UltraLight.woff2);
    font-weight: 100;
}
