body {
    margin: 0;
    font-weight: 300;
    font-family: AvenirNext;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.atom-overlay {
    color: blue;
    z-index: 1000;
}

a {
    color: #5629c6;
}

.blob {
    margin: 10px;
    height: 15px;
    width: 15px;
}

.css-foqpf7 {
    width: 100% !important;
}

.ant-slider-rail {
    background-color: lightgrey;
}

.ant-slider-track {
    background-color: #5629c6;
}

.ant-modal {
    width: max-content !important;
}

.antd-modal-content {
    width: max-content;
}

.ant-slider-track:hover {
    background-color: #5629c6;
}

.ant-slider:hover .ant-slider-track {
    background-color: #5629c6;
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #5629c6;
}

.ant-slider-dot {
    border-color: #5629c6;
}

.ant-slider-handle {
    border-color: #5629c6;
}

.ant-slider-handle:focus {
    border-color: #5629c6;
    box-shadow: 0 0 0 5px rgba(86, 41, 198, 0.12);
}

.ant-slider-handle:hover {
    border-color: #5629c6;
}

.ant-slider-handle-dragging.ant-slider-handle-dragging.ant-slider-handle-dragging {
    border-color: #5629c6;
    box-shadow: 0 0 0 5px rgba(86, 41, 198, 0.12);
}

.ant-switch-checked {
    background-color: #5629c6;
}

.ant-message-notice-content {
    background: #1f1f1f;
    color: white;
    border-radius: 8px;
}

.ant-tooltip-inner {
    border-radius: 6px;
}

.ant-tooltip-arrow-content {
    background-color: transparent;
}

.ant-skeleton-content .ant-skeleton-title {
    border-radius: 5px;
}

.ant-skeleton-content .ant-skeleton-paragraph > li {
    border-radius: 5px;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-Heavy.woff2);
    font-weight: 600;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-Bold.woff2);
    font-weight: 500;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-DemiBold.woff2);
    font-weight: 400;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-Medium.woff2);
    font-weight: 300;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-Regular.woff2);
    font-weight: 200;
}

@font-face {
    font-family: AvenirNext;
    src: url(./font/AvenirNext-UltraLight.woff2);
    font-weight: 100;
}
