body {
  margin: 0;
  font-weight: 300;
  font-family: AvenirNext;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-Heavy.ttf);
  font-weight: 600;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-DemiBold.ttf);
  font-weight: 400;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-Medium.ttf);
  font-weight: 300;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-Regular.ttf);
  font-weight: 200;
}

@font-face {
  font-family: AvenirNext;
  src: url(/font/AvenirNext-UltraLight.ttf);
  font-weight: 100;
}
