body {
	overscroll-behavior: none;
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 200;
	src: local('Inter UltraLight'), local('InterUltraLight'),
		url('./font/InterUltraLight.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: normal;
	src: local('Inter Regular'), local('InterRegular'),
		url('./font/InterRegular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100;
	src: local('Inter Thin'), local('InterThin'),
		url('./font/InterThin.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	src: local('Inter Black'), local('InterBlack'),
		url('./font/InterBlack.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	src: local('Inter Bold'), local('InterBold'),
		url('./font/InterBold.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: local('Inter Medium'), local('InterMedium'),
		url('./font/InterMedium.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 200;
	src: local('Inter ExtraLight'), local('InterExtraLight'),
		url('./font/InterExtraLight.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	src: local('Inter Light'), local('InterLight'),
		url('./font/InterLight.woff2') format('woff2');
}
