body {
	overscroll-behavior: none;
}

@font-face {
	font-display: swap;
	font-family: 'Steradian';
	font-style: normal;
	font-weight: 200;
	src: local('Steradian UltraLight'), local('SteradianUltraLight'),
		url('./font/SteradianUltraLight.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Steradian';
	font-style: normal;
	font-weight: normal;
	src: local('Steradian Regular'), local('SteradianRegular'),
		url('./font/SteradianRegular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Steradian';
	font-style: normal;
	font-weight: 100;
	src: local('Steradian Thin'), local('SteradianThin'),
		url('./font/SteradianThin.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Steradian';
	font-style: normal;
	font-weight: 800;
	src: local('Steradian Black'), local('SteradianBlack'),
		url('./font/SteradianBlack.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Steradian';
	font-style: normal;
	font-weight: bold;
	src: local('Steradian Bold'), local('SteradianBold'),
		url('./font/SteradianBold.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Steradian';
	font-style: normal;
	font-weight: 500;
	src: local('Steradian Medium'), local('SteradianMedium'),
		url('./font/SteradianMe2dium.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Steradian';
	font-style: normal;
	font-weight: 200;
	src: local('Steradian ExtraLight'), local('SteradianExtraLight'),
		url('./font/SteradianExtraLight.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Steradian';
	font-style: normal;
	font-weight: 300;
	src: local('Steradian Light'), local('SteradianLight'),
		url('./font/SteradianLight.woff2') format('woff2');
}
