.tagSwitch {
	display: flex;
	height: 24px;
	padding: 2px 6px;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex: 1 0 0;
	border-radius: 6px;
	cursor: pointer;
}

.activeSwitch {
	background-color: var(--color-purple);
	background: var(--color-purple);
	color: var(--color-white);
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.32) inset
}

.inactiveSwitch {
	borderColor: var(--color-gray-300);
	color: var(--_11tb6c5c);
	background: var(--color-white);
}