.tooltipContentContainer {
	p {
		align-items: center;
		column-gap: var(--size-xSmall);
		display: flex;
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}

	.label {
		color: var(--color-gray-500);
	}
}

.chartLabelContainer {
	left: 62px;
	position: absolute;
	top: var(--size-xxSmall);
	z-index: 999;

	p {
		border-radius: var(--size-xxSmall);
		font-size: 12px;
		margin: 0 !important;
	}
}

.chartContainer {
	position: relative;
	width: 100%;
}
