.personalNotificationButton {
    align-items: center;
    border: 0;
    border-radius: var(--size-xSmall);
    column-gap: var(--size-xSmall);
    display: flex;
    height: 32px;
    padding-bottom: var(--size-xxSmall);
    padding-top: var(--size-xxSmall);

    &:hover,
    &:active,
    &:focus {
        border: 0;
    }
}

.feedbackButtonMenu {
    a {
        color: var(--text-primary);
    }

    a,
    button {
        align-items: center;
        column-gap: var(--size-xSmall);
        display: flex !important;
    }
}
