.header {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    position: fixed;
    z-index: 100;
    flex-direction: column;
}

.headerPlaceholder {
    width: 100%;
    height: 80px;
    display: flex;
}

.hamburger {
    transition: 0.4s;
    margin-right: 20px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.logoText {
    font-size: 22px;
    font-weight: 400;
    user-select: none;
}

.headerContent {
    display: flex;
    flex-grow: 1;
}

.searchWrapper {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trialWrapperHidden {
    visibility: hidden;
}

.trialLink {
    color: white;
    text-decoration: underline;
}

.trialWrapper {
    width: 100%;
    color: white;
    background-color: #5629c6;
    z-index: 1000 ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.trialCloseStyle {
    position: absolute;
    right: 0;
    height: 12px;
    width: 12px;
    margin: 0 5px 0 5px;
    cursor: pointer;
    fill: white;
}

.trialTimeText {
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.searchPrompt {
    border: 1px solid #eaeaea;
    padding: 4px;
    border-radius: 5px;
    margin-right: 14px;
}

.commandWrapper {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 6px;
    margin-left: 6px;
}

.dontSelect {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.commandContainer {
    margin-left: 5px;
    padding: 0px 5px 0px 5px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

.searchBar {
    width: 50px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding-left: 14px;
    color: #888888;
    display: flex;
    align-items: center;
}

.logoWrapper {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 20px;
    cursor: pointer;
    color: black;
}

.homeLink {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.homeLink:hover {
    text-decoration: none;
    color: inherit;
}

.logoWrapper:hover {
    color: black;
}

.logo {
    margin: 8px;
    fill: white;
    height: 22px;
    width: 22px;
}

.rightHeader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    z-index: 200;
}