.header {
	background-color: var(--color-primary-background);
	border-bottom: 1px solid var(--color-gray-300);
	display: flex;
	flex-direction: column;
	height: var(--header-height);
	position: fixed;
	width: 100%;
	z-index: 99999999;

	&.guest {
		width: 100%;
	}

	&.bannerShown {
		animation: accomodate-banner 0.5s forwards;
	}
}

.hamburger {
	cursor: pointer;
	height: 24px;
	margin-right: 20px;
	transition: 0.4s;
	width: 24px;
}

.commandPaletteOverlay {
	background-color: rgba(0, 0, 0, 0.75);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.headerContent {
	column-gap: var(--size-large);
	display: flex;
	flex-grow: 1;
	padding-left: 20px;
	padding-right: 20px;
}

.trialLink {
	color: var(--text-primary-inverted) !important;
	text-decoration: underline;
}

.trialWrapper {
	align-items: center;
	background-color: var(--color-purple);
	color: var(--text-primary-inverted);
	display: flex;
	height: var(--banner-height);
	justify-content: center;
	width: 100%;
	z-index: 1000;

	&.productHunt {
		background-color: var(--color-green-600);
	}

	&.error {
		background-color: var(--color-red-400);

		button {
			background: transparent;
		}
	}

	button {
		--button-size: var(--size-medium);
		--icon-size: var(--size-xSmall);
		align-items: center;
		background: var(--color-purple);
		border: 0;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		height: var(--button-size);
		justify-content: center;
		margin-right: var(--size-small);
		position: absolute;
		right: 0;
		transform: scale(1.5);
		transform-origin: center;
		transition: all 0.2s ease-in-out;
		width: var(--button-size);

		svg {
			flex-shrink: 0;
			height: var(--icon-size);
			transform-origin: center;
			transition: all 0.2s ease-in-out;
			width: var(--icon-size);
		}

		&:hover {
			transform: scale(2);
		}
	}
}

@keyframes accomodate-banner {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(var(--banner-height));
	}
}

.trialCloseStyle {
	cursor: pointer;
	fill: var(--color-primary-background);
	height: 8px;
	margin: 0 5px;
	position: absolute;
	right: 0;
	width: 8px;
}

.trialTimeText {
	font-size: 12px;
	padding-bottom: 4px;
	padding-top: 4px;
	z-index: 100;
}

.quicksearchWrapper {
	align-items: center;
	display: flex;
	flex-grow: 1;
	height: 28px;
	margin-left: var(--size-medium);
	max-width: 550px;
}

.hideableButtonContainer {
	@media (max-width: 1000px) {
		display: none;
	}
}

.searchBar {
	align-items: center;
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	color: var(--color-gray-500);
	display: flex;
	height: 40px;
	padding-left: 14px;
	width: 50px;
}

.logoWrapper {
	align-items: center;
	color: var(--text-primary);
	display: flex;
	height: 100%;
	justify-content: center;
	z-index: 10;
}

.homeLink {
	align-items: center;
	color: var(--text-primary) !important;
	cursor: pointer;
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.homeLink:hover {
	color: inherit;
	text-decoration: none;
}

.logoWrapper:hover {
	color: var(--text-primary);
}

.rightHeader {
	align-items: center;
	column-gap: var(--size-medium);
	display: flex;
	z-index: 200;
}

.applicationPickerContainer {
	align-items: center;
	display: flex;
	flex-grow: 1;
}

.demoWorkspaceContainer {
	align-items: center;
	display: flex;
}

.demoLink {
	color: var(--color-text-primary-inverted) !important;
	text-decoration: underline;
}

.demoLink:hover {
	color: var(--color-gray-400) !important;
}

.upsellButton {
	padding-bottom: var(--size-xxSmall);
	padding-top: var(--size-xxSmall);
}
