.header {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    position: fixed;
    z-index: 100;
}

.headerPlaceholder {
    width: 100%;
    height: 80px;
    display: flex;
}

.hamburger {
    transition: 0.4s;
    margin-right: 20px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.logoText {
    font-size: 22px;
    font-weight: 400;
    user-select: none;
}

.searchWrapper {
    position: absolute;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commandWrapper {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 10px;
}
.commandContainer {
    margin-left: 5px;
    padding: 0px 5px 0px 5px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

.searchBar {
    width: 500px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding-left: 14px;
    color: #888888;
    display: flex;
    align-items: center;
}

.logoWrapper {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 20px;
    cursor: pointer;
    color: black;
}

.homeLink {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.homeLink:hover {
    text-decoration: none;
    color: inherit;
}

.logoWrapper:hover {
    color: black;
}

.logo {
    margin: 8px;
    fill: white;
    height: 22px;
    width: 22px;
}

.rightHeader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    z-index: 200;
}
