.rageClick {
	--background-color: rgba(255, 109, 109, 0.15);
	--border-color: var(--color-red-400);

	background: var(--background-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	display: flex;
	height: 100%;
	justify-content: center;
	min-width: 4px;
	position: absolute;
	top: 0;
	transition: background-color 0.2s ease-in-out, border-width 0.1s ease-in-out;

	&:hover,
	&.hover {
		--background-color: rgba(255, 109, 109, 0.5);
		border-width: 2px;
		transition-delay: 0.2s;
	}

	.icon {
		align-items: center;
		background: var(--border-color);
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		box-shadow: var(--box-shadow);
		color: var(--color-red-400);
		display: flex;
		height: var(--size-medium);
		justify-content: center;
		max-width: 80%;
		min-width: 4px;
		position: absolute;
		top: -16px;
		width: 100%;
	}
}

.title {
	align-items: center;
	column-gap: var(--size-xSmall);
	display: flex;
	font-weight: 700;
	margin-bottom: var(--size-small);
}

.iconContainer {
	align-items: center;
	background: var(--color-red-400);
	border-radius: 50%;
	color: var(--text-primary-inverted);
	display: flex;
	justify-content: center;
	padding: var(--size-xxSmall);
}

.popoverContent {
	max-height: 300px;
	overflow: hidden;
	overflow-wrap: anywhere;
	overflow-y: auto;
	padding-bottom: var(--size-xSmall);
	text-overflow: ellipsis;
	width: 240px;
}

.table {
	grid-template-columns: 140px 1fr;
}

.goToButton {
	color: var(--color-gray-500);

	&:hover {
		color: var(--text-primary);
		fill: var(--text-primary);

		svg {
			fill: var(--text-primary);
		}
	}
}

.goToButtonContainer {
	display: flex;
	justify-content: flex-end;
	margin-top: var(--size-large);
}
