.speedText {
    color: var(--color-gray-500);
    font-size: 12px;

    &:active {
        color: var(--color-gray-500);
    }
}

.speedButton {
    align-items: center;
    background: var(--color-purple-200);
    border: 0;
    border-radius: 2px;
    color: var(--color-purple);
    display: flex;
    height: 18px;
    justify-content: center;
    padding: 0;
    width: 18px;

    &:focus {
        background: var(--color-purple-200);
    }

    &:disabled {
        background: var(--color-purple);
        color: var(--color-purple-200);
    }
}

.speedControlContainer {
    align-items: center;
    display: flex !important;
    column-gap: var(--size-xxSmall);
}

.shortcutButton {
    height: var(--size-large);
    border: 1px solid var(--color-gray-300);
}

.icon {
    height: var(--size-medium);
    width: var(--size-medium);
}
