.speedText {
    color: var(--color-gray-500);
    font-size: 12px;
    padding: 0 var(--size-xSmall);

    &:active {
        color: var(--color-gray-500);
    }
}

.speedButton {
    align-items: center;
    background: var(--color-purple-200);
    border: 0;
    border-radius: 2px;
    color: var(--color-purple);
    display: flex;
    height: 18px;
    justify-content: center;
    padding: 0;
    width: 18px;

    &:focus {
        background: var(--color-purple-200);
    }

    &:disabled {
        background: var(--color-purple);
        color: var(--color-purple-200);
    }
}

.speedControlContainer {
    align-items: center;
    display: flex !important;
}
