.suggestionContainer {
    align-items: center;
    column-gap: var(--size-xSmall);
    display: flex;

    .adminText {
        display: flex;
        flex-direction: column;

        .email {
            color: var(--color-gray-500);
        }

        .longValue {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 225px;
        }
    }
}

.suggestionHeader {
    border: 1px solid var(--color-gray-300);
    border-bottom: 0;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: var(--size-medium) var(--size-small);

    p {
        font-size: 13px;
        font-weight: 400;
        margin: 0 !important;
    }
}
