@import 'src/static/shared.scss';

.avatarWrapper {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.readMarkerContainer {
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 6px;
}

.readMarker {
    border-radius: 10px;
    width: 8px;
    height: 8px;
    background-color: #5629c6;
}

.topText {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 200;
    margin: 4px 0 4px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.middleText {
    color: black;
    font-weight: 300;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 4px 0 8px 0;
}

.bottomText {
    color: black;
    font-size: 12px;
    font-weight: 200;
    margin: 4px 0 4px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playButton {
    margin-right: 30px;
    margin-left: 15px;
    height: 45px;
    width: 45px;
}

.loadingDiv {
    height: 50px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.blueTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #5629c6;
    font-weight: 400;
}

.sessionTextSection {
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tagWrapper {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    height: 22px;
}

.sessionTextWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hoverBorderRight {
    height: 60px;
    width: 5px;
    position: absolute;
    border-radius: 5px;
    transition: 0.3s;
    right: -3px;
    transition: 0.3s;
    background-color: transparent;
}

.hoverBorderLeft {
    height: 60px;
    width: 5px;
    position: absolute;
    border-radius: 5px;
    transition: 0.3s;
    left: -3px;
    transition: 0.3s;
    background-color: transparent;
}

.hoverBorderOn {
    background-color: #5629c6;
}

.feedWrapper {
    display: flex;
    width: 100%;
}

.feedContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
    height: 200px;
    margin-top: -24px;
    padding-top: 16px;
}

.fixedContent {
    position: relative;
    z-index: 999;
}

.userInputWrapper {
    width: 100%;
}

.mainUserInput {
    position: relative;
    width: 100%;
    background-color: white;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultCount {
    margin: 0px -3px;
    padding: 8px 5px 16px 5px;
    color: #a8a8a8;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 30%
    );
    width: 100%;
    z-index: 10;
}

.sessionCard {
    position: relative;
    font-weight: 400;
    @include rounded-border;
    display: flex;
    margin-bottom: 14px;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    cursor: pointer;

    &:not(:first-of-type) {
        margin-top: 14px;
    }
}

.sessionCardContentWrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
}

.sessionTextSectionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
}

.regSubTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
    font-size: 14px;
    color: black;
    font-weight: 200;
}

.regTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 300;
    color: black;
}
