@import 'src/static/shared.scss';


.avatarWrapper{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topText {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 200;
    margin: 4px 0 4px 0;
}

.middleText {
    color: black;
    font-weight: 300;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 4px 0 8px 0;
}

.bottomText {
    color:black;
    font-size: 12px;
    font-weight: 200;
    margin: 4px 0 4px 0;
}

.playButton {
    margin-right: 30px;
    margin-left: 15px;
    height: 45px;
    width: 45px;
}

.loadingDiv {
    height: 50px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.blueTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #5629c6;
    font-weight: 400;
}

.sessionTextSection {
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sessionTextWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hoverBorder {
    height: 60px;
    background-color: #5629C6;
    width: 5px;
    position: absolute;
    border-radius: 5px;
    left: -3px;
    transition: 0.3s;
}

.sessionCard {
    position: relative;
    font-weight: 400;
    height: 110px;
    @include rounded-border;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    margin-top: 14px;
    margin-bottom: 14px;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    cursor: pointer;
}

.regSubTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
    font-size: 14px;
    color: black;
    font-weight: 200;
}

.regTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 300;
    color: black;
}