.fullBleedCard {
    align-items: center;
    backdrop-filter: blur(2px);
    border-radius: var(--border-radius);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transition: backdrop-filter 0.2s ease-in-out;
    width: 100%;
    z-index: 1000;
}
