.timeIndicator {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: calc(100% + 36px);
	position: absolute;
	z-index: 2;
	transition: left 0.4s linear;
}

.timeIndicatorHair {
	border-left: 2px var(--color-neutral-900) solid;
	cursor: ew-resize;
	height: 79px;
	position: absolute;
	top: 60px;
}

.timeIndicatorTop {
	background-color: var(--color-neutral-900);
	border: 1px solid var(--color-white);
	border-radius: 1px 1px 12px 12px;
	cursor: grab;
	height: 14px;
	position: sticky;
	top: 11px;
	user-select: none;
	width: 10px;
}

.timeIndicatorText {
	background-color: var(--color-neutral-800);
	border-radius: 10px;
	color: var(--color-neutral-200);
	font-family: var(--header-font-family);
	font-size: 12px;
	font-weight: 400;
	padding: 2px 8px;
	position: fixed;
}
