.propertyWrapper {
	align-items: center;
	display: flex;
	width: 100%;
}

.propertyTag {
	color: var(--color-gray-500);
	font-size: 12px;
	font-weight: 300;
	margin-left: 8px;
	white-space: nowrap;
}

.propertyLabel {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
