@import 'src/static/shared.scss';

.propertyWrapper {
    display: flex;
    width: 100%;
    align-items: center;
}

.propertyTag {
    margin-left: 8px;
    color: var(--color-gray-500);
    font-weight: 300;
    font-size: 12px;
    white-space: nowrap;
}

.propertyLabel {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
