@import 'src/static/shared.scss';

.urlBarWrapper {
    background-color: #f9f9f9;
    width: 100%;
    max-width: 400px;
    font-size: 12px;
    @include rounded-border;
    padding: 1px var(--size-small);
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;

    &:hover .copyIcon {
        visibility: visible;
    }
}

.urlLink {
    color: black;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.urlLink:hover {
    color: $highlight-purple;
}

.copyIcon {
    margin-left: auto;
    cursor: pointer;
    color: grey;
    transition: opacity 0.2s ease-in-out;
}
