.urlBarWrapper {
    width: 50px;
    font-size: 12px;
    padding: 1px var(--size-small);
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;

    &:hover .copyIcon {
        visibility: visible;
    }
}

.urlLink {
    color: var(--color-gray-500);
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.urlLink:hover {
    color: var(--color-purple);
}

.copyIcon {
    margin-left: var(--size-xSmall);
    cursor: pointer;
    color: var(--color-gray-600);
    transition: opacity 0.2s ease-in-out;
}
