.urlBarWrapper {
	align-items: center;
	display: flex;
	flex-grow: 1;
	flex-wrap: nowrap;
	font-size: 12px;
	height: 100%;
	overflow: hidden;
	padding: 1px var(--size-small);
	width: 50px;

	&:hover .copyIcon {
		visibility: visible;
	}
}

.urlLink {
	color: var(--color-gray-500) !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: fit-content;
}

.urlLink:hover {
	color: var(--color-purple);
}

.copyIcon {
	color: var(--color-gray-600);
	cursor: pointer;
	margin-left: var(--size-xSmall);
	transition: opacity 0.2s ease-in-out;
}
