.header {
    font-size: 16px;
    font-weight: 300;
    color: var(--text-primary);
    margin: 0;
    margin-bottom: var(--size-medium);
}

.description {
    font-weight: 200;
    line-height: 20px;
    font-size: 14px;
    color: var(--color-gray-500);
    margin: 0 auto;
    margin-bottom: var(--size-medium);
    max-width: 362px;
}

.container {
    border: 1px solid var(--color-gray-300);
    padding: var(--size-medium);
    padding-bottom: var(--size-large);
    text-align: center;
    margin-bottom: 14px;
    border-radius: 8px;
}

.closeButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeIcon {
    color: var(--text-primary);
    height: var(--size-small);
    width: var(--size-small);
}

.actionsContainer {
    display: flex;
    justify-content: flex-end;
}

.link {
    padding: var(--size-xSmall) 0;
    text-align: center;
    background: var(--color-purple);
    color: var(--text-primary-inverted);
    width: 211px;
    display: block;
    margin: 0 auto;
    border-radius: var(--button-border-radius);

    &:hover {
        color: var(--text-primary-inverted);
    }
}
