.dateRange {
	flex-direction: row-reverse !important;

	:global(.rdrDateDisplayWrapper) {
		display: none;
	}

	:global(.rdrMonthAndYearWrapper) {
		padding-top: 0;
	}

	:global(.rdrDefinedRangesWrapper),
	:global(.rdrStaticRange) {
		background-color: transparent;
	}

	:global(.rdrDefinedRangesWrapper) {
		border-left: 1px solid var(--color-gray-300);
		border-right: 0;
	}

	:global(.rdrNextPrevButton) {
		background: var(--color-gray-300);
		border-radius: var(--button-border-radius);
	}

	:global(.rdrMonthName) {
		color: var(--color-gray-500);
		font-weight: 500;
		padding-top: 0;
		text-align: center;
	}

	:global(.rdrWeekDay) {
		color: var(--color-gray-500);
	}

	:global(.rdrDayPassive .rdrDayNumber span) {
		color: var(--color-gray-400);
	}

	:global(.rdrDayNumber span) {
		color: var(--text-primary);
	}

	:global(.rdrStaticRange) {
		color: var(--text-primary);
		transition: all 0.2s ease-in-out;

		&:hover,
		&:focus {
			:global(.rdrStaticRangeLabel) {
				background-color: var(--color-purple) !important;
				color: var(--color-white) !important;
			}
		}
	}

	:global(.rdrStaticRangeSelected) {
		background: var(--color-purple);
		color: var(--color-white) !important;
	}
}

.popover {
	overflow: hidden;

	:global(.ant-popover-inner-content) {
		padding: 0 !important;
	}

	:global(.ant-popover-arrow) {
		display: none !important;
	}
}

.button {
	column-gap: var(--size-xxSmall);
	display: flex;

	svg {
		color: var(--color-gray-500);
	}
}
