.leftClosed {
	border-bottom-left-radius: 0 !important;
	border-left: 0 !important;
	border-top-left-radius: 0 !important;
}

.rightClosed {
	border-bottom-right-radius: 0 !important;
	border-right: 0 !important;
	border-top-right-radius: 0 !important;
}

.searchIcon {
	height: var(--size-medium) !important;
	margin-left: calc(-1 * var(--size-xxSmall));
	width: var(--size-medium) !important;
}
