.emptyStateSection {
    align-items: center;
    border: 1px solid var(--color-gray-300);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: max-content;
}

.emptyStateWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.emptySubTitle {
    align-items: center;
    color: var(--color-gray-500);
    display: flex;
    display: inline-block;
    font-size: 16px;
    font-weight: 200;
    justify-content: center;
    max-width: 450px;
    text-align: center;
}

.emptyTitle {
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
}

.intercomButton {
    color: var(--color-purple);
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}
