.button {
	align-items: center;
	background: transparent;
	border: 0;
	border-radius: var(--button-border-radius);
	cursor: pointer;
	display: flex;
	height: var(--size-large);
	justify-content: center;
	outline: none;
	padding: 0;
	width: var(--size-large);

	&:hover {
		background: var(--color-gray-300);
	}

	&:active {
		background: var(--color-gray-400);
	}

	svg {
		color: var(--text-primary);
	}
}

.dropdown {
	z-index: 9999999999999 !important;
	:global(.ant-dropdown-menu-item) {
		align-items: center;
		column-gap: var(--size-small);
		display: flex;
	}
}
