.popover {
	display: flex;
	flex-direction: column;
	padding-bottom: var(--size-medium);
	row-gap: var(--size-medium);
	width: 250px;

	.label {
		display: flex;
		flex-direction: column;
		font-size: 10px;
		row-gap: var(--size-xxSmall);
	}
}
