.tabsContainer {
	margin-top: var(--size-large);

	/* Override some defaults we don't want on tabs. */
	:global(.ant-tabs-nav::before) {
		border-bottom: 0 !important;
	}
	:global(.ant-tabs-tab) {
		margin: 0 var(--size-large) 0 0 !important;
	}
	:global(.ant-tabs-content-holder) {
		margin-top: var(--size-large) !important;
	}
}
