.detailPanel {
	background: var(--color-primary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-2);
	display: flex;
	flex-direction: column;
	height: calc(
		100vh - var(--header-height) - var(--size-medium) - var(--size-medium)
	);
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 99999;

	&.padding {
		padding: var(--size-medium) var(--size-large);
	}

	&.bannerShown {
		height: calc(
			100vh - var(--header-height) - var(--size-medium) -
				var(--size-medium) - var(--banner-height)
		);
	}
}

.header {
	align-items: center;
	column-gap: var(--size-medium);
	display: flex;
	padding-bottom: var(--size-large);

	.title {
		margin-bottom: 0 !important;
		width: 100%;
	}
}

.contentContainer {
	height: 100%;
	overflow: auto;
}

.toggleButton {
	left: calc(-1 * var(--size-medium));
	position: absolute;
	transform: translateY(calc(95px + var(--size-medium) + 30px));
	z-index: 999;
}

.resizeContainer {
	position: absolute !important;
	right: var(--size-medium);
}

.dragHandleWrapper {
	> div {
		display: flex;
		flex-direction: column;
	}
}

.dragHandle {
	background: var(--color-gray-300);
	border-radius: var(--size-medium);
	cursor: ew-resize;
	height: 42px;
	margin: 0 auto;
	margin-top: calc(50vh - 42px);
	opacity: 1;
	padding: 3px 0;
	position: absolute;
	transform: translateX(12px);
	transition: opacity 0.2s ease-in;
	width: var(--size-xxSmall);
	z-index: 9999999;

	&.hidden {
		opacity: 0;
		transition: opacity 0.1s ease;
	}
}
