.button {
	background-color: var(--color-purple) !important;
	border: var(--color-purple);
	border-radius: var(--size-xSmall) !important;
	color: var(--color-white) !important;
	column-gap: var(--size-small);
	display: flex;
	font-size: 14px !important;
	height: 34px;
	justify-content: center;
	width: 113px;

	&:focus &:hover {
		background-color: var(--color-purple) !important;
		border: var(--color-purple) !important;
	}
}
