.noDataMessageContainer {
	grid-column-end: -1;
	grid-column-start: 1;

	p {
		line-height: 1.5rem !important;
	}

	p:not(:last-of-type) {
		margin-bottom: var(--size-medium) !important;
	}
}

.modalContentContainer {
	overflow-y: auto;
}
