.copyButton {
	border-radius: var(--size-xSmall);
	cursor: pointer;
	padding: var(--size-xxSmall);
	position: relative;
	transition: opacity 0.2s ease-in-out;
	z-index: 10;
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}
}

.copyDiv {
	align-items: center;
	display: flex;
	font-size: 8px;
	justify-content: center;
	padding: 10px;
}

.codeBlock {
	display: block;
	position: relative;

	pre {
		border: 1px solid var(--color-gray-300);
		border-radius: var(--border-radius);
	}
}

.codeBlockWrapper {
	background-color: var(--color-secondary-background);
	border: 1px solid var(--color-gray-300);
	border-radius: 8px;
	display: block;
	font-family: 'Lucida Console', Monaco, Consolas, 'Courier New', Courier,
		'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !important;
	font-size: 13px;
	height: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
	max-width: 100%;
	min-width: 100%;
	overflow: auto;
	overflow-wrap: break-word;
	padding: 10px;
	position: relative;
	resize: none;
	white-space: pre;
	width: 100%;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.codeBlockInner {
	width: fit-content;
	display: flex;
	align-items: center;
	padding: 4px 12px;
	color: var(--color-white);
	background-color: var(--color-primary-inverted-background);
	border-radius: var(--size-xSmall);
}

.highlightedLine {
	background-color: var(--color-gray-300);
}

.lineNumberSticky {
	color: rgb(125, 139, 153);
	display: block;
	min-width: 2.25em;
	padding-left: 16px;
	padding-right: 16px;
	text-align: right;
	user-select: none;
}
