.card {
    border-radius: var(--border-radius);
    padding: var(--size-xLarge);
    max-width: 500px;
    border: 1px solid var(--color-gray-300);
    background: var(--color-primary-background);
    color: var(--text-primary);

    h2 {
        color: var(--text-primary);
        margin: 0;
        margin-bottom: var(--size-medium);
        font-size: 24px;
    }

    p {
        margin-bottom: 0;
    }

    .content {
        font-size: 16px;
        font-size: 200;
        max-width: 800px;
        word-wrap: break-word;
    }
}
