.hostContainer {
	align-items: center;
	column-gap: var(--size-xxSmall);
	display: flex;
	padding-right: 2rem;

	span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.timeRow {
	column-gap: var(--size-xxSmall);
	display: flex;
	justify-content: center;
	width: fit-content;
}

.loading {
	filter: blur(2px);
}
