.hostContainer {
	align-items: center;
	column-gap: var(--size-xxSmall);
	display: flex;

	span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.timeRow {
	column-gap: var(--size-xxSmall);
	display: flex;
	justify-content: center;
	width: 100%;
}
