.tag {
	align-items: center;
	border-radius: var(--size-large);
	color: var(--text-primary);
	column-gap: var(--size-xxSmall);
	display: flex;
	font-size: 12px;
	height: var(--size-large);
	padding: var(--size-xxSmall) var(--size-small);
	width: fit-content;
}
