.container {
	height: 100%;
	padding-top: var(--size-medium);
	width: 100%;
}

.emptyContainer {
	height: 100%;
	padding: var(--size-large);
	padding-top: 0;
	width: 100%;

	.messageContainer {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		p {
			color: var(--color-gray-500) !important;
		}
	}
}

.noDataContainer {
	align-items: center;
	display: flex;
	height: 50%;
	justify-content: center;

	p {
		color: var(--color-gray-500) !important;
		margin: 0 !important;
	}
}
