/* set the vertical chart slider color scheme */
:global(.ant-slider:hover .ant-slider-track) {
	background-color: var(--color-blue-400) !important;
}
:global(.ant-slider-dot) {
	border-color: var(--color-blue-400) !important;
}
:global(.ant-slider-handle) {
	border-color: var(--color-blue-400) !important;
}
:global(.ant-slider-handle:focus) {
	border-color: var(--color-blue-400) !important;
	box-shadow: 0 0 0 5px var(--color-blue-400) !important;
}
:global(.ant-slider-handle:hover) {
	border-color: var(--color-blue-400) !important;
}
:global(.ant-slider-handle-dragging.ant-slider-handle-dragging.ant-slider-handle-dragging) {
	border-color: var(--color-blue-400) !important;
	box-shadow: 0 0 0 5px var(--color-blue-400) !important;
}

.chartContainer {
	height: 230px;
	margin-bottom: var(--size-large);
}

.formFooter {
	display: flex;
	justify-content: space-between;
	margin-top: var(--size-large);
}

.actionsContainer {
	column-gap: var(--size-large);
	display: flex;
	margin-left: auto;
}

.select {
	width: 100%;
}

.slider {
	left: 27px;
	top: 36px;
	z-index: 99999;
}

.thresholdRow {
	display: flex;
}

.threshold {
	flex-grow: 1;
}

.thresholdUnits {
	margin-left: var(--size-xxSmall);
	width: 160px;
}
