.tabPane {
	height: 100%;
	overflow-y: auto;

	&.withPadding {
		padding: var(--size-small) var(--size-medium);
	}

	&.unsetOverflowY {
		overflow-y: unset;
	}
}

.extraContentContainer {
	align-items: center;
	column-gap: var(--size-medium);
	display: flex;

	&.withHeaderPadding {
		padding-right: var(--size-large);
	}
}

.tabs {
	font-family: var(--header-font-family) !important;

	&.noHeaderPadding {
		:global(.ant-tabs-nav-wrap) {
			padding: 0;
		}
	}

	&.border {
		:global(.ant-tabs-nav) {
			border-bottom: #E4E2E4 solid 1px !important;
		}
	}
}
