.tabPane {
    height: 100%;
    overflow-y: auto;

    &.withPadding {
        padding: var(--size-small) var(--size-small);
    }
}

.extraContentContainer {
    align-items: center;
    column-gap: var(--size-medium);
    display: flex;
    padding-right: var(--size-large);
}

.tabs {
    font-family: var(--header-font-family) !important;
}
