.alert {
    &:global(.ant-alert) {
        padding-bottom: var(--size-medium) !important;
        padding-left: var(--size-medium) !important;
        padding-right: var(--size-medium) !important;
        padding-top: var(--size-medium) !important;
    }

    :global(.ant-alert-message) {
        font-weight: 500;
    }
}
