.comment {
	cursor: auto;
	display: flex;
	position: absolute;
	z-index: 9999;

	.commentPinButton {
		align-items: center;
		background: none;
		border: 0;
		cursor: pointer;
		display: flex;
		justify-content: center;
		outline: none;
		padding-right: var(--size-medium);
	}

	> .commentPinButton {
		position: relative;
		z-index: 99;
	}

	&:hover {
		z-index: 10000;
	}
}

.sessionCommentCardContainer {
	width: 350px;
}
