.demoWorkspaceButton {
	background-color: var(--color-primary-inverted-background);
	border: 0;
	border-radius: var(--border-radius);
	column-gap: var(--size-xSmall);

	&:hover,
	&:active,
	&:focus {
		background-color: var(--color-gray-800);
		border: 0;
	}
}
