@import 'src/static/shared.scss';

.avatarWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
}

.readMarkerContainer {
    align-items: center;
    display: flex;
    margin-left: 6px;
    position: relative;
    width: 8px;
}

.topText {
    color: var(--color-gray-500);
    font-size: 12px;
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.middleText {
    color: var(--text-primary);
    font-size: 14px;
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bottomText {
    color: var(--text-primary);
    font-size: 12px;
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sessionTextSection {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tagWrapper {
    display: flex;
    flex-flow: row wrap;
    height: 28px;
    overflow: hidden;
}

.hoverBorderRight {
    background-color: transparent;
    border-radius: 5px;
    height: 60px;
    position: absolute;
    right: -3px;
    transition: 0.3s;
    transition: 0.3s;
    width: 5px;
}

.hoverBorderLeft {
    background-color: transparent;
    border-radius: 5px;
    height: 60px;
    left: -3px;
    position: absolute;
    transition: 0.3s;
    transition: 0.3s;
    width: 5px;
}

.hoverBorderOn {
    background-color: var(--color-purple);
}

.sessionCardWrapper {
    position: relative;

    &:hover {
        .sessionCardAction {
            display: flex;
        }
    }
}

.sessionCardAction {
    align-items: center;
    background-color: var(--color-primary-background);
    border: 0;
    border-radius: 5px;
    bottom: 0;
    display: none;
    height: 30px;
    margin: auto;
    padding: 0 6px;
    position: absolute;
    right: 8px;
    top: 0;
    width: 30px;

    &:hover {
        background-color: var(--color-gray-300);
        cursor: pointer;

        .actionIcon {
            color: var(--text-primary);
            fill: var(--text-primary);
            stroke: var(--text-primary);
        }
    }
}

.actionIcon {
    color: var(--color-gray-500);
    fill: var(--color-gray-500);
    stroke: var(--color-gray-500);
}

.starredIconWrapper {
    bottom: 0;
    display: flex;
    height: 30px;
    left: 8px;
    margin: auto;
    padding: 6px;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 5;

    &:hover {
        cursor: pointer;

        .actionIcon {
            color: var(--text-primary);
            fill: var(--text-primary);
            stroke: var(--text-primary);
        }
    }
}

.starredIcon {
    color: var(--color-yellow-200);
    fill: var(--color-yellow-200);
    stroke: var(--color-yellow-200);
}

.sessionCard {
    @include rounded-border;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    margin-bottom: 14px;
    padding: 18px;
    position: relative;

    &:not(:first-of-type) {
        margin-top: 14px;
    }

    &::before {
        background-color: var(--color-purple);
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.2s ease-in-out;
        width: 5px;
    }

    &.selected {
        &::before {
            opacity: 1;
        }
    }
}

.sessionCardContentWrapper {
    align-items: center;
    column-gap: var(--size-large);
    display: flex;
    flex-grow: 1;
    padding: 0 var(--size-xLarge);
    padding-right: 0;
}

.sessionTextSectionWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    row-gap: var(--size-xxSmall);

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
}
