.dot {
	--pulse-color: 86, 41, 198;
	background-color: var(--color-purple);
	border-radius: 10px;
	height: var(--size-xSmall);
	width: var(--size-xSmall);
}

.dotRed {
	--pulse-color: 255, 0, 0;
	background-color: var(--color-red);
}

.pulse {
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(var(--pulse-color), 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(var(--pulse-color), 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(var(--pulse-color), 0);
	}
}
