@import 'src/static/shared.scss';

.errorSearchPanel {
	background: var(--color-primary-background);
	border-right: 1px solid var(--color-gray-300);
	box-shadow: var(--box-shadow-3);
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--header-height));
	padding: var(--size-large) var(--size-xLarge);
	padding-bottom: 0;
	position: relative;
	transform: translateX(0);
	transition: transform 0.2s ease-in-out;

	width: var(--left-panel-width);

	&.hidden {
		position: fixed;
		transform: translateX(calc(-1 * (var(--left-panel-width))));
	}

	&.bannerShown {
		height: calc(100vh - var(--header-height) - var(--banner-height));
	}
}

.panelToggleButton {
	position: absolute;
	right: calc((-1 * var(--size-xLarge) / 2));
	top: 97px;
	transform: translateY(calc(112px + var(--size-medium) + 30px));
	z-index: 999;

	&.hidden {
		right: var(--size-xLarge);
	}
}
