.test {
    display: flex;
    font-size: 24px;
}

.sessionsBody {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sessionsSection {
    margin: 30px;
    max-width: 700px;
    width: 700px;
    position: relative;
}

.sessionsHeader {
    font-size: 35px;
    font-weight: 300;
}

.timesIcon {
    margin-right: 4px;
    color: #5629c6;
    height: 100%;
}

.loadingDiv {
    height: 50px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.searchIcon {
    margin: 14px;
    color: #979696;
}

.searchIconWrapper {
    flex: 0 1 40px;
    width: 40px;
    height: 100%;
}

.searchInputSection {
    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
    height: 100%;
    align-items: center;
}

.optionsTitle {
    font-size: 12px;
    font-weight: 400;
    color: #5629c6;
    margin-left: 10px;
    margin-bottom: 8px;
}

.optionInput {
    background-color: transparent;
    outline: none;
    font-weight: 300;
    border: none !important;
    height: 100%;
    overflow: hidden;
    resize: none;
    display: inline-block;
    padding: 3px;
    color: #5629c6;
}

.optionKey {
    font-weight: 400;
    color: #5629c6;
}

.optionInputWrapper {
    width: max-content;
    height: max-content;
    border: none;
    white-space: nowrap;
    padding-left: 10px;
    outline: none;
    padding-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f2eefb;
    margin-right: 10px;
}

.optionsRow {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-radius: 8px;
    width: max-content;
    cursor: pointer;
}

.optionsRow:hover {
    background-color: #f2eefb;
}

.optionsKey {
    font-size: 16px;
    font-weight: 300;
    color: black;
}

.dropdownTitle {
    padding: 3px 10px 3px 10px;
    font-size: 13px;
    color: #5629c6;
    font-weight: 400;
    margin-bottom: 5px;
}

.dropdownSection {
    display: flex;
    flex-direction: column;
}

.optionsValue {
    font-size: 16px;
    font-weight: 300;
    color: #a4a4a4;
}

.optionsSection {
    display: flex;
    flex-direction: column;
}

.dropdownDivider {
    padding-top: 14px;
}

.dropdown {
    width: 100%;
    border: 1px solid #eaeaea;
    max-width: 700px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    margin-top: -10px;
    flex-direction: column;
}

.searchBar {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 100%;
    height: 48px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    justify-content: center;
}

.searchInput {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-weight: 300;
    border: none;
    border-radius: 8px;
    outline: none;
}

.mainInputDiv {
    height: 100%;
    width: 100%;
}

.sessionCard {
    font-weight: 400;
    height: 80px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin-top: 14px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    cursor: pointer;
}

.sessionTextSection {
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sessionTextWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.playButton {
    margin-right: 30px;
    margin-left: 15px;
    height: 45px;
    width: 45px;
}

.regTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 300;
    color: black;
}

.blueTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #5629c6;
    font-weight: 400;
}

.regSubTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
    font-size: 14px;
    color: black;
    font-weight: 200;
}
