.configurationContainer {
    display: flex;
    flex-direction: column;
    row-gap: var(--size-large);

    :global(.ant-form-item) {
        margin-bottom: 0;
    }
}

.integrationAlert {
    margin-bottom: var(--size-xxLarge);

    .integrationButton {
        margin-top: var(--size-large);
    }
}

.hiddenSlackIntegrationButton {
    display: none;
}

.cellWithTooltip {
    column-gap: var(--size-xxSmall);
    display: flex;
}

.nameCell {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: auto;

    .primary {
        font-size: 16px;
        font-weight: 500;
    }
}

.subTitleContainer {
    align-items: center;
    display: flex;
    height: 40px;
    margin-bottom: var(--size-medium);
    margin-top: var(--size-small);

    p {
        align-self: flex-start;
        color: var(--color-gray-500);
        font-size: 18px;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    .callToAction {
        margin-left: auto;
        transform: translateY(-49px);
    }
}

.configureButton {
    align-items: center;
    color: var(--color-gray-500) !important;
    display: flex;
    font-weight: 300;
    justify-content: center;

    &:hover {
        color: var(--color-gray-500) !important;
    }

    svg {
        color: var(--color-gray-400);
        height: var(--size-large);
        width: var(--size-large);
    }
}

.emptyContainer {
    cursor: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    padding-bottom: var(--size-xLarge);
    padding-top: var(--size-xLarge);
}

.intercomButton {
    color: var(--color-purple);
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}

.line {
    background-color: var(--color-gray-300);
    min-height: 105%;
    position: absolute;
    transform: translateY(-17px);
    width: 1px;
}

.chart {
    display: flex;
    justify-content: center;
    padding-left: var(--size-medium) !important;
}
