.configurationContainer {
    display: flex;
    flex-direction: column;
    row-gap: var(--size-large);

    :global(.ant-form-item) {
        margin-bottom: 0;
    }
}

.integrationAlert {
    margin-bottom: var(--size-xxLarge);

    .integrationButton {
        margin-top: var(--size-large);
    }
}

.hiddenSlackIntegrationButton {
    display: none;
}
