.select {
	width: 100%;
}

.cardGrid {
	display: grid;
	gap: var(--size-xLarge);
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.cardContainer {
	height: 100%;
}

.cardContent {
	display: block;

	.icon {
		align-items: center;
		border-radius: 50%;
		color: var(--color-white) !important;
		display: flex;
		flex-shrink: 0;
		height: 1.5em;
		justify-content: center;
		width: 1.5em;

		svg {
			height: 0.8em;
			width: 0.8em;
		}
	}
}

#title {
	align-items: center;
	column-gap: var(--size-small);
	display: flex;
	margin-bottom: var(--size-xxSmall) !important;
}

.description {
	margin-bottom: 0 !important;
	margin-left: calc(1.5em + calc(2 * var(--size-small))) !important;
}
