.careersPage {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.careersText {
    max-width: 90%;
    white-space: pre-line;
    width: 400px;
}

.privacyPage {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.privacyText {
    max-width: 90%;
    white-space: pre-line;
    width: 800px;
}

.termsPage {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.termsText {
    max-width: 90%;
    white-space: pre-line;
    width: 800px;
}
