.zoomArea {
	align-items: center;
	background-color: var(--color-neutral-500);
	border-radius: 2px;
	bottom: 0;
	cursor: grab;
	display: flex;
	height: 100%;
	justify-content: space-between;
	opacity: 0.8;
	position: absolute;
	z-index: 2;
}

.zoomAreaSide {
	cursor: ew-resize;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 0 6px;
	user-select: none;
}

.zoomAreaHandle {
	background-color: var(--color-white);
	border-radius: 2px;
	height: 38%;
	user-select: none;
	width: 3px;
}

.zoomAreaPanSpace {
	height: 100%;
	width: 100%;
}

.animated {
	transition: 'width 0.17s linear';
}
