.workspaceTabs {
	> :global(.ant-tabs-nav)::before {
		border-bottom: 0 !important;
	}

	:global(.ant-tabs-tab):first-of-type {
		margin-left: 0 !important;
	}
}

.header {
	margin-bottom: 20px !important;
}
