.popoverMenuList {
    width: 200px;

    &:first-of-type {
        margin-top: -12px;
    }
    &:not(:first-of-type) {
        margin-top: 0;
    }

    a {
        color: var(--text-primary);
    }

    a,
    button {
        align-items: center;
        column-gap: var(--size-xSmall);
        display: flex !important;
    }
}
