.popoverMenuList {
	width: 200px;

	&:first-of-type {
		margin-top: -12px;
	}
	&:not(:first-of-type) {
		margin-top: 0;
	}

	a {
		color: var(--text-primary);
	}

	a,
	button {
		align-items: center;
		column-gap: var(--size-xSmall);
		display: flex !important;
		width: 100%;

		> div {
			overflow: hidden;
		}

		span {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.endingIcon {
		align-items: center;
		display: flex;
		margin-left: auto;
	}
}

.popover {
	:global(.ant-popover-arrow) {
		display: none !important;
	}
}

.header {
	align-items: center;
	border-bottom: 1px solid var(--color-gray-300);
	column-gap: var(--size-xSmall);
	display: flex;
	justify-content: space-between;
	margin: 0 calc(var(--size-medium) * -1);
	margin-bottom: var(--size-small);
	padding-bottom: var(--size-small);
	padding-left: var(--size-medium);
	padding-right: var(--size-medium);
	padding-top: 0;

	h3 {
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 0 !important;
	}
}

.button {
	border-radius: 0;
	color: var(--text-primary) !important;

	&.active {
		color: var(--text-primary-inverted) !important;
		svg {
			color: var(--text-primary-inverted);
		}
	}
}
