@import 'src/static/shared.scss';

.bubble {
    background: var(--color-purple);
    color: var(--text-primary-inverted);
    padding: 0 5px;
    font-size: 10px;
    height: 20px;
    min-width: 20px;
    border-radius: 13px;
    margin-left: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
}
