.group {
	align-items: center;
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius);
	display: flex;
	height: fit-content;
	justify-content: center;

	svg {
		color: var(--text-primary) !important;
	}

	> * {
		border-right: 1px solid var(--color-gray-300);
		padding-bottom: 0;
		padding-left: var(--size-xxSmall);
		padding-right: var(--size-xxSmall);
		padding-top: 0;
	}

	> *:last-child {
		border-right: 0;
	}
}
