name: Publish Docker image
on:
    # push:
    #     branches:
    #         - 'master'
jobs:
   push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: ./
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/backend:latest,${{ secrets.DOCKER_USERNAME }}/backend:$(git rev-parse --short "$GITHUB_SHA")
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
