name: Deploy to AWS
on:
    push:
        branches:
            - 'main'
        paths:
            - 'go.work'
            - 'go.work.sum'
            - 'backend/**'
            - 'deploy/**'
            - '.github/workflows/deploy.yml'
    pull_request:
        types: [opened, synchronize]
jobs:
    deploy_backend:
        runs-on: buildjet-2vcpu-ubuntu-2204-arm
        steps:
            - name: Check out the repo
              uses: actions/checkout@v3

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: us-east-2
            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v1

            - name: Build, tag, and push arm64 image to Amazon ECR
              env:
                  ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                  ECR_REPOSITORY: highlight-production-ecr-repo
                  IMAGE_TAG: ${{ github.sha }}
              run: |
                  docker buildx build --build-arg REACT_APP_COMMIT_SHA=${{ github.sha }} --platform linux/arm64 -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG.arm64 -f deploy/Dockerfile.prod.arm64 .
                  docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG.arm64

            # Edit and deploy private-graph
            - name: Replace image label for private-graph task
              id: image-private-graph
              uses: aws-actions/amazon-ecs-render-task-definition@v1
              with:
                  task-definition: deploy/private-graph-task.json
                  container-name: highlight-backend
                  image: ${{ steps.login-ecr.outputs.registry }}/highlight-production-ecr-repo:${{ github.sha }}.arm64
            - name: Deploy to Amazon ECS private-graph service
              uses: aws-actions/amazon-ecs-deploy-task-definition@v1
              with:
                  task-definition: ${{ steps.image-private-graph.outputs.task-definition }}
                  service: private-graph-service
                  cluster: highlight-production-cluster
            # Edit and deploy public-graph
            - name: Replace image label for public-graph task
              id: image-public-graph
              uses: aws-actions/amazon-ecs-render-task-definition@v1
              with:
                  task-definition: deploy/public-graph-task.json
                  container-name: highlight-backend
                  image: ${{ steps.login-ecr.outputs.registry }}/highlight-production-ecr-repo:${{ github.sha }}.arm64
            - name: Deploy to Amazon ECS public-graph service
              uses: aws-actions/amazon-ecs-deploy-task-definition@v1
              with:
                  task-definition: ${{ steps.image-public-graph.outputs.task-definition }}
                  service: public-graph-service
                  cluster: highlight-production-cluster
            # Edit and deploy worker
            - name: Replace image label for worker task
              id: image-worker
              uses: aws-actions/amazon-ecs-render-task-definition@v1
              with:
                  task-definition: deploy/worker-task.json
                  container-name: highlight-backend
                  image: ${{ steps.login-ecr.outputs.registry }}/highlight-production-ecr-repo:${{ github.sha }}.arm64
            - name: Deploy to Amazon ECS worker service
              uses: aws-actions/amazon-ecs-deploy-task-definition@v1
              with:
                  task-definition: ${{ steps.image-worker.outputs.task-definition }}
                  service: worker-service-v2
                  cluster: highlight-production-cluster
            # Edit and deploy metric monitors
            - name: Replace image label for metric monitors task
              id: image-metric-monitor
              uses: aws-actions/amazon-ecs-render-task-definition@v1
              with:
                  task-definition: deploy/metric-monitor-task.json
                  container-name: highlight-backend
                  image: ${{ steps.login-ecr.outputs.registry }}/highlight-production-ecr-repo:${{ github.sha }}.arm64
            - name: Deploy to Amazon ECS metric monitor service
              uses: aws-actions/amazon-ecs-deploy-task-definition@v1
              with:
                  task-definition: ${{ steps.image-metric-monitor.outputs.task-definition }}
                  service: metric-monitor
                  cluster: highlight-production-cluster
            # Edit and deploy log alerts
            - name: Replace image label for log alerts task
              id: image-log-alerts
              uses: aws-actions/amazon-ecs-render-task-definition@v1
              with:
                  task-definition: deploy/log-alerts-task.json
                  container-name: highlight-backend
                  image: ${{ steps.login-ecr.outputs.registry }}/highlight-production-ecr-repo:${{ github.sha }}.arm64
            - name: Deploy to Amazon ECS log alerts service
              uses: aws-actions/amazon-ecs-deploy-task-definition@v1
              with:
                  task-definition: ${{ steps.image-log-alerts.outputs.task-definition }}
                  service: log-alerts-service
                  cluster: highlight-production-cluster
            # Edit and deploy public worker (main topic)
            - name: Replace image label for public worker (main topic) service
              id: image-public-worker-main
              uses: aws-actions/amazon-ecs-render-task-definition@v1
              with:
                  task-definition: deploy/public-worker-main-service.json
                  container-name: highlight-backend
                  image: ${{ steps.login-ecr.outputs.registry }}/highlight-production-ecr-repo:${{ github.sha }}.arm64
            - name: Deploy to Amazon ECS public worker (main topic) service
              uses: aws-actions/amazon-ecs-deploy-task-definition@v1
              with:
                  task-definition: ${{ steps.image-public-worker-main.outputs.task-definition }}
                  service: public-worker-main-service
                  cluster: highlight-production-cluster
            # Edit and deploy public worker (batched topic)
            - name: Replace image label for public worker (batched topic) service
              id: image-public-worker-batched
              uses: aws-actions/amazon-ecs-render-task-definition@v1
              with:
                  task-definition: deploy/public-worker-batched-service.json
                  container-name: highlight-backend
                  image: ${{ steps.login-ecr.outputs.registry }}/highlight-production-ecr-repo:${{ github.sha }}.arm64
            - name: Deploy to Amazon ECS public worker (batched topic) service
              uses: aws-actions/amazon-ecs-deploy-task-definition@v1
              with:
                  task-definition: ${{ steps.image-public-worker-batched.outputs.task-definition }}
                  service: public-worker-batched-service
                  cluster: highlight-production-cluster
            # Edit and deploy public worker (datasync topic)
            - name: Replace image label for public worker (datasync topic) service
              id: image-public-worker-datasync
              uses: aws-actions/amazon-ecs-render-task-definition@v1
              with:
                  task-definition: deploy/public-worker-datasync-service.json
                  container-name: highlight-backend
                  image: ${{ steps.login-ecr.outputs.registry }}/highlight-production-ecr-repo:${{ github.sha }}.arm64
            - name: Deploy to Amazon ECS public worker (datasync topic) service
              uses: aws-actions/amazon-ecs-deploy-task-definition@v1
              with:
                  task-definition: ${{ steps.image-public-worker-datasync.outputs.task-definition }}
                  service: public-worker-datasync-service
                  cluster: highlight-production-cluster
            # Edit and deploy public worker (traces topic)
            - name: Replace image label for public worker (traces topic) service
              id: image-public-worker-traces
              uses: aws-actions/amazon-ecs-render-task-definition@v1
              with:
                  task-definition: deploy/public-worker-traces-service.json
                  container-name: highlight-backend
                  image: ${{ steps.login-ecr.outputs.registry }}/highlight-production-ecr-repo:${{ github.sha }}.arm64
            - name: Deploy to Amazon ECS public worker (traces topic) service
              uses: aws-actions/amazon-ecs-deploy-task-definition@v1
              with:
                  task-definition: ${{ steps.image-public-worker-traces.outputs.task-definition }}
                  service: public-worker-traces-service
                  cluster: highlight-production-cluster
