name: End-to-end

on:
    push:
        branches: ['main']
    pull_request:
        types: [opened, synchronize]
    merge_group:

jobs:
    e2e-client:
        timeout-minutes: 30
        runs-on: buildjet-4vcpu-ubuntu-2204

        steps:
            - name: Use HTTPS for checkout
              run: echo -e '[url "https://github.com/"]\n  insteadOf = "git@github.com:"' >> ~/.gitconfig

            - name: Checkout
              uses: actions/checkout@v3
              with:
                  submodules: true

            - name: Setup Node.js environment
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: 'yarn'

            - name: Setup Golang environment
              uses: actions/setup-go@v4
              with:
                  go-version: '^1.19'
                  cache-dependency-path: '**/go.sum'

            - name: Login to Docker Hub
              if: github.repository == 'highlight/highlight'
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Login to AWS ECR
              if: github.repository == 'highlight/highlight'
              uses: docker/login-action@v2
              with:
                  registry: public.ecr.aws
                  username: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

            - name: Start docker containers & run cypress
              run: |
                  pushd docker;
                  ./start-infra.sh;
                  docker compose exec -e PSQL_HOST -e PSQL_USER -e PSQL_DB postgres bash -c 'psql -h $PSQL_HOST -U $PSQL_USER $PSQL_DB < /root/init.sql';
                  ./run-frontend.sh & ./run-backend.sh &
                  yarn dlx wait-on -l -s 3 https://localhost:3000/index.html http://localhost:8080/dist/index.js https://localhost:8082/health;
                  popd;

                  yarn cy:run;

            - name: Dump docker logs on failure
              if: failure()
              run: |
                  cd docker;
                  docker compose logs;

            - name: Save videos
              uses: actions/upload-artifact@v2
              if: failure()
              with:
                  name: cypress-videos
                  path: cypress/videos
