name: Docker

on:
    push:
        branches: ['main']
    pull_request:
        types: [opened]

jobs:
    build:
        name: Build Docker Images
        timeout-minutes: 30
        runs-on: ubuntu-latest

        steps:
            - name: Use HTTPS for checkout
              run: echo -e '[url "https://github.com/"]\n  insteadOf = "git@github.com:"' >> ~/.gitconfig

            - name: Checkout
              uses: actions/checkout@v3
              with:
                  token: ${{ secrets.GH_REPO_TOKEN }}
                  submodules: true

            - name: Build docker images
              run: |
                  cd docker
                  docker compose build --pull
