name: 'Force pkg.go.dev release sync'

on:
    release:
        types:
            - created
        tags:
            - 'v[0-9]+.[0-9]+.[0-9]+'
            - '**/v[0-9]+.[0-9]+.[0-9]+'

concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
    build:
        name: Renew documentation
        runs-on: ubuntu-latest
        steps:
            - name: Pull new module version
              uses: andrewslotin/go-proxy-pull-action@master
