name: Frontend
on:
    push:
        branches:
            - '**'
            - '!master'
        paths:
            - 'frontend/**'
jobs:
    frontend:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Setup Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 14
                  registry-url: https://registry.npmjs.org
            - name: Install main dependencies
              run: cd frontend && yarn install
            - name: Runs linting
              run: cd frontend && yarn lint
            - name: Build Bundle
              run: cd frontend && CI=true yarn build
