name: Grafana Plugin

on:
    push:
        branches: ['main']
    pull_request:
        types: [opened, synchronize]
        paths:
            - 'sdk/highlight-grafana-datasource/**'
            - '.github/workflows/grafana.yml'
    merge_group:
    release:
        types:
            - created
        tags:
            - 'v[0-9]+.[0-9]+.[0-9]+'
            - '**/v[0-9]+.[0-9]+.[0-9]+'

jobs:
    compatibilitycheck:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Setup Node.js environment
              uses: actions/setup-node@v3
              with:
                  node-version: '18'
                  cache: 'yarn'
            - name: Install dependencies
              run: npm ci
            - name: Build plugin
              run: npm run build
            - name: Compatibility check
              run: npx @grafana/levitate@latest is-compatible --path src/module.ts --target @grafana/data,@grafana/ui,@grafana/runtime
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Setup Node.js environment
              uses: actions/setup-node@v3
              with:
                  node-version: '20'
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Check types
              run: npm run typecheck
            - name: Lint
              run: npm run lint
            - name: Unit tests
              run: npm run test:ci
            - name: Build frontend
              run: npm run build

            - name: Check for backend
              id: check-for-backend
              run: |
                  if [ -f "Magefile.go" ]
                  then
                    echo "has-backend=true" >> $GITHUB_OUTPUT
                  fi

            - name: Setup Go environment
              if: steps.check-for-backend.outputs.has-backend == 'true'
              uses: actions/setup-go@v3
              with:
                  go-version: '1.20'

            - name: Test backend
              if: steps.check-for-backend.outputs.has-backend == 'true'
              uses: magefile/mage-action@v2
              with:
                  version: latest
                  args: coverage

            - name: Build backend
              if: steps.check-for-backend.outputs.has-backend == 'true'
              uses: magefile/mage-action@v2
              with:
                  version: latest
                  args: buildAll

            - name: Check for E2E
              id: check-for-e2e
              run: |
                  if [ -d "cypress" ]
                  then
                    echo "has-e2e=true" >> $GITHUB_OUTPUT
                  fi

            - name: Start grafana docker
              if: steps.check-for-e2e.outputs.has-e2e == 'true'
              run: docker-compose up -d

            - name: Run e2e tests
              if: steps.check-for-e2e.outputs.has-e2e == 'true'
              run: npm run e2e

            - name: Stop grafana docker
              if: steps.check-for-e2e.outputs.has-e2e == 'true'
              run: docker-compose down

            - name: Archive E2E output
              uses: actions/upload-artifact@v3
              if: steps.check-for-e2e.outputs.has-e2e == 'true' && steps.run-e2e-tests.outcome != 'success'
              with:
                  name: cypress-videos
                  path: cypress/videos
                  retention-days: 5
    release:
        runs-on: ubuntu-latest
        env:
            # usage of GRAFANA_API_KEY is deprecated
            # GRAFANA_API_KEY: ${{ secrets.GRAFANA_API_KEY }}
            GRAFANA_ACCESS_POLICY_TOKEN: ${{ secrets.GRAFANA_ACCESS_POLICY_TOKEN }}
        steps:
            - uses: actions/checkout@v3
            - name: Setup Node.js environment
              uses: actions/setup-node@v3
              with:
                  node-version: '20'
                  cache: 'npm'

            - name: Setup Go environment
              uses: actions/setup-go@v3
              with:
                  go-version: '1.19'

            - name: Install dependencies
              run: npm ci

            - name: Build and test frontend
              run: npm run build

            - name: Check for backend
              id: check-for-backend
              run: |
                  if [ -f "Magefile.go" ]
                  then
                    echo "has-backend=true" >> $GITHUB_OUTPUT
                  fi

            - name: Test backend
              if: steps.check-for-backend.outputs.has-backend == 'true'
              uses: magefile/mage-action@v2
              with:
                  version: latest
                  args: coverage

            - name: Build backend
              if: steps.check-for-backend.outputs.has-backend == 'true'
              uses: magefile/mage-action@v2
              with:
                  version: latest
                  args: buildAll

            - name: Warn missing Grafana access policy token
              run: |
                  echo Please generate a Grafana access policy token: https://grafana.com/developers/plugin-tools/publish-a-plugin/sign-a-plugin#generate-an-access-policy-token
                  echo Once done please follow the instructions found here: https://github.com/${{github.repository}}/blob/main/README.md#using-github-actions-release-workflow
              if: ${{ env.GRAFANA_ACCESS_POLICY_TOKEN == '' }}

            - name: Sign plugin
              run: npm run sign
              if: ${{ env.GRAFANA_ACCESS_POLICY_TOKEN != '' }}

            - name: Get plugin metadata
              id: metadata
              run: |
                  sudo apt-get install jq

                  export GRAFANA_PLUGIN_ID=$(cat dist/plugin.json | jq -r .id)
                  export GRAFANA_PLUGIN_VERSION=$(cat dist/plugin.json | jq -r .info.version)
                  export GRAFANA_PLUGIN_TYPE=$(cat dist/plugin.json | jq -r .type)
                  export GRAFANA_PLUGIN_ARTIFACT=${GRAFANA_PLUGIN_ID}-${GRAFANA_PLUGIN_VERSION}.zip
                  export GRAFANA_PLUGIN_ARTIFACT_CHECKSUM=${GRAFANA_PLUGIN_ARTIFACT}.md5

                  echo "plugin-id=${GRAFANA_PLUGIN_ID}" >> $GITHUB_OUTPUT
                  echo "plugin-version=${GRAFANA_PLUGIN_VERSION}" >> $GITHUB_OUTPUT
                  echo "plugin-type=${GRAFANA_PLUGIN_TYPE}" >> $GITHUB_OUTPUT
                  echo "archive=${GRAFANA_PLUGIN_ARTIFACT}" >> $GITHUB_OUTPUT
                  echo "archive-checksum=${GRAFANA_PLUGIN_ARTIFACT_CHECKSUM}" >> $GITHUB_OUTPUT

                  echo "github-tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

            - name: Read changelog
              id: changelog
              run: |
                  awk '/^## / {s++} s == 1 {print}' CHANGELOG.md > release_notes.md
                  echo "path=release_notes.md" >> $GITHUB_OUTPUT

            - name: Check package version
              run: if [ "v${{ steps.metadata.outputs.plugin-version }}" != "${{ steps.metadata.outputs.github-tag }}" ]; then printf "\033[0;31mPlugin version doesn't match tag name\033[0m\n"; exit 1; fi

            - name: Package plugin
              id: package-plugin
              run: |
                  mv dist ${{ steps.metadata.outputs.plugin-id }}
                  zip ${{ steps.metadata.outputs.archive }} ${{ steps.metadata.outputs.plugin-id }} -r
                  md5sum ${{ steps.metadata.outputs.archive }} > ${{ steps.metadata.outputs.archive-checksum }}
                  echo "checksum=$(cat ./${{ steps.metadata.outputs.archive-checksum }} | cut -d' ' -f1)" >> $GITHUB_OUTPUT

            - name: Validate plugin
              run: |
                  git clone https://github.com/grafana/plugin-validator
                  pushd ./plugin-validator/pkg/cmd/plugincheck2
                  go install
                  popd
                  plugincheck2 -config ./plugin-validator/config/default.yaml ${{ steps.metadata.outputs.archive }}

            - name: Create Github release
              uses: softprops/action-gh-release@v1
              with:
                  draft: true
                  generate_release_notes: true
                  files: |
                      ./${{ steps.metadata.outputs.archive }}
                      ./${{ steps.metadata.outputs.archive-checksum }}
                  body: |
                      **This Github draft release has been created for your plugin.**

                      _Note: if this is the first release for your plugin please consult the [distributing-your-plugin section](https://github.com/${{github.repository}}/blob/main/README.md#distributing-your-plugin) of the README_

                      If you would like to submit this release to Grafana please consider the following steps:

                      - Check the Validate plugin step in the [release workflow](https://github.com/${{github.repository}}/commit/${{github.sha}}/checks/${{github.run_id}}) for any warnings that need attention
                      - Navigate to https://grafana.com/auth/sign-in/ to sign into your account
                      - Once logged in click **My Plugins** in the admin navigation
                      - Click the **Submit Plugin** button
                      - Fill in the Plugin Submission form:
                        - Paste this [.zip asset link](https://github.com/${{ github.repository }}/releases/download/v${{ steps.metadata.outputs.plugin-version }}/${{ steps.metadata.outputs.archive }}) in the Plugin URL field
                        - Paste this [.zip.md5 link](https://github.com/${{ github.repository }}/releases/download/v${{ steps.metadata.outputs.plugin-version }}/${{ steps.metadata.outputs.archive-checksum }}) in the MD5 field

                      Once done please remove these instructions and publish this release.
