name: 'Java SDK code report'

on:
    workflow_run:
        workflows: [java-sdk]
        types: [completed]

permissions:
    checks: write

jobs:
    checks:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./sdk/highlight-java
        steps:
            - name: Download Test Report
              uses: dawidd6/action-download-artifact@v2
              with:
                  name: junit-test-results
                  workflow: ${{ github.event.workflow.id }}
                  run_id: ${{ github.event.workflow_run.id }}
            - name: Publish Test Report
              uses: mikepenz/action-junit-report@v3
              with:
                  commit: ${{github.event.workflow_run.head_sha}}
                  report_paths: './**/target/surefire-reports/TEST-*.xml'