name: Monorepo

on:
    push:
        branches: ['master']
    pull_request:
        types: [opened, synchronize]

jobs:
    build:
        name: Build Yarn Turborepo
        timeout-minutes: 15
        runs-on: ubuntu-latest
        # configures turborepo Remote Caching
        env:
            TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
            TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

        steps:
            - name: Check out code
              uses: actions/checkout@v2

            # automatically caches dependencies based on yarn.lock
            - name: Setup Node.js environment
              uses: actions/setup-node@v2
              with:
                  node-version: 16
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn

            - name: Check formatting
              run: yarn format-check

            - name: Build & test
              run: yarn test:all

            - name: Upload frontend sourcemaps
              if: github.ref == 'refs/heads/master'
              run: |
                  SOURCEMAP=true yarn build:frontend
                  yarn sourcemaps:frontend
              env:
                  HIGHLIGHT_API_KEY: ${{ secrets.HIGHLIGHT_SOURCEMAP_API_KEY }}

            - name: Publish npm packages
              if: github.ref == 'refs/heads/master'
              run: yarn publish:all
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
