name: Monorepo

on:
    push:
        branches: ['main', 'add-generated-files-check']
    pull_request:
        types: [opened, synchronize]
    merge_group:

jobs:
    build:
        name: Build Yarn Turborepo
        timeout-minutes: 30
        runs-on: ubuntu-latest
        # configures turborepo Remote Caching
        env:
            TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
            TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

        steps:
            - name: Install Doppler CLI
              uses: dopplerhq/cli-action@v2

            - name: Checkout
              uses: actions/checkout@v3
              with:
                  submodules: true

            - uses: dorny/paths-filter@v2
              id: filter
              with:
                  filters: |
                      npm-changed:
                        - 'sdk/client/**'
                        - 'sdk/firstload/**'
                        - 'sdk/highlight-apollo/**'
                        - 'sdk/highlight-cloudflare/**'
                        - 'sdk/highlight-nest/**'
                        - 'sdk/highlight-next/**'
                        - 'sdk/highlight-node/**'
                        - 'sdk/highlight-react/**'

            # automatically caches dependencies based on yarn.lock
            - name: Setup Node.js environment
              uses: actions/setup-node@v3
              with:
                  node-version: 18
                  cache: 'yarn'

            - name: Install js dependencies
              run: yarn

            - name: Check generated files for Reflame
              run: yarn reflame-check

            - name: Check formatting
              run: yarn format-check

            - name: Build & test
              run: yarn test:all
              env:
                  DOPPLER_TOKEN: ${{ secrets.DOPPLER_PROD_RENDER_SECRET }}
                  GRAPHCMS_TOKEN: ${{ secrets.GRAPHCMS_TOKEN }}
                  NEXT_PUBLIC_HIGHLIGHT_PROJECT_ID: 1jdkoe52

            - name: Configure AWS credentials
              if: steps.filter.outputs.npm-changed == 'true' && (github.event.pull_request.head.repo.full_name == 'highlight/highlight' || github.ref == 'refs/heads/main')
              uses: aws-actions/configure-aws-credentials@v2
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: us-east-2

            - name: Validate project is ready to be published
              if: steps.filter.outputs.npm-changed == 'true' && (github.event.pull_request.head.repo.full_name == 'highlight/highlight' || github.ref == 'refs/heads/main')
              run: yarn validate

            # always publish client, even in PRs
            # this is ok because the final push to main of the version will replace
            # any previous builds, while doing this in PR will allow the PR frontend preview
            # to reference the PR's latest version of client
            - name: Publish client bundle
              if: steps.filter.outputs.npm-changed == 'true' && (github.event.pull_request.head.repo.full_name == 'highlight/highlight' || github.ref == 'refs/heads/main')
              run: yarn publish:client

            - name: Upload frontend sourcemaps
              if: github.ref == 'refs/heads/main'
              run: yarn && yarn sourcemaps:frontend
              env:
                  HIGHLIGHT_API_KEY: ${{ secrets.HIGHLIGHT_SOURCEMAP_API_KEY }}
                  APP_VERSION: ${{ github.sha }}

            - name: Configure yarn npm registry credentials
              if: github.ref == 'refs/heads/main'
              run: |
                  yarn config set npmRegistryServer "https://registry.npmjs.org"
                  yarn config set npmAuthToken "${NPM_TOKEN}"
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Publish npm packages
              if: github.ref == 'refs/heads/main'
              run: yarn publish:turbo
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
