.buttonBase {
    align-items: center;
    display: flex;
    height: auto;
    padding-bottom: 8px;
    padding-top: 8px;

    &.iconButton {
        align-items: center;
        border-radius: 50%;
        color: var(--text-primary);
        display: flex;
        height: var(--size-xLarge);
        justify-content: center;
        padding: 0;
        width: var(--size-xLarge);

        &:global(.ant-btn[disabled]) {
            background: var(--color-gray-300) !important;
            border-color: var(--color-gray-400) !important;
            fill: var(--color-gray-500) !important;
        }

        &:hover {
            background-color: var(--color-gray-200);
        }

        svg {
            height: calc(var(--size-icon));
            width: calc(var(--size-icon));
        }
    }
}

.small {
    padding: var(--size-xxSmall) var(--size-small);
}
