.buttonBase {
    align-items: center;
    display: flex;
    height: auto;
    padding-bottom: 8px;
    padding-top: 8px;

    &.iconButton {
        align-items: center;
        border-radius: 50%;
        color: var(--text-primary);
        display: flex;
        height: var(--size-xLarge);
        justify-content: center;
        padding: 0;
        width: var(--size-xLarge);

        &:global(.ant-btn[disabled]) {
            background: var(--color-gray-300) !important;
            border-color: var(--color-gray-400) !important;
            fill: var(--color-gray-500) !important;
        }

        &:hover {
            background-color: var(--color-gray-200);
        }

        svg {
            height: var(--size-icon);
            width: var(--size-icon);
        }
    }

    &.small {
        height: var(--size-large);
        width: var(--size-large);

        svg {
            height: var(--size-small);
            width: var(--size-small);
        }
    }
}

.small {
    padding: var(--size-xxSmall) var(--size-small);
}

.link {
    border: 0;
    display: inline;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
