.header {
    font-family: var(--header-font-family);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.searchSection {
    margin-top: 4px;
}

.searchSectionWrapper {
    border: 1px solid var(--color-gray-300);
    border-color: var(--color-gray-300) var(--color-gray-300)
        var(--color-gray-300) var(--color-gray-300);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 14px;
}

.icon {
    transition: 0.4s;
    height: 14px;
    width: 14px;
    cursor: pointer;
    margin-left: auto;
}

.contentOuterOpen {
    overflow: visible !important;
}

.contentOuterClosed {
    overflow: hidden;
}
