.signinWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
}

.accountIconWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLink {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 400;
}

.rightHeader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.accountIcon {
    fill: #5629c6;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 30px;
}

.eventStreamContainer {
    color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
}

.emptyScrollDiv {
    height: 130px;
    flex-direction: column;
}

.appBody {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 130px;
    margin-left: 12px;
}

.windowOptions {
    padding: 10px 0px 10px 12px;
    height: 35%;
    width: auto;
}

.logo {
    margin: 10px;
    fill: white;
    height: 40px;
    width: 110px;
}

.urlText {
    margin-bottom: 3;
    align-self: end;
}

.urlAddressBarWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.urlAddressBar {
    border-radius: 10px;
    background-color: white;
    width: 80%;
    height: 55%;
    margin-right: auto;
    padding-left: 20px;
    font-size: 14px;
    display: grid;
}

.playerPageBody {
    display: flex;
    height: 100%;
    width: 100%;
}

.playerLeftSection {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
    background-color: #f5f5f5;
}

.playerRightSection {
    border-left: 1px solid #eaeaea;
    width: 350px;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.loadingWrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.rrwebPlayerSection {
    width: 100%;
    height: 100%;
    flex: 2;
    background-color: #f5f5f5;
}

.rrwebPlayerWrapper {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.browserHeader {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: black;
}

.rrwebPlayerDiv {
    position: relative;
}

.progressBar {
    border-top: 7px solid black;
}

.playerBody {
    height: 90vh;
    width: 100%;
    flex: 1;
    display: flex;
}

.playerBody {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 350px;
}
