.signinWrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.header {
	background-color: var(--color-primary-background);
	border-bottom: 1px solid var(--color-gray-300);
	display: flex;
	height: 10vh;
	width: 100%;
}

.accountIconWrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

.headerLink {
	color: var(--text-primary);
	font-size: 18px;
	font-weight: 400;
	margin-right: 30px;
	text-decoration: none;
}

.accountIcon {
	cursor: pointer;
	fill: var(--color-purple);
	height: 30px;
	margin-right: 30px;
	width: 30px;
}

.appBody {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

.windowOptions {
	height: 35%;
	padding: 10px 0 10px 12px;
	width: auto;
}

.urlText {
	align-self: end;
	margin-bottom: 3;
}

.urlAddressBarWrapper {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	padding-left: 20px;
	width: 100%;
}

.urlAddressBar {
	background-color: var(--color-primary-background);
	border-radius: 10px;
	display: grid;
	font-size: 14px;
	height: 55%;
	margin-right: auto;
	padding-left: 20px;
	width: 80%;
}

.playerPageBody {
	display: flex;
	height: 100%;
	width: 100%;
}

.loadingWrapper {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.rrwebPlayerWrapper {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	position: relative;
	width: 100%;
}

.browserHeader {
	align-items: center;
	background-color: var(--text-primary);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	display: flex;
	height: 40px;
	width: 100%;
}

.progressBar {
	border-top: 7px solid var(--color-primary-inverted-background);
}

.playerBody {
	--left-panel-width: 340px;
	--right-panel-width: 350px;

	display: grid;
	grid-template-columns: 1fr;
	height: 100%;
	overflow: hidden;
	width: 100%;

	&.withLeftPanel {
		grid-template-columns: var(--left-panel-width) 1fr;
	}
}

.gridBackground {
	--background-color: var(--color-gray-200);
	--dot-color: var(--color-gray-300);
	--dot-size: 2px;
	--square-size: 50px;
	background-image: radial-gradient(
		var(--dot-color) var(--dot-size),
		var(--background-color) var(--dot-size)
	);
	background-position: 0 0;
	background-size: var(--square-size) var(--square-size);
}

.manuallyStoppedMessageContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	z-index: 2;
}

.center {
	display: block;
	margin: 0 auto;
	margin-top: var(--size-large);
}

.panelToggleButton {
	position: absolute;
	transform: translateY(calc(112px + var(--size-medium) + 30px));
	z-index: 999;
}

.panelToggleButtonLeft {
	right: calc((-1 * var(--size-xLarge) / 2) - var(--size-medium));
	top: 97px;

	&.panelShown {
		right: calc(-1 * (var(--size-xLarge) / 2));
		top: 16px;
	}
}

.panelToggleButtonRight {
	left: calc((var(--size-xLarge) + var(--size-medium)) * -1);

	&.panelShown {
		left: calc(-1 * var(--size-medium));
	}
}

.intercomLink {
	cursor: pointer;
	text-decoration: underline;
}

.emptySessionCard {
	align-self: center;
	height: fit-content;
	justify-self: center;
}

.loadingWrapper {
	align-items: center;
	display: grid;
	height: fit-content;
	justify-items: center;
	width: fit-content;
}
