.signinWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.header {
    background-color: var(--color-primary-background);
    border-bottom: 1px solid var(--color-gray-300);
    display: flex;
    height: 10vh;
    width: 100%;
}

.accountIconWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.headerLink {
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 400;
    margin-right: 30px;
    text-decoration: none;
}

.rightHeader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: auto;
}

.accountIcon {
    cursor: pointer;
    fill: var(--color-purple);
    height: 30px;
    margin-right: 30px;
    width: 30px;
}

.eventStreamContainer {
    box-sizing: border-box;
    color: var(--color-primary-background);
    height: 100%;
    overflow-y: auto;
    padding: 0;
    position: relative;
    width: 100%;

    > div::-webkit-scrollbar {
        display: none;
    }
}

.appBody {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.windowOptions {
    height: 35%;
    padding: 10px 0 10px 12px;
    width: auto;
}

.urlText {
    align-self: end;
    margin-bottom: 3;
}

.urlAddressBarWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding-left: 20px;
    width: 100%;
}

.urlAddressBar {
    background-color: var(--color-primary-background);
    border-radius: 10px;
    display: grid;
    font-size: 14px;
    height: 55%;
    margin-right: auto;
    padding-left: 20px;
    width: 80%;
}

.playerPageBody {
    display: flex;
    height: 100%;
    width: 100%;
}

.playerCenterPanel {
    background-color: var(--color-gray-200);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.playerLeftPanel {
    border-right: 1px solid var(--color-gray-300);
    height: 100%;
    padding: var(--size-medium) 22px;
    padding-bottom: 0;
}

.playerRightPanel {
    border-left: 1px solid var(--color-gray-300);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;
}

.loadingWrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.rrwebPlayerSection {
    background-color: var(--color-gray-200);
    flex: 2;
    height: 100%;
    width: 100%;
}

.rrwebPlayerWrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}

.browserHeader {
    align-items: center;
    background-color: var(--text-primary);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    height: 40px;
    width: 100%;
}

.rrwebPlayerDiv {
    height: 100%;
    position: relative;
}

.progressBar {
    border-top: 7px solid var(--color-primary-inverted-background);
}

.playerBody {
    --left-panel-width: 425px;
    --right-panel-width: 350px;
    display: grid;

    grid-template-columns: 1fr;
    height: 100%;
    overflow: hidden;
    padding-top: 80px;
    width: 100%;

    &.withRightPanel.withLeftPanel {
        grid-template-columns: var(--left-panel-width) 1fr var(
                --right-panel-width
            );
    }

    &.withLeftPanel {
        grid-template-columns: var(--left-panel-width) 1fr;
    }

    &.withRightPanel {
        grid-template-columns: 1fr var(--right-panel-width);
    }
}

.commentModal {
    > div {
        border: 1px solid var(--color-gray-300);
        border-radius: var(--size-xSmall);
        box-shadow: var(--box-shadow);
    }
}

.manuallyStoppedMessageContainer {
    align-items: center;
    background-color: var(--color-background-overlay);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 2;
}
