.modal {
	& footer {
		border-top: 1px solid var(--color-gray-200);
		column-gap: var(--size-medium);
		display: flex;
		justify-content: flex-end;
		padding-top: var(--size-large);
		margin-top: var(--size-large);
		padding-bottom: var(--size-small);
	}
}

.centeredContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--size-medium);
	padding-top: var(--size-large);
	width: 100%;
}