.inputNumber {
	background: var(--color-primary-background) !important;
	border: 1px solid var(--color-gray-300) !important;
	border-radius: var(--border-radius);
	color: var(--text-primary) !important;
	padding-bottom: var(--size-xSmall) !important;
	padding-left: var(--size-xSmall) !important;
	padding-right: var(--size-xSmall) !important;
	padding-top: var(--size-xSmall) !important;

	:global(.ant-input-number-input) {
		padding: 0;
	}

	&:global(.ant-input-number-focused) {
		border-color: rgba(47, 128, 237, 0.5) !important;
		border-right-width: 1px !important;
		box-shadow: 0 0 0 2px rgba(47, 128, 237, 0.5) !important;
		outline: 0;
	}

	&:global(.ant-input-number:hover) {
		border-color: rgba(47, 128, 237, 0.5) !important;
		border-right-width: 1px !important;
	}

	:global(.ant-input-number-handler-wrap) {
		background-color: var(--color-primary-background) !important;
		border-color: var(--color-gray-300) !important;
		border-radius: 0 var(--border-radius) var(--border-radius) 0;

		svg {
			color: var(--text-primary) !important;
		}
	}

	:global(.ant-input-number-handler-down) {
		border-color: var(--color-gray-300) !important;
	}
}
